.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }

  /* Modal */
  
  .boxy-modal-blackout { position: absolute; background-color: black; left: 0; top: 0; }
  
  /* Border */

  .boxy-wrapper { empty-cells: show; }
	.boxy-wrapper .boxy-top-left,
	.boxy-wrapper .boxy-top-right,
	.boxy-wrapper .boxy-bottom-right,
	.boxy-wrapper .boxy-bottom-left { width: 6px; height: 6px; padding: 0 }
	
	.boxy-wrapper .boxy-top-left { background:url('images/boxy-nw.png') no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/boxy-nw.png', sizingMethod='crop');}
	.boxy-wrapper .boxy-top-right { background:url('images/boxy-ne.png') no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/boxy-ne.png', sizingMethod='crop');}
	.boxy-wrapper .boxy-bottom-right { background:url('images/boxy-se.png') no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/boxy-se.png', sizingMethod='crop');}
	.boxy-wrapper .boxy-bottom-left {  background:url('images/boxy-sw.png') no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/boxy-sw.png', sizingMethod='crop');}
	
	
	
	.boxy-wrapper .boxy-top,
	.boxy-wrapper .boxy-bottom { height: 6px; background-color: black; opacity: 0.3; filter: alpha(opacity=40); padding: 0 }
	
	.boxy-wrapper .boxy-left,
	.boxy-wrapper .boxy-right { width: 6px; background-color: black; opacity: 0.3; filter: alpha(opacity=40); padding: 0 }
	
	/* Title bar */
	
	.boxy-wrapper .title-bar { background-color:#012F51; padding: 6px 10px; position: relative; text-align:left}
	  .boxy-wrapper .title-bar.dragging { cursor: move; }
	    .boxy-wrapper .title-bar h2 { font-size: 12px; color: white;  margin: 0; padding: 0; font-weight: bold; }
	    .boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; background-image:url(images/close.gif); height:15px; width:15px; border:0px; background-repeat: no-repeat; background-position: center center; }
		
	/* Content Region */
	
	.boxy-inner { background-color: white; padding: 0; color:#333; }
	.boxy-inner a:link{}
		.boxy-inner a.null{color:#345974;}
	.boxy-content .pop tr{line-height:30px;}
	
	/* Question Boxes */

    .boxy-wrapper .question { width: 350px; min-height: 80px; padding: 15px; }
    .boxy-wrapper .answers { margin:0px auto; width:150px; padding-bottom:10px}
	.boxy-wrapper .photoShow{padding:10px;overflow:hidden}
	.boxy-wrapper .photoShow h4{font-size:12px;font-weight:400}
	.boxy-wrapper .photoShow h5{font-size:12px;font-weight:400;line-height:30px}
	.boxy-wrapper .photoShow img{padding:2px;border:#ccc solid 1px;float:left;margin:0 10px 0 0}
	
	
	.load{background:url(images/icon_waiting.gif) no-repeat 0 0; height:32px; line-height:32px; display:inline-block; padding-left:40px; margin-top:20px;}