/*图标*/
.ico-comment{background-position:-219px -66px;width:16px;height:16px;display:inline-block;vertical-align:-6px;*vertical-align:-3px}
.ico-favorites{background-position:-219px -33px;width:16px;height:16px;display:inline-block;vertical-align:-4px;*vertical-align:-2px}
.channel-user-share .ico-favorites.current{background-position:-219px -99px;width:16px;height:16px;display:inline-block;vertical-align:-4px;*vertical-align:-2px}
.ico-detail{background-position:-258px -35px;display:inline-block;width:15px;height:15px;cursor:pointer}


.channel-box{float:left;*float:none; width:100%; background:#fff;}
.channel-box .app-title a{color:#666;}
.channel-box .app-title a:hover,.channel-box .app-title a.current{color:#333;}
.channel-box .app-title a:hover .ico-feed,.channel-box .app-title a.current .ico-feed{background-position:-672px 0;*cursor:pointer;}
.channel-box .app-title a:hover .ico-list,.channel-box .app-title a.current .ico-list{background-position:-672px -40px;*cursor:pointer;}
.channel-box .channel-tab-menu{width:625px;margin:0;padding:15px 15px 5px 15px;border:1px solid #ccc;background:#fff;}

.channel-type .ml{margin:0 0 0 130px;line-height:28px;}
*+html .channel-type .ml{*margin:5px 0 0 150px;}
.channel-type{color:#999;position:relative;z-index:99;margin:0 auto;}
.channel-type{}
.find-type .app-title .channel-type h4{position:absolute;left:0;top:0;color:#333;font-size:18px;font-family:"微软雅黑";border:1px solid #f7f7f7;margin:2px 0 0 0;padding:15px;line-height:22px;height:22px;cursor:pointer;border-bottom:0;_padding:12px;}
.find-type .app-title .channel-type h4:hover{background:#fff;padding:15px;line-height:22px;height:22px;border:1px solid #ccc;border-bottom:0;margin:2px 0 0 0;z-index:10;_padding:12px;}
.find-type .app-title .channel-type h4 span{width:72px;display:inline-block;overflow:hidden;white-space:nowrap;}
.channel-type em{font-style:normal;}
.channel-list-k{float:left;margin:0 20px 0 0;position:relative;}
.channel-list-k.no-margin{margin:0;}
.channel-list-l{width:300px;}
.channel-list .channel-tab-menu{padding:20px}
.channel-tab-menu a{margin:0 10px 10px 0;}
.st-index-right .channel-tab-menu dl{margin:0;height:auto;}
.channel-list .box{width:300px;background:#fff;border:1px solid #ddd;margin:0 0 20px 0;}
.channel-list .box .pic .ico-detail{position:absolute;top:0;right:0;visibility:hidden;_visibility:visible;}
.channel-list .box .pic:hover .ico-detail{visibility:visible;}


.channel-user-info dt{float:left;width:30px;height:30px;}
.channel-user-info dd{margin-left:40px;font-size:14px}
.channel-user-info dd img{margin:0 0 0 5px;vertical-align:-3px}
.channel-user-conntent{border-bottom:1px dotted #ddd;padding:0;margin:0;}
.channel-user-conntent .feed_txt{padding:15px;}
.channel-user-conntent h5{font-weight:600;line-height:20px;padding:5px 0;}
.channel-user-conntent p{line-height:25px;}
.channel-user-conntent dd{line-height:22px}
.channel-user-conntent ul li{padding:5px 0;}
.channel-user-share{position:relative;height:16px;padding:10px;}
.channel-user-share .right{cursor:pointer}
.channel-user-share span a:link,.channel-user-share span a:visited{margin:0 5px 0 0;color:#ccc;display:inline-block;cursor:pointer;}
.channel-user-share a i{margin:0 3px 0 0;}
.channel-blank{background:#f1f9fb;}


/*频道列表页*/
.channel-feed-list .content{position:relative;margin:0 0 0 70px;border:1px solid #ccc;padding:20px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;box-shadow:0 2px 0 0 #EBEBEB;-webkit-box-shadow:0 2px 0 0 #ebebeb;-moz-box-shadow:0 2px 0 0 #ebebeb;}
.channel-feed-list .content .arrow-channel-left{position:absolute;left:-12px;top:12px;}
.channel-feed-list .content img{padding:10px 0;}
.channel-feed-list .content .contents p{padding:5px 0;}


.boxy-modal-blackout-channel { position: absolute;background:red;left: 0; top: 0;filter:alpha(opacity=20); /*IE*/-moz-opacity:0.2; /*MOZ , FF*/opacity:0.2;}

/*投稿弹窗*/
.contribute-box{width:620px;padding:20px;}
.contribute-box li{margin:0 0 10px 0;}
.contribute-box .textL{width:60px;text-align:right;float:left;padding:5px 0 0 0;}
.contribute-box .textR{margin:0 0 0 60px;text-align:left;}
.contribute-box .s-textarea{width:540px;height:60px;resize:none;border:1px solid #ccc;}
.contribute-box .image li{float:left;margin:0 10px 10px 0;display:inline-block;position:relative;}
.contribute-box .image li a.name{position:absolute;bottom:5px;left:0;width:100px;height:20px;line-height:20px;text-align:center;visibility:hidden;_visibility:visible;}
.contribute-box .image li:hover a.name{visibility:visible;}
.contribute-box .btn{text-align:right;margin:20px 0 0 0;}
.contribute-box .btn a{display:inline-block;}
.contribute-box .btn .btn-big span{padding:8px 25px;}
.contribute-box .upload{background:#fafafa;padding:10px;}

/* 分类下拉菜单样式 */
.find-type .app-title .channel-type .on .channel-dropbox{display:block;box-shadow:2px 2px 5px #CCC;-webkit-box-shadow:2px 2px 5px #CCC;-moz-box-shadow:2px 2px 5px #ccc;}
.find-type .app-title .channel-type .on .channel-category-btn {background:#fff;padding:15px;line-height:22px;height:22px;border:1px solid #ccc;border-bottom:0;z-index:9;_padding:12px;}
.channel-selector {position:relative;top:-14px;left:0;*left:20px;}
.channel-dropbox {position:absolute;top:54px;z-index:1;display:none;}

/**/
#channel_nav {width:100%; background:#fff;font-size:16px;padding-top:10px; border-bottom:#d2d8e0 1px solid; float:left;}
#channel_nav .app-tab-menu  li{margin:0 15px;}
#channel_nav .app-tab-menu li a{height:16px;line-height:16px;display:inline-block;font-size:16px;padding:7px 5px 20px 5px;}