@charset "utf-8";

body{ background: #F2F2F2; color: #666;}

h1, h2, h3, h4, h5, h6,a{ color: #333;}

.btn-warning{ background-color: #09BB07; border-color: #09BB07; color: #fff;}

.btn-warning:hover,.btn-warning:focus,.btn-warning:link,.btn-warning.active{ background-color: #09af07; border-color: #09af07; }

a:hover,.text-color,.hy-cascade .content-meun .item ul li a.active,.hy-cascade .content-meun .head span{ color: #09BB07; }

.text-muted,.hy-play-list .item .panel .downlist .table > thead > tr > th,.hy-cascade .content-meun .item ul li a,.hy-cascade .content-meun .head span.text,.hy-head-menu .item .search .btns{ color: #999;}

.videopic .score:before{ border-top: 4px solid #09BB07; border-left: 4px solid transparent;}

.hy-head-menu,.hy-layout,.hy-player,.hy-video-details,.hy-cascade,.hy-gototop .item > li > a,.hy-gototop .item > li > .code,.hy-gototop .item > li > .history,.hy-login{background-color: #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);}

.hy-index-menu li a,.hy-index-tags li a,.hy-right-qrcode dl,.hy-play-list .item .panel .playlist ul li a,.hy-page ul li a,.hy-page ul li .num,.hy-head-menu .item .search .form-control,.hy-video-hit .item,.hy-video-hit .item ul li,.btn-default,.hy-footer-partner .item,.hy-footer-partner .item a,.hy-common .item .content,.hy-common .item .num{border: 1px solid #e2e2e2; background-color: #fff; color: #666;}

.hy-index-menu li a:hover,.hy-index-menu li a:hover .icon,.hy-index-tags li a:hover,.hy-cascade .content-meun .head dl dd span,.videopic .score,.hy-page ul li a:hover,.hy-page ul li.active a,.btn-default:hover,.hy-play-list .item .panel .playlist ul li a:hover,.hy-video-ranking li .number.active,.hy-video-details .item .content .head .hit{ background-color: #09BB07; color: #fff;}

.hy-min-screen .item dl{ border-left: 1px solid #e2e2e2;}

.hy-video-ranking li .number,.hy-cascade:before,.hy-video-min-head h5:before,.hy-player .item .sidebar,.hy-common .item .content p,.hy-common .item .num em{background: #f4f3f3;}

.hy-topic-content .head,.hy-video-head h4,.hy-video-details.active .item .content,.hy-cascade .left-head li a,.hy-cascade .left-head li.text,.hy-main-side .side,.hy-gototop .item > li > .history .head,.hy-common .item .content p,.hy-common .item .num em,.hy-new-content .item .head{ border-bottom: 1px solid #e2e2e2;}

.hy-play-list .item .panel,.hy-comment-list .item h4{border: 0; border-top: 1px solid #e2e2e2;}

.hy-video-text-list .item li .title a,.hy-play-list .item .panel .playlist,.hy-play-list .item .panel .downlist .table,.hy-play-list .item .panel .playlist,.hy-cascade .content-meun .item ul,.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td,.hy-gototop .item > li > .history li,.hy-new-index-top li,.hy-new-list .item dl{border-top: 1px dashed #e2e2e2;}

.hy-switch-tabs .nav-tabs{ border-bottom: 2px solid #e2e2e2;}

.hy-switch-tabs .nav-tabs li.active a,.hy-switch-tabs .nav-tabs li.active a:hover,.hy-switch-tabs .nav-tabs li.active a:focus,.hy-head-menu .item .menulist li.active a{ border: 0; background: none; border-bottom: 2px solid #09BB07; color: #09BB07;}

.hy-cascade .left-head li a.active,.hy-video-min-head h5 span,.hy-play-list.play .item .panel .playlist,.hy-play-list.play .item .panel .option,.hy-player .item .footer{ background-color: #fff;}

.hy-play-list.play .item .panel .option.collapsed{ background-color: transparent;}

.hy-player .item .info{background-color: #000;}

.hy-player .item .sidebar::-webkit-scrollbar-track{background-color: #ccc;}

.hy-player .item .sidebar::-webkit-scrollbar-thumb { background-color: #999;}

.hy-player .item .sidebar::-webkit-scrollbar-track-piece {background: transparent;}

.hy-gototop .item > li > .code:before,.hy-gototop .item > li > .history:before{ border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #fff;}

.hy-member-user .integral{ background-color: #09BB07; color: #fff;}

.hy-member-user dt .user{ border: 2px solid #fff;}

.hy-member-user dd .name{ color: #fff;}

.hy-member-user dd .group{ color: #ccc;}

.hy-comment .item .face,.hy-comment-list .item .content,.hy-new-content .item .des{ background-color: #f2f2f2;}

.hy-comment-list .item .content:before{border-left: 8px solid transparent; border-bottom: 8px solid #f2f2f2; border-right: 8px solid transparent;}

.hy-comment-list .item .content .reply{border-bottom: 1px dashed #e2e2e2;}

@media (max-width: 767px){
	.tabbar{ background-color: #F7F7FA;  border-top: 1px solid #C0BFC4;}
	
    .tabbar .item{color: #999;}
    
    .tabbar .item.active{color: #09BB07;}
    
	.hy-layout,.hy-player .content,.hy-player .sidebar .hy-play-list.play{ box-shadow: none; background: #fff;}
	
	.hy-head-menu,.hy-video-details{ background: none; border: 0; box-shadow: none;}
	
	.hy-index-menu li a:hover,.hy-index-menu li a:hover .icon,.hy-index-tags li a:hover{ background: none; color: #999;}
	
	.hy-cascade{ box-shadow: none;}
	
	.hy-player .item .footer{  border-bottom: 1px solid #e2e2e2;}
	
	.hy-cascade .content-meun .head{ box-shadow: none; background-color: #F7F7FA;  border-bottom: 1px solid #C0BFC4;}
	
	.hy-min-screen .item dl{border-left: 0; border-top: 1px dashed #e2e2e2;}
	
	.hy-member .password{ border-top: 1px solid #e2e2e2;}
	
	.hy-video-footer a{ border-top: 1px solid #f5f5f5;}
}

/*分页样式*/
.page{height:45px;line-height:33px;text-align:center;width:650px;overflow:hidden;margin:5px auto 0}
.page span{float:left;height:33px;line-height:33px;margin-right:2px;padding:2px 14px;font-size:12px}
.page em.nolink{font-style:normal;background-color:white;border:1px solid #DDDDDD;color:#999999;font-weight:400;height:33px;line-height:33px}
.page input{display:none;}
.page .btn{display:none;}
.page em{background-color:#4cae4c;border:1px solid #4cae4c ;color:#000;float:left;font-weight:bold;height:31px;line-height:32px;margin:2px;padding:0px 14px;text-align:center;font-style:normal;margin-top:2px}
.page a:link, .page a:visited{background-color:#FFFFFF;border:1px solid #DDDDDD;color:#333333;display:inline;float:left;height:32px;line-height:32px;margin-right:1px;padding:0px 14px;margin-left:1px;text-decoration:none;margin-top:2px}
.page a:hover{background-color:#4cae4c;border:1px solid #4cae4c;padding:0px 14px;color:#000;text-decoration:none}

