body {background-color: #162C40;margin: 0px;text-align:center;}

.main{ border-left:1px solid #3B5669;border-right:1px solid #3B5669; width:1000px; margin:0px auto}

.white{ font-size:12px; color:#fff;}
a.white:link{color:#fff; text-decoration:none; line-height:20px;}
a.white:visited{color:fff;text-decoration:none;line-height:20px;}
a.white:hover{color:#9BCFF0;text-decoration:none;line-height:20px;}
a.white:active{color:#9BCFF0;text-decoration:none;line-height:20px;}

.hui12{ font-size:12px; color:#fff;}
a.hui12:link{color:#B1BFC9; text-decoration:none; }
a.hui12:visited{color:B1BFC9;text-decoration:none;}
a.hui12:hover{color:#9BCFF0;text-decoration:none;}
a.hui12:active{color:#9BCFF0;text-decoration:none;}

.hui{ font-size:12px; color:#B0BEC9; line-height:23px;}
.blue{ font-size:12px; color:#9BCFF0;}

.navBg{ background:url(nav_bg.gif) no-repeat top; height:42px; margin-bottom:4px; padding-top:5px;}
.nav{ background:url(nav_line.gif) no-repeat center right; height:26px; padding-top:10px;font-size:14px; color:#C5CED3; padding-left:30px; padding-right:30px; float:left; font-weight:bold;}
.nav a:link{color:#C5CED3; text-decoration:none;}
.nav a:visited{color:#C5CED3;text-decoration:none;}
.nav a:hover{color:#9BCFF0;text-decoration:none;}
.nav a.:active{color:#9BCFF0;text-decoration:none;}

.mainBg{ background:url(mainBg.gif) repeat-x top #182E43;}
.leftBoxLine{ background:url(img_01.gif) no-repeat center right;}
.leftTitleBg{ background:url(img_02.gif) no-repeat top bottom; padding-bottom:6px;}

.divList{ width:180px; height:22px; padding-top:6px; float:left; font-size:12px; color:#B1BEC6; background: url(ico01.gif) no-repeat center left; padding-left:15px;}

.centerTitleBg{ background:url(img_05.gif) repeat-x bottom; color:#C5CED3}

.divIMG{ width:124px; padding-left:7px; padding-top:15px;padding-bottom:15px; float:left; line-height:22px; text-align:center}
.img{ border:1px solid #C6CFD6; padding:4px; background:#7A98A2; width:114px; height:95px;}
.divIMG01{ width:124px; padding-left:35px;  padding-right:10px;padding-top:15px;padding-bottom:15px; float:left; line-height:22px; text-align:center}

.ProductLine{ color:#C5CED3; border-left:1px solid #7B919F;border-right:1px solid #7B919F; background:#274255; font-size:14px;}
.padding{ padding-left:15px; padding-top:15px;}
.ProductList{ width:155px; height:22px; padding-top:6px; float:left; font-size:12px; color:#B1BEC6; background: url(ico01.gif) no-repeat center left; padding-left:15px;}
.ProductList a:link{color:#C5CED3; text-decoration:none;}
.ProductList a:visited{color:#C5CED3;text-decoration:none;}
.ProductList a:hover{color:#9BCFF0;text-decoration:none;}
.ProductList a.:active{color:#9BCFF0;text-decoration:none;}


.bottomBg{ background:url(bottomBg.gif) repeat-x top #122536;}
.marginBottom{ margin-bottom:15px;}
.paddingTB{ padding-top:20px; padding-bottom:20px;}
.divIMG02{ width:224px; padding-top:12px; padding-bottom:12px; float:left; background:#425564; border:B2BFC7; margin-right:20px; margin-bottom:15px; text-align:center; border:1px solid #B2BFC7;}


.guest{ border:1px solid #B2BFC7; background:#425564; ;font-size:12px; color:#B0BEC9; margin-bottom:20px;} 
.guest th{
	padding-left:10px;
	line-height:20px;
	background:#364552;
	font-weight:normal;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #8CA0B0;
}
.guest td{ padding-left:10px; line-height:20px;}

.news{ font-size:12px; color:#B0BEC9; margin-bottom:20px;} 
.news td{padding-left:10px; line-height:30px;}
.news a:link{color:#C5CED3; text-decoration:none;}
.news a:visited{color:#C5CED3;text-decoration:none;}
.news a:hover{color:#9BCFF0;text-decoration:none;}
.news a.:active{color:#9BCFF0;text-decoration:none;}
