/**************************************
          踩踩样式部分(CaicaiStyle)
           Update:09-11-19
      Author:      From:DesDev INC.
**************************************/

@import url("base.css");



/*----------公用----------*/
.mt10{
	margin-top:10px;
	}
/*----------左侧内容----------*/
#content #listbox{
    float:left;
    width:660px;
    overflow:hidden;
    padding:5px 10px 43px 10px;
	*padding:5px 10px 44px 10px;
	_padding:5px 10px 28px 10px;
    border:1px solid #dcdcdc;
    background-color:#fff;
}
#content #listbox ul li{
    width:100%;    
    padding:15px 0 1px 0;
	*padding:15px 0 6px 0;
	_padding:15px 0 8px 0;
	color:#999;
	border-bottom:1px dotted #000;
	overflow:hidden;
    clear:both;
}
#content #listbox ul li a.preview{
	float:left;
	width:84px;	
	margin:0 7px 10px 0;
	display:inline;
}
#content #listbox ul li a.preview img{
    width:80px;
    display:block;
    padding:1px;
    border:1px solid #EEE;
}
#content #listbox ul li a.preview:hover img{
    border:1px solid #AAA;
}
#content #listbox ul li a.title{ 
    overflow:hidden;
    color:#29a5c9;
    font-size:14px;
    font-weight:bold;
	line-height:20px;
}
#content #listbox ul li span.endpl{	
	padding-left:20px;
	line-height:20px;
	background:url(../images/tag.jpg) 1px no-repeat;
	overflow:hidden;
	display:block;
}
#content #listbox ul li span.endpl small a{
	color:#5f9304;
}
#content #listbox ul li p.intro{
	line-height:20px;
	margin-left:5px;
	padding:0 10px;
	overflow:hidden;
	display:block;
}
#content #listbox ul li span.info{
	color:#e17d32;
	display:block;
	overflow:hidden;
	line-height:20px;
}
#content #listbox ul li span.info small{
	color:#999;
	font-size:12px;
	margin-left:3px;
	}
#content #listbox ul li span.info small.view{
	background:url(../images/view.gif) no-repeat;
	padding-left:16px;
}
#content #listbox ul li span.info small.hpd{
	background:url(../images/hpd.gif) no-repeat;
	padding-left:16px;
}
#content #listbox ul li span.info small.pl{
	background:url(../images/pl.gif) no-repeat;
	padding-left:16px;
}
#content #listbox ul li span.info small.pl a{
	color:#338815;
}
#content #listbox ul li .cbody{
	float:left; width:430px;
}
#content #listbox  .pageList{
	color:#999;
	margin-top:20px;
}
#content .caicai{
	float:right;
}
#content .caicai div {
	cursor:pointer;
	float:left;
	line-height:32px;
	padding-left:20px;
	width:45px;
}
#content .caicai .good {
	background:transparent url(../images/dig.gif) no-repeat scroll 0 7px;
}
#content .caicai .bad {
	background:transparent url(../images/cai.gif) no-repeat scroll 0 7px;
}
/*----------右侧相关内容----------*/
#content #sidebar{
    float:left;
	margin-left:10px;	
}
#content #sidebar .s_border{
	width:245px;
	border:1px solid #dcdcdc;
	background-color:#fff;
}
#content #sidebar .s_title{
	height:28px;
	line-height:28px;
	padding-left:10px;
	color:#999;
	font-weight:bold;
	background:url(../images/sidebar_title.gif) repeat-x;
}
#content #sidebar .s_border ul{
	padding:15px 7px;
}
#content #sidebar .s_border ul li{
	line-height:23px;
	height:23px;
	padding-left:15px;
	overflow:hidden;
	background:url(../images/dot.gif) left no-repeat;
}
#content #sidebar .s_border ul li a{
	color:#29a5c9;
}
#content #sidebar .s_member{
	width:245px;
	border:1px solid #dcdcdc;
	background-color:#fff;
	overflow:hidden;
	_padding-bottom:15px;
	clear:both;
}
#content #sidebar .s_member ul{
	padding:12px 0px 10px 10px;
	overflow:hidden;
	clear:both;
}
#content #sidebar .s_member li{
	float:left;
	width:50px;
	text-align:center;
	overflow:hidden;
	margin:0 3px 5px 3px;
	_margin:0 3px -8px 3px;
}
#content #sidebar .s_member li a{
	color:#29a5c9;
	width:48px;
	display:inline;
}
#content #sidebar .s_member li a img{
	margin-bottom:5px;
	width:44px;
	padding:1px;
	border:1px solid #EEE;
}
#content #sidebar .s_member li a:hover img{
	border:1px solid #AAA;
}

