@charset "gb2312";
/* CSS Document */
@import url("base.css");
body {
	background-color:#f5f5f5;
	color:#333;
	padding-bottom:10px;
}
button{
border-style: none;
}
.wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	overflow: hidden;
}
.header {
	background: url(../images/topbar_bg.gif) repeat;
	height: 30px;
}
.header span {
	float: right;
	line-height:30px;
}
.header .userMenu.fRight li {
	float: right;
	line-height:30px;
	padding-left:5px;
	padding-right:5px;
}
.header .userMenu {
	width: 180px;
}
.auto960 {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.userMenu li a {
	color: #679c0a;
}
.login {
	height:300px;
}
.bor {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background: #FFF;
	border: 1px solid #dfdddd;
}
.login .main h3 {
	color: #FFF;
	background: url(../images/bg_button.png) no-repeat 0px -265px;
	height: 44px;
	width: 404px;
	line-height: 30px;
	padding-left: 45px;
	margin-top: 20px;
	margin-left: 35px;
}
.login .main h3 span {
}
.login .main h3 em {
	margin-left: 95px;
}
.login .main h3 em a {
	color:#FFF;
}
.login .main h3 em a:hover {
	text-decoration:none;
}
.login .main li {
	height:25px;
	line-height:25px;
	margin-bottom:16px;
}
.login .main span {
	display:block;
	float:left;
	text-align:right;
	width:85px;
}

.text{
	background:url(../images/bg_button.png) repeat-x 0 0;
	width:224px;
	height:19px!important;
	height:22px;
	line-height: 22px;
	float: left;
	font-size: 12px;
	margin-right: 5px;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #d5d8d1;
	padding-top: 3px!important;
	padding-top: 0px;
}
.text_s {
	border-color: #9bcd81;
	background:#f3ffe6;
}
.login_from{
	width:210px;
	background: url(../images/bg_button.png) no-repeat 0px -446px;
	padding-left:25px;
}
.login_from2{
	width:210px;
	background: url(../images/bg_button.png) no-repeat 0px -473px;
	padding-left:25px;
}
.login_from3{
	width:210px;
}
.main {
	width: 440px;
}
.login.bor .main.fLeft form ul {
	margin-top: 5px;
}
.button2 {
	background:url(../images/bg_button.png) no-repeat 0px -359px;
	color:#FFFFFF;
	width:171px;
	height: 38px;
	margin-left: 37px;
	font-weight: bold;
	font-size: 14px;
	cursor:pointer;
}
.login_sidebar {
	height: 146px;
	width: 300px;
	margin-right: 98px;
	margin-top: 60px;
	background: url(../images/pe_bg.jpg) no-repeat left;
	display: inline;
}
.login_sidebar p {
	margin-left: 108px;
	margin-top: 15px;
	line-height: 20px;
}
.login_sidebar p span {
	font-weight: bold;
	color: #000;
	float: left;
}
.login_sidebar a:hover{
	text-decoration:none;
}
.signUp {
	background: url(../images/bg_button.png) no-repeat 0 -321px;
	height: 24px;
	width: 52px;
	display:block;
	line-height:24px;
	font-weight: bold;
	color: #FFF;
	font-size: 12px;
	margin-left: 110px;
	margin-top: 16px;
	cursor:pointer;
}
.footer {
	height:36px;
	line-height:36px;
	margin-top: 7px;
}
.footer.bor span {
	float: right;
}
.footer.bor span a {
	float: left;
}
.mL10 {
	margin-left:10px;
	display: inline;
}
.mR10 {
	margin-right:10px;
	display: inline;
}
.tip2 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat 0px -115px;
	height: 54px;
	width: 537px;
}
.tip3 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat 0px -188px;
	height: 54px;
	width: 537px;
}
.success {
	margin-left: 77px;
	background: url(../images/correct.jpg) no-repeat;
	padding-left: 70px;
	line-height: 20px;
	margin-bottom: 32px;
}
.success a {
	color: #7eb61a;
}
.login .main form ul li a {
	color: #679c0a;
}


/* 登录box
-------------------------------------------------------------------*/
.red, .red a:link, .red a:visited, a.red:link, a.red:visited {
color:#FF0000;
text-decoration:none;
}
#login {
	background:#fff;
	padding-bottom: 25px;
}
.tip1 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;	
	background: url(../images/bg_button.png) no-repeat 0px -42px;
	height: 54px;
	width: 537px;
}
.stip1 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat -185px -312px;
	height: 54px;
	width: 537px;
}
.stip2 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat -185px -378px;
	height: 54px;
	width: 537px;
}
#login .ocation {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	margin-bottom: 10px;
}
#login .theme {
	width: 856px;
	clear: both;
	padding: 10px;
}

#login .theme li {
	margin-bottom: 20px;
	line-height: 20px;
	overflow:hidden;
	clear:both;
}
#login .theme span{
	color: #000;
	width: 130px;
	display: block;
	float: left;
	text-align: right;
	overflow:hidden;
}
#login .theme .lform{
	float:right;
	width:720px;
	}
#login .theme .lform label{
	float:left;
	width:80px;
	margin-bottom:5px;
	}
#login .theme .lform .np{
	margin:0 4px;
	}
#login .theme .lform1{
	float:left;
	width:570px;
	}
#login .theme .lform1 label{
	float:left;
	width:80px;
	margin-bottom:5px;
	}
#login .theme .lform1 .np{
	margin:0 4px;
	*margin:0 0 0 -1px;
	_margin:0;
	}
#login .useNew .signUp {
	text-align: right;
	font-weight: bold;
	margin-top: 30px;
}
.contract {
	height: 90px;
	text-align: left;
	overflow-x: auto;
	overflow-y: auto;
	border: 1px solid #cccccc;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	background: #fafafa;
	padding: 5px;
}
.buttonGreen142 {
	background:url(../images/bg_button.png) no-repeat scroll 0px -405px;
	color:#FFFFFF;
	font-size:14px;
	height:38px;
	line-height:38px;
	width:116px;
	font-weight: bold;
}
.clear {
	clear: both;
}
.mL68 {
	margin-left: 68px;
}
.green {
	color: #679c0a;
}
.w200{
	width:200px;
}
/*
date:02-02
*/
.vermenu{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #EEEEEE;
	position:absolute;
}