a.c1{
	padding:3px 8px 3px 8px;
	border:1px solid #BADAA1;
	background:url(../images/but_bg_sr.gif) 0 0 repeat-x;
	color:#428C5B;
}

a.c2{
	color:#063;
	border:1px solid #9C0;
	background:url(../images/but_bg_sr.gif) 0px 0px repeat-x;
}

a.c1:hover{
	color:#369;
	border:1px solid #8CADCE;
	background:url(../images/but_bg_sr.gif) 0px -44px repeat-x;
}

a img {
	border:none;
}
