.px10 {height:10px;clear:both;display:block;font-size:1px;overflow:hidden;}

.stico{overflow:hidden;display:block!important;height:16px!important;line-height:16px!important;padding-left:20px!important;background:url(/images/share.gif) no-repeat left;cursor:pointer; margin:0 5px;}

.stico:hover {text-decoration:underline; color:#f60;}

.stico_renren{background-position:0px 0px}

.stico_reddit{background-position:0px -16px}

.stico_sina{background-position:0px -32px}

.stico_shareto{background-position:0px -48px}

.stico_qzone{background-position:0px -64px}

.stico_myspace{background-position:0px -80px}

.stico_live{background-position:0px -96px}

.stico_qq{background-position:0px -112px}

.stico_pdf{background-position:0px -128px}

.stico_t139{background-position:0px -144px}

.stico_xianguo{background-position:0px -160px}

.stico_vivi{background-position:0px -176px}

.stico_youdao{background-position:0px -192px}

.stico_yahoo{background-position:0px -208px}

.stico_twitter{background-position:0px -224px}

.stico_taojianghu{background-position:0px -240px}

.stico_t163{background-position:0px -256px}

.stico_tsohu{background-position:0px -272px}

.stico_tsina{background-position:0px -288px}

.stico_leshou{background-position:0px -304px}

.stico_delicious{background-position:0px -320px}

.stico_csdn{background-position:0px -336px}

.stico_douban9{background-position:0px -352px}

.stico_digg{background-position:0px -368px}

.stico_buzz{background-position:0px -384px}

.stico_115{background-position:0px -400px}

.stico_51{background-position:0px -416px}

.stico_baidu{background-position:0px -432px}

.stico_bai{background-position:0px -448px}

.stico_douban{background-position:0px -464px}

.stico_hexun{background-position:0px -480px}

.stico_greader{background-position:0px -496px}

.stico_kaixin001{background-position:0px -512px}

.stico_hi{background-position:0px -528px}

.stico_facebook{background-position:0px -544px}

.stico_gmail{background-position:0px -560px}

.stico_google{background-position:0px -576px}

.stico_fav{background-position:0px -592px;height:17px;padding-left:19px;}

.stico_itieba{background-position:0px -609px;height:18px;padding-left:20px;}

.stico_copy {background-position:0px -631px; }

.button_dike {background:url(/images/share.gif) no-repeat 4px -723px; padding-left:25px;}

.st_button{float:left}



.web2 {border:1px solid #e8e8e8; background: #fafafa; padding:5px 8px; height:20px; overflow:hidden;}

.web_zi {float:left; width:70px; font-weight:normal;}

.web_defo {display:block; height:18px; line-height:18px; float:left; width:475px; padding-top:2px;}

.web_defo .stico_copy:hover {text-decoration:underline; color:#f60;}

.web_an {width:16px; height:20px; float:right; padding:2px 0 0 0;}



.web_more {display:block; width:400px; height:180px; background:#fff; border:2px solid #c2e1d5; position:absolute; z-index:3; margin:18px 0 0 -400px;_margin:18px 0 0 -399px; padding:10px;}

.web_more b {display:inline; float:left; width:80px; font-weight:normal; height:16px; line-height:16px; margin:5px 0;}

.web_more .st_button {float:none;}



.web_on {border:2px solid #c2e1d5; border-bottom:none; z-index:4; position:absolute; background:url(/images/share.gif) no-repeat 6px -652px #fff;width:19px; height:22px; margin:-4px 0 0 -4px}



.web_an li {display:block; width:15px; height:15px;overflow:hidden; border:1px solid #ddd; background:url(/images/share.gif) no-repeat 4px -654px #fff;}

.web_an .web_over {display:none;}

.over .web_over {display:block;}