{template 'header', $template}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="{$back_link}" data-direction="reverse"><img src="{DT_MOB}static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">{$head_name}</div>
</div>
<div class="head-bar-fix"></div>
</div>
<div class="main">
	<div class="content">
	公司名称：{$COM[company]}<br/>
	公司地址：<a href="{DT_MOB}api/address.php?auth={encrypt($COM[address].'|'.$COM[company], DT_KEY.'MAP')}" rel="external" target="_blank">{$COM[address]}</a><br/>
	{if $COM[postcode]}
	邮政编码：{$COM[postcode]}<br/>
	{/if}
	公司电话：<a href="tel:{$COM[telephone]}">{$COM[telephone]}</a><br/>
	{if $COM[fax]}
	公司传真：{$COM[fax]}<br/>
	{/if}
	{if $COM[mail]}
	电子邮件：<a href="mailto:{$COM[mail]}">{$COM[mail]}</a><br/>
	{/if}
	{if $COM[homepage]}
	公司网址：<a href="{$COM[homepage]}" rel="external" target="_blank">{$COM[homepage]}</a><br/>
	{/if}
	{if $COM[truename]}
	联 系 人：{$COM[truename]} （{if $COM[gender]==1}先生{else}女士{/if}）<br/>
	{/if}
	{if $COM[department]}
	部门(职位)：{$COM[department]}{if $COM[career]} （{$COM[career]}）{/if}<br/>
	{/if}
	{if $COM[mobile]}
	手机号码：<a href="tel:{$COM[mobile]}">{$COM[mobile]}</a><br/>
	{/if}
	{if $COM[gzh]}
	微信公众号：{$COM[gzh]} &nbsp; <a href="javascript:;" onclick="prompt('长按号码可以复制', '{$COM[gzh]}');"class="b">复制</a><br/>
	{/if}
	{if $COM[gzhqr]}
	扫码关注：<br/>
	<img src="{$COM[gzhqr]}"/>
	<br/>
	{/if}
	在线状态：{if online($COM[userid])==1}<span class="f_red">在线</span>{else}<span class="f_gray">离线</span>{/if} <a href="{$MODULE[2][mobile]}message.php?action=send&touser={$COM[username]}" class="b">发送消息</a>{if $DT[im_web]} <a href="{$MODULE[2][mobile]}chat.php?touser={$COM[username]}" class="b">在线交谈</a>{/if}<br/>
	{if $COM[qq] && $DT[im_qq]}QQ:<a href="http://wpa.qq.com/msgrd?v=3&uin={$COM[qq]}&site=qq&menu=yes" target="_blank" rel="external">{$COM[qq]}</a><br/>{/if}
	{if $COM[wx] && $DT[im_wx]}微信:<a href="{DT_MOB}api/wx.php?wid={$COM[wx]}&username={$COM[username]}" target="_blank" rel="external">{$COM[wx]}</a><br/>{/if}
	{if $COM[ali] && $DT[im_ali]}阿里旺旺:<a href="http://amos.alicdn.com/msg.aw?v=2&uid={$COM[ali]}&site=cnalichn&s=6&charset=UTF-8" target="_blank" rel="external">{$COM[ali]}</a><br/>{/if}
	{if $COM[skype] && $DT[im_skype]}Skype:{$COM[skype]}{/if}
	</div>
</div>
{template 'footer', $template}