{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="{$back_link}" data-direction="reverse"><img src="{DT_MOB}static/img/icon-back.png" width="24" height="24"/><span>频道</span></a>
</div>
<div class="head-bar-title">{$head_name}</div>
<div class="head-bar-right">
<a href="javascript:Dsheet('<a href=&#34;{DT_MOB}api/search.php?mid={$moduleid}&#34;><span>{$MOD[name]}搜索</span></a>|<a href=&#34;{DT_MOB}api/category.php?moduleid={$moduleid}&#34;><span>按分类浏览</span></a>|<a href=&#34;{DT_MOB}api/area.php?moduleid={$moduleid}&#34;><span>按地区浏览</span></a>|<a href=&#34;{$MOD[mobile]}{rewrite('expert.php?page=1')}&#34;><span>{$MOD[name]}专家</span></a>', '取消');"><img src="{DT_MOB}static/img/icon-action.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
<style type="text/css">
.list-ask {height:66px;padding:0 16px;}
.list-ask p {margin:6px 0 0 0;}
</style>
<div class="list-tab bd-b">
	<ul>
		<li{if $typeid==0} class="on"{/if}><a href="{$MOD[mobile]}index.php?typeid=0" data-transition="flip"><span>全部问题</span></a></li>
		<li{if $typeid==1} class="on"{/if}><a href="{$MOD[mobile]}index.php?typeid=1" data-transition="flip"><span>等待解决</span></a></li>
		<li{if $typeid==2} class="on"{/if}><a href="{$MOD[mobile]}index.php?typeid=2" data-transition="flip"><span>已经解决</span></a></li>
	</ul>
</div>
{if $lists}
{loop $lists $v}
<div class="list-img">
<ul>
<li><a href="{$v[linkurl]}"><strong>{$v[title]}</strong></a></li>
<li><em class="f_r">{$PROCESS[$v[process]]}</em><span>{$v[date]}</span></li>
</ul>
</div>
{/loop}
{else}
{template 'empty', 'chip'}
{/if}
{if $pages}<div class="pages">{$pages}</div>{/if}
{template 'footer'}