.checkdiv {
  overflow: hidden;
  border: 3px solid #f2f2f2;
  background-color: #FFFFFF;
  height: 65px;
  padding: 10px;
}
.checkdiv p {
  margin-bottom: 0;
  font-size: 12px;
}
.checkdiv .ico_calendar {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.sign-calendar {
  background-color: #fff;
  margin-bottom: 0;
  border-top: none;
}
.sign-calendar .cell-day.signed .heading {
  background: url('../images/signed.png') center no-repeat;
  border-radius: 4px;
}
.sign-calendar .day > .heading {
  text-align: center;
  line-height: 30px;
}
.sign-calendar .day > .heading > .month {
  display: none !important;
}
.sign-calendar .day > .content {
  display: none !important;
}
.com-btn {
  position: absolute;
  top: 0;
  background-color: #1ABC9C;
  border-top: none ;
  border-bottom: none ;
  color: #fff;
  z-index: 9999;
  box-shadow: none;
  text-shadow: none ;
}
.com-btn i {
  line-height: 35px;
}
.calendar > header {
  position: relative;
  height: 45px;
  margin-bottom: 0;
  background-color: #1ABC9C;
}
.calendar > header .btn-prev {
  left: -5px;
  border-left: 3px solid #17ae95 ;
  border-right: none ;
  position: absolute;
  top: 0;
  background-color: #1ABC9C;
  border-top: none ;
  border-bottom: none ;
  color: #fff;
  z-index: 9999;
  box-shadow: none;
  text-shadow: none ;
  padding: 5px 5px 5px 2px;
}
.calendar > header .btn-prev i {
  line-height: 35px;
}
.calendar > header .btn-next {
  right: -274px;
  position: absolute;
  top: 0;
  background-color: #1ABC9C;
  border-top: none ;
  border-bottom: none ;
  color: #fff;
  z-index: 9999;
  box-shadow: none;
  text-shadow: none ;
  border-right: 3px solid #17ae95 ;
  border-left: none ;
  padding: 5px 2px 5px 5px;
}
.calendar > header .btn-next i {
  line-height: 35px;
}
.calendar > header .btn-today {
  position: absolute;
  left: 115px;
  top: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  text-shadow: none;
}
.calendar > header .btn-today:hover {
  background-color: transparent;
  box-shadow: none;
}
.calendar > header .btn-today:focus {
  background-color: transparent;
  box-shadow: none;
}
.calendar > header .disabled {
  color: #999!important;
}
.calendar > header .calendar-caption {
  margin-left: 105px;
  color: #fff;
  line-height: 25px;
}
.week-head {
  height: 40px;
  background-color: transparent;
}
.week-head th {
  background-color: transparent!important;
  border: none!important;
}
.table > thead > tr > th {
  vertical-align: middle;
}
.table-bordered,
.table-bordered th,
.table-bordered td {
  border: none;
}
.calendar .cell-day.current > .day {
  border: none;
  padding: 0 5px;
}
.calendar .cell-day.current {
  background-color: transparent;
}
.calendar .cell-day.current > .day > .heading {
  background-color: transparent;
}
.show-check {
  height: 40px;
  display: inline-block;
  background-color: #19bca1;
  color: #fff;
  line-height: 40px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 4px;
}
.show-check:hover,
.show-check:focus {
  color: #fff;
}
.time-box {
  color: #888;
}
.calendar-views {
  border: 1px solid #f2f2f2;
}
.checkin-remind {
  width: 300px;
  right: 10px;
  position: absolute;
  bottom: -13px;
  background: #fff;
  box-shadow: 5px 5px 15px #888888;
  color: #fff;
}
.checkin-remind p {
  margin-bottom: 0;
}
.checkin-remind .r-top {
  background: #F6744A;
  height: 100px;
  padding-top: 5px;
}
.checkin-remind .r-top .r-avatar {
  padding-right: 0;
}
.checkin-remind .r-top .r-info .after-line:before {
  content: "";
  float: left;
  width: 1px;
  border-left: 1px solid #fff;
  height: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  left: 0;
}
.checkin-remind .r-body {
  color: #999;
}
.checkin-remind .r-body .r-text {
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  color: #999;
}
.checkin-remind .r-body .r-shop {
  height: 160px;
  padding-top: 20px;
}
.checkin-remind .r-body .r-shop .r-shop-left {
  margin-left: 10px;
}
.checkin-remind .r-body .r-shop .r-shop-center {
  margin-left: 5px;
  padding-top: 20px;
}
.checkin-remind .r-body .r-shop .r-shop-right {
  margin-right: 10px;
}
.checkin-remind .r-body .r-shop .r-shop-score {
  width: 80px;
  height: 80px;
  background: url("../images/icon.png");
}
.checkin-remind .r-body .r-shop .r-arrow {
  background: url("../images/arrow.png");
  width: 108px;
  height: 17px;
}
.checkin-remind .r-body .r-footer {
  height: 50px;
  line-height: 50px;
}
.checkin-remind .r-body .r-footer .checkin-btn {
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: 10px;
  font-size: 14px;
  padding: 5px 30px;
  background: #F6744A;
  border-color: #F6744A;
  border-radius: 8px;
  line-height: 25px;
}
.checkin-remind .r-body .r-footer .checkin-btn:hover {
  color: #ffffff;
}
