{if $user_status == 3}
	{if $module == 'job'}
	{if $mobile}手机:<a href="tel:{$mobile}">{$mobile}</a><br/>{/if}
	{if $email}邮件:<a href="mailto:{$email}">{$email}</a><br/>{/if}
	{if $telephone}电话:<a href="tel:{$telephone}">{$telephone}</a><br/>{/if}
	{if $address}地址:<a href="{DT_MOB}api/address.php?auth={encrypt($address.'|'.$company, DT_KEY.'MAP')}" rel="external" target="_blank">{$address}</a><br/>{/if}
	{if $qq && $DT[im_qq]}QQ:<a href="http://wpa.qq.com/msgrd?v=3&uin={$qq}&site=qq&menu=yes" target="_blank" rel="external">{$qq}</a><br/>{/if}
	{if $wx && $DT[im_wx]}微信:<a href="{DT_MOB}api/wx.php?wid={$wx}&username={$username}" target="_blank" rel="external">{$wx}</a><br/>{/if}
	{if $ali && $DT[im_ali]}阿里旺旺:<a href="http://amos.alicdn.com/msg.aw?v=2&uid={$ali}&site=cnalichn&s=6&charset=UTF-8" target="_blank" rel="external">{$ali}</a><br/>{/if}
	{if $skype && $DT[im_skype]}Skype:{$skype}{/if}
	{else}
	{$content}
	{/if}
{elseif $user_status == 2}
{if $description}{$description}<br/>{/if}
<div class="pay">
查看详细内容需支付<strong>{$fee}</strong>{$fee_unit}<br/>
{$fee_name}余额：{if $currency == 'money'}{$_money}{else}{$_credit}{/if}{$fee_unit} <a href="{$MODULE[2][mobile]}" class="b">我的账户</a> <br/>
<a href="{$MODULE[2][mobile]}pay.php?mid={$mid}&itemid={$itemid}" rel="external"><div class="btn-green">立即支付</div></a>
{elseif $user_status == 1}
无权查看，请升级会员级别<br/>
{if $DT[telephone]}咨询电话：<a href="tel:{$DT[telephone]}">{$DT[telephone]}</a><br/>{/if}
{elseif $user_status == 0}
<a href="{$MODULE[2][mobile]}{$DT[file_login]}" class="b" data-transition="slideup">请登录查看</a><br/>
{else}
<div id="content"><div style="height:100px;background:#FFFFFF url('{DT_MOB}static/img/spinner.gif') no-repeat center center;background-size:16px 16px;" onclick="$.getScript('{DT_MOB}api/task.js.php?{$destoon_task}');"></div></div>
<script type="text/javascript">
$(function(){
	$.getScript('{DT_MOB}api/task.js.php?{$destoon_task}');
});
</script>
{/if}