{template header}
<script type="text/javascript" src="js/popWindow.js"></script>
<script type="text/javascript">
	function docheck(){
		var blacklist=$.trim($('#blacklist').val());
		jQuery.ajax({
			url: "index.php?pms-blacklist",
			cache: false,
			dataType: "xml",
			type:"post",
			async:false, 
			data: { blacklist: blacklist },
			success: function(xml){
				message=xml.lastChild.firstChild.nodeValue;
				switch(message){
					case '1':
						$.dialog.box('pmsblacklist', '提示信息', '忽略列表已更新!');
					break;
					case '2':
						$.dialog.box('pmsblacklist', '提示信息', '操作失败!');
					break;
				}
				setTimeout("$.dialog.close('pmsblacklist')",2000);
			}
		});
	 return false;
}

function expand(id){
	if(id=='usermanage'){
		$("ul#usermanage").toggle(); 
	}else{
		$('ul#userpms').toggle();
	}
}
</script>

<div class="wrap hd_map">
	<a href="{WIKI_URL}">{$setting[site_name]}</a> &gt; <a href="{url pms}">{lang shortmessage}</a> &gt; {lang blacklist}</div>
<section class="wrap clearfix">	
<div class="r group1 bor-ccc gl_manage_main">
	<h2 class="col-h2">{lang blacklist}</h2>
	<ul class="col-ul">	
		<li><textarea class="inp_txt" rows="6" cols="100" id="blacklist" name="blacklist">$blacklist</textarea></li>
		<li>{lang ignorems1}</li>
		<li>{lang ignorems2}</li>
		<li>{lang ignorems3}</li>
		<li><input name="submit" type="button" value="{lang submit}" class="btn_inp blue" onclick="docheck();" /></li>
	</ul>
</div>
<aside class="l group2">
<div class="sidebar bor-ccc gl_manage">
	<h2 class="col-h2 cblue"><span onclick="expand('usermanage');">{lang profile}</span></h2>	
	<ul id="usermanage">
		<li><a href="{url user-profile}" target="_self">{lang profile}</a></li>
		<li><a href="{url user-editprofile}" target="_self" >{lang editProfile}</a></li>
		<li><a href="{url user-editpass}" target="_self">{lang editPass}</a></li>
		<li><a href="{url user-editimage}" target="_self">{lang editImage}</a></li>
		<li><a href="{url doc-managesave}" target="_self">{lang manageSave}</a></li>
		<li><a href="{url user-invite}" target="_self">{lang regInvite}</a></li>
	</ul>
</div><div class="sidebar columns gl_manage">
	<h2 class="col-h2 cblue"><span onclick="expand('userpms');">{lang shortmessage}</span></h2>		
	<ul id="userpms">
		<li><a href="{url pms-box-inbox}" target="_self">{lang inbox}</a></li>
		<li><a href="{url pms-box-outbox}" target="_self" >{lang outbox}</a></li>
		<li><a href="{url pms-sendmessage}" target="_self" >{lang sendmessage}</a></li>
		<li><a href="{url pms-box-drafts}" target="_self">{lang draft}</a></li>
		<li class="on"><a href="{url pms-blacklist}" target="_self">{lang blacklist}</a></li>
	</ul>
</div>
</aside>
</section>
{template footer}