{template header}
<div class="wrap hd_map"> <a href="{WIKI_URL}">{$setting[site_name]}</a>&gt;&gt;<a href="{url category}"> {lang wikiCategory} </a>
<!--{loop $category['navigation'] $key $navigation}-->&gt;&gt; 
<!--{if $key<count($category['navigation'])-1}--><a href="{url category-view-$navigation['cid']}"> {$navigation['name']} </a><!--{else}--> {$navigation['name']} <!--{/if}-->
<!--{/loop}-->
</div>
<section class="wrap clearfix">
<div class="r group1 bor-ccc cate_show">
	<h2 class="col-h2">
		<span class="r f14 gray9">{lang categoryHaveFront}{$count}{lang categoryHaveBack} <a href="{url doc-create-$category['cid']}" target="_blank" class="clink">{lang createCategoryDoc}</a></span>
	"{$category['name']}" {lang categoryDoc}
	</h2>
	<!--{if count($list)>0}-->
	<!--{loop $list $key $doc}-->
	<dl class="col-dl">
		<dt class="h2"><a class="clink f20" href="{url doc-view-$doc['did']}" >{$doc['title']}</a></dt>
		<dd class="gray9">
			<span class="r">{lang edit}:{$doc['edits']}{lang times} |  {lang view}:{$doc['views']}{lang times}</span>
			{lang creator}:<a class="clink" href="{url user-space-$doc['authorid']}" >{$doc['author']}</a> &nbsp; &nbsp; {lang createTime}:{$doc['time']}</dd>
		<dd class="gray">{lang tag}: <!--{loop $doc['tag'] $key $tag}--> <a class="clink" href="{url search-tag-$tag}" >{$tag}</a> <!--{/loop}--></dd>
		<dd class="gray">
		<p>{lang summary}: {$doc['summary']}<a href="{url doc-view-$doc['did']}" class="clink">[{lang readFullText}:]</a></p>
		</dd>
	</dl>
	<!--{/loop}-->
	<!--{/if}-->
	<div id="fenye" class="a-c">{$departstr}</div>
</div>
<aside class="l group2">
	<div class="bor-ccc category">
	<h2 class="col-h2">{$category['name']}</h2>
	<!--{loop $subcategory $key $parent}-->
	<dl class="f14">
		<dt><a class="clink f18" href="{url category-view-$parent['parent']['cid']}" >{$parent['parent']['name']}</a></dt>
		<!--{loop $parent['child'] $value $child}-->
		<dd><a href="{url category-view-$child['cid']}" >{$child['name']}</a></dd>
		<!--{/loop}-->
	</dl>
	<!--{/loop}-->
	</div>
</aside>
</section>
{template footer}