{template header}
<section class="wrap m-t20 clearfix">
	<aside class="l group2">
		<div class="bor-ccc sidebar">
			<ul>
				<li class="<!--{if $type==2}-->on<!--{/if}-->"><a href="{url pic-piclist-2}">{lang pic_new}</a></li>
				<li class="<!--{if $type==3}-->on<!--{/if}-->"><a href="{url pic-piclist-3}">{lang pic_click}</a></li>
				<li class="<!--{if $type==1}-->on<!--{/if}-->"><a href="{url pic-piclist}">{lang pic_focus}</a></li>
			</ul>
		</div>
		<div id="block_left">{block:left/}</div>
	</aside>
<div class="r group1 bor-ccc">
<ul class="tpbk_img_list j-zhong gray9 clearfix">
<!--{if $piclist}-->
	<!--{loop $piclist $key $data}-->
	<li>
	<label>
	<a href="{url pic-view-{$data['id']}-{$data['did']}}" target="_blank" class="a-img1"><img src="{$data['attachment']}" alt="{$data['description']}" name="{lang picture}" /></a>
	</label>
	<a href="{url doc-view-$data['did']}" target="_blank" title="{$data['description']}" class="a-c">{$data['subdescription']}</a>
	<p class="a-c m-lr8">{$data['sizeinfo']}</p>
	</li>
	<!--{/loop}-->
<!--{else}-->
no pictures
<!--{/if}-->

</ul>
<div class="c-b"></div>
 <div id="fenye" class="m-t10 m-r8 a-r"> 
 {$departstr}
</div>
</div>
</section>
{template footer}
