<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={WIKI_CHARSET}" />
<title>{$title} -- {$setting['site_name']}</title>
<style>
body {width:710px; margin:10px auto;}
#prompt {margin:10px 0; padding:0 10px; line-height:30px; background:#F3F7FA;border:1px solid #ccc; margin-bottom:10px; font-size:12px}
</style>
<link href="js/hdeditor/skins/content.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<img src="js/hdeditor/skins/logo.jpg"/>
<div id="prompt">{lang NowCreatingDoc}</div>
<div>{$content}</div>
</body>
</html>