{template wapheader}
    <section class="column home">
        <h2 class="col-h2">百科图片</h2>
        <a href="" class="more">更多</a>
        <div class="picswipe">
            <a href="">
                <img src="../../uploads/userface/1/1_src.jpg" alt="">
                <figure>用户头像裁切原图</figure>
            </a>
            <em class="no"><i>1</i> / 15</em>
        </div>
    </section>
    <section class="column home">
        <h2 class="col-h2">热门词条</h2>
        <a href="" class="more">更多</a>
        <ul class="ul-row2 txtList clearfix">
            <li><a href="">最机关报协硒鼓</a></li>
            <li><a href="">最机关报协硒鼓</a></li>
            <li><a href="">56asdf45asd4f5asdf545asd6f6da4sf</a></li>
            <li><a href="">最机关报协硒鼓</a></li>
        </ul>
    </section>
    <section class="column home">
        <h2 class="col-h2">精彩词条</h2>
        <a href="" class="more">更多</a>
        <ul class="ul-row1">
            <li><a href=""><span class="aimg w150"><img src="../../uploads/201008/f_2OepKa.jpg" alt=""></span><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><strong class="title">56asdf45asd4f5asdf545asd6f6da4sf</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
        </ul>
    </section>
    <section class="column home">
        <h2 class="col-h2">精彩词条</h2>
        <a href="" class="more">更多</a>
        <ul class="ul-row3 clearfix">
            <li><a href=""><span class="aimg"><img src="../../uploads/201007/1280484396d6hN0GoI_140.gif" alt=""></span><strong>最机关报协硒鼓</strong></a></li>
            <li><a href=""><span class="aimg"><img src="../../uploads/201007/1280484381eiJRbLHZ_140.gif" alt=""></span><strong>最机关报协硒鼓</strong></a></li>
            <li><a href=""><span class="aimg"><img src="../../uploads/201007/1280483039ysMVbk9b_140.gif" alt=""></span><strong>56asdf45asd4f5asdf545asd6f6da4sf</strong></a></li>
        </ul>
        <ul class="ul-row2 txtList clearfix">
            <li><a href="">最机关报协硒鼓</a></li>
            <li><a href="">最机关报协硒鼓</a></li>
            <li><a href="">56asdf45asd4f5asdf545asd6f6da4sf</a></li>
            <li><a href="">最机关报协硒鼓</a></li>
        </ul>
    </section>
    <div class="pop-search" style="display:none;">
        <form class="search-form" action="">
            <label><i class="btn-sear"></i><input type="text" value="HDwi"><i class="cleartxt"></i></label>
            <button onclick=" onclick="document.querySelector('.pop-search').style.display='none';"">取消</button>
        </form>
        <div class="column"><div class="body">
            <h3>热门搜索：</h3>
            <p class="doc-list">
                <a class="gray6" href="">HDwiki</a><a class="gray6" href="">协作者</a><a class="gray6" href="">同义词</a><a class="gray6" href="">沉雷</a><a href="" class="gray6">海军基地</a>
            </p>
        </div></div>
    </div>
{template wapfooter}