<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>首页-HDwiki</title>
    <link rel="stylesheet" href="../../style/default/wap.css">
</head>
<body ontouchstart><div class="wrap">  
    <header class="hd-top">
        <h2 class="logo"><a href=""><img src="../../style/default/logo.gif" alt=""></a></h2>
        <a href="javascirpt:void(0);" class="btn-sear"></a>
    </header>
    <nav class="site-nav"><p>
        <a href="">首页</a>
        <a href="">排行榜</a>
        <a href="">图片百科</a>
        <a href="">礼品商店</a>
        <a href="">自定义栏目</a>
        <a href="">自定义栏目</a>
        <a href="">自定义栏目</a>
    </p></nav>
    <section class="column">
        <p class="body gray9">搜索"<span class="blue">HDwiki</span>"找到相关内容<i class="blue">0</i>篇</p>
    </section>
    <section class="column nobody">
        <i class="ico-warn"></i>
        <p class="gray9">还没有内容<br>您可以登录电脑版创建词条</p>
    </section>
    <section class="column">
        <p class="body gray9">搜索"<span class="blue">HDwiki</span>"找到相关内容<i class="blue">5</i>篇</p>
    </section>
    <section class="column">
        <p class="body gray9">当前没有收录"<span class="blue">HDwiki</span>"词条，您可以登录电脑版创建词条</p>
    </section>
    <section class="search-result">
        <ul class="ul-row1">
            <li><a href=""><span class="aimg w150"><img src="../../uploads/201008/f_2OepKa.jpg" alt=""></span><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><span class="aimg w150"><img src="../../uploads/userface/1/1_src.jpg" alt=""></span><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><span class="aimg w150"><img src="../../uploads/201007/1280484381eiJRbLHZ.gif" alt=""></span><strong class="title">56asdf45asd4f5asdf545asd6f6da4sf</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><span class="aimg w150"><img src="../../uploads/201007/1280478661MFjaRlse.jpg" alt=""></span><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
            <li><a href=""><strong class="title">最机关报协硒鼓</strong><span class="summary">这里是简介简介简介</span></a></li>
        </ul>
    </section>
    <p class="loading gray9">正在加载更多数据...</p>
    <nav class="column bot-navi">
        <p class="body"><a href="">频道1</a><a href="">频道1</a><a href="">频道1</a><a href="">频道1</a><a href="">频道1</a><a href="">频道1</a></p>
    </nav>
    <footer class="footer">
        <p>Powered by HDwiki6.0 &copy; 2016 HDwiki Licensed</p>
    </footer>
</div></body>
</html>