.main-wrapper {
  margin-top: 110px;
}
.row {
  margin: 0;
}
body {
  font-size: 14px;
}
.v-wrap {
  width: 100%;
  min-height: 589px;
}
.v-wrap .c-title {
  height: 35px;
  padding: 0 10px 15px;
  font-size: 16px;
  font-weight: bold;
}
.v-wrap .v-head {
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  line-height: 79px;
  color: #333333;
  font-size: 18px;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  position: relative;
}
.v-wrap .v-head a {
  position: absolute;
  right: 10px;
  bottom: 5px;
  line-height: 16px;
  color: #19BCA1;
  font-size: 16px;
}
.v-wrap .v-type {
  background-color: #ffffff;
  width: 100%;
  height: 225px;
  border-bottom: 1px solid #f2f2f2;
  padding: 25px 15px;
}
.v-wrap .v-type .type-box {
  height: 140px;
  padding: 0;
}
.v-wrap .v-type .type-box .box {
  height: 100%;
}
.v-wrap .v-type .type-box .box .cover {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 20px 0;
}
.v-wrap .v-type .type-box .info {
  padding-top: 20px;
}
.v-wrap .v-type .type-box .info .title {
  font-size: 14px;
  font-weight: bold;
}
.v-wrap .v-type .type-box .info .intro {
  max-width: 135px;
  font-size: 13px;
}
.v-wrap .v-type .type-box .info .apply-btn {
  width: 140px;
  height: 40px;
  background-color: #19bca1;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  display: block;
  font-size: 14px;
}
.v-wrap .v-type .type-box .info .apply-btn:hover {
  background-color: #17ae95;
}
.v-wrap .v-famous {
  background-color: #ffffff;
  width: 100%;
  height: 190px;
  padding: 25px 15px;
}
.v-wrap .v-famous .f-box {
  padding: 0;
}
.v-wrap .v-famous .f-box .box {
  height: 90px;
  padding-top: 20px;
}
.v-wrap .v-famous .f-box .box .cover {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: relative;
}
.v-wrap .v-famous .f-box .box .cover img {
  border-radius: 100%;
}
.v-wrap .v-famous .f-box .box .cover .bandage {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  right: 0;
  bottom: 0;
  display: block;
  text-align: center;
  line-height: 20px;
}
.v-wrap .v-famous .f-box .box .cover .bandage i {
  font-size: 14px;
}
.id-wrap .id-head {
  background-color: #ffffff;
  padding: 0 10px;
}
.id-wrap .id-head p {
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0;
}
.id-wrap .id-attest {
  padding: 30px 15px;
  background-color: #ffffff;
}
.id-wrap .id-attest .do-attest {
  width: 110px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #797979;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.id-wrap .id-liberty {
  min-height: 160px;
  padding: 25px 15px;
  background-color: #ffffff;
}
.id-wrap .id-liberty .id-box {
  padding: 0;
}
.id-wrap .id-liberty .id-box .box {
  height: 110px;
}
.id-wrap .id-liberty .id-box .box .cover {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.id-wrap .id-liberty .id-box .box .title {
  font-size: 18px;
}
.id-wrap .id-liberty .id-box .box .intro {
  color: #666;
  min-height: 35px;
}
.id-wrap .id-liberty .id-box .box .band {
  width: 40px;
  height: 40px;
}
.id-wrap .id-term {
  min-height: 230px;
}
.id-wrap .id-term .term-box {
  width: 20%;
  float: left;
  padding: 0 10px;
  height: 180px;
}
.id-wrap .id-term .term-box .t-cover {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.id-wrap .id-term .term-box .condition {
  margin: 10px 0;
  text-align: center;
}
.id-wrap .id-term .term-box .condition i {
  margin-right: 10px;
  font-weight: bold;
}
.id-wrap .id-term .term-box .id-btn {
  width: 110px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #797979;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.id-wrap .id-term .term-box .no {
  background-color: #19bca1;
  color: #ffffff;
  border: none;
  line-height: 30px;
}
.flow-path {
  background-color: #ffffff;
  margin: 0;
  padding: 10px;
}
.flow-path .left-box {
  min-height: 200px;
  padding-top: 20px;
  border-right: 1px solid #f2f2f2;
}
.flow-path .left-box table {
  width: 100%;
}
.flow-path .left-box .apply-form {
  margin-bottom: 15px;
  display: table;
  width: 100%;
}
.flow-path .left-box .apply-form .title-wrap {
  vertical-align: top;
  width: 125px;
  text-align: right;
}
.flow-path .left-box .apply-form .title-wrap label {
  font-weight: normal;
}
.flow-path .left-box .apply-form .title-wrap label span {
  color: red;
  margin-right: 5px;
}
.flow-path .left-box .apply-form .f-wrap {
  width: 400px;
  position: relative;
}
.flow-path .left-box .apply-form .f-wrap input,
.flow-path .left-box .apply-form .f-wrap select {
  outline: none;
  width: 380px;
  padding: 0 10px;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 28px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
}
.flow-path .left-box .apply-form .f-wrap input:focus,
.flow-path .left-box .apply-form .f-wrap select:focus {
  border: 1px solid #19bca1;
}
.flow-path .left-box .apply-form .f-wrap textarea {
  width: 380px;
  padding: 0 10px;
  border: 1px solid #ccc;
  line-height: 28px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
}
.flow-path .left-box .apply-form .f-wrap textarea:focus {
  border: 1px solid #19bca1;
}
.flow-path .left-box .apply-form .warn-txt {
  font-size: 13px;
  color: red;
}
.flow-path .left-box .apply-form .warn-txt i {
  margin: 0 5px;
}
.flow-path .left-box .apply-form .tip-txt span {
  color: #19bca1;
}
.flow-path .left-box .apply-form .pic-wrap {
  margin: 0;
}
.flow-path .left-box .apply-form .pic-wrap .l-box {
  width: auto;
  height: 75px;
  border-right: 1px dashed #ccc;
  padding: 0 10px;
  float: left;
}
.flow-path .left-box .apply-form .pic-wrap .l-box .add-btn {
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 69px;
  border: 3px dashed #19bca1;
  color: #19bca1;
  float: right;
}
.flow-path .left-box .apply-form .pic-wrap .r-box {
  height: 75px;
  float: left;
}
.flow-path .left-box .apply-form .pic-wrap .r-box .pic {
  padding: 0 10px;
  width: 96px;
  height: 75px;
  border-right: 1px dashed #ccc;
  position: relative;
  float: left;
}
.flow-path .left-box .apply-form .pic-wrap .r-box .pic .top-band {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
}
.flow-path .right-box {
  min-height: 200px;
  padding-left: 20px;
}
.flow-path .right-box .r-head {
  font-size: 18px;
}
.flow-path .right-box .notice {
  color: red;
  margin: 20px 0;
}
.flow-path .right-box ul {
  list-style: none;
}
.flow-path .right-box ul li {
  line-height: 25px;
}
.app-btn {
  width: 140px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  background-color: #19bca1;
  margin-top: 20px;
}
.app-btn:hover {
  color: #ffffff;
  background-color: #17ae95;
}
.p-wrap {
  background: #ffffff;
  padding: 30px 10px;
  position: relative;
}
.p-wrap .yi {
  position: absolute;
  top: 0;
  left: 400px;
  display: block;
  font-size: 70px;
  color: red;
}
.p-wrap table {
  width: 100%;
  position: relative;
}
.p-wrap table tr {
  display: block;
  margin-bottom: 15px;
}
.p-wrap table tr .l-title {
  vertical-align: top;
  width: 125px;
  text-align: right;
}
.p-wrap table tr .l-title span {
  color: red;
}
.p-wrap table tr .mi {
  color: #19bca1;
  margin-right: 5px;
}
.p-wrap table tr .image-list img {
  border: 1px solid #ddd;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}
.p-wrap table .a-btn {
  display: inline-block;
  background-color: #19bca1;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 3px;
  margin-left: 45px;
}
