canvas {
  width: 100%;
  height: 950px;
  position: absolute;
}
a {
  text-decoration: none!important;
}
a:focus {
  text-decoration: none!important;
}
a:hover {
  text-decoration: none!important;
}
.banner {
  height: 320px;
  position: relative;
  z-index: 99;
  top: 0;
  overflow: hidden;
  background-color: #19bca1;
}
.banner .logo-box {
  position: absolute;
  left: 136px;
  top: 70px;
}
.login-box {
  min-height: 220px;
  width: 780px;
  max-width: 780px;
  position: absolute;
  top: 150px;
  background-color: #ffffff;
  left: 50%;
  margin-left: -390px;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 30px 20px 10px;
}
.login-box .info-box {
  height: 680px;
  padding-left: 0;
  padding-right: 20px;
  text-align: center;
}
.login-box .info-box .nav-tabs {
  border: none;
}
.login-box .info-box .nav-tabs li {
  text-align: center;
}
.login-box .info-box .nav-tabs li a {
  border: none;
}
.login-box .info-box .nav-tabs li a:hover,
.login-box .info-box .nav-tabs li a:focus {
  border: none;
  background-color: #ffffff;
}
.login-box .right-box {
  border-left: 1px solid #eee;
  height: 500px;
}
.login-box .right-box .p1,
.login-box .right-box .p3 {
  line-height: 40px;
  color: #999999;
}
.login-box .right-box .p2 {
  color: #19bca1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom: 1px solid #19bca1 !important;
  color: #19bca1 !important;
}
#reg_nav li {
  width: 33.3%;
}
.alert-info {
  padding: 5px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.alert-info strong {
  margin: 0 5px;
}
#role-list {
  border: 1px solid #ced0d5;
  border-radius: 5px;
}
#role-list li {
  border-right: 1px solid #f1f3f7;
  color: #999999;
}
#role-list li:last-child {
  border: none;
}
#role-list li a {
  padding: 10px 15px!important;
  border-radius: inherit!important;
  color: #999999;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #0f88eb;
  color: #ffffff !important;
}
.new-form {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
}
.new-form .new-input {
  display: inline-block;
  width: 93%;
  border: none;
  box-shadow: none;
  padding: 0 0 0 8px;
}
.new-form .input-new {
  display: inline-block;
  width: 93%;
  border: none;
  box-shadow: none;
  padding: 0 0 0 8px;
}
.new-form .new-icon {
  display: inline-block;
  width: 20px;
  height: 25px;
  background-image: url("../images/register.png");
  vertical-align: middle;
}
.user-icon {
  background-position: -10px -15px;
}
.name-icon {
  background-position: -10px -121px;
}
.password-icon {
  background-position: -10px -157px;
}
.code-icon {
  background-position: -10px -85px;
}
.email-icon {
  background-position: -10px -49px;
}
.phone-icon {
  background-position: -10px -191px;
}
.tips {
  display: none;
  margin-bottom: 15px;
  color: #999;
  text-align: left;
}
.show-password {
  position: absolute;
  width: 50px;
  border: none;
  right: 0;
  top: 0;
  height: 52px;
  z-index: 999;
  padding: 5px 0;
  background-color: transparent;
}
.show-password a {
  line-height: 45px;
  color: #888;
}
.show-password a:focus {
  text-decoration: none;
}
.new-btn {
  background-color: #0f88eb;
  padding: 10px 50px;
  transition: all .5s;
  letter-spacing: 8px;
  text-shadow: none;
  font-size: 16px;
  margin: 0 auto;
}
.new-btn:hover {
  background-color: #0f88eb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.new-code {
  position: absolute;
  right: 5px;
  top: 5px;
}
.new-code img {
  cursor: pointer;
  max-height: 42px;
}
.get-code {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  padding: 16px 20px;
  background-color: #0f88eb;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
}
.get-code:hover {
  color: #ffffff;
}
.foot {
  text-align: center;
  margin-top: 590px;
}
.foot h4 {
  padding: 0 0 20px;
  font-size: 16px;
  color: #d1d1d1;
}
.i-group span {
  display: none;
}
.green-btn {
  background-color: #19bca1 !important;
  border: none!important;
}
.green-btn:hover {
  background-color: #17ae95 !important;
  border: none!important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #19bca1 !important;
  color: #ffffff !important;
}
.verify-check {
  width: 400px;
  height: 230px;
  border-top: 3px solid #19bca1;
  position: absolute;
  left: 160px;
  top: 190px;
  z-index: 1001;
  padding: 30px;
  border-radius: 0!important;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.verify-check .row {
  padding: 10px 0;
}
.verify-check h3 {
  padding: 10px 0;
  border-bottom: 1px solid #19bca1;
  color: #19bca1;
  margin-top: 0;
}
.verify-check .c-btn {
  background-color: #d5d5d5;
}
.verify-check .input-box {
  position: relative;
}
.verify-check .input-box span {
  position: absolute;
  top: 10px;
  left: 17px;
  font-size: 16px;
  color: #999;
}
.verify-check .input-box input {
  font-size: 14px;
  width: 100%;
  height: 42px;
  padding-left: 42px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
}
.btn {
  padding: 5px 20px;
  text-shadow: none!important;
  border: none!important;
  color: #ffffff;
  border-radius: 5px;
}
.y-btn {
  background-color: #19bca1;
}
