.invite_content table {
  width: 100%;
  line-height: 30px;
  text-align: center;
}
.invite_content table thead tr {
  border-bottom: 1px dashed #ECECEC;
  color: #C0C0C0;
}
.invite_content table tbody tr {
  color: #767676;
}
.invite_content table tbody tr:nth-child(even) {
  background: #FAFAFA;
}
