@import "canvas.css";
body {
  font-family: "微软雅黑" !important;
}
.main-box {
  width: 490px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  margin-left: -245px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border: none;
  margin-top: 100px;
}
.main-box .top-banner {
  background: #19bca1;
  height: 130px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.main-box .top-banner p {
  text-align: center;
  color: #ffffff;
}
.main-box .login-wrap {
  width: 100%;
  height: auto;
  padding: 20px 40px;
}
.main-box .login-wrap .add-show {
  top: -10px;
  right: -10px;
  border-radius: 0 5px 5px 0;
}
.cut-off {
  width: 100%;
  border-top: 1px solid #c2c2c2;
  position: relative;
  margin: 40px 0;
}
.cut-off .chose-other {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #999;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -83px;
}
.other-login {
  text-align: center;
}
.other-login span {
  display: none;
}
.to-register {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #19bca1;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #f7fafc;
  color: #19bca1;
  text-align: center;
}
.to-register:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
.to-register span {
  color: #333;
}
.foot-box {
  height: 40px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  position: absolute;
  bottom: 20px;
  width: 100%;
  line-height: 40px;
  color: #999;
}
.foot-box a {
  color: #999;
}
.green-btn {
  background-color: #19bca1 !important;
  border: none!important;
  padding: 10px 12px;
}
.green-btn:hover {
  background-color: #17ae95 !important;
  border: none!important;
}
.all-box {
  width: 740px;
  height: 260px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 300px auto;
}
.all-box .head {
  font-size: 18px;
  color: #19bca1;
}
.all-box .register-wrap {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 280px;
  height: 210px;
}
.all-box .register-wrap p {
  color: #ffffff;
  opacity: .8;
}
.all-box .register-wrap .to-reg {
  background-color: transparent;
  width: 230px;
  height: 35px;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid rgba(242, 242, 242, 0.8);
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.all-box .register-wrap .to-reg:hover {
  box-shadow: none;
}
.all-box .register-wrap .to-reg i {
  margin-left: 5px;
}
.all-box .register-wrap .third-line {
  background: url("../images/al.png");
  height: 30px;
  margin: 15px 0;
}
.all-box .register-wrap .third-login {
  text-align: center;
}
.all-box .register-wrap .third-login span {
  display: none;
}
.all-box .login-wrap {
  position: absolute;
  right: 25px;
  top: -25px;
  width: 385px;
  height: 310px;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 25px;
}
.all-box .login-wrap .input-box {
  width: 335px;
  height: 35px;
  position: relative;
  margin-bottom: 10px;
}
.all-box .login-wrap .input-box:after {
  content: "";
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  position: absolute;
  left: 0;
  bottom: -1px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.all-box .login-wrap .input-box input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}
.all-box .login-wrap .input-box .open-close {
  position: absolute;
  right: 0;
  top: 10px;
  color: #999;
}
.all-box .login-wrap .login-btn {
  width: 70px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  background-color: #19bca1;
  border-radius: 3px;
  color: #ffffff;
  border: 1px solid #17ae95;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.all-box .login-wrap .login-btn:hover {
  background-color: #17ae95;
}
.all-box .login-wrap .l-around {
  color: #999;
  font-size: 12px;
  margin-right: 10px;
}
.all-box .code-box {
  position: absolute;
  right: 0;
  bottom: 0;
}
.all-box .code-box img {
  height: 35px;
}
