.user-info-panel {
  padding: 20px;
  background-color: #19bca1;
  border-radius: 4px;
}
.user-info-panel .avatar-img {
  border: 3px solid rgba(255, 255, 255, 0.2);
  width: 80px;
  height: 80px;
}
.user-info-panel .nickname {
  color: #fff !important;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  opacity: .7;
}
.user-info-panel .nickname:hover {
  opacity: 1;
}
.menu {
  border-radius: 4px;
  overflow: hidden;
}
.menu a,
.menu i {
  color: #666;
}
.nav-primary > li > a {
  border: 1px solid #efefef;
}
/*.nav > li > a{
  padding: 15px 30px;
}*/
.nav > li > a:hover,
.nav > li > a:focus {
  color: #19bca1;
  text-decoration: none;
  background-color: #ffffff;
}
.nav > li > a:hover i,
.nav > li > a:focus i {
  color: #19bca1 !important;
}
.nav-primary > li.active > a,
.nav-primary > li.active > a:hover,
.nav-primary > li.active > a:focus {
  background-color: transparent;
  color: #19bca1;
  border-color: #efefef;
  border-left: 2px solid #19bca1;
}
.menu > .nav > li.active > a [class*='icon-'],
.menu > .nav > li.active > a:hover [class*='icon-'],
.menu > .nav > li.active > a:focus [class*='icon-'] {
  color: #19bca1;
}
.btn-primary {
  background-color: #19bca1;
  border-color: #17ae95;
}
.btn-primary:hover {
  background-color: #17ae95;
}
.nav-secondary > li.active > a,
.nav-secondary > li.active > a:hover,
.nav-secondary > li.active > a:focus {
  color: #19bca1;
  border-color: #19bca1;
}
