.container {
  max-width: 900px;
  margin-top: 50px !important;
}
.avt-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  text-align: center;
}
.avt-wrap p {
  margin: 0;
}
.avt-wrap img {
  width: 90px;
  border: 3px solid #ffffff;
  margin: 0 auto 10px;
}
.avt-wrap .n-name {
  font-size: 22px;
  color: #ffffff;
}
.avt-wrap .f-l {
  color: #ffffff;
  font-size: 16px;
}
.avt-wrap .f-l a {
  color: #ffffff;
  margin-right: 10px;
}
.avt-wrap .f-l .fen-ge {
  margin: 0 20px;
}
.avt-wrap .bottom-wrap {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
  line-height: 40px;
  padding: 0 10px;
  text-align: left;
  margin: 0;
  color: #ffffff;
}
.avt-wrap .bottom-wrap .text-more {
  padding-left: 0;
}
.avt-wrap .bottom-wrap .bt-group {
  padding: 0;
  height: 100%;
  text-align: right;
}
.avt-wrap .bottom-wrap .bt-group .btn {
  font-size: 12px;
  padding: 2px 12px;
}
.avt-wrap .bottom-wrap .bt-group .btn-default,
.avt-wrap .bottom-wrap .bt-group .btn-primary {
  background-color: #19bca1;
  color: #ffffff;
  text-shadow: none;
  border-radius: 4px;
  border: 2px solid #ffffff;
  line-height: 30px;
  width: 75px !important;
  padding: 0 !important;
}
.avt-wrap .bottom-wrap .bt-group .btn-default:hover,
.avt-wrap .bottom-wrap .bt-group .btn-primary:hover {
  background-color: #17ae95;
}
.avt-wrap .bottom-wrap .bt-group .btn-default:last-child,
.avt-wrap .bottom-wrap .bt-group .btn-primary:last-child {
  background-color: rgba(0, 0, 0, 0.45);
  border: 2px solid rgba(255, 255, 255, 0.45);
  margin-left: 15px;
}
.avt-wrap .bottom-wrap .bt-group .btn-default:last-child:hover,
.avt-wrap .bottom-wrap .bt-group .btn-primary:last-child:hover {
  background: rgba(0, 0, 0, 0.5);
}
.uc-cont {
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.uc-cont .nav-wrap {
  width: 200px;
  float: left;
  margin-right: 20px;
  background-color: #ffffff;
}
.uc-cont .cont-wrap {
  width: 680px;
  float: left;
}
.new-nav {
  width: 100%;
  background-color: #ffffff;
}
.new-nav li {
  float: none;
  border-bottom: 1px solid #efefef;
}
.common-cont-wrap {
  background-color: #ffffff;
  padding: 20px;
}
.common-cont-wrap .nav > li > a:hover,
.common-cont-wrap .nav > li > a:focus {
  color: #0e385a;
  text-decoration: none;
  background-color: transparent;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: transparent !important;
  color: #1ABC9C !important;
  border-radius: 0;
}
.my-num {
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
  vertical-align: baseline;
  padding: 0 !important;
  color: #666 !important;
}
.my-num strong {
  margin-right: 5px;
}
.my-after:after {
  color: #ddd;
  content: "|";
  margin: 0 15px;
}
.f-wrap .list-item {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  position: relative;
  line-height: 1;
  margin: 0;
}
.f-wrap .list-item:nth-last-of-type(2) {
  border: none;
}
.f-wrap .list-item .avatar-img {
  width: 60px;
  float: left;
}
.f-wrap .list-item .f-info {
  padding: 0 20px;
}
.f-wrap .list-item .f-name {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.f-wrap .list-item .f-name:hover {
  color: #19bca1;
}
.f-wrap .list-item .f-sig {
  color: #6d757a;
  font-size: 12px;
  max-width: 525px;
}
.f-wrap .list-item .f-sig span {
  margin-right: 20px;
}
.f-wrap .list-item .f-sig:hover {
  color: #333;
}
.topic-wrap .topic-row {
  width: 330px;
  float: left;
  padding: 10px;
  position: relative;
}
.topic-wrap .topic-row .topk-wrap {
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.03);
  margin: 0px;
  padding: 5px 15px;
}
.topic-wrap .topic-row .topk-wrap .topk-info {
  color: #8b8b8b;
  width: 150px;
  margin: 13px 0 13px 10px;
  height: 70px;
  position: relative;
}
.topic-wrap .topic-row .topk-wrap .topk-info .topk-name {
  color: #535353;
  font-size: 16px;
}
.topic-wrap .topic-row .topk-wrap .topk-info p {
  margin: 0 0 6px;
}
.topic-wrap .topic-row .topk-wrap .topk-logo {
  width: 85px;
  height: 85px;
  margin-top: 6px;
}
.topic-wrap .topic-row .topk-wrap .topk-read {
  margin-left: 10px;
}
.topic-wrap .topic-row .topk-wrap .topk-read span {
  color: #ee5e0f;
}
.topic-wrap .topic-row .topk-wrap .topk-weibo {
  margin-right: 12px;
}
.topic-wrap .topic-row .topk-wrap .topk-weibo span {
  color: #ee5e0f;
}
