<!--<?php 
echo <<<EOT
-->
{$methtml_head}
<link href="templates/met/css/style.css" rel="stylesheet" />
<body>
<div class="memberhead">
<div class="memberhead1">
<div class="memberheadlogo"><a href="$index_url" ><img src="$met_logo" alt="$met_alt" /></a></div>
<div class="memberheadtext"><a href="$index_url">{$lang_home}</a><font style="font-family:Arial, Helvetica, sans-serif">></font><a href="#">{$lang_cvtitle}</a></div>
</div>
</div>
<div class="web">
$methtml_cv

</div>
<div class="memberfoot">
Powered by <a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info1}"><b>MetInfo</b></a> $metcms_v &copy;2008-$m_now_year <a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info3}">www.MetInfo.cn</a>
</div>


</body>
</html>
<!--
EOT;
?>-->