.warn {padding:10px;border-bottom:#FF8822 1px solid;background:#FFFFDD;font-size:12px;}
.btns input {width:80px;float:right;margin:10px 10px 0 0;line-height:28px;font-size:14px;}
.sch {padding:16px;}