/*body {
	background: none;
}*/

.mbTxtB {
	color: #444;
}


.btn_concern {
	display: inline-block;
	height: 18px;
	height: 16px \9;
	padding: 3px 10px 0 7px;
	padding-top: 5px \9;
	border: 1px solid #d7d7d7;
	background: #eaeaea;
	color: #666;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

.btn_concern .ico_rel {
	background: url(../images/icon.gif) no-repeat -10px -40px;
	width: 9px;
	height: 10px;
	overflow: hidden;
}

.btn_concern .ico_tip {
	background: url(../images/icon.gif) no-repeat 0 -40px;
	width: 7px;
	height: 6px;
	overflow: hidden;
}

.btn_concern img {
	margin-right: 4px;
}

.miniPopLayer {
	padding: 8px 0;
}

.tblog_wrap .wrap_top,.tblog_wrap .wrap_bottom {
	display: block;
	height: 1px;
	margin: 0 1px;
	background: #c0dade;
	overflow: hidden;
}

.tblog_wrap .tblog_main {
	padding-bottom: 10px;
	border-left: 1px solid #c0dade;
	border-right: 1px solid #c0dade;
	background: #fff;
	/*overflow: hidden;*/
}

.tblog_wrap .tblog_header {
	height: 30px;
	line-height:30px;
	border: 1px solid #effafc;
	border-bottom: 1px solid #c0dade;
	background: #d6f3f7;
	color: #333;
	/*overflow: hidden;*/

}

.tblog_wrap .tblog_header h1 {
	position: relative;
	float: left;
	margin:0;padding:0;
	font-size:18px
}

.tblog_wrap .tblog_header h1 a.mini_logo {
	position: absolute;
	left: 11px;
	top: 6px;
	top: 5px \9;
	display: block;
	width: 19px;
	height: 16px;
	background: url(../images/logo_mini.png?id=201103311828) 0 0
		no-repeat;
	_filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( enabled
		= true, sizingMethod = image, src =
		'http://img.t.sinajs.cn/t35/style/images/common/logo_mini.png?id=201103311828'
		);
	_background-image: none;
}

.tblog_wrap .tblog_header h1 a.title {
	position: relative;
	display: inline-block;
	padding: 0 0 0 10px;
}

.tblog_wrap .tblog_header h1 a.title,.tblog_wrap .tblog_header h1 a.title:link,.tblog_wrap .tblog_header h1 a.title:visited,.tblog_wrap .tblog_header h1 a.title:hover
	{
	color: #333;
}

.tblog_wrap h1 a:hover {
	text-decoration: none;
}

.tblog_wrap .fans_top {
	width: 100%;
	padding: 12px 0 10px;
	overflow: hidden;
	text-align:left
}

.tblog_wrap .fans_top .fansphoto {
	_display: inline;
	float: left;
	width: 54px;
	height: 52px;
	margin: 0 11px 0 9px;
	_margin-right: 8px;
}
.tblog_wrap .fans_top .fansphoto .userface{border:#ccc solid 1px;padding:1px;display:block;}
.tblog_wrap .fans_top ul li {
	height: 17px;
	padding-right: 9px;
	margin-bottom: 4px;
	overflow: hidden;
}

.tblog_wrap .fans_top ul li span {
	display: inline-block;
	color: #8d8d8d;
}

.tblog_wrap .fans_top ul li strong {
	display: inline-block;
	font-size: 14px;
	cursor: hand;
}

.tblog_wrap .fans_top ul li.btn {
	height: auto;
	margin: 10px 0 0;
}

.tblog_wrap .fans_top ul li img.iconvip {
	margin: 0 8px 0 3px;
	background: url(../images/sicon.gif?id=201109261936) -32px
		-20px;
}

.tblog_wrap .fans_top .no_tblog {
	padding: 21px 8px 17px;
	text-align: center;
}

.tblog_wrap .mbBtnAdd {
	background-position: 0 0;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding-left: 12px;
	color: #fff;
}

.tblog_wrap .mbBtnAdd em {
	background-position: right -35px;
	display: inline-block;
	height: 25px;
	padding-right: 12px;
	color: #fff !important;
	cursor: hand;
}

.tblog_wrap a.mbBtnAdd:hover {
	background-position: 0 0;
	text-decoration: none;
}

.tblog_wrap a.mbBtnAdd:hover em {
	background-position: right -35px;
	display: inline-block;
	height: 25px;
}

.tblog_wrap a.mbBtnAdd .add {
	background: url('../images/add.gif') no-repeat 0 0;
	width: 8px;
	height: 8px;
	margin-right: 5px;
	vertical-align: 0;
}

.tblog_wrap .mbBtnAdd,.tblog_wrap .mbBtnAdd em {
	background-image: url('../images/mbbtnbig.gif');
}

.tblog_wrap .blog_list .list_wrap {
	width: 100%;
	overflow: hidden;
	text-align:left;
	height:219px;
	*zoom:1
}

.tblog_wrap .blog_list .list_wrap .disconn {
	padding: 150px 8px 30px;
	background: url('../images/bg_dissconn.jpg') no-repeat center
		48px;
	text-align: center;
}

.tblog_wrap .blog_list .list_wrap .disconn p {
	padding: 10px 0 0;
}

.tblog_wrap .blog_list .list_wrap .disconn p a {
	font-family: "宋体";
}

.tblog_wrap .blog_list ul {
	margin-bottom: -1px;
	*margin: 3px 0 -4px;
	margin-top: 3px \9;
}

.tblog_wrap .blog_list ul li {
	margin: 0 10px 10px 10px;
}

.tblog_wrap .blog_list ul li .feed_img_lists .small li{margin:0 5px 5px 5px;}


.tblog_wrap .blog_list ul li.focus {
	background: #ecfbfd;
}

.tblog_wrap .blog_list dl {
	padding: 8px;
}

.tblog_wrap .blog_list dl dd {
	line-height: 18px;
}

.tblog_wrap .blog_list dl dd.msg {
	margin-bottom: 3px;
	margin-bottom: 4px \9;
	word-break: break-all;
	word-wrap: break-word;
}

.tblog_wrap .blog_list ul li.focus dd.msg {
	cursor: pointer;
	cursor: hand;
}


.tblog_wrap .blog_list dl dd span.act {
	float: right;
	visibility: hidden;
	white-space: nowrap;
}

.tblog_wrap .blog_list li.focus dl dd span.act {
	visibility: visible;
}

.tblog_wrap .blog_list dl dd span.act a {
	font-family: "宋体";
}

.tblog_wrap .blog_list dl dd span.act em {
	margin: 2px 1px 0;
	color: #c6c6c6;
	line-height: 12px;
	overflow: hidden;
}

.tblog_wrap .fans_list {
	width: 100%;
	overflow: hidden;
}

.tblog_wrap .fans_list .nofans {
	padding: 20px 8px 17px;
	text-align: center;
}

.tblog_wrap .fans_list h4 {
	height: 30px;
	margin: 5px 9px 2px;
	overflow: hidden;
	line-height: 30px;
	font-size:12px;
}

.tblog_wrap .fans_list h4 span {
	float: left;
}

.tblog_wrap .fans_list h4 em {
	color: #5093d5;
	font-family: Arial;
	font-style:normal;
}

.tblog_wrap .fans_list h4 strong {
	font-weight: bold;
}

.tblog_wrap .fans_list h4 a.all {
	float: right;
	font-family: "宋体";
}

.tblog_wrap .fans_list ul {
	overflow: hidden;
	padding: 0 4px;
}

.tblog_wrap .fans_list ul li {
	_display: inline;
	float: left;
	width: 50px;
	height: 72px;
	margin: 0 10px;
	padding-bottom: 12px;
	text-align: center;
	
}

.tblog_wrap .fans_list ul li a.pic {
	display: block;
	width: 50px;
	height: 50px;
	margin-bottom: 3px;
	margin-bottom: 4px \6;
  	*margin-bottom: 3px;
	border:#ccc solid 1px;
	padding:1px
}

.tblog_wrap .fans_list ul li a.name {
	font-family: "宋体";
	vertical-align: middle;
	overflow:hidden;
	display:block;
	height:18px;
	line-height:18px
}

.tblog_wrap a.bg_arrow {
	display: block;
	height: 7px;
	margin: 0 9px;
	padding-top: 3px;
	text-align: center;
	background-image: url(image/ico_tblog_arrow.gif);
}

.tblog_wrap a.bg_arrow:hover {
	background-position: 0 -46px;
}

.tblog_wrap a.bg_arrow img {
    background-image: url(image/ico_tblog_arrow.gif);
}

.tblog_wrap a.arrow_up img {
	background-position: 0 -20px;
	position:absolute;
}

.tblog_wrap a.arrow_up:hover img {
	background-position: 0 -144px;
}

.tblog_wrap a.arrow_down img {
	background-position: 0 -32px;
	position:absolute;
}

.tblog_wrap a.arrow_down:hover img {
	background-position: 0 -148px;
}

.tblog_header a.title,.tblog_header a.title:hover,.tblog_header a.title:visited
	{
	color: #444;
}

/* 外观 start */
.skin01 .wrap_top {
	background: #c0dade;
}

.skin01 .tblog_main {
	border-left: 1px solid #c0dade;
	border-right: 1px solid #c0dade;
}

.skin01 .wrap_bottom {
	background: #c0dade;
}

.skin01 .tblog_header {
	border: 1px solid #effafc;
	border-bottom: 1px solid #c0dade;
	background: #d6f3f7;
}

.skin01 .blog_list ul li.focus {
	background: #ecfbfd;
}

.skin02 .wrap_top {
	background: #cacaca;
}

.skin02 .tblog_main {
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	background: #fafafa;
}

.skin02 .wrap_bottom {
	background: #cacaca;
}

.skin02 .tblog_header {
	border: 1px solid #f3f3f3;
	border-bottom: 1px solid #cacaca;
	background: #e1e1e1;
}

.skin02 a,.skin02 a:link,.skin02 a:hover,.skin02 a:visited,.skin02 .fans_list h4 em
	{
	color: #5093d5;
}

.skin02 .blog_list ul li.focus {
	background: #eee;
}

.skin03 .wrap_top {
	background: #c5d5b4;
}

.skin03 .tblog_main {
	border-left: 1px solid #c5d5b4;
	border-right: 1px solid #c5d5b4;
	background: #f7fcf6;
}

.skin03 .wrap_bottom {
	background: #c5d5b4;
}

.skin03 .tblog_header {
	border: 1px solid #f1f8e9;
	border-bottom: 1px solid #c5d5b4;
	background: #dbedc8;
}

.skin03 a,.skin03 a:link,.skin03 a:hover,.skin03 a:visited,.skin03 .fans_list h4 em
	{
	color: #6a9754;
}

.skin03 a.bg_arrow:hover {
	background-position: 0 -56px;
}

.skin03 a.arrow_up:hover img {
	background-position: 0 -152px;
}

.skin03 a.arrow_down:hover img {
	background-position: 0 -156px;
}

.skin03 .blog_list ul li.focus {
	background: #f0ffe0;
}

.skin04 .wrap_top {
	background: #dec5ba;
}

.skin04 .tblog_main {
	border-left: 1px solid #dec5ba;
	border-right: 1px solid #dec5ba;
	background: #fff9f5;
}

.skin04 .wrap_bottom {
	background: #dec5ba;
}

.skin04 .tblog_header {
	border: 1px solid #fdf3ef;
	border-bottom: 1px solid #dec5ba;
	background: #f9e0d6;
}

.skin04 a,.skin04 a:link,.skin04 a:hover,.skin04 a:visited,.skin04 .fans_list h4 em
	{
	color: #b3726d;
}

.skin04 a.bg_arrow:hover {
	background-position: 0 -66px;
}

.skin04 a.arrow_up:hover img {
	background-position: 0 -160px;
}

.skin04 a.arrow_down:hover img {
	background-position: 0 -164px;
}

.skin04 .blog_list ul li.focus {
	background: #ffefe9;
}

.skin05 .wrap_top {
	background: #e5e5e5;
}

.skin05 .tblog_main {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.skin05 .wrap_bottom {
	background: #e5e5e5;
}

.skin05 .tblog_header {
	border: none;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}

.skin05 .blog_list ul li.focus {
	background: #f3f3f3;
}

.skin06 .wrap_top {
	background: #c5bade;
}

.skin06 .tblog_main {
	border-left: 1px solid #c5bade;
	border-right: 1px solid #c5bade;
	background: #f9f4ff;
}

.skin06 .wrap_bottom {
	background: #c5bade;
}

.skin06 .tblog_header {
	border: 1px solid #f4f1fc;
	border-bottom: 1px solid #ccc5de;
	background: #e3dbf7;
}

.skin06 a,.skin06 a:link,.skin06 a:hover,.skin06 a:visited,.skin06 .fans_list h4 em
	{
	color: #674ba7;
}

.skin06 a.bg_arrow:hover {
	background-position: 0 -76px;
}

.skin06 a.arrow_up:hover img {
	background-position: 0 -168px;
}

.skin06 a.arrow_down:hover img {
	background-position: 0 -172px;
}

.skin06 .blog_list ul li.focus {
	background: #f0eaff;
}

.skin07 .wrap_top {
	background: #e2db9f;
}

.skin07 .tblog_main {
	border-left: 1px solid #e2db9f;
	border-right: 1px solid #e2db9f;
	background: #fffef4;
}

.skin07 .wrap_bottom {
	background: #e2db9f;
}

.skin07 .tblog_header {
	border: 1px solid #fefbe0;
	border-bottom: 1px solid #e2db9f;
	background: #fcf4b1;
}

.skin07 a,.skin07 a:link,.skin07 a:hover,.skin07 a:visited,.skin07 .fans_list h4 em
	{
	color: #9f8c40;
}

.skin07 .blog_list ul li.focus {
	background: #ffffea;
}

.skin08 .wrap_top {
	background: #bebaa0;
}

.skin08 .tblog_main {
	border-left: 1px solid #bebaa0;
	border-right: 1px solid #bebaa0;
	background: #f3efda;
}

.skin08 .wrap_bottom {
	background: #bebaa0;
}

.skin08 .tblog_header {
	border: 1px solid #eeece0;
	border-bottom: 1px solid #bebaa0;
	background: #d4cfb2;
}

.skin08 a,.skin08 a:link,.skin08 a:hover,.skin08 a:visited,.skin08 .fans_list h4 em
	{
	color: #746c4b;
}

.skin08 .blog_list ul li.focus {
	background: #e6e1c6;
}

.skin08 a.bg_arrow {
	background-position: 0 -106px;
}

.skin08 a.bg_arrow:hover {
	background-position: 0 -96px;
}

.skin08 a.arrow_up img {
	background-position: 0 -208px;
}

.skin08 a.arrow_down img {
	background-position: 0 -212px;
}

.skin08 a.arrow_up:hover img {
	background-position: 0 -184px;
}

.skin08 a.arrow_down:hover img {
	background-position: 0 -188px;
}

.skin08 .blog_list ul li.focus {
	background: #e6e1c6;
}

.skin09 .wrap_top {
	background: #bacada;
}

.skin09 .tblog_main {
	border-left: 1px solid #bacada;
	border-right: 1px solid #bacada;
	background: #fafcff;
}

.skin09 .wrap_bottom {
	background: #bacada;
}

.skin09 .tblog_header {
	border: 1px solid #ecf3fa;
	border-bottom: 1px solid #bacada;
	background: #cfe1f3;
}

.skin09 a,.skin09 a:link,.skin09 a:hover,.skin09 a:visited,.skin09 .fans_list h4 em
	{
	color: #5093d5;
}

.skin09 a.bg_arrow:hover {
	background-position: 0 -36px;
}

.skin09 a.arrow_up:hover img {
	background-position: 0 -136px;
}

.skin09 a.arrow_down:hover img {
	background-position: 0 -140px;
}

.skin09 .blog_list ul li.focus {
	background: #e4f0fe;
}

.skin10 .wrap_top {
	background: #3a3a3a;
}

.skin10 .tblog_main {
	border-left: 1px solid #3a3a3a;
	border-right: 1px solid #3a3a3a;
	background: #2b2b2b;
}

.skin10 .wrap_bottom {
	background: #3a3a3a;
}

.skin10 .tblog_header {
	border: 1px solid #7e7e7e;
	border-bottom: 1px solid #3f3f3f;
	background: #464646;
}

.skin10 a,.skin10 a:link,.skin10 a:hover,.skin10 a:visited,.skin10 .fans_list h4 em
	{
	color: #558caa;
}

.skin10 .blog_list ul li.focus {
	background: #3c3c3c;
}

.skin10 .mbTxtB,.skin10 .fans_list h4 span,.skin10 .fans_top .no_tblog,.skin10 .blog_list .list_wrap .disconn,.skin10 .fans_list .nofans,.skin10 .fans_top ul li span
	{
	color: #dcdcdc;
}

.skin10 .tblog_header a.title,.skin10 .tblog_header a.title:hover,.skin10 .tblog_header a.title:visited
	{
	color: #dcdcdc;
}

.skin10 .tblog_header h1 a.title,.skin10 .tblog_header h1 a.title:link,.skin10 .tblog_header h1 a.title:visited,.skin10 .tblog_header h1 a.title:hover
	{
	color: #dcdcdc;
}

.skin10 a.bg_arrow {
	background-position: 0 -126px;
}

.skin10 a.bg_arrow:hover {
	background-position: 0 -116px;
}

.skin10 a.arrow_up img {
	background-position: 0 -192px;
}

.skin10 a.arrow_down img {
	background-position: 0 -196px;
}

.skin10 a.arrow_up:hover img {
	background-position: 0 -200px;
}

.skin10 a.arrow_down:hover img {
	background-position: 0 -204px;
}

.skin10 .blog_list ul li.focus {
	background: #666;
}
/* 外观 end */

.skincdc .tblog_main {
	background: #f9f9f9;
}

.skincdc .wrap_top {
	background: #c0dade;
}

.skincdc .tblog_main {
	border-left: 1px solid #c0dade;
	border-right: 1px solid #c0dade;
}

.skincdc .wrap_bottom {
	background: #c0dade;
}

.skincdc .tblog_header {
	border: 1px solid #effafc;
	border-bottom: 1px solid #c0dade;
	background: #d6f3f7;
}

.skincdc .fans_top .fansphoto {
	display: none;
}

.skincdc .fans_top ul {
	height: 27px;
	margin: 0 9px 0 11px;
	overflow: hidden;
}

.skincdc .fans_top ul li {
	float: left;
	height: 100%;
	padding: 0;
}

.skincdc .fans_top ul li span.gray9 {
	display: none;
}

.skincdc .fans_top ul li a {
	display: inline-block;
	width: 92px;
	height: 27px;
	background: url(../images/ico_skincdc.png);
}

.skincdc .fans_top ul li a strong {
	display: none;
}

.skincdc .fans_top ul li.btn {
	float: right;
	margin: 0;
}

.skincdc .fans_top ul li.btn a.mbBtnAdd {
	display: inline-block;
	width: 76px;
	height: 24px;
	padding: 0;
	background: url(../images/ico_skincdc.png) 0 -40px;
}

.skincdc .fans_top ul li.btn a.mbBtnAdd * {
	display: none;
}

.skincdc .fans_top ul .btn_concern {
	display: inline-block;
	width: 76px;
	height: 24px;
	padding: 0;
	border: none;
}

.skincdc .fans_top ul .btn_concern .ico_rel {
	display: inline-block;
	width: 76px;
	height: 24px;
	background: url(../images/ico_skincdc.png) 0 -90px;
}

.skincdc .fans_top ul .btn_concern .ico_tip {
	display: inline-block;
	width: 76px;
	height: 24px;
	background: url(../images/ico_skincdc.png) 0 -65px;
}

.skincdc .fans_top ul .btn_concern em {
	display: none;
}

.skincdc .mbTxtB,.skincdc .fans_list h4 span,.skincdc .fans_top .no_tblog,.skincdc .blog_list .list_wrap .disconn,.skincdc .fans_list .nofans,.skincdc .fans_top ul li span
	{
	color: #484848;
}

.skincdc a,.skincdc a:link,.skincdc a:hover,.skincdc a:visited,.skincdc .fans_list h4 em
	{
	color: #6c8d87;
}

.skincdc .blog_list ul li.focus {
	background: #e1fbea;
}

.skincdc .blog_list dl {
	background: none;
	border-bottom: 1px solid #e2e2e2;
}

.tblog_wrap .blog_list .list_wrap .disconn .disconn_inner {
	width: 90%;
	margin: 0 auto;
}

.tblog_wrap .blog_list .list_wrap .disconn .textareabox textarea {
	width: 96%;
	padding: 5px 2%;
	height: 60px;
	border: 1px solid #c6c6c6;
	font-size: 12px;
	line-height: 20px;
	color: #999;
	*color: #ccc;
}

.tblog_wrap .blog_list .list_wrap .disconn .txt_rt {
	text-align: right;
}
a.add_atn:link, a.add_atn:visited,a.add_atn:active {
    color: #FFFFFF;
    font-size: 12px;
}

/*分享秀页面样式*/
.side_basicSet h4,.side_basicPreview h4{line-height:30px;font-size:14px;font-weight:bold;padding:0 10px;}
.side_basicSet{margin-right:420px;}
.side_basicPreview{float:right;width:380px;}
.box_basicPre{border:#E5E5E5 solid 1px;border-radius:3px;overflow:hidden}
.box_basicSet{border:#ccc solid 1px;padding:15px 0;display:table;width:100%;*zoom:1;*width:99%;}
.box_Embed_code{}
.block_hisfans h4{font-size:12px;font-weight:400;margin:0 10px}
.block_showBlog{padding:10px}
.block_showBlog b{background-color:#E3E3E3;display:block;height:10px}
.list_setSize{border-bottom:dotted 1px #ccc;margin:0 10px 10px 10px}
.list_setSize dt{font-size:14px;font-weight:bold;margin-bottom:10px}
.list_setSize dd{line-height:25px;padding:0 0 0 15px}
.list_setSize .warning{background: none repeat scroll 0 0 #FEE7E7;border: 1px solid #DFB9BA;color: #CC0000}
.list_showSkin{margin:0 10px 10px 10px;}
.list_showSkin li{float:left;border:#ccc solid 1px;width:30px;height:30px;padding:1px;margin:5px}
.list_showSkin li.on{border:2px solid #a8de86;margin:4px;outline:none;}
.list_showSkin a{display:block;width:30px;height:30px}
.list_showSkin a:hover{opacity:0.5}

.list_showSkin .skin01{background-color:#BCE7ED}
.list_showSkin .skin02{background-color:#C8C8C8}
.list_showSkin .skin03{background-color:#BDE493}
.list_showSkin .skin04{background-color:#FFCBB6}
.list_showSkin .skin05{background-color:#fff}
.list_showSkin .skin06{background-color:#D7C7FF}
.list_showSkin .skin07{background-color:#FFF498}
.list_showSkin .skin08{background-color:#D4CFB2}
.list_showSkin .skin09{background-color:#B1D4F6}
.list_showSkin .skin10{background-color:#464646}
.list_hisFans{padding:0 20px}
.list_hisFans li{float:left;width:50px;margin:5px 8px}
.list_hisFans img{width:50px;height:50px}
.list_hisFans li a{display:block;width:50px;height:25px;line-height:25px;overflow:hidden;text-align:center}
.list_hisinfo{padding:10px;overflow:hidden}
.list_hisinfo h5{margin-bottom:5px}
.list_hisinfo .userFace{float:left;width:50px;height:50px;padding:1px;border:#ccc solid 1px}
.list_hisinfo .userInfo{margin:0 0 0 70px}
.list_showBlog{padding:0 0 10px 0}
.list_showBlog li{line-height:20px;border-bottom:dotted #ccc 1px;padding:10px}
.list_showBlog span{color:#3B5998;display:block}

.list_square{padding:10px;margin:0 -10px 0 0;overflow:hidden;*zoom:1;}
.list_square li{float:left;margin:0 10px 0 0;}
.list_square .userPic{position:relative;}
.list_square .userPic .ckbox{position:absolute;bottom:0;left:0;}
.list_square .title{font-size:12px;font-weight:300;line-height:20px;text-align:center;}

