
html,body,input,select,div,tr,td{font-family:"微软雅黑";}
.arrow-weiba{background-position:0 -258px;width:12px;height:6px;display:block;}

/*群组列表*/
.group-list ul{margin:0 -45px -48px 0;*margin:0 -15px -30px 0;overflow:hidden;*zoom:1;}
.group-list li{float:left;width:290px;height:105px;margin:0 45px 20px 0;*margin:0 30px 20px 0;*padding:0;overflow:hidden;*zoom:1;}
.group-list .group-pic{float:left;width:100px;height:100px;}
.group-list .group-info{margin:0 0 0 120px;}
.group-list .group-info h3{font-size:14px;margin:0 5px 5px 0;display:inline-block;}
.group-list .group-info p{line-height:21px;color:#999;word-break:break-all;}

/*推荐的帖子*/
.recommend-post dl{ border-bottom:#e5e6e7 1px solid;padding:20px 0;}
.recommend-post dl:nth-last-of-type(1){ border:none;padding-bottom:0;}
.recommend-post dt a{font-size:16px;height:16px;line-height:16px; display:inline-block;color:#333;}
.recommend-post dd{line-height:25px;}
/*我的群组*/
.group-list.my-group ul{margin:20px 0 -45px 0;}
.my-group li{width:100%;}
.my-group li .rmenu a{display:block;line-height:25px;}


/*群组排行榜*/
.rank-cate{height:27px;line-height:27px;border-bottom:1px dotted #b9bcbd;overflow:hidden;zoom:1;color:#999;}
.group-rank-list .rank-lists{border-bottom:0;}
.rank-lists{height:44px;line-height:44px;border-bottom:1px dotted #b9bcbd;overflow:hidden;zoom:1;}
.rank-lists .name .face{margin:0 10px 0 0;width:30px;display:inline-block;}
.rank-lists .name{float:left;display:inline-block;_margin:6px 0 0 0;}


/*单个群组*/
.weiba-sort .h{height:30px;line-height:30px;}
.group-info .group-l{margin:0 0 10px 0;}
.group-info .group-l span{font-size:14px;color:#333;line-height:25px;}
.group-info .group-l span a{font-size:12px;}
.group-info .group-l p{color:#999;line-height:23px;}
.group-info .content{color:#333;line-height:23px;word-break:break-all;}
.group-info .content span{color:#333;font-weight:bold;}

/*创建群组*/
.add_group li{padding:10px 0;line-height:20px; overflow:hidden;*zoom:1;}
.add_group li .c1{float:left;width:90px;height:40px;line-height:40px;text-align:right;padding-right:20px;}
.add_group li .c2{margin:0 0 0 90px;_text-align:left;line-height:40px;}
.add_group_head{ font-size:20px;margin-bottom:30px;}
/*邀请好友*/
.page_title.invite-user-info h2{font-size:14px;}
.groupBox .s-txt{width:398px;}

/*成员管理列表样式*/
.memberlist {padding:10px 0 0}
.memberlist dd, .memberlist dt {border-bottom: 1px solid #ddd;padding:8px 0; width: 100%; line-height:18px;}
.memberlist dt{color:#999}
.memberlist dd .ck{vertical-align:middle;margin:9px 15px 10px 0;padding:0}
.memberlist dt .ck{vertical-align:middle;margin:3px 15px 0 0;padding:0}
.memberlist dd .c1, .memberlist dt .c1{float: left; width: 25%}
.memberlist dd .c2, .memberlist dt .c2{float: left; width: 15%}
.memberlist dd .c3, .memberlist dt .c2{float: left; width: 20%}
.memberlist dd .c4, .memberlist dt .c4{float: left; width: 25%}
.pic30 {display:inline-block; vertical-align:middle}
.pic30 img {height:30px; width:30px;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.log {width: 100%}
.log li {clear: both;  border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #CCCCCC; padding-bottom: 10px; padding-top: 5px}
.log li .c1 {float: left; width: 70px}
.log li .c1 img,.join-user dt img{-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;}
.log li .c2 {margin-left:70px;line-height: 20px; color: #666666}
.log li .shijian {line-height: 20px; font-family: Arial, Helvetica, sans-serif; color: #999999;margin-bottom:10px}
.memberlist dd .c1 span img{width:30px;height:30px;float:left;margin:0 10px 0 0;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.memberlist dd .c1,.memberlist dd .c2,.memberlist dd .c3,.memberlist dd .c4{line-height:30px;}

/*最新公告*/
.mod_announcement{background-color: #FFFFCC;border: 1px solid #F5C83C;padding: 10px;line-height: 21px;margin: 0 0 10px;overflow: hidden;_zoom:1;}
.mod_announcement span{padding:0 0 0 15px;background:url(images/ico_left.gif) no-repeat 0 6px;color:#FF6600;display:block;margin:0 30px 0 60px;word-break:break-all;word-wrap:break-word}
.titround_Ann{font-weight:bold;color:#fff;text-align:center;height:21px;line-height:21px;padding:0 5px;background-color:#FF9900;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;float:left}

/*群banner*/
.mod_banner{margin-bottom: 10px;position: relative;width:100%;height: 315px;overflow: hidden;text-align: center;}
.mod_banner p{position: absolute;bottom: 0px;left: 0px;width:100%;text-align: left;}
.mod_banner p span{display: inline-block;padding: 10px;line-height: 38px;font-size: 24px;color: #fff;font-family: "微软雅黑";}
.circle-banner{ width:100%;margin-bottom:20px;}
.circle-banner .baner-pic-area{ width:100%;height:260px; position:relative;}
.circle-banner .banner-pic{ width:100%;height:260px; overflow:hidden;}
.circle-banner .banner-pic img{ width:100%;}
.circle-banner .circle-detail{ position:absolute; bottom:0; left:0;width:100%;height:80px; background:rgba(0,0,0,0.3);color:#fff;}
.circle-banner .circle-detail .pd20{padding:17px 20px;}
.circle-banner .circle-detail h{font-size:20px;font-family: "微软雅黑";}
.circle-banner .circle-detail p{font-size:14px;}
.circle-banner .btn-area{width:120px;height:auto; position:absolute; right:20px; top:93px;}
.circle-banner .btn-area .C-btn-active{ display:inline-block;width:116px;height:32px;line-height:32px;font-size:18px; color:#fff; text-align:center; border:#fff 2px solid; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.circle-banner .btn-area .C-btn-positive{ display:inline-block;width:116px;height:32px;line-height:32px;font-size:18px; color:#949496; text-align:center; border:#949496 2px solid; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;margin-bottom:25px;}
.circle-banner .C-manage{ position:absolute; top:0; right:0;width:80px;height:40px; background:rgba(0,0,0,0.3);line-height:40px;font-size:16px; color:#fff; text-align:center;}
.circle-banner .circle-prof{padding:20px;border:#e5e6e7 1px solid; background:#fff; border-top:none;line-height:25px;}
/*群组弹窗*/
.pop_group{width:400px;padding:20px;text-align:center;}
.pop_group dt,.pop_group dd{margin:0 0 10px 0;}

/*文档*/
.postsList li {color: #999999; height: 20px; line-height: 20px; padding: 5px; overflow:hidden;_zoom:1 }
.postsList li.tit {background-color:#F7F7F7}
.postsList li .c1 {float: left; width: 50%; overflow:hidden; text-align:left;white-space:nowrap;}
.postsList li .c2 {float: left; width: 10%; text-align:center}
.postsList li .c3 {float: left; width: 10%; text-align:center}
.postsList li .c4 {float: left; width: 13%; text-align:center; overflow:hidden; line-height:20px; height:20px}
.postsList li .c5 {float: left; width: 16%}
.postsList dd{padding:0 0 10px 0;overflow:hidden;*zoom:1}
.postsList dd label{width:60px;float:left;line-height:25px}
.postsList dd .c1{margin:0 0 0 70px}
.groupBox .tit_h2 {font-size:12px;margin:10px 0;*margin:10px 0;}
.creator,.newer{background:url(images/user_type.gif) no-repeat 0 0; height:14px; width:14px; display:inline-block}
.newer{background-position:0 bottom}
.dispayIB{display:inline-block}
.groupBox .box1 .fW100_ul{overflow:hidden;*zoom:1;}
.groupBox .box1 .fW100_ul li{margin:0 0 20px 0;clear:both;*zoom:1;*margin:0 0 10px 0;}
.group_Posts_tit {font-size:20px;line-height:24px; background-color: #EDF0F5; margin:10px 0; padding:5px;overflow:hidden;*zoom:1;}
.groupBox .postsList .checkbox{float:left;margin:4px 5px 0 0;display:inline-block;*margin:0 3px 0 0;}


/*邀请好友*/
.prompt_A{float:left; font-size:18px; width:580px; display:block; padding:15px 0; border-bottom:1px solid #EEEEEE; font-weight:bold;_height:20px; margin:0 30px 0 30px;}
.prompt_B{float:left; width:130px; padding:15px 0 15px 10px; text-align:center;}
.Prompt_tishi{float:left; width:440px;}
.Prompt_tishi h2 {float:left; display:block; font-size:14px; line-height:30px; width:440px; padding:15px 0 0 0;}
.Prompt_tishi p{float:left; display:block;}
.Prompt_tishi p.one{width:440px;}
.Prompt_tishi p.two{width:200px; padding:5px 0 0 0;}
.Prompt_tishi p.three{width:200px; padding:5px 0 0 0;}

/*精华帖子*/
.group_Posts_tit {font-size:20px; background-color: #EDF0F5; margin:10px 0; padding:5px;overflow:hidden;*zoom:1;}
.g_quotes {background: none repeat scroll 0 0 #FEFDF4; border: 1px dashed #FFCC00; margin: 10px 0px; padding: 10px;width:535px;overflow:hidden}
.g_quotes h5 {color: #000000; font-size: 14px; font-weight: bold}
.g_quotes em {color: #999999; display: block; font-size: 12px;line-height: 30px}
.g_quotes p {color: #444444; font-size: 14.8px;  }
.mg_lapinfo{display:none;}
.zd,.jh,.sd {display: inline-block; background:url(images/group_BBS.gif) no-repeat 0 0; width:18px; height:20px;text-indent: 20px; vertical-align:middle;overflow:hidden;_zoom:1;}
.jh {background-position:0 -17px; float:left}
.sd {background-position:0 -42px;float:left;}
.zd {background-position:0 2px;float:left;_background-position:0 2px;}
.groupBox .topic-content,.groupBox .reply-content{line-height:25px;}
.groupBox .topic-content img,.groupBox .reply-content img{display:block;max-width:560px;_width:560px;}
.groupBox .topic-content em img,.groupBox .reply-content em img{display:inline;width:auto;height:auto;}

#group-feed-lists .feed_img_lists .small li{width:100px;height:100px;float:left;margin:0 10px 0 0;}
/**圈中掌柜|圈中达人**/
.circle-person{font-size:16px; font-family:"微软雅黑"; display:block;}
.circle-person .active{ color:#0096e6;}
/**群组管理**/
.groupBox{ background:#fff; border:#e5e6e7 1px solid; border-top:none;padding:40px;font-size:16px;}