body,ul,li,dl,dt,dd,p,h1,h2,h3,h4,input{margin:0;padding:0;}
body{font-size:12px;background:#FFFFFF;font-family:Tahoma;color:#404040}
.clear{clear:both;overflow:hidden;}
.clears{clear:both;}
ul{list-style-type:none;}
a{text-decoration:none}
a:link,a:visited{color:#07519A}
a:hover{color:#CC3300;text-decoration:underline;}
select, input {vertical-align:middle;}

.main{margin:0 auto;width:960px;}
.main_l{width:702px;float:left;}
.s_main_l{width:960px;}
*html .main_l{width:700px;float:left;}
.main_r{float:right;padding-left:5px;width:250px;}

#cat{border:1px solid #CCE6F5;margin-bottom:6px;position:relative;}
*html #cat{width:253px;}
#cat .content1{padding:10px 0 10px 0;}
#cat ul li{font-size:13px;height:25px;}
#cat ul li a{display:block;padding-left:10px;height:23px;padding-top:5px}

#info_rec{margin-top:5px;line-height:25px;border:1px solid #CCE6F5;position:relative;}
*html #info_rec{width:253px;}

#wapper{margin:0 auto 0 auto;padding:0;width:960px;}

#top_nav {height:27px;margin:0px;padding:0px;background:#F8F8F8;border-bottom:#E6E6E6 1px solid;}
#top_nav a{color:#224994;}
#top_nav ul li{float:left;margin-left:10px;line-height:27px;}
#top_nav_right{float:right;margin:0 auto;color:#067097;}

#area{margin-top:6px;border:1px solid #CCE6F5;height:1%;position:relative;}
*html #area{width:253px;}
#area .content1{padding:10px 0 10px 3px;}
#area ul li{font-size:13px;height:25px;width:70px;margin:5px;float:left;}
#area ul li a{display:block;padding-left:10px;height:25px;padding-top:5px}

.title1{border-bottom:1px solid #CCE6F5;color:#07519A;font-size:14px;line-height:33px;height:33px;background:url(../images/index_bg.gif) repeat-x;padding-left:5px;font-weight:bold;}
.content1 {padding:10px;}
.tbox{margin-top:6px;border:1px solid #CCE6F5;}

#info_list{border:1px solid #CCE6F5;}
#info_list li{border-bottom:1px dashed #EEEEEE;clear:both;overflow:hidden;padding:12px 0;width:100%;}
#info_list li a.infopic {display:inline;float:left;margin-bottom:3px;margin-left:10px;margin-right:7px;width:84px;height:62px;}
#info_list li a.infopic img {border:1px solid #EEEEEE;display:block;padding:1px;width:80px;}
#info_list .title{font-size:16px;}
#info_list .info{line-height:25px;}

#msg {background:transparent url(../images/msg_bg.gif) repeat-x scroll 0 0;height:24px;padding:4px;border:1px solid #CCE6F5;margin-bottom:5px;}
select, input {padding:1px 0;vertical-align:middle;}
#search #search_sub {margin-left:10px;}
#warn {float:left;margin-top:5px;}
#search {float:right;margin-right:30px;}
#search form{margin-bottom:0;}

.tips{float:right;margin-top:2px;*margin-top:-20px;padding-right:5px;}

#info {padding:10px;min-height:400px;border:1px solid #CCE6F5;margin-bottom:6px;}
#info #title{margin:20px auto 20px;text-align:center;}
#date{padding-bottom:20px;border-bottom:1px dashed #CCE6F5;text-align:center;}
#date span{margin-left:30px;}
#pic img{border:1px solid #CCCCCC;padding:1px;width:125px;height:125px;}

#att{padding:20px 0;font-size:14px;}
#att dl{border-top:1px solid #E2E5EA;border-right:1px solid #E2E5EA;}
#att dl dt{float:left;text-align:right;line-height:32px;width:100px;border-right:1px solid #E2E5EA;background-color:#eff1f7;}
#att dl dd{line-height:32px;padding-left:20px;border-bottom:1px solid #E2E5EA;}

#link{width:600px;margin:20px;font-size:14px;}
#link dl{border-left:2px solid green;height:178px}
#link dl dt{float:left;line-height:25px;width:90px;padding-left:10px;}
#link dl dd{line-height:25px}

.comment{width:700px;margin-top:6px;border:1px solid #CCE6F5;}
#com_count{margin-top:10px;padding-left:20px;}
#mood{margin-top:10px;}
#mood ul li{float:left;width:50px}

#content{width:600px;padding:20px;word-wrap:break-word; overflow:hidden;font-size:14px;line-height:24px;}
.pub_top{margin:0 auto;border:1px solid #FFC686;background-color:#F8F5DA;border:1px solid #FFC686;height:100px;}
.pub_warning{float:left;margin-top:10px;}
.pub_msg{float:left;line-height:20px;padding:10px;text-align:left;}

/*评论页面*/
#comment_list{border:1px solid #CCE6F5;}
#comment_list{margin-top:6px;border:1px solid #CCE6F5;}
#send_comment{border:1px solid #CCE6F5;margin-top:6px;}
#send_comment1{margin-top:10px;}

.com{margin-top:10px;}
.com_title{margin-top:6px}
.com_content{border-bottom:1px solid #CCE6F5;margin-top:6px;padding:10px;cursor:hand;}

/*新闻页面*/
#news_list{border:1px solid #CCE6F5;}
#news_list .title{font-size:16px;}
#news_list ul li{border-bottom:1px dashed #EEEEEE;clear:both;overflow:hidden;padding:12px 0;width:100%;line-height:20px}
#news_list .title{margin-left:20px;}
#news_list .news_content{padding-left:10px;margin:10px}
#news_list .news{padding-left:20px;float:left;}
.news span{margin-right:30px;}
.all{float:right;margin-right:20px;}

#news {padding:10px;min-height:400px;border:1px solid #CCE6F5;word-wrap:break-word; overflow:hidden;}
#news #title{margin:20px auto 20px;text-align:center;}
#news #news_info{padding-bottom:20px;border-bottom:1px dashed #CCE6F5;text-align:center;}
#news #news_info span{margin-left:30px;}
#news #pub_date{margin-left:80px;}

/*公告内页*/
#ann {min-height:400px;padding:10px;border:1px solid #CCE6F5;word-wrap:break-word; overflow:hidden;}
#ann #title{margin:20px auto 20px;text-align:center;}
#ann #ann_info{padding-bottom:20px;border-bottom:1px dashed #CCE6F5;}
#ann #ann_info span{margin-left:30px;}
#ann #pub_date{margin-left:80px;}

#rec_news{border:1px solid #CCE6F5;line-height:25px;position:relative;}
#hot_news{margin-top:6px;border:1px solid #CCE6F5;line-height:25px;position:relative;}
#hot_ann{line-height:25px;}
#hot_ann .content1 ul li{background:transparent url(../images/disc.gif) no-repeat scroll 0 12px;padding-left:5px;}
#hot_ann h2{background:transparent url(../images/user_bg.gif) repeat-x scroll 0 0;border:1px solid #0061AE;color:#FFFFFF;font-size:13px;height:27px;position:relative;text-align:center;}
#hot_ann h2 .l_top{background:transparent url(../images/menu_bg.gif) no-repeat scroll -37px -52px;left:-1px;position:absolute;top:-1px;}
#hot_ann h2 span{height:10px;margin:0;padding:0;width:10px;}
#hot_ann h2 .m_title{}
#hot_ann h2 .r_top{background:transparent url(../images/menu_bg.gif) no-repeat scroll -49px -52px;position:absolute;right:-1px !important;top:-1px;}
#hot_ann .content1{border:1px solid #989898;}

/*公告*/
#ann_nav span{height:30px;}
.ann_nav{height:30px;background:url(../images/ann_nav_bg.gif) repeat-x;margin:0 auto;float:left;margin-bottom:5px;width:952px;}
.ann_nav ul {padding-left:20px;}
.ann_nav ul li{float:left;width:70px;text-align:center;padding-left:5px;padding-right:5px;background:transparent url(../images/menu_tip.gif) no-repeat scroll 0 4px;height:30px;line-height:30px;}
.ann_nav ul li.index{background-image:none;}
.ann_nav ul li a:link,.ann_nav ul li a:visited{font-size:14px;width:70px;font-weight:bold;float:left;color:#ffffff}
.n_left{background:transparent url(../images/menu_bg.gif) no-repeat scroll 0 0;float:left;display:block;height:30px;width:4px;}
.n_right{background:transparent url(../images/menu_bg.gif) no-repeat scroll -5px 0;height:30px;float:left;width:4px;}

#ann_list h1{float:left;font-size:16px;line-height:30px;padding-left:20px;}
.ann_title span{float:right;line-height:30px;padding-right:10px;}
#ann_list .ann_content{font-size:14px;line-height:20px;word-wrap:break-word; overflow:hidden;padding:20px;width:660px;}
#ann_list ul li{margin-bottom:20px;}

.ann span{margin-right:30px;}
.all{float:right;margin-right:20px;}

/*guest*/
#g_main{margin:0;}
.g_a_m, .g_a_l, .g_a_r{background:transparent url(../images/g_act_bg.gif) no-repeat scroll 0 0;}
.g_active_act{height:44px;line-height:50px;margin-bottom:5px;}
.g_a_l{background-position:0 -4px;height:44px;width:14px;float:left;}
.g_a_m{background-position:0 -63px;background-repeat:repeat-x;float:left;height:48px;width:932px;}
.g_a_r{background-position:-191px -4px;float:right;height:44px;width:14px;}
.guest textarea{border:1px solid #CCCCCC;height:80px;padding:3px;width:950px;}
.left{float:left;}
.guest .user_info{overflow:auto;height:30px;margin-top:5px;}
.user_info .left{color:#A67DC8;display:block;height:22px;line-height:22px;}
.right{float:right;}
.user_info .right{display:block;height:22px;}

#guest_list{margin-top:20px;}
#guest_title{color:#333333;font-size:14px;font-weight:bold;height:22px;line-height:22px;margin-top:5px;padding-left:32px;text-align:left;}
#guest_title .count{margin-left:10px;color:#888888;font-size:12px;font-weight:normal;}
.guest_content{color:#333333;font-size:14px;line-height:170%;margin-top:10px;text-align:left;}
.guest_content p{padding:3px 5px;}
.guest_content .g_t{background-color:#F4EBFE;}
.r_content{background-color:#F1F8FE;border:1px solid #C9DCEB;margin-top:8px;}
.r_content .g_b{text-align:right;}

.page{margin-left:10px;}
.footer {text-align:center;border-top:2px solid #CCE6F5;padding-top:10px;margin-top:10px;!important}
*html .footer{margin-top:30px;}
.footer #foot{margin-top:10px;line-height:20px;}
.bluecms{font-weight:700;}
.version{color:#FF9D25;font-weight:700;}