body,ul,li,dl,dt,dd,p,h1,h2,h3,h4,input,form{margin:0;padding:0;}
body{font-size:12px;background:#FFFFFF;font-family:Arial,Verdana,Tahoma,"宋体";color:#404040}
.clear{clear:both;}
*+html .clear{height:auto;}
.clears{clear:both;}
ul{list-style-type:none;}
li{list-style-type:none;line-height:20px;}
a{text-decoration:none}
a:link,a:visited{color:#404040;}
a:hover{color:#CC3300;text-decoration:underline;}
select, input {padding:1px 0;vertical-align:middle;}
.main{margin-top:2px;}

#m_top{margin-bottom:5px;overflow:auto;}
#top_l{float:left;overflow:hidden;width:280px;}
#top_m{border:1px solid #E5E5E5;float:left;margin-left:5px;width:386px;height:460px;}
#top_r{float:left;margin-left:5px;width:280px;}
#top_m ul{margin:5px;}
#top_m ul li{font-size:14px;line-height:24px;text-indent:20px;background:transparent url(../images/disc.gif) no-repeat scroll 10px center;}
#top_m ol{margin:0 5px 5px;padding:0;}
#top_m ol li{font-size:13px;line-height:21px;text-indent:20px;background:transparent url(../images/disc.gif) no-repeat scroll 10px center;}

#top_l p{line-height:20px;margin:0 0 0 10px;}
#top_l p a{word-break:break-all;}
#top_l p strong{color:#333333;font-size:14px;line-height:22px;}
#top_l p img{border:1px solid #E5E5E5;float:left;height:70px;margin-right:10px;padding:2px;width:90px;}
#top_l ul{margin:6px 0 2px;}
#top_l ul li{font-size:12px;line-height:22px;text-indent:20px;background:transparent url(../images/disc.gif) no-repeat scroll 10px center;}

#msg {background:transparent url(../images/msg_bg.gif) repeat-x scroll 0 0;height:24px;padding:4px;border:1px solid #CCE6F5;margin-bottom:1px;}

#flash{padding:0;}
.news_title{margin:5px 5px 0;line-height:30px;background:transparent url(../images/f_n_d.gif) no-repeat scroll 90px 13px;}
.news_title strong{color:#224994;font-size:14px;padding-left:20px;padding-right:5px;background:transparent url(../images/f_n_i.gif) no-repeat scroll 0 0;}
#top_m h2{color:#333333;font-family:Arial,Helvetica,sans-serif,SimSun,"宋体";font-size:20px;font-weight:bold;margin:6px 0;text-align:center;}

/*.login{background:transparent url(../images/log_bg.gif) no-repeat scroll 0 -2px;height:161px;padding:3px 0;}*/
.login form{line-height:30px !important;margin:9px 15px !important;}
.login form span{float:right;}
.login form .input{border:1px solid #DADADA;height:20px;line-height:20px;padding:0 5px;width:100px;}
.login form input{vertical-align:middle;}
.login .sub_btn{width:70px;background:transparent url(../images/log_sub.png) no-repeat scroll left -25px;border:1px solid #C6C6C6;}
.login ul{margin:0;padding:0 15px;}
.login ul li{float:left;height:29px;line-height:18px;margin:2px 0;overflow:hidden;padding:0;text-align:center;text-indent:1em;width:50% !important;}
.login ul li a{font-size:14px;font-weight:bold;color:#224994;}

#content{margin-top:2px;}
#channel{clear:both;}
#c_l{float:left;width:672px;}
#c_r{float:left;overflow:hidden;padding-left:5px;width:282px;}

#news{border:1px solid #CCE6F5;width:670px}
#news img{border:1px solid #E5E5E5;padding:2px;}
.news_cat{clear:both;margin-bottom:5px;border:1px solid #CCE6F5;width:670px;}
.right{float:right;}
.news_cat img{border:1px solid #E5E5E5;padding:2px;}
/*.channel_title{height:25px;line-height:22px;margin-bottom:10px;padding-right:10px;text-align:right;}*/
.channel_title{background:transparent url(../images/n_bg.gif) repeat-x scroll 0 0;text-align:right;border-bottom:1px solid #CCE6F5;color:#07519A;height:30px;line-height:30px;padding-left:10px;padding-right:10px;}
.channel_title strong{float:left;height:25px;text-align:left;width:85px;font-size:14px;}
.cannel-title a{float:right;}
.channel_title .n_i{background:transparent url(../images/n_i.gif) no-repeat scroll left top;float:left;display:block;height:30px;margin-right:10px;width:10px;}

.rec_news{border-right:1px solid #E5E5E5;color:#C72A01;float:left;line-height:22px;text-align:center;width:240px;}
.news_cat img{line-height:22px;text-align:center;}
.rec_news ul{margin:10px 0 0;padding:0;}
.rec_news ul li{line-height:22px;}
.latest_news{margin-left:250px;margin-right:5px;}
.latest_news h2{color:#1D3E8F;font-family:Arial,Helvetica,sans-serif,SimSun,"宋体";font-size:18px;font-weight:bold;line-height:30px;margin:0;text-align:center;}
.latest_news p{color:#7A7A7A;line-height:20px;margin:0;text-align:center;}
.latest_news ul{float:left;margin:10px 0 0;padding:0;width:250px;}
.latest_news ul li{line-height:25px;text-indent:20px;background:transparent url(../images/disc.gif) no-repeat scroll 10px center;}
.latest_news ol{margin:10px 0 0 260px;padding:0;}
.latest_news ol li{line-height:20px;margin-bottom:10px;}
.latest_news ol li img{height:70px;width:115px;}

.info{clear:both;margin:5px 0;border:1px solid #CCE6F5;width:670px;}
.info img{border:1px solid #E5E5E5;padding:2px;}
#latest_info{float:left;width:360px;}
#latest_info h2{color:#B08600;font-family:Arial,Helvetica,sans-serif,SimSun,"宋体";font-size:18px;font-weight:bold;line-height:30px;margin:0;text-align:center;}
#latest_info p{color:#7A7A7A;line-height:26px;margin:0;text-align:center;}
#latest_info ol{float:left;margin:8px 0 0;padding:0;width:130px;}
#latest_info ol li{margin:5px;text-align:center;}
#latest_info ol li img{display:block;height:80px;width:120px;}
#latest_info ul{margin:10px 0 0 145px;padding:0;}
#latest_info ul li{line-height:24px;}
#rec_info{margin-left:370px;}
#rec_info ul{margin:0;padding:0;}
#rec_info ul li{float:left;margin:5px 2px;text-align:center;}
#rec_info ul li img{height:80px;width:120px;}




/*#news{height:190px;border:1px solid #CCE6F5;background:transparent url(../images/new_bg.jpg) repeat-x scroll left top;word-wrap:break-word; overflow:hidden;}
#news .content1 h3 {border-bottom:1px dashed #CCE6F5;height:20px;padding-bottom:5px;}
#news .content1 ul li{background:#fff;}
#news .content1 ul li a {line-height:20px;margin-left:3px;margin-right:3px;}*/
#ann{min-height:100px;border:1px solid #CCE6F5;margin-top:5px;position:relative;height:155px;}
#ann .title1 a{color:#07519A;}
*html #ann{_height:100px;}
#ann h3 {border-bottom:1px solid #CCE6F5;height:15px;padding:5px;}

#help{border:1px solid #CCE6F5;margin-top:5px;position:relative;height:111px;}
#help .help_tab #h1{border-right:1px solid #BFE3FF;width:49.6%;}
#help .help_tab li.current{background:#FFFFFF none repeat scroll 0 0;border-color:#FFFFFF;}
#help .help_tab li.current a{color:#FF6000;}
#help .help_tab li{background:transparent url(../images/help_menu.gif) repeat-x scroll 0 0;border-bottom:1px solid #BFE3FF;display:block;float:left;width:50%;}
#help .help_tab li a{color:#406899;display:block;text-decoration:none;width:100%;}
#help .help_tab li span{cursor:pointer;display:block;font-size:14px;font-weight:bold;height:29px;line-height:29px;padding-left:30px;}
.help_content ul{float:left;padding:5px 10px;}
.help_content #hc_1 li, .help_content #hc_2 li{height:22px;overflow:hidden;width:100%;}


#new_info{border:1px solid #CCE6F5;margin-top:6px;}
#new_pic{margin-top:6px;border:1px solid #CCE6F5;}
#new_pic img{float:left;border:1px solid #CCE6F5;padding:1px;}
#new_pic .arc_pic{float:right;width:190px;}
#new_pic ul li{height:81px;!important}
*html #new_pic ul li{height:78px;}
#new_pic ul li a{margin-left:5px;}
.arc_pic span{margin-left:20px;}

.rec_info{border:1px solid #CCE6F5;max-height:650px;position:relative;}
.title1 .u_rec{background:transparent url(../images/button1.gif) no-repeat scroll 10px 4px;float:right;font-size:12px;font-weight:normal;margin-right:-17px;padding-left:22px;width:80px;}
.title1 .u_rec a{color:#FF6000;}
.rec_info .content1 ul li{width:220px;background:#fff;line-height:25px;background:transparent url(../images/disc.gif) no-repeat scroll 0 12px;}
.rec_info li{border-bottom:1px dashed #CCE6F5}
.rec_info .info_con{padding-left:10px;}

.tbox{margin-top:6px;border:1px solid #CCE6F5;position:relative;}

#hot_info{position:relative;}
#hot_info ul li{width:220px;background:#fff;line-height:25px;}

#kefu{background:transparent url(../images/kefu_bg.gif) no-repeat scroll left top;margin-top:6px;padding:10px;height:170px;margin-bottom:6px!important;}
/**html #kefu{padding:8px 10px 8px 10px;}*/
#kf_content{margin-top:55px;padding-left:15px;}
#kf_content,#kf_content a{color:#2965A3;}
#kefu #g_btn a{color:#fff;}
a.guest_btn{background:transparent url(../images/g_button.gif) no-repeat scroll 0 0;font-weight:bold;float:right;padding-top:3px;padding-left:20px;height:21px;width:65px;}
#kefu h3{margin-bottom:10px;}
*html #kefu ul li img{margin:4px 0;vertical-align:middle;}

.index_cat{border:1px solid #CCE6F5;margin-top:5px;}
.index_cat .more{float:right;margin:10px;}
.index_cat h3 {border-bottom:1px solid #CCE6F5;height:15px;padding:5px;}
.index_cat .content a{}

#wapper{margin:0 auto 0 auto;padding:0;width:960px;}
#top,.content{margin:0 auto;padding:0px;width:960px;}
#left{width:610px;height:600px;float:left;padding-top:10px;}
*html #left{width:610px;height:100%;float:left;padding-top:10px;}
*+html #left{width:610px;height:1204px;float:left;padding-top:10px;}
#right{width:280px;height:100%;float:right;padding-top:10px;}

.title1{color:#07519A;font-size:14px;border-bottom:1px solid #BFE3FF;line-height:33px;height:33px;background:url(../images/index_bg.gif) repeat-x;padding-left:5px;font-weight:bold;}
.title1 dl dt{width:80px; float:left;color:#333;padding-left:5px;}
.title1 dl dd{color:#AAA; float:right;margin-right:10px;display:inline;}
.title1 dl dd img{margin-top:5px;}
.title1 dl dd a{color:#313131;}

.content1 {padding:10px;}
.content1 ul li a {line-height:20px;margin-left:10px;}
.content1 ul li{background:transparent url(../images/disc.gif) no-repeat scroll left center;}
.content1 p{margin-bottom:6px;}
.content1 h3{text-align:center;margin-bottom:5px;}

.date{float:right;display:inline}

#top_nav {height:22px;margin:0px;padding:0px;background:#F8F8F8;border-bottom:#E6E6E6 1px solid;}
#top_nav_right{float:right;margin:0 auto;color:#067097;padding:3px;}
a.logo img{width:215px;height:72px;float:left; border:none;}
#top dl{float:right;padding:20px 0px 0px 0px;}
#top dl dt{font-size:14px;font-weight:bold;line-height:22px;color:#595959;}
#top dl dd{line-height:22px;color:#808285;}

/*.nav .nav_l, .nav .nav_c, .nav .nav_r{background:url(../images/nav_bg.gif);float:left;};*/
.nav{height:48px;margin:0 auto;font-weight:bold;width:964px;}
.nav_l{float:left;background:url(../images/nav_bg_l.gif) no-repeat scroll 0 0;height:48px;width:5px;}
.nav_c{float:left;background:url(../images/nav_bg_c.gif) repeat-x scroll 0 0px;height:48px;width:952px;}
.nav_r{float:left;background:url(../images/nav_bg_r.gif) no-repeat scroll 0 0px;height:48px;width:5px;}
/*.nav a.current, .nav a:hover{background:transparent url(../images/nav_hover.gif) no-repeat scroll center top;color:#235E99;text-decoration:none;}*/
.nav ul {padding-left:20px;}
.nav ul li{background:transparent url(../images/menu_tip.gif) no-repeat scroll 0 center;float:left;width:70px;text-align:center;padding-left:5px;padding-right:5px;height:48px;line-height:48px;}
.nav ul li#index{background-image:none;}
.nav ul li a:link,.nav ul li a:visited{font-size:14px;width:70px;float:left;color:#ffffff}
h1{font-size:14px;font-weight:bold;color:#333333;line-height:25px;float:left;padding:0px 0px 0px 6px;text-align:left;}

.active_act{height:30px;border:1px solid #F1FAFF;margin-bottom:5px;line-height:30px;padding:0 12px;}
 /*搜索*/
 #warn{float:left;margin-top:5px;}
 #time{float:left;margin-top:5px;margin-left:15px;}
 #search{float:right;margin-right:30px;}
 #search #search_sub{margin-left:10px;}
 #search form{margin-bottom:0;}

/*登录框*/
.login_input{background-position:-61px 0;border-color:#636363 #C1C1C1 #C1C1C1 #636363;border-style:solid;border-width:1px;color:#000000;height:18px;padding-left:5px;padding-top:5px !important;width:138px;}
#logining{border:1px solid #D4E4FA;padding:8px;height:164px;background:transparent url(../images/login_bg.gif) repeat-x scroll left top;}

#logining form{margin-bottom:0;}
#logining h3{margin-bottom:8px;}
#logining a{margin-left:5px;text-decoration:none;}
.login{float:left;width:50px;}
#logining dl{height:24px;line-height:24px;margin-top:12px;}
*html #logining dl{height:14px;margin-top:6px;}

#userinfo{padding:8px;border:1px solid #CCE6F5;height:164px;background:transparent url(../images/login_bg.gif) repeat-x scroll left top;}
#userinfo h2{margin-bottom:8px;}
#userinfo .welcome {background:#F9F9F9 none repeat scroll 0 0;border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;color:#666666;height:24px;line-height:23px;margin:12px auto;text-indent:10px;width:220px;}
#userinfo .welcome strong {color:#FF6600;font-weight:bold;}
#userinfo .userface {float:left;height:66px;overflow:hidden;padding-left:16px;padding-top:2px;width:66px;}
#userinfo .userface a {display:block;margin:0 auto;text-align:center;}
#userinfo .userface a img {border:1px solid #DDDDDD;display:block;height:60px;margin:0 auto 6px;padding:2px;width:60px;}
#userinfo .mylink {float:left;overflow:hidden;width:144px;margin-left:20px;}
#userinfo .mylink ul li {line-height:21px;text-indent:12px;width:100px;}


#content{}
#content_left {float:left;width:645px;}
.f_content{width:645px;height:155px;}
.f_content .search{width:366px;margin-left:5px;float:left;border:1px solid #CCE6F5;}
.search .form{margin-top:5px;}
.search .s_content1{height:120px!important;padding-left:10px;}
.search .s_content1 #cid{width:224px;}
.search .s_content1 #aid{width:224px;}
#content_left .index_cat{width:318px;float:left;}
.right{margin-left:5px;}

#new_infos{float:left;width:270px;border:1px solid #CCE6F5;position:relative;}
#cat{border:1px solid #CCE6F5;margin-top:5px;}

.head_line ul li{width:310px;float:left;}

.pic_info{font-size:14px;overflow:auto;}
.pic_info .content_pic{width:360px;float:left;}
.content_pic ul li{float:left;width:120px;background:#fff;}
.content_pic img{border:1px solid #CCCCCC;width:100px;height:80px;padding:2px;}
.pic_info .content_title{float:left;margin-left:5px;width:250px;}

#content_right {float:right;width:310px;}
#r1{background-image:url(../images/login_bg.gif);background-repeat:repeat-x;height:155px;width:308px;border:1px solid #CCE6F5;}
.r1_top{height:40px;line-height:30px;margin:0 auto;width:290px;}
.r1_middle{margin:0 auto;width:308px;}
.r1_middle .m1{background-position:0 0;}
.r1_middle .m2{background-position:0 0;}
.m{float:left;background:transparent url(../images/info_i_bg.gif) no-repeat scroll;width:120px;height:38px;line-height:38px;text-align:center;margin-left:22px;margin-top:5px;}
.m a{font-size:14px;}
.r1_bottom{margin:8px auto 0;width:290px;}

#f_p{padding-top:10px;}
#f_p tr td{padding-right:10px;}
/*底部信息*/
.footer {text-align:center;border-top:2px solid #CCE6F5;padding-top:10px;margin-top:10px;!important}
.footer a{color:#07519A}
.footer a:hover{color:#CC3300}
.footer #foot{margin-top:10px;line-height:20px;}
.bluecms{font-weight:700;}
.version{color:#FF9D25;font-weight:700;}
/* 常用便民电话 */
.telad{border:1px solid #CCE6F5;overflow:hidden;margin-top:1px;}
.telad .title{height:33px;line-height:33px;background:url(../images/index_bg.gif) repeat-x;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCE6F5;}
.telad .title dl dt{width:80px; float:left;color:#333;padding-left:5px;}
.telad .title dl dd{color:#AAA; float:right;margin-right:10px;display:inline;}
.telad .title dl dd a{color:#313131;}
.telad .telad .title a{color:#313131;float:left;height:31px;line-height:31px;white-space:nowrap;margin-right:5px;margin-bottom:5px;}
.telad .teladl{width:100%;float:center;margin:5px auto 5px auto;overflow:hidden;}
.telad .teladl ul{float:left;list-style-type: none;line-height:20px;}
.telad .teladl ul li{width:155px;text-align:center;float:left;margin:0px 2px;}

/* 友情链接 */
.link{margin:6px auto 0 auto;border:1px solid #CCE6F5;overflow:hidden;}
.link .title{height:33px;line-height:33px;background:url(../images/index_bg.gif) repeat-x;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCE6F5;}
.link .title dl dt{width:80px; float:left;color:#333;padding-left:5px;}
.link .title dl dd{color:#AAA; float:right;margin-right:10px;display:inline;}
.link .title dl dd a{color:#313131;}
.link .content{color:#333;line-height:10px;padding:8px 0;margin-bottom:6px;}
.link .content a{line-height:31px;}
.link .content .text a{margin:2px 6px;}
.img{height:1%;}
.img ul li{float:left;border:1px solid #CCE6F5;height:31px;width:88px;margin:5px;padding:1px;}
.img img{display:block;}
*html .img ul li {width:78px;}