body{color:#404040;font-family:Arial,Helvetica,sans-serif,SimSun,"ËÎÌå";font-size:12px;margin:0}
.wapper {clear:both;float:none;margin:0 auto;width:910px;}
.warning {color:#FF0000;}
.clear{clear:both;}
ul{list-style-type:none;margin:0;padding:0;}
li{list-style-type:none;line-height:20px;}
a{text-decoration:none;color:#07519A}
a:hover{color:#07519A;text-decoration:underline}
.active_act{background-color:#FBFBFB;border-bottom:2px solid #EAEAEA;border-top:2px solid #006CCE;font-size:13px;padding:5px 10px;}
img{cursor:pointer;}
#top_nav {height:27px;margin:0px;padding:0px;background:#F8F8F8;border-bottom:#E6E6E6 1px solid;}
#top_nav a{color:#224994;}
#top_nav ul li{float:left;margin-left:10px;line-height:27px;}
#top_nav_right{float:right;margin:0 auto;color:#067097;}
a.logo img{width:215px;height:72px;float:left; border:none;}
#top dl{float:right;padding:20px 0px 0px 0px;}
#top dl dt{font-size:14px;font-weight:bold;line-height:22px;color:#595959;}
#top dl dd{line-height:22px;color:#808285;}
h2 a{color:#006CCE}
.inputbox {border-color:#666666 #DDDDDD #DDDDDD #666666;border-style:solid;border-width:1px;margin:0;padding:2px 0;height:18px;width:140px}
.email{width:200px;}
select, input {padding:1px 0;vertical-align:middle;}

/*---------µÇÂ½ºÍ×¢²á------------*/
#r_content{height:100%;overflow:hidden;background:#F0EFF7;}
#r_content form{text-align:left;background:#fff;margin:5px;height:100%;overflow:hidden;}
#r_content form dl{margin:20px 0;padding:0 20px;height:100%;overflow:hidden;}
#r_content form h2{font-size:16px;line-height:28px;padding-left:10px;background:#F0EFF7;}
#r_content form h2 span{font-size:12px;line-height:28px;padding-left:20px;font-weight:normal;color:#666666!important}
#r_content form dt{height:30px;font-size:14px;}
#r_content form dt b{margin-right:5px;color:red}
#r_content form dt span{font-size:12px;font-weight:normal;color:#000;padding-left:8px;}
#r_content form dd{color:#999;padding-left:45px;padding-bottom:10px;}

.footer {text-align:center;border-top:2px solid #CCE6F5;padding-top:10px;margin-top:10px;!important}
.footer #foot{margin-top:10px;line-height:20px;}
.bluecms{font-weight:700;}
.version{color:#FF9D25;font-weight:700;}