@charset "gb2312";
/*--------------------------
说明：内容页样式
最后修改时间：2008年10月21日
By：haxiyang
Email:haxiyang@yeah.net
---------------------------*/
/*
#description{display:block;line-height:30px;border-left:1px solid #E4E4E4;text-align:left;padding-left:4px;float:left;margin-top:22px}
#description h2{font-size:22px;overflow:hidden;font-family:"微软雅黑";}
*/
/*整体布局*/
#connterleft{float:left;width:756px;}
#connterright{width:197px;float:right;background:#F6F6F6;border-left:1px solid #F0EFF5;overflow:hidden}/*标准198（边框1px）*/

/*面包屑*/
#msg{background:url(../images/msgbg.gif) repeat-x bottom;height:35px;line-height:35px;}
.msg1{margin-left:2px;}
.msg1 a{color:#333;text-decoration:underline;}
.msg2{width:450px;text-align:right;margin-right:2px}



/* 右边栏*/
#searchpagelist li{line-height:25px;font-size:12px;}
#searchpagelistli a:hover{background:#F0EFF7}
.searchpageliston a{color:#333}

/*---------------------------------------------------------信息搜索页--------------------------------------------------------------------------------------*/
/*搜索提示*/
#searchpagemsg{padding:5px 5px 5px 28px;line-height:25px;background:url(../images/iconbg.gif)  no-repeat  0px 10px ;}

#searchpagenav{height:100%;overflow:hidden;clear:both;}
#searchpagenav a{display:block;float:left;padding:5px;margin-right:5px;font-size:14px;color:#333}
#searchpagenav a:hover,.searchpagenavon{background:#F0EFF7;color:#F54100!important;}
#searchpagemore ul{background:#F0EFF7;clear:both;line-height:30px;height:100%;overflow:hidden;padding:5px;}
.lsearchpageinput{width:228px;height:20px;}
#searchpagemore ul form span{margin-left:15px}

#searchpagelistt{font-size:14px;line-height:30px;border-bottom:1px solid #ccc}
#searchpagelist ul li{margin-bottom:6px;border-bottom:1px dotted  #ccc;padding-bottom:6px}
#searchpagelist ul li h3{font-size:16px;font-weight:normal;line-height:30px;}
#searchpagelist ul li h3 a{color:#0235CC;text-decoration:underline;}
#searchpagelist ul li p{line-height:20px;}
#searchpagelist ul li div{line-height:20px;}
#searchpagelists{line-height:25px;background:url(../images/iconbg.gif)  no-repeat #FEFFCB  0px 10px ;padding:5px 5px 5px 28px;}

#searchleftlist li{line-height:20px;}

/*---------登陆和注册------------*/
#mainlogin{height:100%;overflow:hidden;background:#F0EFF7;}
#mainlogin form{text-align:left;background:#fff;margin:5px;height:100%;overflow:hidden;}
#mainlogin form dl{margin:20px 0;padding:0 20px;border-right:1px solid #ccc;height:100%;overflow:hidden;}

#mainlogin form h2{font-size:16px;line-height:28px;padding-left:10px;background:#F0EFF7;}
#mainlogin form h2 span{font-size:12px;line-height:28px;padding-left:20px;font-weight:normal;color:#008000!important}
#mainlogin form dt{height:30px;color:#F54100;font-size:14px;font-weight:bold;}
#mainlogin form dt b{margin-right:5px}
#mainlogin form dt span{font-size:12px;font-weight:normal;color:#000;padding-left:8px;}
#mainlogin form dd{color:#999;padding-left:115px;padding-bottom:10px;}

#agreement div span{background:none;display:inline}
#sumbitmsg{border:1px dotted #ff6600;background:#FFFF99;display:block;line-height:25px;margin-bottom:8px}

.subpageleftc #registerform input{width:140px;}
.subpageleftca{padding-left:84px}
.subpageleftca input{width:70px;float:left}
.subpageleftca span{line-height:25px;}

.subpageleftcd{font-size:12px!important;font-weight:normal!important;line-height:25px;border-top:1px dotted #CCc;margin-top:20px;color:#000!important;padding-top:10px;height:100px!important}
.subpageleftcd a{font-size:12px;font-weight:normal;color:red;#FE4A00}

#loginform dl{width:380px;}
#loginformr{width:380px;margin:20px 0px;padding:0 40px 0 20px}
#loginformr h3{margin-bottom:20px;font-size:16px}
#loginformr span{line-height:20px;padding:10px 0}
/*注册成功*/
#registered1{width:450px;padding:20px 8px 8px 50px;height:280px;line-height:25px;border-right:1px solid #ccc;margin:10px 0;height:100%;overflow:hidden}
#registered1 img{width:96px;height:96px;border:1px solid #F0EFF7;padding:2px;margin-right:12px;}
#registered2 li a{padding-left:30px;background:url(../images/iconbg.gif)  no-repeat  0px -756px ;line-height:30px;display:block;height:30px;overflow:hidden}
#registered2 li a:hover{background:url(../images/iconbg.gif)  no-repeat  0px -793px ;line-height:30px;display:block}
#registered2on a{background:url(../images/iconbg.gif)  no-repeat  0px -793px!important ;}

.submitts{border:1px solid #FFE3B9;background:#FFFFCC;margin-top:6px;padding:5px 5px 5px 50px;line-height:25px;background:url(../images/iconbg.gif) no-repeat #FFFFCB 10px -240px;color:#F54100;width:320px;margin-bottom:6px}

/*举报中心*/
#subpageleft{width:716px;float:left;margin-top:6px;padding:10px 20px;border:1px solid #ccc}
#subpageleft h1{font-size:16px;line-height:40px}
#subpageleft dt{line-height:30px}
#subpageright{width:198px;float:right;margin-top:6px}/*6的33倍*/
#subpageright .rightbox{border:1px solid #F0EFF7;background:#F6F6F6;padding:5px}
#subpageright .rightbox h2{color:#008000;font-size:12px;font-weight:normal;border-bottom:1px solid #E2E2E2;line-height:25px}
#subpageright .rightbox ul li{line-height:22px;margin-bottom:6px}

/*密保*/
#mibao{height:100%;overflow:hidden;background:#F0EFF7;}
#mibao{text-align:left;background:#fff;margin:5px;height:100%;overflow:hidden;}
#mibao dl{margin:20px 0;padding:0 20px;border-right:1px solid #ccc;height:100%;overflow:hidden; width:400px;}
#mibao h2{font-size:16px;line-height:28px;padding-left:10px;background:#F0EFF7;}
#mibao h2 span{font-size:12px;line-height:28px;padding-left:20px;font-weight:normal;color:#008000!important}
#mibao dt{height:30px;color:#F54100;font-size:14px;font-weight:bold; clear:both;}
#mibao dd{color:#999;padding-left:50px;padding-bottom:10px;}


/*注册协议*/
#agreement{border:2px solid #F0EFF7;margin-top:6px;}
#agreement h1{background:#F0EFF7;font-size:16px;line-height:30px;text-align:center;color:#F54100}
#agreement h1 a{margin-left:10px}
#agreementp{padding:10px;line-height:20px;}
#agreementp p{margin-bottom:10px}
#agreement h2{text-align:center;font-size:16px;line-height:40px}

