/* reset.css */
html,body,h1,h2,h3,h4,h5,h6,p,hr,blockquote,dl,dt,dd,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}
small{font-size:12px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
th{border-top:2px solid #BBB;background-color:#F7F7F7;font-weight:bold;}
td,th{padding:5px 5px;}
p{display:block; margin:10px 0;}
hr{border:0;height:1px;*color:#fff;}
embed{border:1px dashed #FF4E4E;display:block;margin:0 auto;}
pre{margin-left:2em;border-left:3px solid #CCC;padding:0 1em;}
/* only for iframe */
body {background:#FFFFFF;font:14px/1.5 "sans serif",tahoma,verdana,helvetica;word-wrap:break-word;background-color:#ffffff;padding:5px 0;}
a {color:blue; text-decoration:underline; }
h2{line-height:24px;font-weight:bold;font-size:18px;border-bottom:1px dashed #C0C0C0;padding-bottom:5px;margin:15px 0 8px;clear:both;}
h3{line-height:22px;font-weight:bold;font-size:16px;margin:10px 0;}

/* plugin HdImage */
body{word-wrap:break-word;}
.img{background:none repeat scroll 0 0 #FAFAFA;border:1px solid #CCCCCC;color:#666666;font-size:12px;padding:3px;text-align:center;overflow:hidden;}
.img strong{clear:both;display:block;font-size:12px;font-weight:normal;line-height:18px;padding-top:10px;color:#333333;}
.img_c{margin:0 auto;}
.img_l{clear:left;float:left;margin:5px 20px 5px 5px;}
.img_r{clear:right;float:right;margin:5px 5px 5px 20px;}

/* plugin hdwiki */
.hdwiki_tmml {font-size:20px; border-bottom:1px dashed #9b9b9b;display:block;clear:both;float:none;margin:10px 0;padding: 0 0 5px;font-weight: bold}
.hdwiki_tmmll {font-size:18px; font-weight:bold; display:block;clear:both;float:none;}
