* {
margin:0;
padding:0;
}
body {
font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
font-size:12px;
margin:0;

}
#top_nav{background:#CEE6F5 none repeat scroll 0 0;
border-bottom:1px solid #E6E6E6;
height:25px;
margin:0;
padding:0;
}
#go_back{font-size:14px;margin-left:10px;}

#login {
margin:10em auto;
width:320px;
}

form {
-moz-border-radius-bottomleft:11px;
-moz-border-radius-bottomright:11px;
-moz-border-radius-topleft:11px;
-moz-border-radius-topright:11px;
-moz-box-shadow:0 4px 18px #C8C8C8;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #E5E5E5;
font-weight:normal;
margin-left:8px;
padding:16px 16px 40px;
}
form .remember {
float:left;
font-weight:normal;
margin-bottom:0;
}
#login form .submit input {
border:1px solid;
cursor:pointer;
font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
font-size:12px;
margin-top:-3px;
padding:3px 10px;
text-decoration:none;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
}
#login form p {
margin-bottom:0;
}
label {
color:#777777;
font-size:13px;
}
form .remember label {
font-size:11px;
line-height:19px;
}
form .submit {
float:right;
}
form p {
margin-bottom:24px;
}
h1 a {
background:transparent url(../images/index_logo.gif) no-repeat scroll center top;
display:block;
height:67px;
overflow:hidden;
padding-bottom:5px;
text-indent:-9999px;
width:326px;
}
#user_pass, #user_login {
background:#FBFBFB none repeat scroll 0 0;
border:1px solid #E5E5E5;
font-size:20px;
margin-bottom:16px;
margin-right:6px;
margin-top:2px;
padding:3px;
width:97%;
height:24px;
}
.clear {
clear:both;
}