body{
  font-family:"ו", Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color: #555;
  margin: 5px;
}

#clean_cache{background-color:#FCEDC4;border:1px dashed #000;width:735px;padding:10px}
#clean_cache h4{padding-left:10px;}
.page{height:20px;margin-top:10px;padding:5px;}

.nochange{
	background-color:#CCCCCC;
}

a:link,a:visited{
	color:#2366A8;
	text-decoration:none;
}

input[type=image]{ border:none }
input[type=checkbox]{ border:none }
.input_radio{
	border:0;
}
input[name=nid]{background-color:#F4F4F4;}
.button{
	cursor:pointer;
}

#soft_update{min-height:100px;border:1px solid #CEE6F5;line-height:20px;margin-bottom:6px;}
#system_info{min-height:200px;border:1px solid #CEE6F5;line-height:20px;margin-bottom:6px;}
#team{min-height:200px;border:1px solid #CEE6F5;line-height:20px;margin-bottom:6px;}

.title{background-color:#F7FBFE;padding:5px;}


#pic_show span {display:block;float:left;margin-right:10px;width:100px;}

optgroup{color: #666666;font-style: normal;background-color: #F7FBFE;}

.np{ border:0px; }

img{border:0px;}
td{padding: 5px;vertical-align: middle;margin: 5px;}

.datalist td{border-bottom:1px dotted #DEEFFB;}

#ucmysql tr td {padding-left:0;}

a{color:#000;}
a:hover{color:#FF0000;text-decoration:none;}

.datalist_title{border-bottom:1px solid #4294D0;background-color:#F7FBFE;}
.warning{color: #FF0000;}
.warning1{border:1px solid #CEE6F5;padding:5px;margin-bottom:6px;color:#FF0000;}}
.action_nav{font-weight: bold;margin-top:10px;margin-left:15px;}

#footer {text-align:center;border-top:2px solid #CCE6F5;padding-top:10px;margin-top:10px;!important}
#footer #foot{margin-top:10px;line-height:20px;}
.bluecms{font-weight:700;font-family:Tahoma;}
.version{color:#FF9D25;font-weight:700;}