*{
	padding:0px;
	margin:0px;
}
body{
	color:#333333;
	font-family:Arial;
	font-size:12px;
	margin:0px;
	background-color: #fff;
	background-image: url(../images/left_bg_top.gif);
	background-repeat: repeat-y;
	background-position: right center;
	padding-top: 5px;
}
/*---- link --------------*/
a{
	color:#000;
}
a:hover{
	color:#FFFF00;
	text-decoration:none;
}
/*---- menu style --------------*/
.menu{
	width:152px;
	margin-left:auto;
	margin-right:auto;
}
.menu dl{
	margin-top:2px;
}
.menu dl dt{
	background:url(../images/menu_title_bg.jpg) top left repeat-x;
}
.menu dl dt a{
	height:20px;
	padding-top:3px;
	line-height:19px;
	width:152px;
	display:block;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:url(../images/ico_1.gif) 10px 7px no-repeat;
	text-indent:30px;
	letter-spacing:2px;
}
#arc_cat ul li a{
	background:url(../images/ico_3.gif) 10px 7px no-repeat;
}

#info ul li a{
	background:url(../images/ico_3.gif) 10px 7px no-repeat;
}
.menu dl dt a:hover{
	color:#e8f3fd;
}
.menu dl dd ul{
	list-style:none;
}
.menu dl dd ul li a{
	height:22px;
	widows:152px;
	display:block;
	line-height:22px;
	text-indent:28px;
	color: #000;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #cad9ea;
	border-bottom-color: #cad9ea;
	border-left-color: #cad9ea;
	background-color: #f2f9fd;
	background-image: url(../images/ico_2.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	border-top-color: #f2f9fd;
}
.menu dl dd ul li a:hover{
	color:#239fe3;
	background-color: #e8f3fd;
	/*background-image: url(../images/ico_1.gif);*/
	background-repeat: no-repeat;
	background-position: 10px center;
}
