*{
	padding:0px;
	margin:0px;
}
body{
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	height:76px;
	overflow:hidden;
	background:url(../images/top_bg_hr.jpg) left top repeat-x;
}

/*---- link --------------*/
a{
	color:#000;
}
a:hover{
	color:#F00;
	text-decoration:none;
}

/*---- Top Nav --------------*/
.topnav{
	width:100%;
	height:76px;
	background:url(../images/logo.gif) left top no-repeat;
	text-align:right;
	overflow:hidden;
	float:right;
}
.sitenav{
	float:right;
	line-height:31px;
	margin-top:5px;
	clear:both;
	margin-right:10px;
}
.sitenav .welcome{
	float:left;
	color:#333333;
	margin-right:10px;
}
.sitenav .welcome a{
	display:block;
	margin-top:8px;
	float:left;
	margin-right:4px;
}
.sitenav .welcome .username{
	color:#006699;
	font-weight:bold;
}
.sitenav .sitelink{
	float:left;
	background:url(../images/top_sitelink_bg.gif) left center no-repeat;
	padding-left:10px;
	color:#d6e1ef;
	padding-right: 10px;
}
.sitenav .sitelink a{
	color:#333;
	margin:5px;
	text-decoration: none;
}
.sitenav .sitelink a:hover{
	color:#006699;
	text-decoration:underline;
}

.leftnav{
	display:block;
	clear:both;
	float:right;
	margin-top:10px;
	height:30px;
	width:100%;
}
.leftnav ul{
	height:30px;
	list-style:none;
	display:block;
	float:right;
	margin-right:4px;
	background-image: url(../images/top_nav_bg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.leftnav ul li.navleft{
	width:10px;
	height:30px;
	background-image: url(../images/top_nav_left.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.leftnav ul li.navright{
	width:10px;
	height:30px;
	background-image: url(../images/top_nav_right.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.leftnav ul li{
	float:left;
}
.leftnav ul li a{
	display:block;
	line-height:28px;
	color:#006699;
	width:74px;
	text-align:center;
	text-decoration: none;
	background-image: url(../images/top_nav_sr.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 2px;
}
.leftnav ul li a:hover,.leftnav ul li.thisclass a{
	color:#fff;
	line-height:30px;
	font-weight:bold;
	text-decoration:none;
	height: 30px;
	background-image: url(../images/top_nav_on.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 0px;

}
