@import "tablebox.css";

*{
	padding:0px;
	margin:0px;
}
body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(images/top-bg.png) left top repeat-x;
	background-color:#FFF;
}
ul{
	list-style:none;
}
a{
	color:#06C;
}
a:hover{
	color:#669900;
	text-decoration:none;
}
input,button,select{
	vertical-align:middle;
}
.fc-690{
	color:#690;
}
.fs-14{
	font-size:14px;
}

.top{
	width:960px;
	height:72px;
	overflow:hidden;
	margin:0px auto;
}
.top .top-logo{
	width:280px;
	height:72px;
	float:left;
	padding-left:10px;
	background:url(images/top-logo.png) 10px 0px no-repeat;
	overflow:hidden;
}
.top .top-logo h1{
	font-size:0px;
	line-height:1000%;
}
.top .top-link{
	height:15px;
	padding:12px 12px 0px 0px;
	overflow:hidden;
}
.top .top-link ul{
	height:15px;
	float:right;
	overflow:hidden;
}
.top .top-link ul li{
	float:left;
	padding-left:10px;
	padding-right:10px;
	border-left:1px solid #E8F5E3;
	margin-left:-1px;
	line-height:14px;
}
.top .top-link ul li a{
	text-decoration:none;
	color:#555;
}
.top .top-version{
	height:40px;
	float:right;
	padding:7px 12px 0px 0px;
}
.top .top-version h2{
	color:#E8F5E3;
	font-size:26px;
	font-style:italic;
	cursor:default;
}

.main{
	width:900px;
	margin:14px auto 0px;
}

.main .pleft{
	width:168px;
	float:left;
	cursor:default;
	padding-top:6px;
}
.main .pright{
	width:720px;
	float:right;
}


.pr-title{
	width:720px;
	height:22px;
	margin:8px auto 0px;
	background:url(images/boxtitle_bg.gif) 0px 20px repeat-x;
	overflow:hidden;
}
.pr-title h3{
	width:158px;
	height:22px;
	line-height:22px;
	overflow:hidden;
	display:block;
	font-size:12px;
	padding-top:1px;
	text-indent:10px;
	background:url(images/boxtitle_bg.gif) 0px -2px no-repeat;
	letter-spacing:2px;
	color:#6D8A4F;
	font-weight:bold;
}

.t1{
	width:162px;
}
.t1 dt{
	width:162px;
	height:25px;
	line-height:25px;
	background:url(images/leftbox-tbg.png) no-repeat;
	font-weight:bold;
	color:#7D9F5C;
	text-indent:10px;
	letter-spacing:2px;
}
.t1 dd{
	width:160px;
	background-color:#FAFDF9;
	border:1px solid #E0ECD4;
}
.t1 dd ul{
	width:158px;
	border:1px solid #FFF;
	overflow:hidden;
	padding:10px 0px;
	background:url(images/step-ico-bg.png) 20px 21px no-repeat;
}
.t1 dd ul li{
	height:40px;
	line-height:36px;
	text-indent:52px;
	display:block;
	color:#888;
	font-size:14px;
}
.t1 dd ul li.succeed{
	color:#690;
	background:url(images/ico-step-succeed.png) 23px 14px no-repeat;
}
.t1 dd ul li.now{
	color:#FF9900;
	font-weight:bold;
	background:url(images/ico-step-now.png) 23px 14px no-repeat;
}

.install-msg{
	padding:10px 20px;
	color:#777;
	line-height:31px;
	font-size:14px;
	overflow:hidden;
	clear:both;

}


.pr-agreement{
	padding:16px;
	line-height:21px;
	color:#666;
	height:300px;
	overflow-y:scroll;
}
.pr-agreement strong{
	display:block;
	color:#333;
	line-height:27px;
	margin-top:6px;
}
.pr-agreement p{
	text-indent:30px;
}


.btn-box{
	margin-top:15px;
	border-top:1px solid #DDD;
	padding:10px 6px;
	vertical-align:middle;
}
.btn-next{
	width:104px;
	height:34px;
	border:none;
	background:url(images/but_next.gif) no-repeat;
	cursor:pointer;
	margin-left:10px;
	overflow:hidden;
	font-size:0px;
	line-height:100px;
}
.btn-back{
	width:104px;
	height:34px;
	border:none;
	background:url(images/but_back.gif) no-repeat;
	cursor:pointer;
	overflow:hidden;
	font-size:0px;
	line-height:100px;
}


#readpact{
	*margin-top:-4px;
	margin-right:4px;
}

.over-link{
	padding:0px 40px;
	line-height:41px;
	overflow:hidden;
	clear:both;
}
.over-link a{
	line-height:14px;
	padding:6px 20px;
	border-style:solid;
	border-width:1px;
	border-color:#EEE #CCC #CCC #EEE;
	background:#FAFAFA;
	color:#333;
	display:block;
	float:left;
	margin-right:20px;
	text-decoration:none;
}

.olink a{
	line-height:14px;
	padding:2px 20px;
	border-style:solid;
	border-width:1px;
	border-color:#EEE #CCC #CCC #EEE;
	background:#EAF4DD;
	color:#333;
	display:block;
	margin-left:8px;
	float:left;
	width:55px;
	margin-right:20px;
	text-decoration:none;
}

.waitpage {
  top:0;
  left:0;
  filter:Alpha(opacity=70);
  -moz-opacity:0.7;
  position:absolute;
  z-index:10000;
  background:url(images/loading1.gif) #ababab no-repeat center 200px;
  width:100%;
  height:2500px;
  display:none;
}

.divpre {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
}

.modulesel {
  width:120px;
  margin-right:8px;
  float:left;
}