<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$charset#}" />
<title>安装程序 - BlueCMS—地方门户专用CMS！</title>
<link href="templates/css/install.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="top">
	<div class="logo">
		<h2>BlueCMS—地方门户专用CMS！ 安装程序</h2>
	</div>
	<div class="link">
		<ul>
			<li><a href="http://www.bluecms.net" target="_blank">官方网站</a></li>
			<li><a href="http://www.bluecms.net/bbs" target="_blank">技术论坛</a></li>
			<li><a href="" target="_blank">帮助</a></li>
		</ul>
	</div>
	<div class="version">
		<h2>BlueCMS</h2>
	</div>
</div>

<div class="main">
	<div class="m_l">
		<dl class="step">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="succeed">环境检测</li>
					<li class="succeed">参数配置</li>
					<li class="succeed">正在安装</li>
					<li class="current">安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="m_r"><form name = "config_form" action = "index.php?act=step4" method="post">
		<div class="title"><h3>完成安装</h3></div>
		<div class="content">
			<p>恭喜您!您已成功安装BlueCMS—地方门户专用CMS.</p>
			<div id="index"><a href="../">访问网站首页</a></div><div id="admin"><a href="../admin">访问网站后台</a></div>
		</div>
	</div>
</div>

<div class="foot">

</div>

</body>
</html>