{template admin_header}
<p class="map">全局：扩展设置</p>
<p class="sec_nav">扩展设置：
    <a href="index.php?admin_setting-sec" > <span>防灌水设置</span></a>
    <a href="index.php?admin_setting-anticopy"><span>防采集设置</span></a>
    <a href="index.php?admin_setting-mail"><span>{lang mailConfig}</span></a>
    <a href="index.php?admin_setting-noticemail" class="on"><span>{lang noticeMailConfig}</span></a>
    <a href="index.php?admin_banned" ><span>IP禁止</span></a>
    <a href="index.php?admin_setting-passport" ><span>通行证设置</span></a>
    <a href="index.php?admin_setting-ucenter"><span>UCenter设置</span></a>
    <a href="index.php?admin_setting-ldap"><span>LDAP设置</span></a>
</p>
<h3 class="col-h3">{lang noticeMailConfig}</h3>
<ul class="col-ul tips">
	<li class="bold">{lang commonTip}:</li>
	<li>{lang noticeMailTip1}</li>
	<li>{lang noticeMailTip2}</li>
	<li>{lang noticeMailTip3}</li>
</ul>
<form method="POST" action="index.php?admin_setting-noticemail" >
  <table class="table">
		<tr><td width="160px"><span>{lang noticemail_doc_create}：</span></td><td></td></tr>
		<tr>
			<td>{lang noticemail_subject_tpl}：</td>
			<td><label><input type="text"  class="inp_txt" name="noticemailtpl[doc_create][subject]" value="{eval echo htmlspecialchars($noticemailtpl['doc_create']['subject'])}" /></label>
			</td>
		</tr>
				
		<tr>
			<td>{lang noticemail_body_tpl}：</td>
			<td>
				<label><textarea name="noticemailtpl[doc_create][body]" class="textarea" rows="6" style="width: 400px;">{eval echo htmlspecialchars($noticemailtpl['doc_create']['body'])}</textarea></label>
			</td>
		</tr>
				
		<tr>
			<td>{lang noticemail_receivers}：</td>
			<td>
				{loop $groups $key $group} {if $group['groupid']>1}
				<label><input type="checkbox" name="doc-create[]" value="{$group['groupid']}" {if in_array($group['groupid'], $doc_create)}checked="checked"{/if} /> {$group['grouptitle']}</label> &nbsp;&nbsp;
				{/if} {/loop}
			</td>
		</tr>
		<tr><td colspan="2" style="border: none;"></td></tr>
		
		<tr><td width="160px"><span>{lang noticemail_doc_edit}：</span></td><td></td></tr>
		<tr>
			<td>{lang noticemail_subject_tpl}：</td>
			<td><label><input type="text"  class="inp_txt" name="noticemailtpl[doc_edit][subject]" value="{eval echo htmlspecialchars($noticemailtpl['doc_edit']['subject'])}" /></label>
			</td>
		</tr>
				
		<tr>
			<td>{lang noticemail_body_tpl}：</td>
			<td>
				<label><textarea name="noticemailtpl[doc_edit][body]" class="textarea" rows="6" style="width: 400px;">{eval echo htmlspecialchars($noticemailtpl['doc_edit']['body'])}</textarea></label>
			</td>
		</tr>
				
		<tr>
			<td>{lang noticemail_receivers}：</td>
			<td>
				<label><input type="checkbox" name="doc-edit[]" value="CREATOR" {if in_array('CREATOR', $doc_edit)}checked="checked"{/if} /> {lang noticeCreator}</label> &nbsp;&nbsp;
				<label><input type="checkbox" name="doc-edit[]" value="EDITORS" {if in_array('EDITORS', $doc_edit)}checked="checked"{/if} /> {lang noticeEditors}</label> <br />
				{loop $groups $key $group} {if $group['groupid']>1}
				<label><input type="checkbox" name="doc-edit[]" value="{$group['groupid']}" {if in_array($group['groupid'], $doc_edit)}checked="checked"{/if} /> {$group['grouptitle']}</label> &nbsp;&nbsp;
				{/if}{/loop}
				
			</td>
		</tr>
		<tr><td colspan="2" style="border: none;"></td></tr>
		
		<tr><td><span>{lang noticemail_comment_add}:</span></td><td></td></tr>
		
		<tr>
			<td>{lang noticemail_subject_tpl}：</td>
			<td><label><input type="text"  class="inp_txt" name="noticemailtpl[comment_add][subject]" value="{eval echo htmlspecialchars($noticemailtpl['comment_add']['subject'])}" /></label>
			</td>
		</tr>
				
		<tr>
			<td>{lang noticemail_body_tpl}：</td>
			<td>
				<label><textarea name="noticemailtpl[comment_add][body]" class="textarea" rows="6" style="width: 400px;">{eval echo htmlspecialchars($noticemailtpl['comment_add']['body'])}</textarea></label>
			</td>
		</tr>		
		
		<tr>
			<td>{lang noticemail_receivers}：</td>
			<td>
				<label><input type="checkbox" name="comment_add[]" value="CREATOR" {if in_array('CREATOR', $comment_add)}checked="checked"{/if} /> {lang noticeCreator}</label> &nbsp;&nbsp;
				<label><input type="checkbox" name="comment_add[]" value="EDITORS" {if in_array('EDITORS', $comment_add)}checked="checked"{/if} /> {lang noticeEditors}</label> <br />
				<label><input type="checkbox" name="comment_add[]" value="REVIEWERS" {if in_array('REVIEWERS', $comment_add)}checked="checked"{/if} /> {lang noticeReviewers}</label> <br />
				{loop $groups $key $group} {if $group['groupid']>1}
				<label><input type="checkbox" name="comment_add[]" value="{$group['groupid']}" {if in_array($group['groupid'], $comment_add)}checked="checked"{/if} /> {$group['grouptitle']}</label> &nbsp;&nbsp;
				{/if}{/loop}
				
			</td>
		</tr>
		

		
		<tr>
			<td colspan="2"><input class="inp_btn" type="submit" value="{lang commonSave}" name="submit" /></td>
		</tr>
	</table>
</form>



{template admin_footer}