{template header}
<script type="text/javascript">
var indexlogin = 0;
var loginTip1 = '{lang loginTip1}';
var loginTip2 = '{$loginTip2}';
var loginTip3 = '{lang loginTip3}';
var name_max_length = $name_max_length;
var name_min_length = $name_min_length;
var editPassTip1 = '{lang editPassTip1}';
var loginTip4 = '{lang loginTip4}';
var checkcode = '{$checkcode}';
$(function() {$('#username').focus();});
</script> 
<div class="register">
	<div class="r reg-r">
	<div class="login-static reg_main">
	<h2 class="h3 a-r">{lang loginTip5}<a href="{url user-register}" target="_blank" class="m-l8">{lang register}</a></h2>
	<form name="box-login" action="{url user-login}" method="post" onsubmit="return docheck();">
	<ul class="col-ul">
		<li><span>{lang userName}：</span>	<input name="username" id="username"  tabindex="3" type="text" class="inp_txt" onblur="check_username()" maxlength="32" /><label id="checkusername">$loginTip2</label></li>
		<li><span>{lang password}：</span>	<input name="password" id="password"  tabindex="4"  type="password" class="inp_txt" onblur="check_passwd()" maxlength="32" /><label id="checkpassword">*{lang editPassTip4}</label></li>
		<!--{if $checkcode != "3"}-->
		<li class="yzm"><span>{lang verifyCode}：</span><input name="code" id="code"  tabindex="5" type="text" onblur="check_code()" maxlength="4" />
		<label class="m-lr8"><img id="verifycode" src="{url user-code}" onclick="updateverifycode();" /></label><a href="javascript:updateverifycode();">{lang codeNotClear}</a>
		<label id="checkcode"></label></li>		
		<!--{/if}-->
		<li><input name="submit" type="submit" value="{lang login}" class="btn_inp" tabindex="6" /><a href="{url user-getpass}" target="_blank">{lang getPass}</a></li>
	</ul>
	</form>
	</div>
	</div>
<dl class="col-dl">
<dt><img alt="{lang registTip4}"  src="style/default/reg_01.gif"/></dt>
<dd>{lang registTip1}</dd>
</dl>
<dl class="col-dl">
<dt><img alt="{lang registTip5}"  src="style/default/reg_02.gif"/></dt>
<dd>{lang registTip2}</dd>
</dl>
<dl class="col-dl">
<dt><img alt="{lang registTip6}"  src="style/default/reg_03.gif"/></dt>
<dd>{lang registTip3}</dd>
</dl>
</div>
<div class="c-b"></div>
{template footer}