{include file='common/head.html'}

<div class="layui-body">
	{if([$list])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">友情链接列表</li>
	    <li lay-id="t2">友情链接新增</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		<form action="{url./admin/Link/mod}" method="post" class="layui-form" onkeydown="if(event.keyCode==13) return false;">
		   	 <input type="hidden" name="formcheck" value="{$formcheck}" > 
	  		<table class="layui-table">
	  			<thead>
                    <tr>
                    	<th>分组(gid)</th>
                        <th>名称</th>
                        <th>链接</th>
                        <th>Logo</th>
                        <th>排序</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $links(key,value)}
                    <tr>
                    	<td>分组[value->gid]</td>
                        <td>[value->name]</td>
                        <td>[value->link]</td>
                        <td><img src="{SITE_DIR}[value->logo]" style="height:20px;"></td>
                        <td class="table-input">
                        	<input type="hidden" name="listall[]" value="[value->id]">
                        	<input type="text" lay-ignore class="layui-input" name="sorting[]" value="[value->sorting]">
                        </td>
                        <td>
                            {fun=get_btn_del($value->id)}
                            {fun=get_btn_mod($value->id)}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
	  		</table>
	  		 <button type="submit" name="submit" value="sorting" class="layui-btn">保存排序</button>
            </form>
	  		<div class="page">{$pagebar}</div>
	  	</div>
	  	<div class="layui-tab-item">
	  		 <form action="{url./admin/Link/add}" method="post" class="layui-form">
	  		 	<input type="hidden" name="formcheck" value="{$formcheck}" > 
	  		 	<div class="layui-form-item">
                     <label class="layui-form-label">分组</label>
                     <div class="layui-input-block">
                     	<select name="gid" lay-verify="required">	
	                		<option value="1">分组1</option>
	                		<option value="2">分组2</option>
	                		<option value="3">分组3</option>
	                		<option value="4">分组4</option>
	                		<option value="5">分组5</option>
	                		<option value="6">分组6</option>
	                		<option value="7">分组7</option>
	                		<option value="8">分组8</option>
	                		<option value="9">分组9</option>
	                		<option value="10">分组10</option>
	                	</select>
                     </div>
                </div>
                
                 <div class="layui-form-item">
                     <label class="layui-form-label">名称</label>
                     <div class="layui-input-block">
                     	<input type="text" name="name" required  lay-verify="required" placeholder="请输入名称"  class="layui-input">
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">链接</label>
                     <div class="layui-input-block">
                     	<input type="text" name="link" required  lay-verify="required" placeholder="请输入链接"  class="layui-input">
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">图片</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="logo" id="logo" placeholder="请上传图片"  class="layui-input">
                     </div>
                     <button type="button" class="layui-btn upload" data-des="logo">
					 	 <i class="layui-icon">&#xe67c;</i>上传图片
					 </button>
					 <div id="logo_box" class="pic"></div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">排序</label>
                     <div class="layui-input-block">
                     	<input type="text" name="sorting" required lay-verify="required" value="255" placeholder="请输入排序"  class="layui-input">
                     </div>
                </div>
                
                <div class="layui-form-item">
					 <div class="layui-input-block">
					    <button class="layui-btn" lay-submit>立即提交</button>
					    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
					 </div>
				</div>
	  		 </form>
	  	</div>
	  </div>
	</div>
	{/if} 
	
	{if([$mod])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this">友情链接修改</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		 <form action="{url./admin/Link/mod/id/'.[$get.id].'}?{$server.QUERY_STRING}" method="post" class="layui-form">
	  		 	<input type="hidden" name="formcheck" value="{$formcheck}" > 
	  		 	<div class="layui-form-item">
                     <label class="layui-form-label">分组</label>
                     <div class="layui-input-block">
                     	<select name="gid" lay-verify="required">	
	                		<option value="1" {if([$link->gid]==1)}selected{/if}>分组1</option>
	                		<option value="2" {if([$link->gid]==2)}selected{/if}>分组2</option>
	                		<option value="3" {if([$link->gid]==3)}selected{/if}>分组3</option>
	                		<option value="4" {if([$link->gid]==4)}selected{/if}>分组4</option>
	                		<option value="5" {if([$link->gid]==5)}selected{/if}>分组5</option>
	                		<option value="6" {if([$link->gid]==6)}selected{/if}>分组6</option>
	                		<option value="7" {if([$link->gid]==7)}selected{/if}>分组7</option>
	                		<option value="8" {if([$link->gid]==8)}selected{/if}>分组8</option>
	                		<option value="9" {if([$link->gid]==9)}selected{/if}>分组9</option>
	                		<option value="10" {if([$link->gid]==10)}selected{/if}>分组10</option>
	                	</select>
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">名称</label>
                     <div class="layui-input-block">
                     	<input type="text" name="name" required  lay-verify="required" value="{$link->name}" placeholder="请输入名称"  class="layui-input">
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">链接</label>
                     <div class="layui-input-block">
                     	<input type="text" name="link" required  lay-verify="required" value="{$link->link}" placeholder="请输入链接"  class="layui-input">
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">图片</label>
                     <div class="layui-input-inline">
                     	<input type="text" name="logo" id="logo" placeholder="请上传图片"  value="{$link->logo}" class="layui-input">
                     </div>
                     <button type="button" class="layui-btn upload" data-des="logo">
					 	 <i class="layui-icon">&#xe67c;</i>上传图片
					 </button>
					 <div id="logo_box" class="pic">{if([$link->logo])}<dl><dt><img src="{SITE_DIR}{$link->logo}" data-url="{$link->logo}"></dt><dd>删除</dd></dl>{/if}</div>
                </div>
                
                 <div class="layui-form-item">
                     <label class="layui-form-label">排序</label>
                     <div class="layui-input-block">
                     	<input type="text" name="sorting" required lay-verify="required" value="{$link->sorting}" placeholder="请输入排序"  class="layui-input">
                     </div>
                </div>
                
                 <div class="layui-form-item">
					 <div class="layui-input-block">
					    <button class="layui-btn" lay-submit>立即提交</button>
					    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
					    {fun=get_btn_back()}
					 </div>
				</div>
				
	  		 </form>
	  	</div>
	  </div>
	 </div>
	{/if} 
</div>
{include file='common/foot.html'}
