.plugin-list .card-content {
  height: 70px;
}
.btn {
  border-radius: 0;
}
.module-list {
  padding-left: 0;
}
.module-list li {
  border: 1px solid #eee;
  background: #fbfbfb;
  margin-right: 25px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px;
  width: 475px;
  list-style: none;
}
.module-list li .cover-wrapper {
  width: 120px;
  margin-right: 15px;
  float: left;
}
.module-list li .cover-wrapper .cover {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}
.module-list li .cover-wrapper .cover-icon {
  width: 120px;
  height: 120px;
  text-align: center;
  background: #999;
  border-radius: 6px;
  display: inline-block;
}
.module-list li .cover-wrapper .cover-icon i {
  font-size: 64px;
  line-height: 120px;
  color: white;
}
.module-list li .content-wrapper {
  width: 318px;
  float: left;
  margin-left: 0!important;
}
.module-list li .content-wrapper .title {
  margin-bottom: 6px;
}
.module-list li .content-wrapper .title a {
  font-size: 16px;
  color: #333;
}
.module-list li .content-wrapper .bottom-btns {
  margin-top: 10px;
}
body {
  font-family: "Microsoft Yahei", "宋体";
}
.admin-bar {
  border-radius: 0;
}
.pager span {
  padding: 5px 12px;
  display: inline-block;
}
.form-input-width {
  width: 400px;
}
.form-text-area-size {
  width: 400px;
  height: 400px;
}
.form-select-size {
  width: auto;
}
.panel-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100px;
  bottom: 0;
  overflow: auto;
  background: #e7e8e9;
  z-index: 13;
  border-right: 1px solid #cccccc;
}
.panel-menu .nav-primary > li.active > a,
.panel-menu .nav-primary > li.active > a:hover,
.panel-menu .nav-primary > li.active > a:focus {
  background: #4f8ad0;
}
.panel-menu .nav-stacked.nav-primary > li:last-child > a {
  border-radius: 0;
}
.panel-menu .nav-stacked.nav-primary > li,
.panel-menu .nav-stacked.nav-primary > li > a {
  border-radius: 0;
}
.panel-menu .nav-primary > li.active > a,
.panel-menu .nav-primary > li.active > a:hover,
.panel-menu .nav-primary > li.active > a:focus {
  border: none;
}
.panel-menu .nav-primary > li > a {
  border-right: none;
}
.panel-menu i {
  font-size: 28px;
}
#cloud-market {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #e7e8e9;
  width: 100px;
}
#cloud-market i {
  font-size: 28px;
}
.panel-main {
  position: absolute;
  top: 50px;
  left: 100px;
  bottom: 0;
  right: 0;
  z-index: 12;
  overflow: hidden;
}
.panel-main .nav-parent > a {
  font-size: 17px;
}
.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 14;
  min-width: 1024px;
  border-bottom: 1px solid #618fc2;
  background: #4f8ad0;
}
.panel-header .navbar-header {
  line-height: 50px;
}
.panel-header .navbar-inverse {
  background: #4f8ad0;
  border-bottom: 1px solid #618fc2;
  height: 50px;
}
.panel-header .navbar-nav > li > a {
  padding-top: 14px;
  padding-bottom: 14px;
}
.panel-header .navbar-inverse .navbar-nav > .active > a,
.panel-header .navbar-inverse .navbar-nav > .active > a:hover,
.panel-header .navbar-inverse .navbar-nav > .active > a:focus,
.panel-header .navbar-inverse .navbar-nav > li > a:hover,
.panel-header .navbar-inverse .navbar-nav > li > a:focus {
  background: #5799e6;
}
.panel-header .navbar-brand {
  margin-top: 5px;
  color: white;
}
.panel-header .logo {
  width: 32px;
  float: left;
  margin-top: -10px;
  margin-left: 0;
  margin-right: 10px;
}
.panel-header .admin-title {
  color: white;
  margin-left: 10px;
  font-size: 16px;
}
.panel-header .admin-title a {
  color: white;
  text-decoration: none;
}
.sub_menu_wrapper {
  border-right: 1px solid #dddddd;
}
.sub_menu_wrapper .menu > .nav > li:first-child > a,
.sub_menu_wrapper .menu > .nav > li:first-child.nav-heading {
  border-top: none;
}
.sub_menu_wrapper .menu > .nav > li.show > a,
.sub_menu_wrapper .menu > .nav > li.show > a:hover,
.sub_menu_wrapper .menu > .nav > li.show > a:focus,
.sub_menu_wrapper .menu > .nav > li:first-child > a,
.sub_menu_wrapper .menu > .nav > li:first-child.nav-heading,
.sub_menu_wrapper .nav-primary > li > a,
.sub_menu_wrapper .menu > .nav > li:last-child > a {
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.sub_menu_wrapper .menu > .nav > li.show:last-child > .nav > li:last-child > a {
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li > a {
  border-right: none;
  border-left: none;
}
.sub_menu_wrapper .menu > .nav > li > .nav {
  background: white;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a,
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a:hover,
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a:focus {
  background: #f1f2f3;
  color: #333;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li > a {
  border: none;
}
.sub_menu_wrapper nav {
  border-bottom: 1px solid #dddddd;
}
.count > div > a {
  background: #6fa7ce;
  display: block;
  color: white;
}
.count a,
.count i {
  font-size: 32px;
  text-decoration: none;
}
.node-list label[class=checkbox] {
  padding-top: 0;
  display: inline-block;
}
.node-list input[type=checkbox] {
  margin-top: 8px;
}
label {
  font-weight: normal;
}
.item-label {
  font-weight: bold;
}
.upload-img-box .upload-pre-item img {
  width: 150px;
}
.upload-img-box .upload-pre-item .del_btn {
  width: 150px;
  position: absolute;
  color: #fff;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.upload-img-box .upload-pre-item .opacity {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background: #000;
  opacity: 0.5;
}
.multiImage .upload-img-box .upload-pre-item .each {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.multiImage .upload-img-box .upload-pre-item img {
  width: 150px;
  height: 150px;
}
.multiImage .upload-img-box .upload-pre-item .del_btn {
  width: 150px;
  position: absolute;
  color: #fff;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.multiImage .upload-img-box .upload-pre-item .opacity {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background: #000;
  opacity: 0.5;
}
.report_feedback {
  cursor: pointer;
}
.report_feedback .report_icon {
  background: url("../../images/report_icon.png");
  width: 100px;
  height: 100px;
  position: absolute;
  right: 35px;
  bottom: 35px;
  z-index: 998;
}
.report_feedback .report_point {
  position: absolute;
  right: 45px;
  bottom: 120px;
  z-index: 999;
}
/*后台导航修改*/
.channel-ul .target_input {
  display: none;
}
.channel-ul > li {
  background: #fff;
}
.channel-ul li {
  border-left: 1px #ccc dashed;
  border-bottom: 1px #ccc dashed;
  padding: 10px 30px;
  list-style: none;
}
.channel-ul li.dragging {
  background-color: #fff4e5;
  opacity: 0.35;
}
.channel-ul li select,
.channel-ul li input {
  display: inline-block;
}
.channel-ul .new-blank {
  margin-top: 7px;
  margin-left: 10px;
}
.channel-ul .i-list {
  margin-top: 7px;
}
.channel-ul .i-list a {
  margin-left: 10px;
}
.channel-ul .icon-chose {
  margin-left: 20px;
}
.channel-ul .band-text {
  margin-left: 20px;
}
.channel-ul .color-chose {
  margin-top: 10px;
  margin-left: 20px;
}
.oneselect {
  display: inline-block;
  margin-left: 10px;
}
.oneselect .title {
  float: left;
  line-height: 32px;
}
.oneselect .select_box {
  float: left;
  line-height: 32px;
}
.oneselect .select_box select {
  min-width: 200px;
}
.sub_menu {
  width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.sub_menu .treeview-menu {
  list-style: none;
  margin: 0;
  padding: 20px;
}
.sub_menu .treeview-menu li a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sub_menu > li > .treeview-menu {
  margin: 0 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #8aa4af!important;
}
#navigation,
#navigation li ul {
  list-style-type: none;
}
#navigation {
  margin: -22px 0 0 -18px;
}
#navigation ul {
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 3px rgba(242, 242, 242, 0.5);
  background-color: #fff;
  z-index: 999999;
  border-radius: 4px!important;
}
#navigation ul li a {
  margin-left: -33px;
  padding: 0 20px;
}
#navigation ul li a:hover {
  background-color: transparent!important;
  color: #19bca1!important;
}
.page li a {
  border-radius: 100%!important;
  padding: 0 5px;
}
.page li a:hover {
  background-color: transparent!important;
}
#navigation > li {
  margin-top: -12px;
  float: left;
  text-align: center;
  position: relative;
}
#navigation li a:link,
#navigation li a:visited {
  display: block;
  text-decoration: none;
  color: #000;
  height: 40px;
  line-height: 40px;
  border: none;
}
#navigation li a:hover {
  color: #2786e4;
  background: #efefef;
}
#navigation li ul {
  display: none;
  position: absolute;
  top: 40px;
  left: -18px;
  width: auto;
}
.pager > li > a:hover,
.pager > li > span:hover,
.pager > li > a:focus,
.pager > li > span:focus {
  background-color: transparent;
}
