.plugin-list .card-content {
  height: 70px;
}
.plugin-list img {
  max-width: 100%;
}
.cards {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: -10px;
  margin-left: -10px;
}
.cards:before,
.cards:after {
  /* 1 */
  display: table;
  content: " ";
  /* 2 */
}
.cards:after {
  clear: both;
}
.cards:before,
.cards:after {
  /* 1 */
  display: table;
  content: " ";
  /* 2 */
}
.cards:after {
  clear: both;
}
.card {
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card > img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: alpha(opacity=100);
  opacity: 1;
}
.card > .media-wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #f1f1f1;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card > .media-wrapper > img {
  max-width: 100%;
  vertical-align: middle;
}
.card .card-heading {
  display: block;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .card-content,
.card .card-actions {
  padding: 0 10px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
}
.card:hover > img,
.card:hover > .media-wrapper {
  background-color: #e5e5e5;
  filter: alpha(opacity=90);
  opacity: .9;
}
.card:hover > .card-reveal {
  top: 0;
}
.cards-borderless .card {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cards-borderless .card > .card-heading,
.cards-borderless .card > .card-actions,
.cards-borderless .card > .card-content {
  padding-right: 0;
  padding-left: 0;
}
.card > .caption {
  position: absolute;
  top: -100%;
  left: 0;
  display: block;
  width: 100%;
  padding: 5px 10px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.7);
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card:hover > .caption {
  top: 0;
  filter: alpha(opacity=100);
  opacity: 1;
}
.cards-condensed {
  padding: 0;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
}
.cards-condensed > [class^="col-"],
.cards-condensed > [class*=" col-"] {
  padding: 0;
}
.cards-condensed .card {
  padding: 10px;
  margin: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.015);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.015);
}
.card > .card-reveal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card > .card-reveal > .card-heading {
  padding: 20px 10px;
}
.card:hover > .card-reveal {
  top: 0;
}
