#sortable_portlets .portlet-sortable {
  overflow-y: auto ;
  overflow-x: hidden ;
}
#sortable_portlets .add {
  border: 2px dashed #eee;
  text-align: center;
  font-size: 34px;
  line-height: 64px;
  height: 64px;
  display: block;
}
#sortable_portlets .add:hover {
  border-color: #999;
}
#sortable_portlets .add:hover i {
  color: #999;
}
#sortable_portlets .add i {
  color: #eee;
}
#portlets > div {
  display: none;
  width: 50%;
}
#portlet_list > div {
  margin-bottom: 10px;
}
.portlet-add-list .btn {
  margin-bottom: 15px;
}
.portlet-add-list li a {
  /*   display: block;
        line-height: 64px;
        height:64px;
        background: #999;
        color: white;*/
}
.consumption .checkbox_block {
  line-height: 55px;
  margin-left: 20px;
}
.consumption .checkbox_block label {
  margin-left: 5px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 5px!important;
}
.consumption .checkbox_block label squre {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  display: inline-block;
}
.consumption .checkbox_block label squre.total_fee {
  background: #3b8bba;
}
.consumption .checkbox_block label squre.user_num {
  background: #BBB;
}
.remain .checkbox_block {
  float: left;
  line-height: 30px;
}
.remain .checkbox_block label {
  margin-left: 5px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 5px!important;
  color: #fff;
}
.remain .checkbox_block .day1_label {
  background-color: #c3c3c3;
}
.remain .checkbox_block .day2_label {
  background-color: #7e7dc3;
}
.remain .checkbox_block .day3_label {
  background-color: #c37d7a;
}
.remain .checkbox_block .day4_label {
  background-color: #65c356;
}
.remain .checkbox_block .day5_label {
  background-color: #8a5ec3;
}
.remain .checkbox_block .day6_label {
  background-color: #c33c38;
}
.remain .checkbox_block .day7_label {
  background-color: #13c356;
}
.remain .checkbox_block .day8_label {
  background-color: #c324c2;
}
.remain .remain-table {
  width: 100%;
  text-align: center;
}
.remain .remain-table th {
  text-align: center;
}
.remain .remain-table tbody tr {
  line-height: 50px;
  border-bottom: 1px solid #FAFAFA;
}
.remain .remain-table tbody tr td ul {
  list-style-type: none;
}
.remain .remain-table tbody tr td ul li {
  float: left;
  padding: 5px;
  color: #fff;
  line-height: 25px;
}
.remain .remain-table tbody tr td ul .day1 {
  background-color: #c3c3c3;
}
.remain .remain-table tbody tr td ul .day2 {
  background-color: #7e7dc3;
}
.remain .remain-table tbody tr td ul .day3 {
  background-color: #c37d7a;
}
.remain .remain-table tbody tr td ul .day4 {
  background-color: #65c356;
}
.remain .remain-table tbody tr td ul .day5 {
  background-color: #8a5ec3;
}
.remain .remain-table tbody tr td ul .day6 {
  background-color: #c33c38;
}
.remain .remain-table tbody tr td ul .day7 {
  background-color: #13c356;
}
.remain .remain-table tbody tr td ul .day8 {
  background-color: #c324c2;
}
.remain .example-table th:first-child {
  background: #909090;
}
.remain .example-table th:nth-child(2) {
  background: #FFA61A;
}
.remain .example-table th:last-child {
  background: #FC2419;
}
.remain .example-table tr td:first-child {
  background: #DFDFDF;
}
.remain .example-table tr td:nth-child(2) {
  background: #FDE3BA;
}
.remain .example-table tr td:last-child {
  background: #FFD5D3;
}
.remain .example-table tr:nth-child(2n) td:first-child {
  background: #A5A1A1;
}
.remain .example-table tr:nth-child(2n) td:nth-child(2) {
  background: #FFC262;
}
.remain .example-table tr:nth-child(2n) td:last-child {
  background: #FF766F;
}
