#page_break .collapse { 
display: none; 
} 
#page_break .num { 
padding: 10px 0; 
text-align: center; 
} 
#page_break .num li{ 
display: inline; 
margin: 0 2px; 
padding: 3px 5px; 
border: 1px solid #ccc; 
background-color: #fff; 

color: #666; 
text-align: center; 
cursor: pointer; 
font-family: Arial; 
font-size: 12px; 
overflow: hidden; 
} 
#page_break .num li.on{ 
background-color: #ccc; 

color: #fff; 
font-weight: bold; 
} 