body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,egend,input,button,textarea,hr{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul{list-style:none;}
ul,ol{ padding:0px;}
img{border:0;}
q:before,q:after{content:'';}
abbr[title]{border-bottom:1px dotted;cursor:help;}
cite,dfn,em,var{font-style:normal;}
button,input,select,textarea{font-size:100%;}
code,kbd,samp{font-family:"Courier New",monospace;}
hr{border:none;height:1px;}