/* CSS Document */
body{
	margin: 0px;
	padding: 0px;
	background-color:#F1F9FC;
}
.page_top_bg {
	height: 40px;
}
.top_nav {
	background-image: url(ico_bg.gif);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 97px;
	margin-right: 10px;
	margin-top:14px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 2px;
}

.top_nav2 {
	background-image: url(ico_bg_01.gif);
	background-repeat: no-repeat;
	float: left;
	height: 18px;
	width: 97px;
	margin-right: 10px;
	margin-top:14px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 2px;
}

.top_nav a{ color:#FFFFFF;text-decoration: none;}
.top_nav a:hover{color:#97E3FF;text-decoration: none;}
.top_nav2 a{ color:#FFFFFF;text-decoration: none;}
.top_nav2 a:hover{color:#97E3FF;text-decoration: none;}



.yellow{color:#F48200}
a.yellow{color:#F48200;text-decoration: none;font-weight: bold; font-size:14px}
a.yellow:hover{color:#97E3FF;text-decoration: none;font-weight: bold;font-size:14px}
.blue{
	color:#11A7CA;
}

.top_nav02 {
	background-image: url(img_02.gif);
	background-repeat: repeat-x;
	height: 32px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #B8D0DA;
	border-left-color: #B8D0DA;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #0099CB;
	font-size: 12px;
	padding-left: 10px;
}
.main_left {
	background-image:url(img_03.gif);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B4CFD8;
	background-image:url(img_03.gif);
	background-repeat: repeat-y;
}
.left_title {
	font-size: 12px;
	font-weight: bold;
	color:#269;
	background-image: url(img_04.gif);
	background-repeat: repeat-x;
	height: 26px;
	width: 100%;
	text-align: center;
}
.left_title_userbg {
	width: 100px;
}
.left_title_userbg  td{
	background-image: url(img_05.gif);
	height: 31px;
	padding-left: 10px;
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDE6EB;
}
.left_menu {
	background-image: url(img_05.gif);
	height: 31px;
	padding-left: 15px;
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDE6EB;
	font-weight:bold;
	width: 100%;
	padding-right: 10px;
}


.left_menu01 {
	font-size: 12px;
	background-color: #FFFFFF;
	background-image: url(img_07.gif);
	background-repeat: repeat-y;
	background-position: right;
	color: #0099cc;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDE6EB;
	width: 100%;

}
.left_menu01 td{
	padding-left: 15px;
    border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDE6EB;
}
.left_menu01 td a{color:#0099cc;text-decoration: none;}
.left_menu01 td a:hover{color:#E46200;text-decoration: none;}

.form_title {
	background-repeat: repeat-x;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #DEEFF9;
	font-size: 12px;
	color: #0099CB;
	padding-left: 10px;
}

.form_footer {
	background-image: url(img_08.gif);
	background-repeat: repeat-x;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #DEEFF9;
	font-size: 12px;
	color: #0099CB;
	padding-left: 10px;
	padding-top:10px;
	padding-bottom:40px;
}
.form_list{
	border-bottom:#C7E4F6 1px dashed;
	font-size: 12px;
	padding-left: 20px;
}
.form_list input{ border:1px #aaaaaa solid; font-size:12px;}
.submit{
	font-size: 12px;
	
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#f9f9f9, EndColorStr=#C5C4C4);
	CURSOR: pointer;
	COLOR: #99000;
	PADDING-TOP: 2px;
	border: 1px solid #686868;
}

.submit_day{
BORDER-RIGHT: #B5D0DB 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #B5D0DB 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
	BORDER-LEFT: #B5D0DB 1px solid;  COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #B5D0DB 1px solid ;
}
.submit1{ 
	BORDER-RIGHT: #B5D0DB 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #B5D0DB 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
	BORDER-LEFT: #B5D0DB 1px solid; CURSOR: pointer; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #B5D0DB 1px solid ;
} 


.submit_green{
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997);
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	border: 1px solid #B5D0DB;
} 
.submit_yellow{
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#E5BB25);
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	border: 1px solid #B5D0DB;
} 

/***********************************
 *     表头标签开始
***********************************/
.table_head{
	background-image: url(img_09.gif);
	background-repeat: repeat-x;
	text-align: left;
	height: 30px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C0D0E4;
	font-size: 12px;
	font-weight: bold;
	color: #0099CB;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C0D0E4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C0D0E4;
}
.table_head td{
	padding-left:10px;
	padding-right:10px;
}
/***********************************
 *     表头标签结束
***********************************/


/***********************************
 *     列表标签开始
***********************************/

.table_form {
	background-color:#FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C0D0E4;
	font-size: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C0D0E4;

}
.table_form td {
	font-size:12px;
	height:26px;
	padding-left:4px;
	color: #000000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #D9E2EE;
	border-bottom-color: #D9E2EE;
}
.table_form tr{
	background-color:#FAFFFF;

/*background-color:expression((this.rowIndex%2==0)?"#F5F5F5":"#FFFFFF");ryo:expression(onmouseover=function(){this.style.backgroundColor='#C2DFEF'},onmouseout=function(){this.style.backgroundColor=(this.style.backgroundColor='#CCFFFF'?((this.rowIndex%2==0)?"#F5F5F5":"#FFFFFF"):'#CCFFFF')},onclick=function(){this.style.backgroundColor='#CCFFFF'})*/
}
.table_form th {
	font: bold 12px;
	color: #000000;
	letter-spacing: 2px;
	text-align: center;
	height:26px;/******不能使用背景图，否则执行不了这段代友，原因暂不知********/

	background-color:#CCFFFF
	background-repeat: repeat-x;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #C0D0E4;
	border-bottom-color: #C0D0E4;
	background-color: #EFF8FE;
}
.table_form td a{ color:#003366;text-decoration: none;}
.table_form td a:hover{color:#11A466;text-decoration: none;}
/***********************************
 *     列表标签结束
***********************************/


/***********************************
 *     表尾标签开始
***********************************/
.table_footer {
	background-image: url(img_10.gif);
	background-repeat: repeat-x;
	height: 39px;
	margin: 0px;
	width: 100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C0D0E4;
	border-bottom-color: #C0D0E4;
	border-left-color: #C0D0E4;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
}
/***********************************
 *     表尾标签结束
***********************************/
.serach {
	font-size: 12px;
	padding-left: 10px;
}
.serach input{ border:1px #dedede solid; font-size:12px;}

/*分页*/
.pages {
	font-size: 12px;
}
.pages a {
	color: #000000;
	font-size: 12px;
}
