/* CSS Document */
body{
	margin: 0px;
}
.login_top {
	background-image: url(../admin/images/20080317_03.gif);
	background-repeat: repeat-x;
	float: left;
	height: 32px;
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FEBD0B;
	margin-top: 18%;
}
.login_bg {
	background-image: url(../admin/images/20080317_04.gif);
	background-repeat: repeat-x;
	float: left;
	height: 239px;
	width: 100%;
}
.login_bg ul{
	background-image: url(../admin/images/20080317_06.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 239px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.login_bg ul li{
	background-image: url(../admin/images/20080317_08.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 237px;
	text-align: right;
	margin: 0px;
	padding-top: 40px;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #2855CC;

}
.login_bg ul li td{ font-size:12px;
}
.login_bg ul li td input{
	font-size:12px;
	border: 1px solid #7F9DB9;
}
.login_bottom {
	font-size: 12px;
	color: 3982CE;
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 6px;
}
.div_page_top {
	FLOAT: none; WIDTH: 686px; TEXT-ALIGN: left
}
.div_main {
	BORDER-RIGHT: #c9e6f6 3px solid; BORDER-TOP: #c9e6f6 3px solid; FLOAT: none; BORDER-LEFT: #c9e6f6 3px solid; WIDTH: 686px
}
.div_title_bg {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../admin/images/news_01.gif); COLOR: #000000; PADDING-TOP: 14px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 45px; TEXT-ALIGN: center
}
.div_text {
	BORDER-RIGHT: #c9e6f6 3px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 20px; BORDER-LEFT: #c9e6f6 3px solid; WIDTH: 686px; COLOR: #018db0; LINE-HEIGHT: 24px; PADDING-TOP: 20px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.div_text TD {
	FONT-SIZE: 12px; COLOR: #018db0; LINE-HEIGHT: 24px
}
.div_page_bottom {
	BORDER-RIGHT: #c9e6f6 3px solid; BACKGROUND-IMAGE: url(../admin/images/news_02.gif); BORDER-LEFT: #c9e6f6 3px solid; WIDTH: 686px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 35px
}
.kj_body {
BACKGROUND-COLOR: #1875bf; TEXT-ALIGN: center
}
.login_form {
	background-color: #FFFFFF;
	border: 1px solid #7E9DB9;
}
.guidong {
	SCROLLBAR-FACE-COLOR: #ECEBEC;          /****滚动条色****/
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;     /****滚动条左里边框色****/
	SCROLLBAR-SHADOW-COLOR: #ffffff;      /****滚动条右里边框色****/
	SCROLLBAR-3DLIGHT-COLOR: #d4d4d4;      /****滚动条左边框色****/
	SCROLLBAR-ARROW-COLOR: #666666;        /****三角箭头色****/
	SCROLLBAR-TRACK-COLOR: #F7F5F6;        /****背景色****/
	SCROLLBAR-DARKSHADOW-COLOR: #d4d4d4;   /****滚动条右边框色****/
	margin-top: 0px;
}