body{
	margin:0;
}
body, table, th, td {
    color:             #000000;
    background-color:  #ffffff;
    font-size:         15pt;
}

img {
    border: 0;
}

.border_width_1 {
    border-width:      1px;
    border-color:      #000000;
    border-style:      solid;
}

table {
    border-collapse:   collapse;
    border-spacing:    0;
}

th, td {
    padding:           1px;
}

th {
    font-weight:       bold;
    background-color:  #e5e5e5;
}

@media print {
    .print_ignore {
        display: none;
    }

	body{
		margin:0;
	}
	body, table, th, td {
		color:             #000000;
		background-color:  #ffffff;
		font-size:         15pt;
	}
	
	img {
		border: 0;
	}
	
	table, th, td {
		border-width:      1px;
		border-color:      #000000;
		border-style:      solid;
	}
	
	table {
		border-collapse:   collapse;
		border-spacing:    0;
	}
	
	th, td {
		padding:           1px;
	}
	
	th {
		font-weight:       bold;
		background-color:  #e5e5e5;
	}

}