*{margin:0; padding:0;font-size: 100%;}
body {font-family: "Tahoma", Verdana, Helvetica, Arial, sans-serif;color: #ffffff;background: #f5f5f5;font-size: 12px;margin: 10px 15px;text-align:center;}
a{color:#467aa7;font-weight:bold;text-decoration:none;background-color:inherit;}
a:hover{color:#2a5a8a; text-decoration:none; background-color:inherit;}
a img{border:none;}
p{padding:0 0 10px 0;}
p form{margin-top:0; margin-bottom:20px;}
.red,.red a {color: #ff0000; text-decoration:none;}
#container{width:96%;margin:0px auto;padding:1px 0;text-align:left;background:#ffffff;color:#303030;border:1px solid #cccccc;}
#header{height:80px;top: 0.75ex;width:100%;margin:0 1px 1px 1px;color:#ffffff;background:#ffffff;}
#logo {padding-right: 0px; padding-left: 50px; background: url(logo.gif) #ffffff no-repeat 10px 10px; padding-bottom: 0px; color: #b36b00;padding-top: 0px; height: 70px;}
#topheader {float: right;background-color:inherit;text-align:right;height: 2em;top:2px;margin: -60px 0 0 0;padding: 5px 0.5ex 0 1em;}
#topheader p {text-decoration: none;color:#000000;font-size: 12px;font-weight:normal;margin: 0;padding: 5px 2ex 0 0.25ex;}
#content-wrap {width:100%;border-top:1px #cccccc solid;margin: 0px auto; padding: 5px 0;text-align:left;background:#ffffff;color:#303030;}
#menu  {float: left;width: 20%;margin: 0;padding: 0;display: inline;}
#menu  ul.sidemenu {list-style:none;margin:10px 0 10px 15px;padding:0;}
#menu ul.sidemenu li {margin-bottom:1px;border: 1px solid #f2f2f2;}
#menu  ul.sidemenu a {display:block;font-weight:bold;color: #333;text-decoration:none;padding:2px 5px 2px 10px;background: #f2f2f2;border-left:4px solid #CCC;min-height:18px;}
* html body #sidebar ul.sidemenu a { height: 20px; }
#menu li.navtitle {display: block;text-align: left;margin: 0em;padding: 0.3em 0.7em 0.9em 0.6em;background-color: inherit;color: #153987;text-transform: uppercase;font-weight: bold;height: 1.3em;font-size: 14px;}
#menu .sidemenubg,#menu ul.sidemenubg a:hover{padding:5px 5px 2px 10px;background: #153987;color:#ffffff;border-left:4px solid #86c32a;font-weight: bold;height: 22px;text-decoration:none;}
.lbox{margin:0 0 10px 15px;padding:10px;border:1px solid #c0c0c0;background-color:#fafbfc;color:#505050;line-height:1.5em;}
#main {float:left;margin-left: 15px;padding: 10px 0 0 20px;width: 73%;min-height: 350px;}
* html #main {height: 350px;}
#tips {	margin-left: auto;margin-right: auto;width: 100%;height: auto;background-color: #fff;font-size: 9pt;border: 1px solid #ccc;text-align: left;padding-bottom: 5px;}
#tips a {color: #000;text-decoration: none;}
#tips a:hover {color: #000;text-decoration: underline;}
#titles {margin-left: auto;margin-right: auto;margin-top: 50px;width: 100%px;height: 30px;font-size: 14px;color: #3F68A6;font-weight: bold;text-align: left;}
div, textarea, option, input {font-size: 9pt;font-family: Tahoma;}
.log {display: block;background-color: #85a3cc;color: #fff;font-weight: bold;height: 20px;padding-top: 5px;padding-bottom: 5px;padding-left: 20px;}
.mes {display: block;margin:0 10px 0 15px;padding-left: 20px;padding-top: 5px;min-height: 100px;}
.inbut {border-color: #fff;	background-color: #fff;font: bold 14px Arial, Sans-serif;padding: 2px 3px;}
.inbut1 {border-color: #f2f2f2;	background-color: #aa474e; color: #fff; font: bold 14px Arial, Sans-serif;padding: 2px 3px;}
.clear{clear:both;}
#wrapper_1 {width:100%;float:left;border: 1px solid #ccc;margin-top:10px;margin-left: auto;margin-right: auto;}
.col { width: 20%px; float: left; margin: 0 15px; text-align: left; }
.col ul { margin: 0 0 0 15px; padding: 0; line-height: 1.5em;list-style:none;}
.col li { padding-bottom: 10px; }
.col h3 { font-size: 12px; padding: 5px 10px; margin: 15px 0 10px 0;background-color: #85a3cc;color: #fff;}
#wrapper{margin-top:5px;}
#wrapper1 {width:100%;float:left;margin-top:5px;margin-left: auto;margin-right: auto;}
#wrapper2 {width:100%;float:left;margin-top:10px;margin-left: auto;margin-right: auto;}
.clear {display:inline-block;}
* html .clear {height:1%}
.clear {display:block;})
#footer{clear:both;width:100%;padding:15px 0;margin:0;font-size:0.9em;border::1px solid #222;color:#000000;}
#footer p{padding:0; margin-top:20px; text-align:center;background:#ebf3ff;}
#footer a{color:#000000; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#000000; background-color:inherit; text-decoration: underline;}
.table_nav {clear: left; margin:5px 0 0 0; border: solid 1px #cccccc; empty-cells: show; border-collapse: collapse; background-color: #ffffff;width:100%;}
.table_nav tr {margin: 0px; padding: 0px;}
.table_nav td {padding: 5px 0 5px 0; border: solid 1px #cccccc; text-align: center; font-size:12px;}
.nav_bar{background-color:#85a3cc;font-weight:bold;color:#FFFFFF;align:left;}
.s1_color{color: #594FBF;}
.s2_color{color:#ff9000;}
.s3_color{color:#ff0000;}
.s4_color{color: #4FA800;}
.err{color:#ff0000;}
