.comments #empty {
  font-size: 32px;
  border: 1px solid #eee;
  background: #fbfbfb;
  padding: 32px;
}
.comments #empty i {
  font-size: 32px;
}
.comments > header > .alert {
  margin-bottom: -10px;
}
.comments > header h1,
.comments > header h2,
.comments > header h3 {
  margin: 30px 0 20px;
}
.comments > footer {
  padding-top: 10px;
}
.comments > footer > .reply-form > .avatar {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  margin-top: 0px;
}
.comments > footer > .reply-form > .avatar + .form {
  padding-left: 15px;
}
.comments > footer > .reply-form .submit-btn {
  border: none;
  background: #2fae2f;
  text-shadow: none;
  color: white;
  line-height: 30px;
  width: 100px;
  font-size: 15px;
}
.comment {
  padding: 10px 0;
}
.comment > .avatar,
.comment > .content {
  display: block;
}
.comment > .avatar {
  width: 60px;
  height: 60px;
  float: left;
  margin-top: 0px;
}
.comment > .avatar + .content {
  padding-left: 75px;
}
.comment > .content > .text {
  padding-top: 5px;
}
.comment > .content > .actions > a {
  padding-left: 2px;
  display: inline-block;
  padding-right: 5px;
}
.comment .nickname {
  font-size: 14px;
}
.comment .text {
  font-size: 16px;
}
.comment > .comments-list {
  padding-left: 30px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 0;
}
.comment > .comments-list > .comment {
  border: none;
}
.comment > .comments-list > .comment:last-child {
  padding-bottom: 0;
}
.comment .latest {
  border-top: 1px solid #ddd;
}
