* {
	font-size: 12px;
}

body {
	font-size: 12px;
	line-height: 1.5;
	margin: auto;
	margin-top: 8px;
	background:#F7F7F7;
}

form,h1,h2,h3,ul,ol,div {
	margin: 0;
	padding: 0;
}

td,th,div {
	word-break:break-all;
	word-wrap:break-word;
	line-height: 1.5;
}

li,dd {
	list-style-type:none;
	margin:0px;
	padding:0px; 
}

input {
	border: 1px solid #ababab;
	zoom: expression(function(ele){ (ele.type=='button'||ele.type=='submit'||ele.type=='reset') ?	ele.className='iebutton' : (ele.type=='text' ?	ele.className='ietext' : ''); (ele.type=='radio'||ele.type=='checkbox') ?	ele.className='np' : ''; ele.style.zoom = '1';}(this));
}



input[type="button"], input[type="submit"], input[type="reset"] {
	border:none;
	border-right: 1px solid #ACACAC;
	border-bottom: 1px solid #ACACAC;
	background-color: #F1F8B4;
	padding:2px;
	padding-right:5px;
	padding-left:5px;
	background: url(allbtbg2.gif) #EFF7D0;
	cursor:pointer;
}

input[type="text"] {
	padding:3px 3px 2px 3px;
	border-width:1px;
	border-style:solid;
	border-color:#999999 #dddddd #dddddd #999999;
}

.iebutton {
	border:none;
	border-right: 1px solid #ACACAC;
	border-bottom: 1px solid #ACACAC;
	background-color: #F1F8B4;
	padding:2px;
	padding-right:5px;
	padding-left:5px;
	background: #EFF7D0;
	cursor:pointer;
}

.ietext {
	height:18px;
	padding:3px 3px 2px 3px; 
	border-width:1px;
	border-style:solid;
	border-color:#999999 #dddddd #dddddd #999999;
}

.np {
	border: none;
}

h1 { color:#171B16; font-size:130%; font-weight:bold; }
h2 { color:#171B16; font-size:115%; font-weight:bold; }
h3 { color:#171B16; font-size:100%; font-weight:bold;}

a:link { font-size: 9pt; color: #000000; text-decoration: none; }
a:visited { font-size: 9pt; color: #000000; text-decoration: none; }
a:hover {color: red; }
a img { border-style:none; }
a b { color:#666600 }
a strong { color:#666600; }
b,strong { color:#666600; }

.bline {
	border-bottom: 1px dotted #BCBCBC;
	height:28px;
	background-color: #FFFFFF;
}


.pagelistbox span {
	padding: 2px 3px 0 3px;
	border: 1px solid #A7CA88;
	margin-right: 8px;
	background: #EBF5BA;
	color: #536B43;
}

.pagelistbox a {
	padding: 2px 4px 0 4px;
	border: 1px solid #A7CA88;
	background:#EBF5BA;
}

.pagelistbox a:hover {
	background:#FFFFFF;
}

/* 表单的CSS  */

.txtnumber {
	width:100px;
	height:22px;
	padding:3px 3px 2px 3px; 
	border-width:1px;
	border-style:solid;
	border-color:#999999 #dddddd #dddddd #999999;
}

.txt {
	width:300px;
	height:22px;
	padding:3px 3px 2px 3px; 
	border-width:1px;
	border-style:solid;
	border-color:#999999 #dddddd #dddddd #999999;
}

.txtdate {
	width:150px;
	height:22px;
	padding:3px 3px 2px 3px; 
	border-width:1px;
	border-style:solid;
	border-color:#999999 #dddddd #dddddd #999999;
}

.txtarea {
	width:60%;
	height:120px;
	padding:3px 3px 2px 3px; 
	border-width:1px;
	border-style:solid;
	border-color:#999999 #dddddd #dddddd #999999;
}




