html {
	font-size: 14px;
	overflow-x: hidden;
}
li {
	list-style: none;
}
a {
	color: #212529
}
a:hover {
	text-decoration: none;
}
p, dl, dt, dd, ul {
	margin: 0px;
	padding: 0px;
}
.lh-1 {
	line-height: 1;
}
.lh-2 {
	line-height: 2;
}
.lh-3 {
	line-height: 3;
}
.lh-4 {
	line-height: 4;
}
.fs-12 {
	font-size: .857rem;
}
.fs-14 {
	font-size: 1rem;
}
.fs-16 {
	font-size: 1.142rem;
}
.fs-18 {
	font-size: 1.285rem;
}
.fs-20 {
	font-size: 1.428rem;
}
.fs-22 {
	font-size: 1.571rem;
}
.fs-24 {
	font-size: 1.714rem;
}
.fs-26 {
	font-size: 1.857rem;
}
.fs-28 {
	font-size: 2rem;
}
.mt-6, .my-6 {
	margin-top: 4rem !important;
}
.mt-7, .my-7 {
	margin-top: 5rem !important;
}
.mt-8, .my-8 {
	margin-top: 6rem !important;
}
.mt-9, .my-9 {
	margin-top: 7rem !important;
}
.mt-10, .my-10 {
	margin-top: 8rem !important;
}
.mb-6, .my-6 {
	margin-bottom: 4rem !important;
}
.mb-7, .my-7 {
	margin-bottom: 5rem !important;
}
.mb-8, .my-8 {
	margin-bottom: 6rem !important;
}
.mb-9, .my-9 {
	margin-bottom: 7rem !important;
}
.mb-10, .my-10 {
	margin-bottom: 8rem !important;
}
.pt-6, .mp-6 {
	padding-top: 4rem !important;
}
.pt-7, .py-7 {
	padding-top: 5rem !important;
}
.pt-8, .py-8 {
	padding-top: 6rem !important;
}
.pt-9, .py-9 {
	padding-top: 7rem !important;
}
.pt-10, .py-10 {
	padding-top: 8rem !important;
}
.pb-6, .py-6 {
	padding-bottom: 4rem !important;
}
.pb-7, .py-7 {
	padding-bottom: 5rem !important;
}
.pb-8, .py-8 {
	padding-bottom: 6rem !important;
}
.pb-9, .py-9 {
	padding-bottom: 7rem !important;
}
.pb-10, .py-10 {
	padding-bottom: 8rem !important;
}
.h-5px {
	height: 5px;
}
.h-10px {
	height: 10px;
}
.h-15px {
	height: 15px;
}
.h-20px {
	height: 20px;
}
.h-25px {
	height: 25px;
}
.h-30px {
	height: 30px;
}
.h-35px {
	height: 35px;
}
.h-40px {
	height: 40px;
}
.h-45px {
	height: 45px;
}
.h-50px {
	height: 50px;
}
.h-55px {
	height: 55px;
}
.h-60px {
	height: 60px;
}
.h-65px {
	height: 65px;
}
.h-70px {
	height: 70px;
}
.h-75px {
	height: 75px;
}
.h-80px {
	height: 80px;
}
.h-85px {
	height: 85px;
}
.h-90px {
	height: 90px;
}
.h-95px {
	height: 95px;
}
.h-100px {
	height: 100px;
}
.h-110px {
	height: 110px;
}
.h-120px {
	height: 120px;
}
.h-130px {
	height: 130px;
}
.h-140px {
	height: 140px;
}
.h-150px {
	height: 150px;
}
.h-160px {
	height: 160px;
}
.h-170px {
	height: 170px;
}
.h-180px {
	height: 180px;
}
.h-190px {
	height: 190px;
}
.h-200px {
	height: 200px;
}
.h-250px {
	height: 250px;
}
.h-300px {
	height: 300px;
}
.h-350px {
	height: 350px;
}
.h-400px {
	height: 400px;
}
.h-450px {
	height: 450px;
}
.h-500px {
	height: 500px;
}
.border-top-dashed {
	border-top: 1px dashed #dee2e6 !important;
}
.border-right-dashed {
	border-right: 1px dashed #dee2e6 !important;
}
.border-bottom-dashed {
	border-bottom: 1px dashed #dee2e6 !important;
}
.border-right-dashed {
	border-top: 1px dashed #dee2e6 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
	font-size: 14px;
}
.navbar-brand {
	font-size: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.shadow-sm-top {
	box-shadow: 0 -.125rem .25rem rgba(0,0,0,.075) !important;
}
.card, .figure {
	margin: 15px 0;
}

@media only screen and (min-width: 576px) {
	.card-img-200 {
		height: 200px;
		overflow: hidden;
	}
	.card-img-180 {
		height: 180px;
		overflow: hidden;
	}
	.card-img-150 {
		height: 150px;
		overflow: hidden;
	}
	.card-img-120 {
		height: 120px;
		overflow: hidden;
	}
	.card-img-100 {
		height: 100px;
		overflow: hidden;
	}
}

.title {
	text-align: center;
	font-size: 30px;
	color: #37474f;
	letter-spacing: 2px;
}
.subtitle {
	text-align: center;
	font-size: 18px;
	color: #fff;
	margin-bottom: 30px;
}
.text-secondary a {
	color: #6c757d;
}
.code,.code img {
	height: 100px;
}
.pages {
	min-height: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.position, .position a {
	color: #999;
}
.page-num:not(:disabled) {
	cursor: pointer;
}
.page-num, .page-link {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #17a2b8;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
a.page-num:hover, .page-link:hover {
	text-decoration: none;
}
.page-num-current {
	z-index: 1;
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}
.page-num-current:hover {
	color: #fff;
}

@media only screen and (max-width: 768px) {
	.page-num {
		display: none;
	}
	.logo-sm-height{
		height: 40px;
	}
	.head-sm-height{
		height: 61px !important;
	}
}
.content {
	color: #666;
	line-height: 2;
}
.content img, .content iframe {
	max-width: 100% !important;
}
.content li{
	list-style:disc outside none;
	margin-left:20px;
}

.view {
	max-width: 500px;
}
.view .swiper-slide {
	height: 300px;
	max-width: 500px;
	padding: 0 3px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}
.view .swiper-slide img {
	height: 100%;
}
.view .arrow-left {
	background: url(../images/index_tab_l.png) no-repeat left center;
	position: absolute;
	left: 10px;
	width: 28px;
	height: 300px;
	z-index: 10;
	display: none;
}
.view .arrow-right {
	background: url(../images/index_tab_r.png) no-repeat right center;
	position: absolute;
	right: 10px;
	width: 28px;
	height: 300px;
	z-index: 10;
	display: none;
}
.preview {
	position: relative;
	width: 440px;
	left: 30px;
}
.preview .swiper-slide {
	width: 87.5px;
	height: 70px;
	margin: 0 3px;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}
.preview .swiper-slide img {
	display: inline-block;
	height: 100%;
}
.preview .active-nav {
	border: 1px solid #F00;
}
.preview .arrow-left {
	background: #fff url(../images/feel3.png) no-repeat left center;
	position: absolute;
	left: -20px;
	top: 0;
	width: 20px;
	height: 70px;
	z-index: 10;
}
.preview .arrow-right {
	background: #fff url(../images/feel4.png) no-repeat right center;
	position: absolute;
	right: -20px;
	top: 0;
	width: 20px;
	height: 70px;
	z-index: 10;
}

@media only screen and (max-width: 750px) {
	.view .swiper-slide {
		height: 200px;
	}
	.preview {
		display: none;
	}
	.view .arrow-left, .view .arrow-right {
		height: 200px;
		display: block;
	}
}
.online {
	position: fixed;
	bottom: 150px;
	right: 10px;
	width: 60px;
	z-index: 999;
	color: #999;
}
.online a {
	color: #666;
}
.online a:hover {
	text-decoration: none;
}
.online dl {
	background: #27a8e1;
	padding: 10px 5px;
	margin-bottom: 1px;
	position: relative;
}
.online dl dd {
	color: #fff;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
.online dl dd i {
	font-size: 25px;
}
.online dl:hover {
	background: #1781bd;
}
.online dl dt {
	position: absolute;
	top: 0px;
	right: 60px;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 9999;
	display: none;
	padding: 10px 15px;
	font-weight: normal;
}
.online dl dt h3 {
	display: block;
	font-size: 16px;
	color: #666;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.online dl dt h3 i {
	margin-right: 5px;
}
.online dl dt h3 span {
	float: right;
	cursor: pointer;
}
.online dl dt input {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 15px;
	height: 40px;
	line-height: 40px;
	padding: 3px 5px;
	width: 100%;
}
.online dl dt button {
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	background: #28a7e1;
	color: #fff;
	cursor: pointer;
}
