{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="{$back_link}" data-direction="reverse"><img src="{DT_MOB}static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">{$head_name}</div>
<div class="head-bar-right">
<a href="javascript:Dsheet('{if $purchase}<a href=&#34;{$MOD[mobile]}{rewrite('buy.php?itemid='.$itemid)}&#34;><span>立即购买</span></a>|{/if}<a href=&#34;{DT_MOB}api/share.php?mid={$moduleid}&itemid={$itemid}&#34; data-transition=&#34;slideup&#34;><span>分享好友</span></a>|<a href=&#34;{$MOD[mobile]}&#34; data-direction=&#34;reverse&#34;><span>{$MOD[name]}首页</span></a>|<a href=&#34;{DT_MOB}channel.php&#34; data-direction=&#34;reverse&#34;><span>频道列表</span></a>', '取消');"><img src="{DT_MOB}static/img/icon-action.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
<div class="main">
	<div class="title"><strong>{$title}</strong></div>
	<div class="info">{$editdate}{if $MOD[hits]}&nbsp;&nbsp;浏览:<span id="hits">{$hits}</span>{/if}</div>
	<div class="content">
	{if $thumb}<center><img src="{$thumb}" alt="{$title}"/></center>{/if}
	价格:<span class="f_red">{$DT[money_sign]}{$price}</span><br/>
	原价:{$DT[money_sign]}{$marketprice}<br/>
	折扣:{$discount}折<br/>
	节省:{$DT[money_sign]}{$savemoney}<br/>
	购买:{$orders}人<br/>
	状态:<span class="f_red">{if $process == 0}正在成团，距离团购人数还差{$left}人{elseif $process == 1}团购已成功，还可以继续购买...{else}团购已结束{/if}</span><br/>
	{if $purchase}<a href="{$MOD[mobile]}{rewrite('buy.php?itemid='.$itemid)}"><div class="btn-green" style="margin:10px 0;">立即购买</div></a>{/if}
	{$content}
	</div>
	<div class="head bd-b"><strong>联系方式</strong></div>
	<div class="contact">{template 'contact', 'chip'}</div>
</div>
{template 'comment', 'chip'}
{template 'footer'}