<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={#$charset#}" />
<meta name="Keywords" content="{#$cat_info.keywords#}" />
<meta name="Description" content="{#$cat_info.description#}" />
<title>{#$location.name2#} - {#$site_name#} - Powered by BlueCMS</title>
<link href="templates/default/css/category.css" rel="stylesheet" type="text/css" />
<script src="templates/default/css/jquery.js" type="text/javascript"></script>
<link rel="shortcut icon" href="images/favicon.ico" />
<script type="text/javascript">
	$(function(){
		$("#cat ul li:nth-child(2n)").addClass("color");
	});
</script>
<style type="text/css">
.color{background-color:#F8F8F8;}
</style>
</head>
<body>
{#include file="header.htm"#}
	<div class="main">
		<div class="main_l">
			<div class="active_act">
				您所在的位置：<a href="./">首页</a> &raquo; <a href="{#$location.url1#}">{#$location.name1#}</a> &raquo; {#$location.name2#}
			</div>
			<div id="ann">
				<div id="title"><h2>{#$ann.title#}</h2></div>
				<div id="ann_info"><span id="pub_date">发布时间：{#$ann.add_time|date_format:"%Y-%m-%d %H:%M:%S"#}</span><span id="author">作者：{#$ann.author#}</span><span id="click">点击：{#$ann.click#}</span></div>
				<div id="content">{#$ann.content#}</div>
			</div>
		</div>
		<div class="main_r">
			<div id="hot_ann">
				<div class="title1">热门公告</div>
				<div class="content1">
					<ul>{#section name=h_ann loop=$hot_ann#}
						<li><a href="{#$hot_ann[h_ann].url#}" {#if $hot_ann[h_ann].color#}style="{#$hot_ann[h_ann].color#}"{#/if#}>{#$hot_ann[h_ann].title|mb_substr:0:18#}</a></li>
						{#/section#}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
{#include file="footer.htm"#}
</div>
</body>
</html>