<div class="footer">
	<!--<hr style="color:#CCE6F5;">
	--><div id="bottom_nav">
			<a href="./" target="_blank" rel='nofollow'>网站首页</a>&nbsp;{#section name=n loop=$bot_nav#}&nbsp;|&nbsp;<a href="{#$bot_nav[n].navlink#}" target="{#if $bot_nav[n].opennew eq 1#}_blank{#else#}_self{#/if#}" rel='nofollow'>{#$bot_nav[n].navname#}</a>{#/section#}
	</div>
	<div id="foot">{#$right#}<br/>
	<!-- 如未得到官方允许，请务必保留此版权信息！ -->
		Powered by <span class="bluecms"><a href="http://www.bluecms.net" target="_blank" >BlueCMS</a></span> <span class="version">{#$version#}</span> &nbsp;&nbsp;{#$icp#}&nbsp;&nbsp;{#$count#}
	</div>
</div>