body,html{ font:12px/1.8 Tahoma,'Microsoft Yahei','Simsun'; color:#333; background:#f9f9f9; -webkit-text-size-adjust:none; text-align:center;}
a{ color:#4275A5; }
a:hover{ color:#4275A5;}
input.submit{ height:28px; line-height:20px; font-size:12px; padding:0px 20px;}
input.text{ color:#333; border:1px solid #eee; border-top-color:#999; border-left-color:#999; padding:2px; padding:0px 2px 3px\9; vertical-align:middle; height:22px; line-height:22px; width:150px;}
input.metfocus{ border:1px solid #09f;}
.clear{ clear:both; font-size:0px; height:0px; overflow:hidden;}
#metcontent{ width:860px; height:500px; margin:0px auto; text-align:left; }
.top{ padding-top:10px; background:#1F75B7; height:70px;}
.topcont{ width:860px; margin:0px auto; height:63px; overflow:hidden; text-align:left;}
.logo{ float:left;}
.headright{ color:#fff; padding-top:42px; *padding-top:38px; padding-right:15px; float:right; text-align:right; font-size:12px; }
.headright font{ padding-left:10px; font-size:13px;}
.bodyleft ul{ margin:5px 0px 0px; padding-left:80px;}
.bodyleft li{ line-height:40px; width:150px; float:left; height:40px; font-size:14px;}
.bodyleft li span{ float:left; margin-right:8px; font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif; font-size:30px; color:#999; position:relative; bottom:5px;}
.bodyleft li.stepnow{ color:#45b00f; font-weight:bold; border-right-color:#fff;}
.bodyleft li.stepnow span{ color:#999; font-weight:normal;}
.bodyright iframe{ width:800px; margin:10px 30px 0px;}
.foot{ font-size:11px; line-height:1.5; padding:0px 0px 10px; text-align:center;}
.foot b{ font-weight:normal;}
.foot a{ text-decoration:none;}

.bodycont{ width:860px; margin:10px auto 0px; text-align:left; }
.round{
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.contenttext{ text-align:left; padding:10px 15px; margin-bottom:10px; font-size:13px; line-height:2; border:1px solid #ccc; background:#fcfcfc; }
.contenttext ul.license{ padding-left:25px; margin:5px 0px; list-style-type:decimal;}
.contenttext .title{ font-size:16px; margin:0px 0px 6px; text-align:center; }
.contenttext .titleok{ font-size:16px; margin:0px 0px 6px; color:#390; border-bottom:1px solid #ccc; }
.contenttext address{ display:inline;}



.center{ width:500px; height:30px; margin:0px auto; line-height:30px; font-size:14px; font-weight:bold;}
.center a{ color:#003399;}
fieldset { margin: 0; padding: 10px; border: 1px solid #eee; background:#fafafa; }
legend { margin: 0; padding: 0 4px; color:#4275A5; font-size:14px; }
input, select, textarea { margin: 10px 5px 0; padding: 0; }
label, span.label { margin: 0; padding: 0; font-weight: bold; }
div.section { clear: both; }
div.section input, div.section select, div.section div.input, div.section textarea { }
div.section div.input input { float: none; }
div#language input, div#language select { margin: 0; padding: 0; }
.inpp{ width:155px\9;}

div.section ul.inspect-list{ padding:0px;}
div.section ul.inspect-list li  { list-style-type: none; padding-left:20px; margin-left:20px;}
div.section ul.inspect-list li  span{ float:left; width:180px; font-weight:bold;}
div.section ul.inspect-list li.OK { background:url(../images/greencheck.png) no-repeat 180px center; color:#009933; }
div.section ul.inspect-list li.FAIL { list-style-image: url(../images/redx.gif); color:#FF0000; }
div.section ul.inspect-list li.WARN { background:url(../images/yellowcaution.png) no-repeat 180px center; color:#f00; }
div#error ul li.FAIL  { list-style-image: url(../images/redx.gif); color:#FF0000; }
div#error ul li.WARN { background:url(../images/yellowcaution.png) no-repeat left center; color:#f00; }
div.section ul.inspect-list li.NA { list-style-type:none;}

.auwgph li{ float:left; width:330px;}
.aownbwef li{ background-position:left center!important;}

.databasesetup .section1{ margin-bottom:10px; padding:6px; }
.adminsetup .section1{ margin-bottom:10px; padding:6px; }
div.section1 p{ float:left; width:150px; text-align:right;  margin-right:12px; font-weight:bold; }
div.section1 span{ color:#999; margin-left:5px; }


div.progress {color:#CC6600;}
.footer{ height:30px; line-height:30px; width:900px; margin:0px auto; text-align:center; background:#FFFFFF; color:#333333; margin-bottom:10px;}
.footer a{ color:#333333;}
.footer a:hover{ text-decoration:underline;}

.content4 h1{ color:#FF0000; font-size:22px; line-height:40px; text-align:center; font-family:arial; margin:30px 0px 0px 0px;}
.content4 h1 span{ color:#0066FF;}
.btn2{color:#003399;}
.btn3{color:#003399; font-size:12px; font-weight:normal;}
.getweburl{ font-size:16px; font-weight:bold; text-decoration:none;}