{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="m">	
	<div class="nav"><div><img src="{DT_SKIN}image/ico-share.png" class="share" title="分享好友" onclick="Dshare({$moduleid}, {$itemid});"/></div><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
	<div class="b20 bd-t"></div>
</div>
<div class="m m3">
	<div class="m3l">
	<h1 class="title" id="title">{$title}</h1>
	<div class="info"><span class="f_r"><img src="{DT_SKIN}image/ico-zoomin.png" width="16" height="16" title="放大字体" class="c_p" onclick="fontZoom('+', 'article');"/>&nbsp;&nbsp;<img src="{DT_SKIN}image/ico-zoomout.png" width="16" height="16" title="缩小字体" class="c_p" onclick="fontZoom('-', 'article');"/></span>
	日期：{$adddate}&nbsp;&nbsp;&nbsp;&nbsp;
	{if $copyfrom}来源：{if $fromurl}<a href="{$fromurl}" target="_blank">{/if}{$copyfrom}{if $fromurl}</a>{/if}&nbsp;&nbsp;&nbsp;&nbsp;{/if}
	{if $author}作者：{$author}&nbsp;&nbsp;&nbsp;&nbsp;{/if}
	{if $MOD[hits]}浏览：<span id="hits">{$hits}</span>&nbsp;&nbsp;&nbsp;&nbsp;{/if}
	{if $could_comment}<a href="{$EXT[comment_url]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}">评论：{$comments}</a>&nbsp;&nbsp;&nbsp;&nbsp;{/if}
	</div>
	{if $introduce && $user_status == 3 && $page == 1}<div class="introduce">核心提示：{$introduce}</div>{/if}
	{if $CP}{template 'property_show', 'chip'}{/if}
	<div id="content">{template 'content', 'chip'}</div>
	{if $voteid}<div class="pd20">{loop $voteid $v}
	{load('vote_'.$v.'.htm')}{/loop}</div>
	{/if}
	{if $pages}<div class="pages">{$pages}</div>{/if}
	<div class="b20 c_b">&nbsp;</div>	
	{if $subtitles}
	<div class="subtitle">
	<strong>本文导航：</strong>
	<ul>
	{loop $titles $i $t}
	{if $subtitles > $i}
	<li>
	({php echo $i+1;})
	{if $page == $i+1}
	<strong>{$t}</strong>
	{else}
	<a href="{$MOD[linkurl]}{if $i}{itemurl($item, $i+1)}{else}{$item[linkurl]}{/if}" title="{$t}">{$t}</a>
	{/if}
	</li>
	{/if}
	{/loop}
	</ul>
	<div class="c_b"></div>
	</div>
	{/if}
	{if $keytags}
	<div class="keytags">
	<strong>标签：</strong>
	{loop $keytags $t}
	<a href="{$MOD[linkurl]}{rewrite('search.php?kw='.urlencode($t))}" target="_blank" class="b">{$t}</a>
	{/loop}
	</div>
	{/if}
	{if $MOD[fee_award]}<div class="award"><div onclick="Go('{$MODULE[2][linkurl]}award.php?mid={$moduleid}&itemid={$itemid}');">打赏</div></div>{/if}
	{if $MOD[page_srelate]}
	<div class="b20">&nbsp;</div>
	{if $keytags}
	<div class="head-txt"><span><a href="{$MOD[linkurl]}{rewrite('search.php?kw='.urlencode($keytags[0]))}">更多<i>&gt;</i></a></span><strong>同类{$MOD[name]}</strong></div>
	<div class="related"><!--{tag("moduleid=$moduleid&length=44&condition=status=3 and itemid<>$itemid and keyword like '%".$keytags[0]."%'&areaid=$cityid&pagesize=".$MOD[page_srelate]."&order=".$MOD[order]."&cols=2&template=list-table", -2)}--></div>
	{else}
	<div class="head-txt"><span><a href="{$MOD[linkurl]}{$CAT[linkurl]}">更多<i>&gt;</i></a></span><strong>同类{$MOD[name]}</strong></div>
	<div class="related"><!--{tag("moduleid=$moduleid&length=44&catid=$catid&condition=status=3 and itemid!=$itemid&areaid=$cityid&pagesize=".$MOD[page_srelate]."&order=".$MOD[order]."&cols=2&template=list-table", -2)}--></div>
	{/if}
	{/if}
	{template 'comment', 'chip'}
	<br/>
	</div>
	<div class="m3r">
	{if $MOD[page_srecimg]}
	<div class="head-sub"><strong>推荐图文</strong></div>
	<div class="list-thumb"><!--{tag("moduleid=$moduleid&length=20&condition=status=3 and level=3 and thumb!=''&catid=$catid&areaid=$cityid&pagesize=".$MOD[page_srecimg]."&order=".$MOD[order]."&width=124&height=93&cols=2&template=thumb-table")}--></div>
	{/if}
	{if $MOD[page_srec]}
	<div class="head-sub"><strong>推荐{$MOD[name]}</strong></div>
	<div class="list-txt"><!--{tag("moduleid=$moduleid&condition=status=3 and level=1&catid=$catid&areaid=$cityid&order=".$MOD[order]."&pagesize=".$MOD[page_srec])}-->	</div>
	{/if}
	{if $MOD[page_shits]}
	<div class="head-sub"><strong>点击排行</strong></div>
	<div class="list-rank"><!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$today_endtime-30*86400&catid=$catid&areaid=$cityid&order=hits desc&key=hits&pagesize=9&template=list-rank")}--></div>
	{/if}
	</div>
	<div class="c_b"></div>
</div>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
{template 'footer'}