@charset "utf-8";
/* CSS Document */

body { font:12px Arial, Verdana, Helvetica, sans-serif; text-align:center; color:#333; font-family: "微软雅黑" }
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, blockquote, h1, h2, h3, h4, h5, h6 { padding:0; margin:0 }
table, td, tr, th { font-size:12px }
input, select { vertical-align: middle; }
table { margin:0 auto }
img { border:none }
ol, ul, li{ list-style:none }
em { color:#999; font-family: Tahoma, Verdana, helvetica; font-size: 10px; font-style: normal; white-space: nowrap; }

/* 连接 */
a { color:#005fab; text-decoration:none }
a:link { color:#3b5999; text-decoration:none }
a:visited { color:#3b5999; text-decoration:none }
a:hover { color:#3b5999; text-decoration:underline }
a:active { color:#3b5999 }

/*头部*/
.header { height:60px;_height:60px; text-align:left; margin:0 auto; background:#2E4C8C; z-index:1; border-bottom:3px solid #1e325c; position:relative }
.header .logo { position:absolute; top:10px; left:10px;}
.header .logo img{vertical-align:-8px;margin-right:5px}
.header .logo a { display: block; text-decoration: none;color:#fff }
.header .main_nav { position:absolute; bottom:0; left:200px; }
.header .main_nav a { width:60px; height:31px; display:inline-block; font-size:14px; color:#FFF; text-align:center; line-height:31px; }
.header .main_nav a.on { background:#1d325f;border-radius:3px 3px 0 0}
.header .nav_sub { text-align:right; color:#fff; position:absolute; right:10px; top:5px; white-space:nowrap; }
.header .nav_sub a { color:#fff; }
.header_line { background-color:#dee4ed; height:9px; padding-left:200px }
.header_line span { background:#dee4ed url(image/top_line.gif) repeat-x 0 0; height:9px; display:block; overflow:hidden; }
/*左侧菜单*/
.LeftMenu { height: auto; margin-left:5px; text-align:left }
.MenuList ul, .MenuList li { list-style-type: none; float:left; width:100% }
.MenuList a { display: block; width: 100%; line-height: 32px; float:left }
.submenu { display: none; }
.submenu li a { text-indent: 30px; }
.submenu li { color: #FFFFFF; background-image: url(image/submenuA.gif); background-repeat: no-repeat; background-position: left bottom;}
.submenuA { color: #FFFFFF; background-image: url(image/submenuA.gif); background-repeat: no-repeat; background-position: left bottom; }
.submenuB { color: #FFFFFF; background: url(image/submenuB.gif) no-repeat 0 0; }
.treemenu { color: #FFFFFF; background: url(image/ArrOn.png) no-repeat; text-indent: 25px; margin-bottom: 5px; }
a.actuator:link, a.actuator:visited, a.actuator:hover, a.actuator:active { color: #FFFFFF; margin: 0px; padding: 0px; font-size:14px; font-weight:bold; }
#switchPoint { cursor: pointer; }