@charset "utf-8";
body{ background:#dedede;padding:0px;margin:1px;font-size:12px; line-height:140%}
p{ clear:both; padding:0; margin:0}
.top{ background:#307EA2; height:24px;}
a{ text-decoration:none}
ul,li,ol{ list-style:none; margin:0; padding:0 }
em{ color:#63676A}
.alC{ text-align:center}
.alR{ text-align:right}
.R{ float:right}
.L{ float:left}
.C{ clear:both; height:0; overflow:hidden}
hr{ margin:0; padding:0; border-top:1px solid #ccc;border-bottom:1px solid #fff}
.mt5{ margin-top:5px;}
img{ border:0}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.pt5{ padding-top:5px;}
.pb5{ padding-bottom:5px;}
.lh40{ line-height:40px;}


/*公用图片*/
.sico,.icon_add_topic_d,.icon_add_face_d,.icon_add_img_d,.icon_add_link_d,.icon_add_video_d,.icon_add_music_d,.q_ico_arrow,.q_ico_arrow2,.q_ico_arrow3,a.faceicon1:link, a.faceicon1:visited,.ico_cls,.ico_original,.talkPop_arrow,.icoMes,.icoWrite,.head_pic,.ico_follow,.ico_tuijian,.del,.ico_cue_no,.ico_cue_ok,.ico_app_manage,.ico_app_add,.ico_turn_l,.ico_turn_r,.ico_upd,.ico_cue{  background: url(images/sicon.gif) no-repeat; display:inline-block}

/*icon*/
.icon_jian,.icon_jian_x,.icon_jian_s{ background:url(images/icons-18-black.png) no-repeat; display:inline-block; height:18px}
.icon_jian_w{ background:url(images/icons-18-white.png) no-repeat; display:inline-block; height:18px}

.q_tit,.q_btm,.q_tit_l,.q_btm_l{  background: transparent url(images/feed_quote_bg.gif) no-repeat 0 0}

/*图片*/
.userPic { float:left;display:block; background:transparent; font-size:1px; }
.userPic img{ width:48px; height:48px; border-radius:5px 5px; -moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;}
.float_n{ float:none;height:55px; width:55px; }


/*圆角*/

.btn,.btn_b{border-radius:5px 5px; -moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;background:#e6e6e6; padding:10px; color:#fff}

.btn_b{ background:#900;}

.true{ padding:5px 0; -moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;background:#f9f9f9; border:1px solid #ccc; margin:10px; }
.true li{ padding:5px 10px; text-align:left; font-size:16px; border-bottom:1px solid #ddd;line-height:38px;}
.true li a{ color:#000}
.true li.bg{ background:#f5f5f5; cursor:pointer}
.true li.no{ border-bottom:0}
.true li.no p{ line-height:180%; font-size:14px;}



/*头部*/
.tit_bg{margin:0px; background: url(images/toolbar.png) repeat-x; text-align:center; height:44px; line-height:44px; font-size:22px; padding:0 5px; color:#fff; font-weight: bold} 
.tit_rig,.tit_rigb{ float:right; background: url(images/expand_p.png) no-repeat 0 7px; width:50px; height:44px;}
.tit_rig_b{background: url(images/expand_p_b.png) no-repeat 0 7px;}
.tit_xin,.tit_xin_b{ float:left; background: url(images/expand_x.png) no-repeat 0 7px; width:50px; height:44px;}
.tit_xin_b{background: url(images/expand_x_b.png) no-repeat 0 7px; }
.tit_back,.tit_back_b{ float:left; background: url(images/back_x.png) no-repeat 0 7px; width:50px; height:44px; font-size:14px; padding-left:5px;}
.tit_back_b{background: url(images/back_x_b.png) no-repeat 0 7px; }

/*最新消息*/
.h_news{height:59px; line-height:58px; background-color:#999; filter:alpha(opacity=50); /* IE */ -moz-opacity:0.5; /* Moz + FF */ opacity: 0.5;  text-align:center; font-size:16px; z-index:999999; position: absolute; left: 0; top: 44px; width:100%; margin:2px 0;}
.h_news span{filter:alpha(opacity=100); /* IE */ -moz-opacity:1/* Moz + FF */ opacity: 1; color:#000}

/*内容*/

/*
.content{height:auto !important; min-height:300px; height:300px; overflow:visible; background:#f9f9f9; position:relative;}
.content_bg{ background:#f9f9f9;height:auto !important; min-height:300px; height:300px; overflow:visible;}
.nb{ background:#DEDEDE;}
*/
.as_h{background: url(images/ICON_10_p.png) no-repeat 0; width:17px; height:17px; font-size:11px; color:#666; padding-left:25px;}
.as_z{background: url(images/ICON_09_p.png) no-repeat 0; width:17px; height:17px; font-size:11px; color:#666;padding-left:25px;}

.con_forum{ font-size:11px; color:#666; font-weight:normal}


/*底部*/

/*
.footer{background:url(images/bottom_tab_01_p.png) repeat-x;height:59px; padding-left:5px;}
.footer li{ float:left; width:60px; height:44px; padding-top:3px; text-align:center; margin-right:2px}
.footer li a{font-size:12px; color:#fff; font-weight: bold;}


.fot_p_1{background: url(images/ICON_01_p.png) no-repeat center; text-align:center; width:72px;height:38px; display:block;}
.fot_p_2{background: url(images/ICON_03_p.png) no-repeat center; text-align:center; width:72px;height:38px; display:block;}
.fot_p_3{background: url(images/ICON_05_p.png) no-repeat center; text-align:center; width:72px;height:38px; display:block;}
.fot_p_4{background: url(images/ICON_11_p.png) no-repeat center; text-align:center; width:72px;height:38px; display:block;}
.fot_p_5{background: url(images/ICON_07_p.png) no-repeat center; text-align:center; width:72px;height:38px; display:block;}
.fot_p_bg{background: url(images/bottom_tab_02_p.png) no-repeat; text-align:center; height:53px; width:72px; display:inline-block}
*/

/*留言页面*/
.message{float:left;margin-top:40px;width:100%; background-color:#F3F5F8}
.message h2{ font-weight:bold; font-size:14px;padding:5px 0 0 5px;}
.message h2 em{ padding-right:10px; float:right}
.message_text{ height:80px; line-height:20px; }

/*回复内容*/
.feed_list .feed_wb{ margin:7px 0px 10px 5px;position:relative;width:460px; float:right; }

.new_position{padding:6px 0 10px;}
a.faceicon1:link, a.faceicon1:visited{display:block;float:left;height:17px;margin-right:4px;margin-top:2px;width:31px; background-position:0 -16px;;}
.new_position textarea  {margin-right:5px;width:310px;}
.position_list{ border-top: 1px dashed #d8d8d8; float:left; width:100%; padding-top:10px;}
.position_list .pic{ float:left; margin-right:5px;}
.position_list .list_c{  margin:0; color:#707070; margin-left:45px;}


.feedBox {  background:#f9f9f9}
.feed_msg_new,a.feed_msg_new { height:22px; margin-top:4px; color:#BB861C; display:block; text-align:center; padding-top:5px;}
.feed_list { padding:0 8px; clear:both; height:auto; overflow:hidden  }
.feed_list li { float:left; padding:12px 0; width:100%; }
.feed_list li.t{ background-color:#fbfbfb;padding:5px 0;margin:5px 0;}
.feed_list li a{ color:#000}

.feed_img{}
.feed_img img{ border:1px solid #ccc; padding:1px;}

.right_box .userPic img{border:solid 1px #fff; padding:0px;}
.feed_list li .feed_c { margin-left:58px;} 
.feed_list li .feed_c img{ vertical-align:middle;}
.feed_list li .feed_c .msgCnt{ font-size:14px; line-height:22px;word-wrap: break-word; }
.feed_list li .feed_c .msgCnt em{color:#999;}
.feed_list li .feed_c .msgCnt span{ color:#990000;}
.feed_c_btm{ color:#333;padding-top:10px; }
.feed_c_btm .R a{ color:#666}
.feed_c_btm .right{ color:#999}
.feed_quote{ margin:7px 5px 10px 0;position:relative;}
.feed_quote .q_ico_arrow{background-position: -80px -4px;height:10px; width:19px;left:13px;overflow:hidden;position:absolute;top:-9px;}
.feed_quote .q_ico_arrow2{background-position: -103px -4px;height:8px; width:15px;right:10px;overflow:hidden;position:absolute;top:-7px;}
.feed_quote .q_tit{ height: 5px; background-position:right 0; overflow:hidden;}
.feed_quote .q_tit_l{ height: 5px;background-position:left 0; float:left;}
.feed_quote .q_con{ line-height:1.7em; overflow:hidden; padding:6px 10px; border-right: 1px solid #E4E4E4;border-left: 1px solid #E4E4E4; background-color: #f6f6f6; }
.feed_quote .q_btm{ height: 5px; background-position: right -7px; overflow:hidden;}
.feed_quote .q_btm .q_btm_l{ height: 5px; background-position: 0 -7px; float:left}


/*弹出表情*/
.talkBox { overflow:hidden; height:182px; padding:0 10px}
.talkPop{ clear:left;margin-top:20px;*margin-top:0px;position:absolute; z-index:9; width:340px;}
.talkPop_arrow{background-position: -143px -4px;height:8px; width:15px;overflow:hidden;}
.talkPop_box{ background-color:#F8FAFC; border:solid 1px #93C3DF;margin-bottom:5px;}
.talkPop_box #weibo_close_handle{margin:3px;}
.talkPop_box #publish_type_content{ margin:0 10px 10px;}
.talkBox h2 {height:37px;overflow:hidden;margin-bottom:8px;}
.talkBox h2 span{ display:none}
.wordNum{ float:right; font-size:12px; color:#999}
.wordNum strong{font-family:Constantia,Georgia;font-size:30px;font-weight:normal;top:-1px;vertical-align:-2px;}
.talkBox .cntBox {  overflow:hidden; position:relative;}
.talkBox .cntBox textarea,.talkBox .cntBox .txtShadow{width:99.3%;_width:99%; height:78px;padding:5px 0; margin:0; font-size:14px;}
.txtShadow {left:0;opacity:0;position:absolute;top:0;*top:1px;z-index:-1;}
#publish_type_content_before{ _padding-top:8px;}

.talkBox .funBox { padding-top:5px; line-height:25px; }
.talkBox .funBox a.a52 {width:52px;display:inline-block;}

/*翻页*/
.pages{ padding:5px 0 0 0;}
.pages a{ display:block; height:30px; line-height:30px; text-align:center; background:#f9f9f9; border-radius:15px; color:#000; margin:0 5px; border:1px solid #ccc;}
.pages a:hover{ background:#eee;}



/*更多*/

.icon_jian{ background-position: -114px 0; width:7px; float:right; margin-top:10px;}
.icon_jian_x{ background-position: -219px 0; width:12px; float:right; margin-top:10px;}
.icon_jian_s{ background-position: -184px 0; width:12px; float:right; margin-top:10px;}
.more_a a{ color:#000; }
.more_a a:hover{ color:#000; }

/*热门话题*/
.listview{ background:#f9f9f9}
.listview li{ padding:15px 10px; border-bottom:1px solid #ddd; font-size:16px;}
.listview li a{ color:#000}
.listview li.bg{background:#f5f5f5; cursor:pointer}

/*详细页*/
.dta{background:#f9f9f9;}
.dta_tit{ background:url(images/ICON_15_p.png) repeat-x; height:60px; line-height:60px; padding-left:20px; position:relative; }
.dta_tit_b{background:url(images/ICON_16_p.png) no-repeat; height:13px; width:29px; position:absolute; top:58px; left:35px;}
.dta_tit_f{font-size:16px; color:#000; font-weight:bold; padding-left:60px;}
.dta_tit_f a{ color:#000}
.dta_con{ padding:10px; line-height:22px; font-size:14px;}
.dta_con a{ color:#000}
.dta_con_h a{ color:#000}
.dta_con_name a{ color:#666; font-weight:bold}
.dta_con img{ border:1px solid #ccc; padding:1px;}



/*搜索页*/
.search{ text-align:center;}
.s_word{ font-size:14px; font-weight:bold; line-height:40px;}
.s_text{ width:90%; height:30px; border:1px solid #ccc; background-color:none;}

/*按钮*/
.cont_btn{ display:inline-block; height:35px; line-height:35px; padding:0 30px; border-radius:5px; background:#e6e6e6;}
.cont_btn_2{ display:inline-block; height:23px; line-height:22px; width:80px; text-align:center; border-radius:35px; background:#f9f9f9; color:#000; border:1px solid #ccc;}

.btn_s{ background:url(images/btn.png) no-repeat 0 0; color:#000; font-size:14px; text-align:center; width:80px; height:40px; border:none;}

/*个人列表*/
.list_tit{ margin:20px;}
.list_z{padding-left:30px; color:#666; font-size:12px; font-weight: normal}
.list_z_w{ padding:10px;}
.list_z_w ul{-moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;background:#f9f9f9; border:1px solid #ccc;  }
.list_z_w ul li{ width:33%; text-align:center;color:#666; border-right:1px solid #ccc; padding:10px 0; float:left}
.list_z_w ul li a{ color:#900; font-weight:bold; font-size:16px;}
.list_z_w ul li.no{ border-right:0}


/*发分享*/
.addtbox{ padding:10px;}


/*转发*/
.forWard{ line-height:22px; font-size:14px; padding:10px 10px 0;}
.f_user{ color:#000; font-weight:bold;}