@charset "utf-8";
html, body {margin: 0;padding: 0;height: 100%;overflow: hidden;}
body {font: 100%/1.5 "Microsoft Yahei",Helvetica, Arial, sans-serif; color: #444; background-color: #fff;overflow: hidden;}
input,select,textarea{ font-family:"Microsoft Yahei",Helvetica, Arial, sans-serif;}
div,dl, dt, dd, ul, ol, li, pre, form, fieldset, blockquote, h1, h2, h3, h4, h5, h6 {padding:0;margin:0;word-break:break-all; }
select,textarea{ font-size:16px;}
#chrome { height: 100%;}
#container { height: 100%;background: #fff;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: justify;}
/*适应屏幕*/
/* probably iphone portrait */
@media screen and (width: 480px) and (max-height: 300px) {
    #chrome { background: none; height: 100%;  padding: 0; }
    #container {height: 100%; width: 100%; -webkit-border-radius: 0;overflow: hidden; }
	#content {height: 100%; width: 100%; -webkit-border-radius: 0;overflow: hidden;}
}
/* probably ipad portrait */
@media screen and (width: 768px) and (max-height: 1004px) {
    #chrome { background: none; height: 100%;    padding: 0;}
    #container { height: 100%; width: 100%; -webkit-border-radius: 0; overflow: hidden; }
	#content {height: 100%; width: 100%; -webkit-border-radius: 0;overflow: hidden;}
}
/* probably ipad landscape */
@media only screen and (width: 1024px) and (max-height: 748px) {
    #chrome { background: none; height: 100%; padding: 0; }
    #container { height: 100%; width: 100%;  -webkit-border-radius: 0; overflow: hidden; }
	#content {height: 100%; width: 100%; -webkit-border-radius: 0;overflow: hidden;}
}

/*滚动区域*/
.scroller { -webkit-box-flex: 1; display: none; overflow: hidden; padding: 1em; }
.touchScroll {padding: 0;}
.touchScrollInner {padding: 0;}

/*头部toolbar*/
.toolbar {border-bottom: 1px solid #2d3642;padding: 0px 8px;height: 44px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#B3BDCE), color-stop(.5,#879BB5), color-stop(.5,#7C91B1), to(#6D82A4));overflow: hidden;display: webkit-box;}
.toolbar .tit_rig,.tit_rig_b{ float:right; background: url(images/expand_p.png) no-repeat 0 7px; width:39px; height:44px; }
.toolbar .tit_rig_b{ background: url(images/expand_p_b.png) no-repeat 0 7px ;}
.toolbar .tit_xin,.tit_xin_b{ float:left; background: url(images/expand_x.png) no-repeat 0 7px; width:39px; height:44px;}
.toolbar .tit_xin_b{background: url(images/expand_x_b.png) no-repeat 0 7px; }
.toolbar .tit_back,.tit_back_b{ float:left; background: url(images/back_x.png) no-repeat 0 7px; width:50px; height:44px; font-size:14px; padding-left:5px; text-align: center; line-height:44px;}
.toolbar a.tit_back {color:#fff}
.toolbar .tit_back_b{background: url(images/back_x_b.png) no-repeat 0 7px; }
.toolbar h1 { line-height: 30px; font-size: 1.25em; font-weight: bold; text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0; white-space: nowrap; color: #fff; text-align: center; margin: 8px 4px; overflow: hidden; }

/*底部tabs*/
.tabs {border-top: 1px solid #333;background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#000000), color-stop(.5,#333),color-stop(.5,#262626));display: -webkit-box;text-align: center;}
.tabs > * { font-size: .8em; height: .4em; padding: 30px 0 .4em 0; color: #aaa; text-decoration: none; margin: 2px; display: block; width: 1px; -webkit-box-flex: 1; max-width: 25% !important; }
.tabs > .current {-webkit-border-radius: .4em; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#222), color-stop(.5,#444),color-stop(.5,#363636));color: #ccc;}
.tabs > *:before { background: none center no-repeat; content: ""; display: block; font: bold 20px/24px inherit; height: 24px; margin-top: -30px; text-align: center; }
.tabs > [urn="more"]:before { background: url(images/icons.png) no-repeat center -63px; text-align:center; display:block; }
.tabs > [urn="home"]:before { background: url(images/icons.png) no-repeat center -3px; text-align:center; display:block; }
.tabs > [urn="square"]:before { background: url(images/icons.png) no-repeat center -123px; text-align:center; display:block; }
.tabs > [urn="atme"]:before { background: url(images/icons.png) no-repeat center -93px; text-align:center; display:block; }
.tabs > [urn="comment"]:before { background: url(images/icons.png) no-repeat center -34px; text-align:center; display:block; }

/*公共部分*/
p{ clear:both; padding:0; margin:0}
.top{ background:#307EA2; height:24px;}
a{ text-decoration:none; color:#0072BC;}
ul,li,ol{ list-style:none; margin:0; padding:0 }
em{ color:#63676A}
.alC{ text-align:center}
.alR{ text-align:right}
.R{ float:right}
.L{ float:left}
.C{ clear:both; height:0; overflow:hidden}
hr{ margin:0; padding:0; border-top:1px solid #ccc;border-bottom:1px solid #fff}
.mt5{ margin-top:5px;}
img{ border:0}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.pt5{ padding-top:5px;}
.pb5{ padding-bottom:5px;}
.lh40{ line-height:40px;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.lh20{ line-height:20px;}
.c666{ color:#666;}
.c900{color:#990000;}

/*图片*/
.userPic { float:left;display:block; background:transparent; font-size:1px; }
.userPic img{ width:50px; height:50px; border-radius:5px 5px; -moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;}

/*留言页面*/
.message{float:left;margin-top:40px;width:100%; background-color:#F3F5F8}
.message h2{ font-weight:bold; font-size:14px;padding:5px 0 0 5px;}
.message h2 em{ padding-right:10px; float:right}
.message_text{ height:80px; line-height:20px; }

/*回复内容*/
.feed_list .feed_wb{ margin:7px 0px 10px 5px;position:relative;width:460px; float:right; }

.new_position{padding:6px 0 10px;}
a.faceicon1:link, a.faceicon1:visited{display:block;float:left;height:17px;margin-right:4px;margin-top:2px;width:31px; background-position:0 -16px;;}
.new_position textarea  {margin-right:5px;width:310px;}
.position_list{ border-top: 1px dashed #d8d8d8; float:left; width:100%; padding-top:10px;}
.position_list .pic{ float:left; margin-right:5px;}
.position_list .list_c{  margin:0; color:#707070; margin-left:45px;}

.feedBox {  background:#f9f9f9}
.feed_msg_new,a.feed_msg_new { height:22px; margin-top:4px; color:#BB861C; display:block; text-align:center; padding-top:5px;}
.feed_list { padding:0 8px; clear:both; height:auto; overflow:hidden  }
.feed_list:hover{ background-color:#f5f5f5;}
.feed_list li { float:left; padding:12px 0; width:100%; }
.feed_list li.t{ background-color:#fbfbfb;padding:5px 0;margin:5px 0;}
.feed_list li a{ color:#0072BC}

.feed_img{}
.feed_img img{ border:1px solid #ccc; padding:1px;}

.right_box .userPic img{border:solid 1px #fff; padding:0px;}
.feed_list li .feed_c { padding-left:58px; } 
.feed_list li .feed_c img{ vertical-align:middle;}
.feed_list li .feed_c .msgCnt{ font-size:16px; line-height:24px; word-break: break-word; }
.feed_list li .feed_c .msgCnt .user_name{ font-size:14px; line-height:24px; word-break: break-word; color:#0072BC; }
.feed_list li .feed_c .msgCnt .c_count{ font-size:12px; font-style:normal; color:#666;}
	.feed_list li .feed_c .msgCnt .c_count em{ font-size:12px; font-style:normal; color:#666; padding:0 5px;}
.feed_list li .feed_c .msgCnt em{color:#999;}
.pic_top{ background-color:#FF8A01; color:#fff; padding:2px 5px; font-size:12px;}
.pic_dist{ background-color:#38A3DB; color:#fff; padding:2px 5px; font-size:12px;}
.feed_c_btm{ color:#333;padding-top:10px; }
.feed_c_btm .R a{ color:#666}
.feed_c_btm .right{ color:#999}
.feed_quote{  word-break: break-word; }
.feed_quote a{ color:#0072BC}


.ctime{ color:#999; font-weight:normal; font-size:11px;margin-right:5px;}

/*翻页*/
.pages{ padding:5px 0 0 0;}
.pages a{ display:block; height:30px; line-height:30px; text-align:center; background:#f9f9f9; border-radius:15px; color:#000; margin:0 5px; border:1px solid #ccc;}
.pages a:hover{ background:#eee;}

/*更多*/
.icon_jian{ background-position: -114px 0; width:7px; float:right; margin-top:10px;}
.icon_jian_x{ background-position: -219px 0; width:12px; float:right; margin-top:10px;}
.icon_jian_s{ background-position: -184px 0; width:12px; float:right; margin-top:10px;}
.more_a a{ color:#000; }
.more_a a:hover{ color:#000; }

/*热门话题*/
.listview{ background:#f9f9f9}
.listview li{ padding:15px 10px; border-bottom:1px solid #ddd; font-size:16px;}
.listview li a{ color:#000}
.listview li.bg{background:#f5f5f5; cursor:pointer}

/*详细页*/

.dta_Owner{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7eaf0), to(#d0d6e1)); padding:10px; margin-bottom:3px; border-bottom:1px solid #f0f0f0;
    -webkit-box-shadow:0px 1px 3px #777;
    -moz-box-shadow:0px 1px 3px #777;
    box-shadow:0px 1px 3px #777;}
.dta_tit{ line-height:24px; position:relative; overflow:hidden;}
.dta_tit_f{font-size:16px; color:#000; font-weight:bold; padding-left:60px; line-height:35px;}
.dta_tit_f a{ color:#000}
.user-tit{ margin:0 0 0 60px;}
.user_name{ font-size:14px; line-height:24px; word-break: break-word; color:#0072BC; }
.d_title{ font-size:20px;}
.floor{ font-size:12px; color:#999;}
.dta{ border-bottom:1px solid #ddd; background-color:#fff;}
.dta_con{ padding:20px 10px; line-height:24px; font-size:16px; overflow:hidden;}
.dta_con a{}
.dta_con_h a{}
.dta_con_name a{}
.dta_con img{}

.dta_replay{ font-size:16px; padding:10px; float:right;}
.dta_replay a{-webkit-border-radius: .4em; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A60000), to(#6D0000)); border:1px solid #300000; padding:5px 10px; color:#fff;}

.sanjiao_box{ background:url(images/ICON_16_p.png) no-repeat 0 0; width:29px; height:13px; margin:-4px 0 0 50px; position:absolute;}

.operation_cy{ margin-top:20px; font-size:14px; color:#B85B00;}
.operation_cy a{ margin:0 10px 0 0; color:#B85B00;}

.u_level_cy{ font-size:12px; line-height:16px; color:#777; font-weight:normal;}
.u_level_cy span{ padding-right:10px;}

.con_forum{ font-size:11px; color:#666; font-weight:normal; padding:10px;}

/*搜索页*/
.search{ text-align:center;}
.s_word{ font-size:16px; font-weight:bold; line-height:40px;}
.s_text{ width:90%; height:30px; border:1px solid #ccc; background-color:none;}

/*按钮*/
.cont_btn{ display:inline-block; height:35px; line-height:35px; padding:0 30px; border-radius:5px; background:#e6e6e6; color:#333;}
.cont_btn a{ color:#333;}
.cont_btn_2{ display:inline-block; height:23px; line-height:22px; width:80px; text-align:center; border-radius:35px; background:#f9f9f9; color:#000; border:1px solid #ccc;}

.btn_s{-webkit-border-radius: .4em; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#BCBCBC)); border:1px solid #aaaaaa; color:#000; font-size:16px; text-align:center; display:inline-block; line-height:24px; font-family:"Microsoft Yahei",Helvetica, Arial, sans-serif;}
a.btn_s{ color:#000;width: 60px;}

/*个人列表*/
.user_info{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7eaf0), to(#d0d6e1)); padding:10px; margin-bottom:3px; border-bottom:1px solid #f0f0f0;
    -webkit-box-shadow:0px 1px 3px #777;
    -moz-box-shadow:0px 1px 3px #777;
    box-shadow:0px 1px 3px #777;}
.list_tit{background-color:#f0f0f0; border-bottom:1px solid #ccc; padding:20px;}
.list_z{padding-left:30px; color:#666; font-size:12px; font-weight: normal}
.list_z_w{ padding:10px;}
.list_z_w ul{-moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;background:#f9f9f9; border:1px solid #ccc;  }
.list_z_w ul li{ width:33.2%; text-align:center;color:#666; border-right:1px solid #ccc; padding:10px 0; float:left}
.list_z_w ul li:hover{ background-color:#f5f5f5;}
.list_z_w ul li a{ color:#900; font-weight:bold; font-size:16px;}
.list_z_w ul li.no{ border-right:0}

/*发分享*/
.addtbox{ padding:10px; background-color:#fff;}

/*转发*/
.forWard{ line-height:22px; font-size:14px; padding:10px 10px 0;}
.f_user{ color:#000; font-weight:bold;}

/*圆角*/

.btn,.btn_b{border-radius:5px 5px; -moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;background:#e6e6e6; padding:10px; color:#fff}

.btn_b{ background:#900;}

.true{ -moz-border-radius:5px 5px; -webkit-border-radius:5px 5px;background:#f9f9f9; border:1px solid #ccc; margin:10px; }
.true li{ padding:5px 10px; text-align:left; font-size:16px; border-bottom:1px solid #ddd;line-height:38px;}
.true li:hover{ background-color:#f5f5f5;}

.true li a{ color:#000}
.true li.bg{ background:#f5f5f5; cursor:pointer}
.true li.no{ border-bottom:0}
.true li.no p{ line-height:180%; font-size:14px;}

/*icon*/
.ico-topic{background:url(images/ico.png) no-repeat 0 -23px;width:19px;height:25px;display:inline-block;vertical-align:middle;}


/*用户等级*/
.user_level{ color:#f00; font-size:11px; height:15px; margin-bottom:5px; display:inline-block;}