{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="javascript:Dback('');" data-direction="reverse"><img src="{DT_MOB}static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">公司不存在</div>
<div class="head-bar-right">
<a href="{DT_MOB}"><img src="{DT_MOB}static/img/icon-index.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
<div class="main">
	<div class="title bd-b">公司不存在</div>
	<div class="content">
	您正在访问的公司主页可能已经删除、更名或尚未开通...<br/>
	</div>
</div>
{template 'footer'}