{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="javascript:Dback('');" data-direction="reverse"><img src="{DT_MOB}static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">会员未注册</div>
<div class="head-bar-right">
<a href="{DT_MOB}"><img src="{DT_MOB}static/img/icon-index.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
<div class="main">
	<div class="title bd-b">{$head_title}</div>
	<div class="content">
	您访问的公司尚未注册本站会员，无法查看详细信息，建议优先选择 <strong class="f_red">{VIP}</strong> 会员</span><br/>
	</div>
</div>
{template 'footer'}