{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="{DT_MOB}" data-direction="reverse"><img src="{DT_MOB}static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">错误提示</div>
</div>
<div class="head-bar-fix"></div>
</div>
<div class="main">
	<div class="content">
	<strong>数据库连接失败(Can not connect to MySQL server)</strong><br/>
	系统无法<span style="color:red;">连接</span>到MySQL服务器。<a href="http://m.destoon.com/doc/skill/61.html" target="_blank" rel="external">点此查看此问题的解决方案</a><br/>
	<a href="{DT_MOB}">{$DT[sitename]}</a><br/>
	</div>
</div>
{template 'footer'}