{if $share_icon == 'auto'}<div class="share_icon"><img src="{DT_PATH}apple-touch-icon-precomposed.png"/></div>{/if}
{if $foot}
<div class="foot-bar-fix"></div>
<div class="foot-bar">
<ul>
<li class="icon-home{if $foot=='home'}-on{/if}"><a href="{DT_MOB}" data-transition="none" data-ajax="false"><span>首页</span></a></li>
<li class="icon-channel{if $foot=='channel'}-on{/if}"><a href="{DT_MOB}channel.php" data-transition="none"><span>频道</span></a></li>
<li class="icon-my{if $foot=='my'}-on{/if}"><a href="{DT_MOB}my.php" data-transition="none"><span>我的</span></a>{if $_message || $_chat || $_cart}<em></em>{/if}</li>
<li class="icon-more{if $foot=='more'}-on{/if}"><a href="{DT_MOB}more.php" data-transition="none"><span>更多</span></a></li>
</ul>
</div>
{/if}
{if $DT_MOB[browser] == 'weixin' || $DT_MOB[browser] == 'qq'}
<script type="text/javascript">
$(document).on('pageshow', function(event) {
	$("[data-role='page']").each(function(i) {
		if($(this).attr('class').indexOf('-active') != -1) {
			$(this).find('.share_icon img').css('display', 'block');
		} else {
			$(this).find('.share_icon img').css('display', 'none');
		}
	});
});
</script>
{/if}
</div>
</body>
</html>