
    <p class="word-wrap">{$weibo.content}</p>

    <div class="triangle sanjiao" style="margin-left: 20px;border-bottom: 10px solid #e8e8e8;"></div>
    <div class="triangle_up sanjiao" style="margin-left: 20px;border-bottom: 10px solid #f1f1f1;"></div>
    <div  style="border: 1px solid #e8e8e8;padding: 10px;margin-bottom: 20px; background: #f1f1f1">
    <empty name="weibo.source_weibo.uid">
        {:L('_ORIGINAL_HAS_DELETED_')}
        <else/>
        <div>  <a ucard="{$weibo.source_weibo.user.uid}"     href="{$weibo.source_weibo.user.space_url}">@{$weibo.source_weibo.user.nickname|htmlspecialchars}</a></div>
        {$weibo.source_weibo.fetchContent}
        <span class="text-primary pull-left" style="font-size: 12px;"><a href="{:U('Weibo/Index/weiboDetail',array('id'=>$weibo['source_weibo']['id']))}">{$weibo.source_weibo.create_time|friendlyDate}</a>   </span>
        <span class="text-primary pull-right" style="font-size: 12px;"><a href="{:U('Weibo/Index/weiboDetail',array('id'=>$weibo['source_weibo']['id']))}"> 原动态转发（{$weibo.source_weibo.repost_count}）</a>  </span>
        &nbsp;
    </empty>
    </div>
    <if condition="$weibo['source_weibo']['uid']">
        <script>
            var html='<a href="{$weibo.source_weibo.user.space_url}" ucard="{$weibo.source_weibo.user.uid}" style="position: absolute;margin-top: 32px;margin-left: -32px;"><img src="{$weibo.source_weibo.user.avatar32}"   class="avatar-img"   style="width: 32px;"/> </a>';
            $('#weibo_{$weibo.id}').find('.s_avatar').after(html);
        </script>
    </if>
