{template 'header', $template}
<div class="dsn" id="pos_show"><a href="{$COM[linkurl]}">首页</a> <i>&gt;</i> <a href="{$MENU[$menuid][linkurl]}">{$MENU[$menuid][name]}</a></div>
<div class="main_head"><div><strong>公司档案</strong></div></div>
<div class="main_body">
	<div class="px14 lh18">
	<table width="100%" cellpadding="10" cellspacing="1">
	<tr>
	<td width="100" class="f_b">公司名称：</td>
	<td width="340">{$COM[company]}</td>
	<td width="100" class="f_b">公司类型：</td>
	<td>{$COM[type]} ({$COM[mode]})</td>
	</tr>
	<tr>
	<td class="f_b">所在地区：</td>
	<td>{area_pos($COM[areaid], '/')}</td>
	<td class="f_b">公司规模：</td>
	<td>{$COM[size]}</td>
	</tr>
	<tr>
	<td class="f_b">注册资本：</td>
	<td>{if $COM[capital]}{$COM[capital]}万{$COM[regunit]}{else}未填写{/if}</td>
	<td class="f_b">注册年份：</td>
	<td>{$COM[regyear]}</td>
	</tr>
	</table>
	<table width="100%" cellpadding="10" cellspacing="1">
	<tr>
	<td width="100" class="f_b">资料认证：</td>
	<td>
	{if $COM[vcompany]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_company.gif" width="16" height="16" align="absmiddle" title="资料通过工商认证"/>{/if}
	{if $COM[vtruename]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_truename.gif" width="16" height="16" align="absmiddle" title="资料通过实名认证"/>{/if}
	{if $COM[vbank]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_bank.gif" width="16" height="16" align="absmiddle" title="资料通过银行帐号认证"/>{/if}
	{if $COM[vmobile]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_mobile.gif" width="16" height="16" align="absmiddle" title="资料通过手机认证"/>{/if}
	{if $COM[vemail]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_email.gif" width="16" height="16" align="absmiddle" title="资料通过邮件认证"/>{/if}
	{if $COM[validated]}&nbsp;<img src="{DT_STATIC}file/image/check-ok.png" align="absmiddle"/> 企业资料通过{$COM[validator]}认证{/if}	
	</td>
	</tr>
	{if $COM[deposit]}
	<tr>
	<td class="f_b">保&nbsp;&nbsp;证&nbsp;&nbsp;金：</td>
	<td>已缴纳 <strong class="f_green">{$DT[money_sign]}{$COM[deposit]}</strong> {$DT[money_unit]}</td>
	</tr>
	{/if}
	{if $COM[mode]}
	<tr>
	<td class="f_b">经营模式：</td>
	<td>{$COM[mode]}</td>
	</tr>
	{/if}
	{if $COM[business]}
	<tr>
	<td class="f_b">经营范围：</td>
	<td>{$COM[business]}</td>
	</tr>
	{/if}
	{if $COM[sell]}
	<tr>
	<td class="f_b">销售产品：</td>
	<td>{$COM[sell]}</td>
	</tr>
	{/if}
	{if $COM[buy]}
	<tr>
	<td class="f_b">采购产品：</td>
	<td>{$COM[buy]}</td>
	</tr>
	{/if}
	{if $COM[catid]}
	<tr>
	<td class="f_b">主营行业：</td>
	<td>
	{php $catids = explode(',', substr($COM['catid'], 1, -1));}
	<table cellpadding="2" cellspacing="2" width="100%">
	{loop $catids $i $c}
	{if $i%3==0}<tr>{/if}
	<td width="33%">{cat_pos(get_cat($c), ' / ', '_blank')}</td>
	{if $i%3==2}</tr>{/if}
	{/loop}
	</table>
	</td>
	</tr>
	{/if}
	</table>
	</div>
</div>
{if $comment}
<div class="main_head">
<div>
<span class="f_n px14">
{if $view}
<a href="{userurl($username, 'file=credit', $domain)}#comment">收到的评价(作为卖家)</a> | <strong>发出的评价(作为买家)</strong>
{else}
<strong>收到的评价(作为卖家)</strong> | <a href="{userurl($username, 'file=credit&view=1', $domain)}#comment">发出的评价(作为买家)</a>
{/if}
<a name="comment"></a>
</span>
</div>
</div>
<div class="main_body">
{if $view}
	{loop $lists $k $v}
	<div class="comment{if $k%2==0} comment_sp{/if}">
	<div class="comment_title">
		<span class="f_r">{$STARS[$v[buyer_star]]} <img src="{DT_STATIC}file/image/star{$v[buyer_star]}.gif" width="36" height="12" alt="" align="absmiddle"/></span>
		买家 <span id="i_{$v[itemid]}">{hide_name($v[buyer])} 于 <span class="comment_time">{timetodate($v[buyer_ctime])}</span> 评论道：</span>
	</div>
	<div class="comment_content" id="c_{$v[itemid]}">{nl2br($v[buyer_comment])}</div>
	{if $v[seller_reply]}
	<div class="comment_reply">
	<span style="color:blue;">卖家</span> <span style="font-size:11px;">{timetodate($v[seller_rtime])}</span> 回复： {nl2br($v[seller_reply])}
	</div>
	{/if}
	</div>
	{/loop}
{else}
	{loop $lists $k $v}
	<div class="comment{if $k%2==0} comment_sp{/if}">
	<div class="comment_title">
		<span class="f_r">{$STARS[$v[seller_star]]} <img src="{DT_STATIC}file/image/star{$v[seller_star]}.gif" width="36" height="12" alt="" align="absmiddle"/></span>
		买家 <span id="i_{$v[itemid]}">{hide_name($v[buyer])} 于 <span class="comment_time">{timetodate($v[seller_ctime])}</span> 评论道：</span>
	</div>
	<div class="comment_content" id="c_{$v[itemid]}">{nl2br($v[seller_comment])}</div>
	{if $v[buyer_reply]}
	<div class="comment_reply">
	<span style="color:blue;">卖家</span> <span style="font-size:11px;">{timetodate($v[buyer_rtime])}</span> 回复： {nl2br($v[buyer_reply])}
	</div>
	{/if}
	</div>
	{/loop}
{/if}
	{if $pages}<div class="pages">{$pages}</div>{/if}
</div>
{/if}
{template 'footer', $template}