{template 'header', $template}
<div class="dsn" id="pos_show"><a href="{$COM[linkurl]}">首页</a> <i>&gt;</i> <a href="{$MENU[$menuid][linkurl]}">{$MENU[$menuid][name]}</a>{if $itemid} <i>&gt;</i> {$title}{/if}</div>
{if $itemid}
<div class="main_head"><div><strong>{$title}</strong></div></div>
<div class="main_body">
	<div class="lh18 px14">{$content}</div>
</div>
{else}
<div class="main_head"><div><strong>{$MENU[$menuid][name]}</strong></div></div>
<div class="main_body">
	<div class="lh18 px14">
	<table width="98%" cellpadding="3" cellspacing="3" align="center">
	<tr>
	<td><img src="{$thumb}" align="right" style="margin:5px 0 5px 10px;padding:5px;border:#C0C0C0 1px solid;"/>{$content}</td>
	</tr>
	</table>
	</div>
</div>
{if $video}
<div class="main_head"><div><strong>形象视频</strong></div></div>
<div class="main_body">
	{load('player.js')}
	<center><script type="text/javascript">document.write(player('{$video}',600,500,0));</script></center>
</div>
{/if}

<div class="main_head"><div><strong>公司档案</strong></div></div>
<div class="main_body">
	<div class="px14 lh18">
	<table width="100%" cellpadding="10" cellspacing="1">
	<tr>
	<td width="100" class="f_b">公司名称：</td>
	<td width="340">{$COM[company]}</td>
	<td width="100" class="f_b">公司类型：</td>
	<td>{$COM[type]} ({$COM[mode]})</td>
	</tr>
	<tr>
	<td class="f_b">所 在 地：</td>
	<td>{area_pos($COM[areaid], '/')}</td>
	<td class="f_b">公司规模：</td>
	<td>{$COM[size]}</td>
	</tr>
	<tr>
	<td class="f_b">注册资本：</td>
	<td>{if $COM[capital]}{$COM[capital]}万{$COM[regunit]}{else}未填写{/if}</td>
	<td class="f_b">注册年份：</td>
	<td>{$COM[regyear]}</td>
	</tr>
	</table>
	<table width="100%" cellpadding="10" cellspacing="1">
	<tr>
	<td width="100" class="f_b">资料认证：</td>
	<td>
	{if $COM[vcompany]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_company.gif" width="16" height="16" align="absmiddle" title="资料通过工商认证"/>{/if}
	{if $COM[vtruename]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_truename.gif" width="16" height="16" align="absmiddle" title="资料通过实名认证"/>{/if}
	{if $COM[vbank]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_bank.gif" width="16" height="16" align="absmiddle" title="资料通过银行帐号认证"/>{/if}
	{if $COM[vmobile]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_mobile.gif" width="16" height="16" align="absmiddle" title="资料通过手机认证"/>{/if}
	{if $COM[vemail]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_email.gif" width="16" height="16" align="absmiddle" title="资料通过邮件认证"/>{/if}
	{if $COM[validated]}&nbsp;<img src="{DT_STATIC}file/image/check-ok.png" align="absmiddle"/> 企业资料通过{$COM[validator]}认证{/if}	
	</td>
	</tr>
	{if $COM[deposit]}
	<tr>
	<td class="f_b">保 证 金：</td>
	<td>已缴纳 <strong class="f_green">{$COM[deposit]}</strong> {$DT[money_unit]}</td>
	</tr>
	{/if}
	{if $COM[mode]}
	<tr>
	<td class="f_b">经营模式：</td>
	<td>{$COM[mode]}</td>
	</tr>
	{/if}
	{if $COM[business]}
	<tr>
	<td class="f_b">经营范围：</td>
	<td>{$COM[business]}</td>
	</tr>
	{/if}
	{if $COM[sell]}
	<tr>
	<td class="f_b">销售的产品：</td>
	<td>{$COM[sell]}</td>
	</tr>
	{/if}
	{if $COM[buy]}
	<tr>
	<td class="f_b">采购的产品：</td>
	<td>{$COM[buy]}</td>
	</tr>
	{/if}
	{if $COM[catid]}
	<tr>
	<td class="f_b">主营行业：</td>
	<td>
	{php $catids = explode(',', substr($COM['catid'], 1, -1));}
	<table cellpadding="6" cellspacing="1" width="100%">
	{loop $catids $i $c}
	{if $i%3==0}<tr>{/if}
	<td width="33%">{cat_pos(get_cat($c), ' / ', '_blank')}</td>
	{if $i%3==2}</tr>{/if}
	{/loop}
	</table>
	</td>
	</tr>
	{/if}
	</table>
	</div>
</div>
{if $could_comment && in_array($moduleid, explode(',', $EXT['comment_module']))}
<div id="comment_div" style="display:;">
	<div class="main_head"><div><span class="f_r px12">共<span id="comment_count">0</span>条&nbsp;&nbsp;</span><strong><span id="message_title">相关评论</span></strong></div></div>
	<div class="main_body"><script type="text/javascript">Df('{DT_PATH}api/comment.php?mid={$moduleid}&itemid={$COM[userid]}&proxy={$comment_proxy}', 'id="destoon_comment" style="width:100%;"');</script></div>
</div>
{/if}
{/if}
{template 'footer', $template}