body{word-wrap:break-word; word-break:break-all; line-height:25px; font-size:14px; color:#333}
a,a.innerlink{color:#0268cd; text-decoration:none;}
a:hover{color:#f30; text-decoration:underline;}
img{border:0;}
h2,.hdwiki_tmml {font-size:20px; border-bottom:1px dashed #9b9b9b;display:block;overflow:hidden;clear:both;float:none;margin:10px 0;padding: 0 0 5px;font-weight: bold}
h3,.hdwiki_tmmll {font-size:18px; font-weight:bold; display:block;clear:both;float:none;}
/*--images--*/
.img {background:#fafafa; border:1px solid #ccc; padding:10px; font-size:12px; color:#666; text-align:center;}
.img_l {margin:5px 20px 5px 0; float:left; clear:left}
.img_r {margin:5px 0 5px 20px; float:right; clear:right}
.img strong{font-size:12px;font-weight:normal; display:block; overflow:hidden;line-height:18px;padding-top:10px;clear:both;}
/* table */
table {margin:10px; font-size:12px; background:#fafafa; border:1px solid #ccc; clear:both}
table td{padding:10px; margin:0; border:none}
table td table {margin:0;}
table td table td{padding:2px}
.table {margin:10px auto; color:#666; font-size:12px; border-collapse:collapse; border-spacing:0; empty-cells:show;}
.table td {background: #fafafa;border: 1px solid #ccc;padding:10px; vertical-align: top}
.table td .img {border: 0;background: none;padding: 0;}

img.error{border:2px solid red;}
a.error{border-bottom:2px solid red;}

.wordcut {word-wrap: break-word;word-break: break-all;overflow: hidden;width: 710px;}
.font_1 {font-size: 14px} 
.font_2 {font-size: 14px;font-weight: bold;}
.font_3 {font-size: 14px; font-style: italic;text-decoration: underline;}
.font_4 {font-size: 14px;font-family: "KaiTi_GB2312";}
.font_5 {font-size: 14px;color: #FF0000;}

/*=====nav model====== */
.bor-ccc{border:1px #ccc solid;}
.bg_g{background:#e8e8e9;padding:8px 12px;}
.p_a_m{line-height:22px;}
.p_a_m a{padding-right:6px;margin-right:6px;border-right:1px #ccc solid;text-decoration:none;}