.find {
  width: 1010px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.find .find-left {
  width: 750px;
  float: left;
}
.find .find-left .star {
  height: 200px;
  background: #fff;
}
.find .find-left .star .big-star {
  width: 210px;
  border-right: 1px solid #f2f2f2;
  height: 200px;
  float: left;
}
.find .find-left .star .big-star .title {
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: #666;
  line-height: 40px;
  border-bottom: 1px solid #f2f2f2;
}
.find .find-left .star .big-star .star-user .weixin {
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}
.find .find-left .star .big-star .star-user .star-name {
  height: 40px;
  text-align: center;
}
.find .find-left .star .big-star .star-user .star-name span {
  font-size: 14px;
  color: #666;
  line-height: 35px;
  margin-left: 15px;
}
.find .find-left .star .big-star .star-user .star-name .icon-expand-alt,
.find .find-left .star .big-star .star-user .star-name .icon-collapse-alt {
  float: right;
  margin-right: 10px;
  margin-top: 6px;
  font-size: 24px;
  color: #19bca1;
}
.find .find-left .star .sns-star {
  width: 540px;
  height: 200px;
  float: right;
}
.find .find-left .star .sns-star .sns-title {
  height: 40px;
  border-bottom: 1px solid #f2f2f2;
}
.find .find-left .star .sns-star .sns-title .span1 {
  font-size: 16px;
  color: #666;
  line-height: 40px;
  float: left;
  margin-left: 10px;
}
.find .find-left .star .sns-star .sns-title .span2 {
  font-size: 14px;
  color: #999;
  line-height: 40px;
  float: right;
  margin-right: 10px;
}
.find .find-left .star .sns-star .sns-star-user {
  width: 180px;
  height: 130px ;
  border-right: 1px solid #f2f2f2;
  margin-top: 15px;
  float: left;
}
.find .find-left .star .sns-star .sns-star-user .star {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.find .find-left .star .sns-star .sns-star-user p {
  text-align: center;
  line-height: 40px;
  margin: 0;
}
.find .find-left .star .sns-star .sns-star-user .fans {
  text-align: center;
  height: 25px;
}
.find .find-left .star .sns-star .sns-star-user .fans span {
  font-size: 14px;
  color: #999;
}
.find .find-left .star .sns-star .sns-star-user .fans .icon-expand-alt,
.find .find-left .star .sns-star .sns-star-user .fans .icon-collapse-alt {
  float: right;
  margin-right: 10px;
  margin-top: -1px;
  font-size: 24px;
  color: #19bca1;
}
.find .find-left .find-ident {
  margin-top: 10px;
  padding: 0 20px 0 ;
  background: #fff;
}
.find .find-left .find-ident .ident-title {
  height: 45px;
  width: 710px;
  font-size: 16px;
  color: #666;
  line-height: 45px;
  border-bottom: 1px #f2f2f2 solid;
}
.find .find-left .find-ident .fenlei1 {
  left: -25px;
}
.find .find-left .find-ident .fenlei,
.find .find-left .find-ident .fenlei1 {
  width: 750px;
  position: relative;
}
.find .find-left .find-ident .fenlei .zhanzhang,
.find .find-left .find-ident .fenlei1 .zhanzhang {
  font-size: 16px;
  color: #666;
  line-height: 45px;
  display: inline-block;
  margin-left: 15px;
}
.find .find-left .find-ident .fenlei .zhanzhang .icon-angle-down,
.find .find-left .find-ident .fenlei1 .zhanzhang .icon-angle-down {
  font-size: 18px;
  margin-left: 5px;
}
.find .find-left .find-ident .fenlei .kaifa,
.find .find-left .find-ident .fenlei1 .kaifa {
  font-size: 16px;
  color: #666;
  line-height: 45px;
  display: inline-block;
  margin-left: 15px;
}
.find .find-left .find-ident .fenlei .dropmenu,
.find .find-left .find-ident .fenlei1 .dropmenu {
  display: none;
  position: absolute;
  width: 510px;
  top: 44px;
  left: -20px;
  padding: 10px 15px;
  background: #fff;
  border: solid 1px #f2f2f2;
  box-shadow: 5px 5px 20px #999;
}
.find .find-left .find-ident .fenlei .dropmenu .read,
.find .find-left .find-ident .fenlei1 .dropmenu .read {
  width: 480px;
}
.find .find-left .find-ident .fenlei .dropmenu .read .read-title,
.find .find-left .find-ident .fenlei1 .dropmenu .read .read-title {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
.find .find-left .find-ident .fenlei .dropmenu .read .read-content,
.find .find-left .find-ident .fenlei1 .dropmenu .read .read-content {
  border-bottom: 1px solid #E5E5E5;
}
.find .find-left .find-ident .fenlei .dropmenu .read .read-content a,
.find .find-left .find-ident .fenlei1 .dropmenu .read .read-content a {
  font-size: 14px;
  color: #999;
  line-height: 30px;
}
.find .find-left .find-ident .fenlei .dropmenu .read .read-content span,
.find .find-left .find-ident .fenlei1 .dropmenu .read .read-content span {
  font-size: 14px;
  color: #f2f2f2;
  line-height: 30px;
}
.find .find-left .find-ident .fenlei .dropmenu .zhuanti,
.find .find-left .find-ident .fenlei1 .dropmenu .zhuanti {
  height: 72px;
  width: 480px;
}
.find .find-left .find-ident .fenlei .dropmenu .zhuanti .read-title,
.find .find-left .find-ident .fenlei1 .dropmenu .zhuanti .read-title {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
.find .find-left .find-ident .fenlei .dropmenu .zhuanti .read-content a,
.find .find-left .find-ident .fenlei1 .dropmenu .zhuanti .read-content a {
  font-size: 14px;
  color: #999;
  line-height: 30px;
}
.find .find-left .find-ident .fenlei .dropmenu .zhuanti .read-content span,
.find .find-left .find-ident .fenlei1 .dropmenu .zhuanti .read-content span {
  font-size: 14px;
  color: #f2f2f2;
  line-height: 30px;
}
.find .find-left .containt {
  width: 750px;
  background: #fff;
  margin-top: 10px;
}
.find .find-left .containt .find-pannel {
  height: 130px;
  padding: 25px 20px;
  border-bottom: 1px solid #f2f2f2;
}
.find .find-left .containt .find-pannel .pannel-1 {
  width: 370px;
  height: 80px;
  float: left;
  border-right: 1px solid #f2f2f2;
}
.find .find-left .containt .find-pannel .pannel-1 .img {
  float: left;
}
.find .find-left .containt .find-pannel .pannel-1 .name {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-left: 95px;
}
.find .find-left .containt .find-pannel .pannel-1 .find-wrap {
  margin-left: 95px;
  margin-top: 10px;
}
.find .find-left .containt .find-pannel .pannel-1 .find-wrap .jifen {
  font-size: 13px;
  color: #666;
  display: inline-block;
}
.find .find-left .containt .find-pannel .pannel-1 .find-wrap .jifen span {
  font-weight: bold;
}
.find .find-left .containt .find-pannel .pannel-1 .find-wrap .zantong {
  margin-left: 5px;
  font-size: 13px;
  color: #666;
  display: inline-block;
}
.find .find-left .containt .find-pannel .pannel-1 .find-wrap .zantong span {
  font-weight: bold;
}
.find .find-left .containt .find-pannel .pannel-2 {
  width: 240px;
  height: 80px;
  float: left;
  border-right: 1px solid #f2f2f2;
}
.find .find-left .containt .find-pannel .pannel-2 .fans {
  float: left;
  text-align: center;
  width: 50%;
  height: 100%;
}
.find .find-left .containt .find-pannel .pannel-2 .fans .f1 {
  font-size: 16px;
  color: #666;
  line-height: 40px;
}
.find .find-left .containt .find-pannel .pannel-2 .fans .f2 {
  font-size: 18px;
  color: #666;
  line-height: 40px;
}
.find .find-left .containt .find-pannel .pannel-2 .focus {
  text-align: center;
  float: right;
  width: 50%;
  height: 100%;
}
.find .find-left .containt .find-pannel .pannel-2 .focus .fo1 {
  font-size: 16px;
  color: #666;
  line-height: 40px;
}
.find .find-left .containt .find-pannel .pannel-2 .focus .fo2 {
  font-size: 18px;
  color: #666;
  line-height: 40px;
}
.find .find-left .containt .find-pannel .pannel-3 {
  width: 100px;
  height: 80px;
  float: right;
}
.find .find-left .containt .find-pannel .pannel-3 .box {
  width: 70px;
  height: 36px;
  margin-left: 20px;
  margin-top: 22px;
  border: 1px solid #19bca1;
  text-align: center;
  font-size: 13px;
  color: #19bca1;
  line-height: 36px;
  background: #fff;
}
.find .find-left .containt .find-pannel .pannel-3 .box span {
  margin-right: 8px;
}
.find .find-right {
  width: 240px;
  margin-left: 20px;
  float: left;
}
.find .find-right .friend-fous,
.find .find-right .suiji {
  height: 400px;
  background: #fff;
}
.find .find-right .friend-fous .friend-head,
.find .find-right .suiji .friend-head {
  height: 40px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 40px;
  color: #666;
  border-bottom: 1px solid #f2f2f2;
}
.find .find-right .friend-fous .friend-box,
.find .find-right .suiji .friend-box {
  height: 360px;
  position: relative;
}
.find .find-right .friend-fous .friend-box .friend-pannel,
.find .find-right .suiji .friend-box .friend-pannel {
  margin: 10px 0;
  padding: 10px 15px;
  height: 70px;
  width: 240px;
}
.find .find-right .friend-fous .friend-box .friend-pannel .smallstar,
.find .find-right .suiji .friend-box .friend-pannel .smallstar {
  float: left;
}
.find .find-right .friend-fous .friend-box .friend-pannel .friend-wrap,
.find .find-right .suiji .friend-box .friend-pannel .friend-wrap {
  margin-left: 10px;
  width: 100px;
  float: left;
}
.find .find-right .friend-fous .friend-box .friend-pannel .friend-wrap .unknown-name,
.find .find-right .suiji .friend-box .friend-pannel .friend-wrap .unknown-name {
  font-size: 14px;
  color: #333;
  line-height: 20px;
}
.find .find-right .friend-fous .friend-box .friend-pannel .friend-wrap .friend-name,
.find .find-right .suiji .friend-box .friend-pannel .friend-wrap .friend-name {
  font-size: 12px;
  color: #999;
}
.find .find-right .friend-fous .friend-box .friend-pannel .friend-wrap .y,
.find .find-right .suiji .friend-box .friend-pannel .friend-wrap .y {
  font-size: 12px;
  color: #999;
}
.find .find-right .friend-fous .friend-box .friend-pannel .icon-expand-alt,
.find .find-right .suiji .friend-box .friend-pannel .icon-expand-alt,
.find .find-right .friend-fous .friend-box .friend-pannel .icon-collapse-alt,
.find .find-right .suiji .friend-box .friend-pannel .icon-collapse-alt {
  float: right;
  margin-top: 18px;
  font-size: 24px;
  color: #19bca1;
}
.find .find-right .friend-fous .friend-box .more,
.find .find-right .suiji .friend-box .more {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: #999;
  left: 50%;
  margin-left: -33px;
  line-height: 50px;
}
.find .find-right .suiji {
  margin-top: 10px;
}
