body{
	line-height:150%;
	padding:0;
	font-size:12px;
	margin:0px;
}
form{margin: 0;padding: 0;}
td{font-size:12px;}
table {border-collapse:collapse;}
.line_height_150{line-height:150%;}
.btnOver{margin-top:1px;}
.btnNormal{margin-top:0px;}
.text_red{color:#ff0000;}
.text_orange{color:#888800;}
.text_blue{	color:#000080;}
.bold{	font-weight:bold;}
.top_line{border-top:1px solid #ffe680;}
a.link_gray:link{color:#666;text-decoration:none;}
a.link_gray:visited{color:#666;text-decoration:none;}
a.link_gray:hover{color:#ff0000;text-decoration:none;}
.msg_bg_div{z-index:900;osition:absolute;background-color:#ffffff;filter: Alpha(opacity=0);	-moz-opacity: 0;	opacity: 0;	width:100%;	display: block;}
.msg_div{
    z-index:999;
	margin:0px;
	position:absolute;
	background-color:#ffffff;
	border:10px solid #dddddd;
}
.title_div{
    z-index:999;
	background-color:#f5f5f5;
	text-align:center;
}
.content_div{
    z-index:999;
	color:#000000;
	text-align:center;
	word-wrap: break-word;
	word-break:break-all:
}
.msg_title{font-weight:bolder;color:#000000;}
.msg_content{color:#ff0000;line-height:150%;text-align:left;}
.cp_menu{padding:0px;}
.cp_menu .big_name{
	font-weight:bold;
	color:#000080;
	cursor:pointer;
}
.cp_menu .big_name a{color:#000080;}
.cp_menu .big_name a:hover{color:#ff0000;}
.cp_menu .sub_name{	color:#ffdd00;	borde:1px solid #8cabd7;border-top:0;}
.cp_menu .sub_name a{color:#006699;}
.cp_menu .sub_name a:hover{color:#ff0000;}
.floatleft{	float:left;}