/*同步登录页*/
.other_login_title {
  line-height: 41px;
  width: 115px;
  float: left;
  text-align: right;
}
.other_login_link .other_login {
  background: url(../image/other_login.png) no-repeat;
  height: 41px;
  width: 41px;
  display: inline-block;
  margin-bottom: 2px;
}
.other_login_link .other_login_qq {
  background-position: -4px -4px;
}
.other_login_link .other_login_weixin {
  background-position: -4px -337px;
}
.other_login_link .other_login_sina {
  background-position: -4px -59px;
}
.other_login_link .other_login_douban {
  background-position: -4px -117px;
}
.other_login_link .other_login_renren {
  background-position: -4px -175px;
}
.other_login_link a.other_login_qq:hover {
  background-position: -66px -4px;
}
.other_login_link a.other_login_weixin:hover {
  background-position: -63px -337px;
}
.other_login_link a.other_login_sina:hover {
  background-position: -66px -60px;
}
.other_login_link a.other_login_douban:hover {
  background-position: -66px -117px;
}
.other_login_link a.other_login_renren:hover {
  background-position: -66px -175px;
}
.other_login_link a.other_login_qq:active {
  background-position: -129px -4px;
}
.other_login_link a.other_login_weixin:active {
  background-position: -129px -337px;
}
.other_login_link a.other_login_sina:active {
  background-position: -129px -60px;
}
.other_login_link a.other_login_douban:active {
  background-position: -129px -117px;
}
.other_login_link a.other_login_renren:active {
  background-position: -129px -175px;
}
/*同步登录页end*/
