<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BEES CMS授权说明</title>
<style type="text/css">
*{margin:0; padding:0}
body{font-size:12px; padding:2px;}
p{line-height:18px;}
h2,h3{height:25px; line-height:25px;}
h2{font-size:14px;}
h3{font-size:12px;}
</style>
</head>

<body>
<h1 style="margin: 5px 0px 0px 10px; color: rgb(0, 0, 0); line-height: 30px; font-size: 14px; text-align: center;">BEES企业网站管理系统最终用户授权许可协议</h1>
  <p>感谢您选择BEES企业网站管理系统（以下简称BEESCMS）,BEESCMS将为打造实用方便的企业网站而不懈努力,本系统基于PHP + MySQL的技术开发，全部源码开放</p>
  <p>更多关于BEESCMS的信息可以访问BEESCMS网站：<a href="http://www.beescms.com" target="_blank">http://www.beescms.com</a><br>
      <br>
  </p>
  <p>为了使你正确并合法的使用本软件，请你在使用前务必阅读清楚下面的协议条款：<br>
      <br>
  </p>
  <p><strong>协议许可的权利：</strong><br>
    1、您可以在完全遵守本最终用户授权协议的基础上，将BEESCMS应用于非商业用途或个人网站，而不必支付软件版权授权费用。 <br>
    2、您可以在协议规定的约束和限制范围内根据需要对BEESCMS进行必要的修改和美化，以适应您的网站要求。<br>
    3、您拥有使用BEESCMS构建的网站中的全部内容的所有权，并独立承担与内容相关的法律义务。<br>
    4、获得商业授权之后，您可以将BEESCMS应用于商业用途，同时依据所购买的授权类型中确定的技术支持服务等级、期限、服务方式和服务内容，自购买时刻起，在技术支持服务期限内拥有通过指定的方式获得指定范围内的技术支持服务。商业授权用户享有反映和提出意见的权力，相关意见将被作为首要考虑，但没有一定被采纳的承诺或保证。 <br>
    <br>
  </p>
  <p><strong>协议规定的约束和限制 ：</strong><br>
   1、未获商业授权之前，不得将BEESCMS用于商业用途（包括但不限于企业网站、政府、金融、教育机构、学校、社会团体及其他经营性网站、以营利为目或实现盈利的网站，个人网站永久免费且不限制用途）。<br>
    2、未经官方许可，不得对BEESCMS或与之关联的商业授权进行出租、出售、抵押或发放子许可证。<br><br>
    3、无论如何，即无论用途如何、是否经过修改或美化、修改程度如何，只要使用BEESCMS的整体或任何部分，未经书面授权许可，在你使用了 BEESCMS 的网站主页上必须加上 BEESCMS 官方网址(www.beescms.com)的链接<br>
    4、未经官方许可,禁止在BEESCMS的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。<br>
    5、如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。<br>
    <br>
  </p>
  <p><strong>有限担保和免责声明：</strong><br>
    1、BEESCMS及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。<br>
    2、用户出于自愿而使用BEESCMS，您必须了解使用BEESCMS的风险，在尚未购买产品技术服务之前，我们不承诺提供任何形式的技术支持、使用担保，也不承担任何因使用BEESCMS而产生问题的相关责任。<br>
    3、不对使用BEESCMS构建的网站的任何信息内容以及导致的任何版权纠纷和法律争议及后果承担责任。<br>
    4、电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始确认本协议并安装BEESCMS，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。<br>
    <br>
  </p>
  <div>
    <p><a href="http://www.beescms.com" target="_blank">BEESCMS</a>(http://www.beescms.com)<br>
      2013.10 </p>
 
</body>
</html>
