.adv-wrap {
  position: relative;
  overflow: visible;
}
.adv-wrap .adv-content {
  line-height: 18px;
  text-align: center;
  padding-top: 5px;
  background: url(/Public/images/adv_line.jpg);
  padding-left: 10px;
}
.adv-wrap .adv-content .text {
  background: white;
  padding: 5px 10px;
}
.adv-wrap .adv-tool {
  display: none;
  position: absolute;
  width: 165px;
  right: 0;
  top: -24px;
  background: #fcfcfc;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #eee;
  line-height: 12px;
  z-index: 999999;
}
.adv-wrap .adv-tool a {
  line-height: 24px !important;
  padding: 10px 5px;
}
.adv-wrap .adv-size {
  display: none;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  position: absolute;
  z-index: 999;
  background: #fcfcfc;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #eee;
  line-height: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
