.announce .modal-dialog {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  width: 400px;
  border: none;
}
.announce .modal-dialog .modal-header {
  padding: 7px 15px 5px 0;
  margin: 0px 10px;
}
.announce .modal-dialog .modal-header h2 {
  padding-bottom: 0;
  font-size: 16px;
}
.announce .modal-dialog .modal-body {
  min-height: 150px;
}
.announce .modal-dialog .modal-body h4 {
  font-weight: 600;
}
.announce .modal-dialog .modal-footer {
  padding: 0px!important;
  border-top: none;
}
.announce .modal-dialog .modal-footer .announce-btn {
  width: 50%;
  margin-left: 0px;
  float: left;
  border: none;
  padding: 10px;
  color: #666;
  text-shadow: none;
  font-size: 14px;
  background-color: transparent;
}
.announce .modal-dialog .modal-footer .announce-btn:first-child {
  background: #19bca1;
  border-top: 1px solid #19bca1;
  color: white;
}
.announce .modal-dialog .modal-footer .announce-btn:last-child {
  border-top: 1px solid #E5E5E5;
}
