.user-card {
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  height: auto!important;
  border-radius: 4px;
  width: 300px;
  padding: 0;
  left: auto;
  right: 0;
  margin: 0!important;
  text-align: left;
}
.user-card .bg-wrap {
  width: 100%;
  position: relative;
}
.user-card .bg-wrap .change_cover {
  position: absolute;
  right: 0;
  top: 0;
}
.user-card .my-bg-info {
  background-color: #f3f6f8;
  padding: 0 20px;
  position: relative;
}
.user-card .my-bg-info .nickname {
  line-height: 25px;
  font-weight: 700;
  font-size: 15px;
  margin-left: 95px;
}
.user-card .my-bg-info .nickname a {
  color: #444;
}
.user-card .my-bg-info .nickname a:hover {
  color: #19bca1;
}
.user-card .my-bg-info .bg-avatar {
  width: 82px;
  height: 82px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: -55px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
}
.user-card .my-bg-info .bg-avatar a {
  padding: 0;
}
.user-card .bg-numb {
  margin: 0;
  padding: 10px 0;
}
.user-card .bg-numb .num {
  font-size: 12px;
  text-align: left;
}
.user-card .bg-numb .num:hover {
  color: #1ABC9C;
}
.user-card .bg-numb .num span {
  font-weight: 700;
}
.grade-box {
  padding: 20px;
  margin: 0;
}
.grade-box .l-box {
  padding: 0;
}
.grade-box .r-box {
  padding: 7px 0 0 0 ;
}
.grade-box .grade-bottom {
  border-top: 7px solid #eee;
}
.grade-box .grade-top {
  border-top: 7px solid #1ABC9C;
  margin-top: -7px;
  z-index: 9999;
}
.grade-box p {
  margin: 0;
}
.link-wrap {
  padding: 0 20px;
  text-align: left;
}
.link-wrap .link-box {
  padding: 10px 0;
  margin: 0;
  font-size: 13px;
  color: #222;
}
.link-wrap .link-box .l-p0 {
  padding-left: 0;
}
.link-wrap .link-box .r-p0 {
  padding-right: 0;
  padding-left: 20px;
}
.link-wrap .link-box i {
  margin-right: 10px;
}
