.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
/*布局样式*/
/*大型块*/
.common-block-lg {
  background: #ffffff;
}
.common-block-lg > header {
  padding: 15px;
  font-size: 18px;
}
.common-block-lg section {
  padding: 20px;
  padding-top: 0;
}
.common-block-sm {
  background: #ffffff;
}
.common-block-sm > header {
  padding: 15px;
  font-size: 18px;
}
.common-block-sm section {
  padding: 20px;
  padding-top: 0;
}
.common-block,
.common-block-md {
  background: #ffffff;
}
.common-block > header,
.common-block-md > header {
  padding: 10px 10px 10px 15px;
  font-size: 16px;
}
.common-block section,
.common-block-md section {
  padding: 15px;
  padding-top: 0;
}
.common-block.bottom-line,
.common-block-md.bottom-line,
.common-block .bottom-line,
.common-block-md .bottom-line {
  border-bottom: 1px solid #4f8ad0;
  font-size: 15px;
  top: 1px;
  clear: right;
  margin: 10px 10px 10px 10px ;
  padding: 0 0 0 0;
  line-height: 28px;
}
.common-block {
  background: #fff;
  clear: both;
}
.common-block h2,
.common-block > header {
  /*不同尺寸有不同的排版，默认为md*/
  /*划线样式*/
}
.common-block .common-block-body,
.common-block section {
  padding: 20px;
  padding-top: 0;
}
.common-block-title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.common_block_border {
  background: #ffffff;
  background: #fff;
  clear: both;
}
.common_block_border > header {
  padding: 10px 10px 10px 15px;
  font-size: 16px;
}
.common_block_border section {
  padding: 15px;
  padding-top: 0;
}
.common_block_border.bottom-line,
.common_block_border .bottom-line {
  border-bottom: 1px solid #4f8ad0;
  font-size: 15px;
  top: 1px;
  clear: right;
  margin: 10px 10px 10px 10px ;
  padding: 0 0 0 0;
  line-height: 28px;
}
.common_block_border h2,
.common_block_border > header {
  /*不同尺寸有不同的排版，默认为md*/
  /*划线样式*/
}
.common_block_border .common-block-body,
.common_block_border section {
  padding: 20px;
  padding-top: 0;
}
.common_block_title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10px;
}
.margin-0 {
  margin: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-0 {
  margin-top: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
/*布局样式end*/
.sub_menu .navbar-default {
  background: white;
  border: 1px solid #dddddd;
}
.sub_menu .navbar-default .navbar-nav > .active > a,
.sub_menu .navbar-default .navbar-nav > .active > a:hover,
.sub_menu .navbar-default .navbar-nav > .active > a:focus,
.sub_menu .navbar-default .navbar-nav > li > a:hover,
.sub_menu .navbar-default .navbar-nav > li > a:focus {
  background: none;
  color: #999;
  font-size: 16px;
  border-bottom: 3px solid #03ae87;
}
.sub_menu .navbar-default .navbar-nav > .open > a,
.sub_menu .navbar-default .navbar-nav > .open > a:hover,
.sub_menu .navbar-default .navbar-nav > .open > a:focus {
  border-bottom: 3px solid #03ae87;
  background: white !important;
}
.sub_menu .navbar-default .navbar-nav > li > a {
  color: #999;
  font-size: 16px;
}
.sub_menu .navbar-default .navbar-brand {
  color: #666;
}
.sub_nav {
  background: none;
}
.sub_nav .navbar-default {
  background: none !important;
}
.hr_3d {
  border-bottom: 1px solid white;
  border-top: 1px #cccccc solid;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  min-height: 0;
}
ul {
  padding-left: 0;
  margin-left: 0;
}
.alert {
  margin-top: 100px;
}
.slide-bar-mini {
  box-shadow: none !important;
  border: none !important;
  top: 50% !important;
  bottom: auto !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px;
  z-index: 1100;
}
.slide-bar {
  z-index: 99;
  position: fixed;
  left: 0;
  width: auto;
  bottom: 0;
  top: 50%;
}
.slide-bar .pull-right {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 9px 10px 10px 10px !important;
  background-position: 12px -583px;
  top: 0;
  right: -41px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0 3px 3px 0;
}
.slide-bar .pull-right:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.slide-bar .pull-right:hover i {
  color: #666;
}
.slide-bar .pull-right i {
  color: #ffffff;
}
.slide-bar .pull-out {
  text-align: center;
}
.slide-bar .pull-out a {
  padding: 0 10px !important;
}
.slide-bar .pull-out i {
  color: #ffffff;
}
.slide-bar .app-menu li {
  display: block;
}
.slide-bar .app-menu li a {
  font-size: 14px;
  padding: 12px 15px;
  line-height: 28px;
  display: block;
  color: #fff;
}
.slide-bar .app-menu li a .app-icon {
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
}
.slide-bar .app-menu li a i {
  font-size: 20px;
}
.slide-bar .app-menu li {
  list-style: none;
  display: inline-block;
  margin: 1em;
}
.slide-bar .app-menu li a {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  line-height: 5em;
  position: relative;
  text-align: center;
  background-color: #2eb8b3;
  border: 3px solid #fff;
  overflow: hidden;
  z-index: 1;
}
.slide-bar .app-menu li a i {
  display: block;
  position: absolute;
  font-size: 28px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
}
.slide-bar .app-menu a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s 0.125s ease;
}
.slide-bar .app-menu li a:hover.to.bottom i {
  -webkit-transform: translate(-50%, 5em);
}
.slide-bar .app-menu li a:hover.to.top i {
  -webkit-transform: translate(-50%, -5em);
}
.slide-bar .app-menu li a:hover.to.left i {
  -webkit-transform: translate(-5em, -50%);
}
.slide-bar .app-menu li a:hover.to.right i {
  -webkit-transform: translate(5em, -50%);
}
.slide-bar .app-menu li a:hover i {
  -webkit-transform: translate(-50%, 5em);
  color: rgba(255, 255, 255, 0.4);
}
.slide-bar .app-menu li a:hover span {
  opacity: 1;
}
.slide-bar .app-menu-mini li {
  display: block;
}
.slide-bar .app-menu-mini li a {
  font-size: 14px;
  padding: 12px 10px;
  line-height: 16px;
  display: block;
}
.slide-bar .app-menu-mini li a:hover {
  background: none;
  /*-webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -o-transform: scale(1.3);*/
}
.slide-bar .app-menu-mini li a .app-icon {
  color: white;
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
}
/*
右侧好友界面*/
#friend_has_new {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 10px;
  height: 10px;
  display: none;
}
.btn-pull {
  position: fixed;
  border: 1px solid #939393;
  background: #9C9C9C;
  z-index: 9999;
  padding: 13px 12px 5px 10px;
  margin-right: 0;
  bottom: 33px;
  right: 50px;
  width: 48px;
  height: 49px;
}
.btn-pull:hover {
  border: 1px solid #717070;
  background: #838383;
}
.btn-pull i {
  color: white;
  font-size: 24px;
}
.friend_panel {
  position: fixed;
  top: 50%;
  margin-top: -250px;
  right: 0;
  height: 500px;
  z-index: 999;
  background: #fff;
  border: #ccc solid 1px;
}
.friend_panel #right_panel_main {
  border-right: 0;
}
.friend_panel #right_panel_main #friend_panel_main {
  width: 150px;
  top: 0px;
  bottom: 0px;
}
.friend_panel #right_panel_main #session_panel_main {
  width: 150px;
}
.friend_panel #right_panel_main h2 {
  border-top-left-radius: 3px;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0;
  display: block;
}
.friend_panel #right_panel_main .session_spliter {
  height: 0px;
  border-bottom: 1px solid #ccc;
}
.friend_panel .friend_list {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
}
.friend_panel .friend_list li {
  list-style: none;
  padding: 10px;
}
.friend_panel .friend_list li a {
  color: #333 !important;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.friend_panel .friend_list li a .badge_new {
  position: absolute;
  top: 0;
  right: -15px;
  background: red;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.friend_panel .friend_list .active {
  background: #666666;
}
.friend_panel .session_more {
  height: 38px;
  color: white !important;
}
.friend_panel .session_more .active {
  border: 0 !important;
}
.friend_panel .session_more .tab_chat {
  border-top: 0;
  border-left: 0;
  border-bottom-left-radius: 3px;
  margin-top: 1px;
}
.friend_panel .session_more .tab_friend {
  border-top: 0;
  border-right: 0;
  margin-top: 1px;
}
.friend_panel .session_more .btn_session_more {
  color: white !important;
  text-align: center;
  padding: 8px 0;
  margin-left: 0;
  margin-right: 0;
  display: block;
  margin-top: 1px;
}
.friend_panel .session_more .active {
  color: #029775 !important;
  background: #ffffff;
}
#chat_box {
  z-index: 1001;
}
.chat-board {
  border-left: 1px solid #ccc;
  border-bottom: 0;
}
.chat_panel {
  position: fixed;
  right: 210px;
  bottom: 30px;
  background: white;
  border: 1px solid #ccc;
  width: 520px;
  height: 460px;
}
.chat_panel .chat-left {
  background: #fff;
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
}
.chat_panel .chat-list {
  padding: 0;
}
.chat_panel .chat-list li {
  list-style: none;
}
.chat_panel .chat-list li .btn-close {
  display: none;
  position: absolute !important;
  top: 0;
  right: 16px;
}
.chat_panel .chat-list li a {
  font-size: 14px;
  color: #666;
  position: relative;
  display: block;
}
.chat_panel .chat-list li a .avatar-img {
  margin: 5px;
}
.chat_panel .chat-list li a .talk-name {
  line-height: 46px;
}
.chat_panel .chat-list li a:hover {
  background: #f2f2f2;
}
.chat_panel .chat-list li a:hover .btn-close {
  display: inline-block;
}
.chat_panel .chat-list .active {
  background: #f2f2f2;
}
.chat_panel .panel_title {
  position: relative;
  background: #F4F4F4;
  height: 35px;
  border-bottom: 1px solid #ccc;
}
.chat_panel .panel_title .title {
  padding-left: 74px;
  line-height: 34px;
  width: 270px;
}
.chat_panel .panel_title .control_btns a {
  display: inline-block;
  margin: 7px;
}
.chat_panel .chat_avatar {
  position: absolute;
  top: -32px;
  left: 5px;
  width: 64px;
  border: 1px solid #ccc;
  padding: 1px;
  background: white;
}
.chat_panel .talk-body {
  background: white;
  padding: 0;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  height: 320px;
}
.chat_panel .talk-body .talk-avatar {
  width: 48px;
  max-width: 200%;
  margin-right: 10px;
}
.chat_panel .talk-body .chat_bubble .bubble_sharp {
  background: url(../images/bubble_left_chat.png);
}
.chat_panel .talk-body .chat_bubble .talk_bubble {
  border-color: #48b87a;
  background: #48b87a;
  color: white;
}
.chat_panel .send_box {
  padding: 0 10px;
}
.chat_panel #scrollArea_chat {
  padding-bottom: 20px;
}
.adv-wrap {
  position: relative;
  overflow: visible;
}
.adv-wrap .adv-content {
  line-height: 18px;
  text-align: center;
  padding-top: 5px;
  background: url(/Public/images/adv_line.jpg);
  padding-left: 10px;
}
.adv-wrap .adv-content .text {
  background: white;
  padding: 5px 10px;
}
.adv-wrap .adv-tool {
  display: none;
  position: absolute;
  width: 165px;
  right: 0;
  top: -24px;
  background: #fcfcfc;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #eee;
  line-height: 12px;
  z-index: 999999;
}
.adv-wrap .adv-tool a {
  line-height: 24px !important;
  padding: 10px 5px;
}
.adv-wrap .adv-size {
  display: none;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  position: absolute;
  z-index: 999;
  background: #fcfcfc;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #eee;
  line-height: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.tool {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 46px;
  z-index: 999;
}
.tool > a {
  display: block;
  width: 48px;
  height: 46px;
  margin-bottom: 10px;
  background-image: url(../images/newtools.png);
  border: 1px solid #dddddd;
}
.tool a:last-child {
  margin-bottom: 0;
}
.tool .go-top {
  background-position: 0 0;
  display: none;
}
.tool .go-top:hover {
  background-position: 0 -46px;
}
.tool .admin-view {
  background-position: 0 -92px;
}
.tool .admin-view:hover {
  background-position: 0 -137px;
}
a:focus {
  text-decoration: none;
}
.nav_scroll {
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
}
#main-container {
  margin-top: 15px;
  min-height: 570px;
}
.common_1 {
  width: 100%;
  height: 100%;
}
.common_a {
  padding: 0 20px!important;
  color: #444!important;
  line-height: 30px!important;
  height: auto!important;
  width: 100%;
}
.common_a:hover {
  background-color: #19bca1;
  color: #ffffff !important;
}
.topp-box {
  background: #19bca1;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1002;
  width: 100%;
}
.topp-box .box {
  height: 100%;
  position: relative;
  text-align: center;
}
.topp-box .box .img-wrap {
  width: 100%;
  height: 100%;
}
.topp-box .box .img-wrap img {
  height: 50px;
  margin-top: 2px;
}
.topp-box .box .img-wrap .logo {
  padding: 0!important;
}
.topp-box .box .top-btn {
  line-height: 50px;
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
}
.topp-box .box .top-btn:hover {
  color: #ffffff;
}
.topp-box .box .li-hover {
  display: inline-block !important;
  position: relative;
}
.topp-box .box .li-hover .nav-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.topp-box .box .li-hover > a {
  color: #ffffff;
  line-height: 50px;
  padding: 0 15px;
  display: inline-block;
  height: 50px;
}
.topp-box .box .li-hover > a:hover {
  background-color: #19bca1;
  color: #ffffff;
}
.topp-box .box .li-hover > a .message-num {
  position: absolute;
  left: 22px;
  top: 12px;
  width: 10px;
  height: 10px;
  background-color: #d45d51;
  border-radius: 100%;
  text-align: center;
}
.search-box {
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  margin-top: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}
.search-box .text-wrap {
  height: 180px;
  width: 100%;
  position: absolute;
  top: 0;
}
.search-box .text-wrap .close-box {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.search-box .text-wrap .text-box {
  height: 100%;
  padding: 20px 0;
  text-align: center;
}
.search-box .text-wrap .text-box h1 {
  color: #333;
  font-size: 35px;
  font-weight: 500;
}
.search-box .text-wrap .text-box .search {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  margin: 30px auto 0;
  color: #000;
  padding: 10px 20px;
}
.search-box .text-wrap .text-box .search:hover {
  border-color: #000;
}
.search-box .text-wrap .text-box .search:hover span,
.search-box .text-wrap .text-box .search:hover i {
  opacity: 1;
}
.search-box .text-wrap .text-box .search span,
.search-box .text-wrap .text-box .search i {
  opacity: .8;
}
.search-box .text-wrap .text-box .search .input {
  height: 28px;
  margin-top: -4px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: #000;
  width: 430px;
}
.search-box .text-wrap .text-box .search .input:focus {
  outline: none;
}
.nav_bar .sat-nav .first-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_bar .sat-nav .first-ul > li {
  display: inline-block;
}
.nav_bar .sat-nav .first-ul .active > a,
.nav_bar .sat-nav .first-ul .active > a:hover,
.nav_bar .sat-nav .first-ul .active > a:focus {
  background-color: #17ae95;
}
.nav_bar .sat-nav .dropdown-menu {
  margin: 0;
}
.nav_bar .first-a {
  line-height: 50px;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
}
.nav-menu {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px!important;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  text-align: left;
}
.nav-menu:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -4px;
  left: 32px;
  z-index: 9;
}
.nav-menu li a {
  padding: 0 20px;
  color: #999!important;
  line-height: 30px!important;
  font-size: 14px;
}
.nav-menu li a:hover {
  color: #19bca1;
  background-color: transparent;
}
.nav-menu li:last-of-type .drop-a {
  border-bottom: none;
}
.footer-bar {
  padding: 40px 0 0;
  background-color: #333;
}
.footer-bar .fot-box {
  color: #ffffff;
}
.footer-bar .fot-box p {
  margin: 25px 0 10px;
}
.footer-bar .fot-box .p2 {
  font-size: 18px;
}
.footer-bar .fot-box .p3 {
  color: #777;
  padding: 0 20px;
}
.footer-bar .fot-box .p4 {
  color: #19bca1;
  margin-bottom: 30px;
}
.footer-bar .close-more {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 30px;
  text-align: center;
}
.add-more {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 50px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.add-more:hover {
  color: #ffffff;
}
.next-box {
  background-color: #2f2f2f;
  padding: 10px 0 0;
}
.next-box p {
  font-size: 14px;
  color: #777;
}
.next-box .p-head {
  color: #ffffff;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
}
.next-box .p-head:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #19bca1;
  bottom: -10px;
}
.next-box .about-us {
  padding-right: 20px;
}
.next-box .comp {
  padding-left: 20px;
}
.next-box .comp i {
  margin-right: 10px;
}
.next-box .friend {
  padding-left: 20px;
}
.next-box .friend li {
  list-style: none;
  margin-bottom: 10px;
}
.next-box .friend li a {
  color: #777;
}
.next-box .last-box {
  margin-top: 15px;
  border-top: 1px solid #777;
  padding-top: 20px;
}
.next-box .last-box a {
  color: #777;
}
.next-box a:hover {
  color: #19bca1 !important;
}
.next-box a:hover p {
  color: #19bca1 !important;
}
.fot-box .p1 {
  background: url("../images/foot.png") no-repeat;
  width: 75px;
  height: 75px;
  margin: 25px auto 0!important;
}
.fot-box .logo_1 {
  background-position: 0 -20px;
}
.fot-box .logo_2 {
  background-position: 0 -165px;
}
.fot-box .logo_3 {
  background-position: 0 -310px;
}
.fot-box .logo_4 {
  background-position: 0 -455px;
}
#sub_nav .logo {
  padding-left: 0;
}
#sub_nav .navbar-default {
  background-color: #f3f6f8;
  border: none!important;
  box-shadow: 0 4px 4px -3px #d1d1d1;
  margin-top: 50px;
}
#sub_nav .new-search-group {
  position: relative;
}
#sub_nav .new-search-group .input-btn {
  border-color: transparent;
  background: transparent;
  padding: 0 10px;
  height: 33px;
  position: absolute;
  right: 0;
}
#sub_nav .new-search-group .input-btn i {
  color: #19bca1;
}
#sub_nav .new-search-group .new-search {
  height: 33px;
  border-radius: 3px;
  box-shadow: none;
  width: 250px;
  padding: 5px 10px;
  border: 1px solid #19bca1;
}
#sub_nav .dropdown-menu {
  padding: 0;
}
#sub_nav .dropdown-menu > li > a:hover,
#sub_nav .dropdown-menu > li > a:focus {
  background-color: #19bca1 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  border-bottom: 3px solid #19bca1;
  background-color: transparent;
  outline: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #222;
  background-color: transparent;
}
.self-info:hover .user-card {
  display: block;
}
.show-hide-ul:hover > .nav-menu {
  display: block;
}
.c-b-right .drop-self {
  right: -15px;
  left: auto;
  padding: 0;
  margin: 0;
  min-width: 120px;
}
.c-b-right .nav-menu:before {
  left: auto;
  right: 30px!important;
}
.drop-a {
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 15px!important;
  outline: none!important;
}
.drop-a:focus {
  background-color: transparent!important;
}
.drop-a p {
  margin: 0;
  line-height: 25px;
}
.drop-a p:first-child {
  color: #6a6a6a;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.drop-a p:first-child span {
  margin-left: 5px;
}
.drop-a p:first-child:hover {
  color: #19bca1 !important;
}
.drop-a p:last-child {
  margin-left: 40px;
  font-size: 12px;
  line-height: 20px;
}
.announce .modal-dialog {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  width: 400px;
  border: none;
}
.announce .modal-dialog .modal-header {
  padding: 7px 15px 5px 0;
  margin: 0px 10px;
}
.announce .modal-dialog .modal-header h2 {
  padding-bottom: 0;
  font-size: 16px;
}
.announce .modal-dialog .modal-body {
  min-height: 150px;
}
.announce .modal-dialog .modal-body h4 {
  font-weight: 600;
}
.announce .modal-dialog .modal-footer {
  padding: 0px!important;
  border-top: none;
}
.announce .modal-dialog .modal-footer .announce-btn {
  width: 50%;
  margin-left: 0px;
  float: left;
  border: none;
  padding: 10px;
  color: #666;
  text-shadow: none;
  font-size: 14px;
  background-color: transparent;
}
.announce .modal-dialog .modal-footer .announce-btn:first-child {
  background: #19bca1;
  border-top: 1px solid #19bca1;
  color: white;
}
.announce .modal-dialog .modal-footer .announce-btn:last-child {
  border-top: 1px solid #E5E5E5;
}
#message-box .modal-dialog {
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}
#message-box .modal-dialog .modal-content {
  padding: 10px;
}
#message-box .modal-dialog .modal-content .message-content > .top {
  height: 29px;
  line-height: 20px;
  font-size: 18px;
  border-bottom: 1px solid #E5E5E5;
}
#message-box .modal-dialog .modal-content .message-content .content-list {
  height: 650px;
}
#message-box .modal-dialog .modal-content .message-content .content-list:after {
  clear: both;
}
#message-box .modal-dialog .modal-content .message-content .content-list .session-list {
  float: left;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  border-right: 1px solid #EEE;
}
#message-box .modal-dialog .modal-content .message-content .content-list .session-list li {
  position: relative;
}
#message-box .modal-dialog .modal-content .message-content .content-list .session-list li a {
  display: inline-block;
  width: 100%;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list {
  width: 580px;
  float: left;
  padding-left: 10px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block {
  height: 100%;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center {
  overflow-y: auto;
  overflow-x: hidden;
  height: 650px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center .line {
  text-align: center;
  color: #A9A9A9;
  margin: 20px 0;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center ul {
  list-style-type: none;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li {
  line-height: 24px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li:before,
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li:after {
  display: block;
  height: 0;
  content: ".";
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li .avatar-box {
  margin-top: 10px;
  float: left;
  margin-right: 10px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li .info-box {
  float: left;
  width: 350px;
  min-height: 45px;
  height: auto;
  margin-top: 10px;
  position: relative;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li .info-box .name {
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li .info-box .name a {
  color: #333;
  text-decoration: none;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li .info-box .name span {
  color: #999;
  margin-left: 30px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li .info-box .info {
  font-size: 12px;
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
  color: #666;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li.comment_message .avatar-box {
  margin-top: 0px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li.comment_message .m3-right {
  width: 450px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li.comment_message .m3-right .m3-top p {
  margin-bottom: 0;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li.comment_message .m3-right .m3-top .p-name {
  font-weight: 600;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li.comment_message .m3-right .m3-mid {
  background-color: #f1f1f1;
  padding: 5px 10px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li.comment_message .m3-right .m3-bot {
  color: #888;
  margin-top: 5px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center li .expression_pic {
  display: inline-block;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center .load-more {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center .load-more .do-button {
  width: 80%;
  display: inline-block;
  height: 40px;
}
#message-box .modal-dialog .modal-content .message-content .content-list .message-list .list-block .center .no-message p {
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  color: #B0B0B0;
  padding-left: 15px;
}
.common-bg {
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
.common {
  height: 30px;
  width: 100%;
  line-height: 30px;
}
.cheight {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.message-box .message-content .content-list .session-list li.session1 a {
  margin: 10px auto;
  padding: 0 0 0 10px;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f {
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
  height: 130px;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f .top-box {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #fff;
  padding: 15px 0;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f .top-box .img-wrap {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 0;
  position: relative;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f .top-box span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  right: 13px;
  top: 10px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  display: block;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f .top-box .info-box {
  height: 100%;
  padding: 0;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f .top-box .info-box .title {
  height: 30px;
  width: 100%;
  line-height: 30px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f .top-box .info-box .last-message {
  height: 30px;
  width: 100%;
  line-height: 30px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.message-box .message-content .content-list .session-list li.session1 a .message-f .bottom-box {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #999;
}
.message-box .message-content .content-list .session-list li.session2 a {
  margin: 10px auto;
  padding: 0 0 0 10px;
}
.message-box .message-content .content-list .session-list li.session2 a .message-s {
  height: 105px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
}
.message-box .message-content .content-list .session-list li.session2 a .message-s .title {
  display: inline-block;
  background-color: #24c6d5;
  color: #fff;
  padding: 5px 8px;
  font-size: 12px;
}
.message-box .message-content .content-list .session-list li.session2 a .message-s .img-wrap {
  width: 50px;
  height: 50px;
}
.message-box .message-content .content-list .session-list li.session2 a .message-s .time {
  padding: 0 10px;
  color: #999;
}
.message-box .message-content .content-list .session-list li.session2 a .message-s .info {
  height: 50px;
  color: #666;
  padding: 6px 10px;
  overflow: hidden;
}
.message-box .message-content .content-list .session-list li.session3 {
  border-bottom: 1px solid #eee;
}
.message-box .message-content .content-list .session-list li.session3.current {
  background-color: #FCFCFC;
}
.message-box .message-content .content-list .session-list li.session3 a {
  height: 75px;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t {
  width: 100%;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap {
  padding-right: 5px;
  padding-left: 5px;
  height: 100%;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .img-wrap {
  height: 80px;
  padding: 10px 0;
  position: relative;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .img-wrap img {
  width: 60px;
  height: 60px;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .img-wrap .badge {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  right: 6px;
  top: 6px;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .info {
  height: 80px;
  padding: 10px 0;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .info .up-box {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .info .up-box .time {
  color: #999;
  margin-right: 5px;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .info .up-box .title {
  font-weight: 700;
  font-size: 14px;
}
.message-box .message-content .content-list .session-list li.session3 a .message-t .message-wrap .info .down-box {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #999;
}
.message-box .message-content .content-list .session-list li.session4 a {
  margin: 10px auto -5px;
  padding: 0 0 0 10px;
}
.message-box .message-content .content-list .session-list li.session4 a .message-g {
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
  padding: 0px;
  height: 80px;
}
.message-box .message-content .content-list .session-list li.session4 a .message-g .img {
  position: relative;
}
.message-box .message-content .content-list .session-list li.session4 a .message-g .img .img-wrap {
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: 16px;
}
.message-box .message-content .content-list .session-list li.session4 a .message-g .img span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  right: 5px;
  top: 11px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  display: block;
}
.message-box .message-content .content-list .session-list li.session4 a .message-g .info-box {
  font-size: 20px ;
  line-height: 80px;
  padding-left: 17px;
}
.message-box .message-content .content-list .session-list li.session4 a .message-g .red-point span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  right: 22px;
  top: 30px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  display: block;
}
.page-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 1000px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border: 1px solid #eee;
}
.page-box .top {
  background-color: #4F8AD0;
  height: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 400;
}
.page-box .back-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  line-height: 30px;
  position: relative;
}
.page-box .back-box i {
  position: absolute;
  left: 15px;
  top: 8px;
}
.m1_style {
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f0f2f5;
  height: 170px;
  padding: 0;
}
.m1_style .title {
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  border-bottom: 1px solid #999;
}
.m1_style .content {
  padding: 5px 10px;
}
.m1_style .content p {
  margin-bottom: 5px;
}
.m1_style .time {
  padding: 0 10px;
  border-top: 1px solid #999;
  line-height: 30px;
}
.m2_style {
  height: 75px;
  padding: 10px 0;
}
.m2_style:hover {
  background-color: #e9edf0;
}
.m2_style .content-box {
  height: 100%;
  padding: 5px 0;
  position: relative;
}
.m2_style .content-box .time {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #999;
}
.wrap {
  width: 550px;
  height: 500px;
  max-height: 700px;
  border: 1px solid #000;
  margin: 0 auto;
}
.wrap .message-content {
  width: 100%;
  height: 80px;
  position: relative;
}
.wrap .message-content .img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 10px;
}
.wrap .message-content .name {
  position: absolute;
  left: 60px;
  top: 10px;
}
.wrap .message-content .text {
  position: absolute;
  left: 60px;
  top: 40px;
  color: #999;
  font-size: 14px;
}
.wrap .message-content .triangle {
  position: absolute;
  bottom: 0;
  left: 75px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.wrap .comment {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #ccc;
}
.wrap .comment .img {
  margin-top: 20px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 100%;
}
.wrap .comment .name {
  position: absolute;
  left: 60px;
  top: 15px;
}
.wrap .comment .record {
  position: absolute;
  left: 60px;
  top: 40px;
  color: #999;
  font-size: 14px;
}
.wrap .comment .text {
  position: absolute;
  left: 60px;
  top: 68px;
  font-size: 14px;
}
.user-card {
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  height: auto!important;
  border-radius: 4px;
  width: 300px;
  padding: 0;
  left: auto;
  right: 0;
  margin: 0!important;
  text-align: left;
}
.user-card .bg-wrap {
  width: 100%;
  position: relative;
}
.user-card .bg-wrap .change_cover {
  position: absolute;
  right: 0;
  top: 0;
}
.user-card .my-bg-info {
  background-color: #f3f6f8;
  padding: 0 20px;
  position: relative;
}
.user-card .my-bg-info .nickname {
  line-height: 25px;
  font-weight: 700;
  font-size: 15px;
  margin-left: 95px;
}
.user-card .my-bg-info .nickname a {
  color: #444;
}
.user-card .my-bg-info .nickname a:hover {
  color: #19bca1;
}
.user-card .my-bg-info .bg-avatar {
  width: 82px;
  height: 82px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: -55px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
}
.user-card .my-bg-info .bg-avatar a {
  padding: 0;
}
.user-card .bg-numb {
  margin: 0;
  padding: 10px 0;
}
.user-card .bg-numb .num {
  font-size: 12px;
  text-align: left;
}
.user-card .bg-numb .num:hover {
  color: #1ABC9C;
}
.user-card .bg-numb .num span {
  font-weight: 700;
}
.grade-box {
  padding: 20px;
  margin: 0;
}
.grade-box .l-box {
  padding: 0;
}
.grade-box .r-box {
  padding: 7px 0 0 0 ;
}
.grade-box .grade-bottom {
  border-top: 7px solid #eee;
}
.grade-box .grade-top {
  border-top: 7px solid #1ABC9C;
  margin-top: -7px;
  z-index: 9999;
}
.grade-box p {
  margin: 0;
}
.link-wrap {
  padding: 0 20px;
  text-align: left;
}
.link-wrap .link-box {
  padding: 10px 0;
  margin: 0;
  font-size: 13px;
  color: #222;
}
.link-wrap .link-box .l-p0 {
  padding-left: 0;
}
.link-wrap .link-box .r-p0 {
  padding-right: 0;
  padding-left: 20px;
}
.link-wrap .link-box i {
  margin-right: 10px;
}
