.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
/*布局样式*/
/*大型块*/
.common-block-lg {
  background: #ffffff;
}
.common-block-lg > header {
  padding: 15px;
  font-size: 18px;
}
.common-block-lg section {
  padding: 20px;
  padding-top: 0;
}
.common-block-sm {
  background: #ffffff;
}
.common-block-sm > header {
  padding: 15px;
  font-size: 18px;
}
.common-block-sm section {
  padding: 20px;
  padding-top: 0;
}
.common-block,
.common-block-md {
  background: #ffffff;
}
.common-block > header,
.common-block-md > header {
  padding: 10px 10px 10px 15px;
  font-size: 16px;
}
.common-block section,
.common-block-md section {
  padding: 15px;
  padding-top: 0;
}
.common-block.bottom-line,
.common-block-md.bottom-line,
.common-block .bottom-line,
.common-block-md .bottom-line {
  border-bottom: 1px solid #4f8ad0;
  font-size: 15px;
  top: 1px;
  clear: right;
  margin: 10px 10px 10px 10px ;
  padding: 0 0 0 0;
  line-height: 28px;
}
.common-block {
  background: #fff;
  clear: both;
}
.common-block h2,
.common-block > header {
  /*不同尺寸有不同的排版，默认为md*/
  /*划线样式*/
}
.common-block .common-block-body,
.common-block section {
  padding: 20px;
  padding-top: 0;
}
.common-block-title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.common_block_border {
  background: #ffffff;
  background: #fff;
  clear: both;
}
.common_block_border > header {
  padding: 10px 10px 10px 15px;
  font-size: 16px;
}
.common_block_border section {
  padding: 15px;
  padding-top: 0;
}
.common_block_border.bottom-line,
.common_block_border .bottom-line {
  border-bottom: 1px solid #4f8ad0;
  font-size: 15px;
  top: 1px;
  clear: right;
  margin: 10px 10px 10px 10px ;
  padding: 0 0 0 0;
  line-height: 28px;
}
.common_block_border h2,
.common_block_border > header {
  /*不同尺寸有不同的排版，默认为md*/
  /*划线样式*/
}
.common_block_border .common-block-body,
.common_block_border section {
  padding: 20px;
  padding-top: 0;
}
.common_block_title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10px;
}
.margin-0 {
  margin: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-0 {
  margin-top: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
/*布局样式end*/
.sub_menu .navbar-default {
  background: white;
  border: 1px solid #dddddd;
}
.sub_menu .navbar-default .navbar-nav > .active > a,
.sub_menu .navbar-default .navbar-nav > .active > a:hover,
.sub_menu .navbar-default .navbar-nav > .active > a:focus,
.sub_menu .navbar-default .navbar-nav > li > a:hover,
.sub_menu .navbar-default .navbar-nav > li > a:focus {
  background: none;
  color: #999;
  font-size: 16px;
  border-bottom: 3px solid #03ae87;
}
.sub_menu .navbar-default .navbar-nav > .open > a,
.sub_menu .navbar-default .navbar-nav > .open > a:hover,
.sub_menu .navbar-default .navbar-nav > .open > a:focus {
  border-bottom: 3px solid #03ae87;
  background: white !important;
}
.sub_menu .navbar-default .navbar-nav > li > a {
  color: #999;
  font-size: 16px;
}
.sub_menu .navbar-default .navbar-brand {
  color: #666;
}
.sub_nav {
  background: none;
}
.sub_nav .navbar-default {
  background: none !important;
}
.hr_3d {
  border-bottom: 1px solid white;
  border-top: 1px #cccccc solid;
}
