.slide-bar-mini {
  box-shadow: none !important;
  border: none !important;
  top: 50% !important;
  bottom: auto !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px;
  z-index: 1100;
}
.slide-bar {
  z-index: 99;
  position: fixed;
  left: 0;
  width: auto;
  bottom: 0;
  top: 50%;
}
.slide-bar .pull-right {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 9px 10px 10px 10px !important;
  background-position: 12px -583px;
  top: 0;
  right: -41px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0 3px 3px 0;
}
.slide-bar .pull-right:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.slide-bar .pull-right:hover i {
  color: #666;
}
.slide-bar .pull-right i {
  color: #ffffff;
}
.slide-bar .pull-out {
  text-align: center;
}
.slide-bar .pull-out a {
  padding: 0 10px !important;
}
.slide-bar .pull-out i {
  color: #ffffff;
}
.slide-bar .app-menu li {
  display: block;
}
.slide-bar .app-menu li a {
  font-size: 14px;
  padding: 12px 15px;
  line-height: 28px;
  display: block;
  color: #fff;
}
.slide-bar .app-menu li a .app-icon {
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
}
.slide-bar .app-menu li a i {
  font-size: 20px;
}
.slide-bar .app-menu li {
  list-style: none;
  display: inline-block;
  margin: 1em;
}
.slide-bar .app-menu li a {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  line-height: 5em;
  position: relative;
  text-align: center;
  background-color: #2eb8b3;
  border: 3px solid #fff;
  overflow: hidden;
  z-index: 1;
}
.slide-bar .app-menu li a i {
  display: block;
  position: absolute;
  font-size: 28px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
}
.slide-bar .app-menu a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s 0.125s ease;
}
.slide-bar .app-menu li a:hover.to.bottom i {
  -webkit-transform: translate(-50%, 5em);
}
.slide-bar .app-menu li a:hover.to.top i {
  -webkit-transform: translate(-50%, -5em);
}
.slide-bar .app-menu li a:hover.to.left i {
  -webkit-transform: translate(-5em, -50%);
}
.slide-bar .app-menu li a:hover.to.right i {
  -webkit-transform: translate(5em, -50%);
}
.slide-bar .app-menu li a:hover i {
  -webkit-transform: translate(-50%, 5em);
  color: rgba(255, 255, 255, 0.4);
}
.slide-bar .app-menu li a:hover span {
  opacity: 1;
}
.slide-bar .app-menu-mini li {
  display: block;
}
.slide-bar .app-menu-mini li a {
  font-size: 14px;
  padding: 12px 10px;
  line-height: 16px;
  display: block;
}
.slide-bar .app-menu-mini li a:hover {
  background: none;
  /*-webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -o-transform: scale(1.3);*/
}
.slide-bar .app-menu-mini li a .app-icon {
  color: white;
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
}
