.tool {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 46px;
  z-index: 999;
}
.tool > a {
  display: block;
  width: 48px;
  height: 46px;
  margin-bottom: 10px;
  background-image: url(../images/newtools.png);
  border: 1px solid #dddddd;
}
.tool a:last-child {
  margin-bottom: 0;
}
.tool .go-top {
  background-position: 0 0;
  display: none;
}
.tool .go-top:hover {
  background-position: 0 -46px;
}
.tool .admin-view {
  background-position: 0 -92px;
}
.tool .admin-view:hover {
  background-position: 0 -137px;
}
