
/*----templet set up 09-02-04----*/
.tem_style_h2{border-bottom:1px #7f9db9 solid;padding:12px 12px 4px 8px;margin:20px 12px;font-size:14px;clear:both;}
.tem_style{width:560px;margin:0 20px;border:1px #ccc solid;padding:8px;overflow:hidden;}
.tem_style img,.tem_ky img{float:left;width:158px;height:118px;padding:2px;border:1px #ededed solid;}
.tem_style ul{float:left;line-height:24px;margin: 0 20px;list-style:none;padding:0;}
.tem_style li,.tem_ky li{display:block;list-style:none;line-height:20px;}
.tem_style li input{margin:12px 12px 0 0 ;padding-top:3px;}

.tem_ky{float:left;width:165px;margin:0 10px 10px;border:1px #ccc solid;padding:8px;}
.tem_ky ul{float:left;line-height:20px;margin: 8px 0;padding:0;}
.tem_ky input{margin-right:4px;}
.tem_ky a{margin:0 0 0 4px;}
.get_more{display:block;clear:both;margin:0 12px;line-height:22px;padding-top:12px;}
.get_more span{display:block;clear:both;}
.tem_install{border:1px #ccc solid;padding:8px;}
.inp_url{width:300px;border:1px #7f9db9 solid;margin:0 8px;height:18px;}
.tem_install dl{line-height:22px;}
.tem_install dt{font-weight:bold;}
.tem_install dd{margin-left:20px;}

#tem_edit_l{float:left;border:1px #ccc solid;padding:8px;margin:0; width:240px}
#tem_edit_l dt,#tem_edit_l dt{font-weight:bold;}
#tem_edit_l dd,#tem_edit_l dd{margin-left:0;line-height:24px;}
#tem_edit_r{ float:right; margin:0; width:72%; }
#tem_edit_r .edit_area{width:95%;border:1px #7f9db9 solid;margin-bottom:12px;padding:8px;}

.up_img,.preview_img{line-height:22px;margin:5px 20px 25px 20px;clear:both;}
.up_img input{margin:0 8px 0 0;height:24px;}
.bg_style{width:750px;}
.x_img{width:158px;height:118px;}
.describe{height:60px;overflow:hidden;width:158px;}
.describe span{white-space:nowarp;word-break:keep-all;}
.tem_name,.label_name{height:40px;overflow:hidden;}
/*----templet list fenye 09-02-05----*/
#fenye{width:100%;text-align:center;clear:both;}
#fenye a{padding:2px 5px;border:1px #999 solid;margin:0 5px;line-height:18px;height:18px; display:inline-block;vertical-align:middle;}
/*----plug list fenye 09-02-05----*/
.hei48{height:48px;overflow:hidden;}

.plugin_list{width:700px;margin:12px 0 12px 20px;border:1px #ccc solid;padding:8px;overflow:hidden;display:block;} 
.plugin_img{float:left;width:158px;height:118px;padding:2px;margin:0 8px 0 0 ;border:1px #ededed solid;}
.plugin_list dl{float:left;width:330px;border:1px #ededed  solid;padding:4px 8px;margin:0 8px;text-align:left;}
.plugin_list dt{line-height:24px;height:48px;}
.plugin_list dt a{text-decoration:none;font-weight:normal;margin-right:12px;color:#0246cd;} 
.plugin_list dd{line-height:20px;white-space:pre-wrap;word-break:overflow:hidden;}
.plugin_list dd,.plugin_list dt{margin:0;}
.btn_plug{height:28px;margin: 12px 4px 8px 4px;padding:3px 12px 0 12px;*padding:3px 8px 0 8px;border:1px #8cabd7 solid;background:#d3e8fd;color:#000080;}


span.grouplist{display:none;float:left;width:100%;height:25px;}
#plug-in{float:left;}
.plug-in-cell{width:730px; border:1px #b7b7b7 solid;padding-top:20px;margin:20px 5px 0 5px;float:left;display:inline;clear:left;}
#plug-in dl{float:left;margin:0px 0 24px 208px;width:330px;display:inline;}
#plug-in dt{float:left;margin-left:-190px;width:168px;height:128px;position:relative;}
#plug-in dt a{display:block;}
#plug-in dd{line-height:24px;}
#plug-in dd a{margin:0 8px;color:#006699;}
.install_plug{float:right;width:128px;height:28px;text-align:center;margin-right:15px;font-weight:bold;padding:6px 30px 8px 6px;line-height:15px;background:url(./btnMap.gif) no-repeat left top;border:0; cursor:pointer;zoom:1;}
.bg_gray{background:#f6f6f6; }
.plug_attention{margin-left:8px;}	
.plug_attention	td{height:24px;}	
/*--four circular bead  ---*/		
.angle_t,.angle_b{position:relative;width:100%;float:left;zoom:1;height:4px;}
.angle_t_l,	.angle_t_r{position:absolute;top:-21px;height:4px;width:4px;background: no-repeat top left;}	
.angle_t_l{background-image:url(./angle_t_l.gif);left:-1px;}		
.angle_t_r{background-image:url(./angle_t_r.gif);right:-1px;}
.angle_b_l,.angle_b_r{position:absolute;bottom:-1px !important;bottom:-12px;height:4px;width:4px;background: no-repeat top left;}	
.angle_b_l{background-image:url(./angle_b_l.gif);left:-1px;}		
.angle_b_r{background-image:url(./angle_b_r.gif);right:-1px;}
 /*-- for edit style  banma 09-03-20-----*/
.edit_level{float:left;margin:10px 20px 0 12px;}
.edit_easy,.edit_senior{float:left;padding:3px 20px;margin-right:8px;line-height:20px;height:20px;border:1xp #ccc solid;background:#666;color:white; text-decoration:none;} 
.edit_on{border:1px #666 solid;background:white;color:#666;height:19px;}
.tem_edit_h2{height:24px;overflow:hidden;margin:0 12px;padding:30px 0 4px 0; clear:both;}
.arrow{font-weight:bold;font-size:16px;}
.mix_eidt{width:95%;border:1px #ccc solid; margin-left:20px;line-height:18px;}
.mix_eidt td{border:1px #ccc dotted; border-width:1px 0;line-height:18px;vertical-align:top;padding:8px;}
.mix_eidt .inp_file{width:176px;margin:0 0 4px 0;vertical-align:middle;}
.get_color{width:18px;height:18px;border:0;background:#ccc;}


