{template 'header'}
<div class="m">
	<div class="title bd-b">{$head_title}</div>
	<div class="content t_c"><br/>
	<span id="second" class="f_red f_b"></span> 秒后将自动跳转到<a href="{$MOD[linkurl]}" class="b">{$MOD[name]}首页</a>
	</div>
</div>
<script type="text/javascript">
var i = 30;
Dd('second').innerHTML = i;
var interval = window.setInterval(
	function() {
		if(i==0) {
			Go('{if $DT_PC}{$MOD[linkurl]}{else}{$MOD[mobile]}{/if}');
			clearInterval(interval);
		} else {
			Dd('second').innerHTML = i;
			i--;
		}
	}, 
1000);
</script>
{template 'footer'}