body{font-family: Geneva, Arial, Helvetica, sans-serif, serif;font-size:12px;line-height:1.5em;background:#F1ECD6 url(bg.jpg) repeat-x 10% 0;color:#000;}
h1,h2,h3,h4,h5,h6,form,body,dd,dt,dl,li,ul{padding:0;margin:0}
td,th,div{word-break:break-all;word-wrap:break-word}
img{border:0; background:#D7EDE8}
.c{clear:both;height:1px;font:0px/0px Arial;overflow:hidden}
.tal,.tl{text-align:left}
.tac,.tc{text-align:center}
.tar,.tr{text-align:right}
.fr,.right{float:right}
.fl,.left{float:left}
.b{ font-weight:bold}
.tdn{ text-decoration:none}
.small{ font-size:10px;}
.big{ font-size:14px;}
.fsn{ font-size:12px}
.fn{ font-weight:normal}
.lh0{ line-height:0}
.yellow {color:#0c2f86}
.gray{ color:#aaa}
.keep{ word-break:keep-all; word-spacing:normal}
.ip{ padding:2px; border:1px solid #fff; background:none}
.bt{background:#012E53;color:#fff;font-size:12px; }
/*a link 基本连接颜色*/
a{color:#0C5896}
a:hover{color:#fff; background:#0C5896}
a.noul{ text-decoration:none}
a.active{background:#0C5896; color:#fff}
a.active:hover{color:#0C5896; background:none}

h1{color:#0c2f86;font-size:24.5px; padding:.6em 0 0; margin-top:1em}
h2{ font-size:15px; padding:.5em .6em .3em; color:#0c2f86; }
h3{ font-size:14px; color:#000}
h4{ font:16px Georgia; display:inline}
.bb{ border-bottom:1px solid #fff; padding:0 0 .6em; margin:0 0 .3em; line-height:2em;}
#container{ width:96%;margin:0 auto; max-width:900px;}
#header{ height:150px;margin-bottom:1em}
#title{ width:98%; height:120px; margin:auto; overflow:hidden}
#guide{ padding:0; margin:0; border-bottom:1px solid #0c2f86; float:left; width:100%;}
#guide li{ display:inline}
#guide li a{ float:left; color:#0c2f86; text-decoration:none;display:block; font:13px/1.2em Arial; padding:.4em 1em; }
#guide li a:hover{ color:#fff;background:#49B9C5;text-decoration:none}
#guide li.active a{background:#3889A5;color:#fff }
#site-dsc{color:#0298D3;margin-top:1em; font-size:14px;}
#toolbar{ margin-top:1em}

#main{ width:73.5%;}
#side{ width:25%;}
.box{ border:1px #fff solid; margin:0 0 .7em;background:url(boxbg.png);width:100%; overflow:hidden; height:auto }
/*for ie 6.0*/
* html #container { width:900px}
* html .box { background:#D5EDE6; filter:alpha(opacity=80);}
* html .profile-pic div{ position:relative}
/*for ie 6.0*/ 
.text{ margin:.5em 1em 1em;}
#main .text { margin: 1em;}
#side .list { margin:1em .5em 1.5em 2.5em;}
#side .list ul{ margin:0 0 1em 1em}
#side .list ul li{ margin:.5em 0}
#side .list li{ margin:.5em 0}
.profile-pic{margin:0 auto 1em;padding:1px;width:95%;}
.profile-pic div{ margin:0 auto 0;width:100%;padding:0;overflow:hidden;text-align:center;line-height:0}
.profile-pic div img{border:1px solid #ccc;padding:0; margin:0;}
.profile dd{ margin:.3em 0 0; line-height:120%}

/*#calendar */
.calendar table{ width:98%; margin:0 auto 1em; table-layout:fixed}
.calendar table td{ height: 15px;font:11px/150% Tahoma;text-align:center;}
.calendar table th{ text-align: center}
.calendar table td a{color:#fff;font:11px/12px Arial;background:#0C5896;padding:0px 3px 2px}
.calendar table td a:hover{background:#012E53;text-decoration:none}

/*blog*/

.blog-content{ margin:2em 0; table-layout:fixed; width:100%; vertical-align:top}
.blog-content td{ font-size:13px; line-height:1.5em;overflow:hidden}
.blog-content td img { padding:5px; border:1px solid #28AFC5; line-height:0; background:#fff}
.blog-content td a:hover img { border-color: #666}


#footer{ margin-top:2em; border-top:1px solid #EDDEB4; padding:.5em;}
#footer ul,#footer li { display:inline; list-style:none ; margin:0 0 0 1em}

/*photos-album*/
.pic-list li{ height:50px; width:50px; list-style:none; float:left}
.pic-list li a img{ padding:2px; width:40px; height:40px}
.pic-list li a:hover img { position:absolute; width:79px;height:79px; margin:-20px 0 0 -20px}
.front-cover{ padding:0 1em 2em 0}

/*favorite*/
.fav dl{ margin-bottom:1.5em}
.fav dt{ margin-bottom:.5em}

/*goods*/
.goods-list li{ width:80px; height:80px; text-align:center; line-height:110%; margin:0 .3em 1em }
.goods-list li a:hover img { margin:-20px 0 0 -42px}
.goods-dl { width:400px}
.goods-dl dd{ border-bottom:1px solid #B9E1ED; margin: 0 1em 0 0; line-height:2em}


/*friends*/
.frends-list li{ float:left; width:48%;height:120px; overflow:hidden; margin-left:1%}
.frends-list li a img{ padding:2px; float:left; margin-right:.5em}

/*comment*/
.comment dl{ display:block;clear:both;float:left;margin:.2em 0;border:1px solid #FBFAF6;width:90%;padding:.5em}
.comment dl:hover{border-color:#ABBD87}
.comment dd{ margin:0 .8em .5em 0;padding:0;line-height:120%;}
.comment dd.comment-content{ margin:1em 0;width:90%;display:block;float:left}
.post-comment{ width:70%;margin: 0 0 1em}
.post-comment div{ margin:0 0 .5em }
.re-comment{ margin:1em 0 0;border:1px solid #fff ;padding:1em}
.re-comment b{ color:#aaa}
.re-comment div{ margin-top:.5em;}


/*itable*/
.itable td,.itable th{padding:.3em .5em}
.itable td{vertical-align: middle;border-bottom: 1px solid #FAFCFB;}
.itable tr.tr1 td{ background:#E0F7FD;}
.itable td img {border:0;padding:0;background:none}

/*pages*/
.pages{margin-top:10px;margin-bottom:10px;text-align: center ;clear:both}
.pages *{vertical-align: middle;}
.pages a{padding:1px 4px 2px;border:1px solid #fff;margin:0 1px;text-align: center;text-decoration: none;font:normal 10px Tahoma ;}
.pages a:hover{border:#2ABFD5 1px solid;text-decoration:none;}
.pages input{border:1px solid #fff;background:none;height:14px;font: 9px Tahoma;padding-top:1px;text-align: center;}
.pages b{padding:2px ; margin: 0 3px;font:bold  10px/12px Tahoma}

/*menu*/
.menu{position:absolute;background:#fff;border:1px solid $tablecolor;}
.menu td, .menu li,.menu ul{background:#fff;padding:0; margin:0}
.menu li{list-style:none;}
.menu a{display:block;padding:3px 15px 3px 15px;background:#fff;}
.menu a:hover{background:$linkcolor;text-decoration:none;color:#fff;}
.menu ul.ul1 li a{display:inline;padding:0}

.listPic dl{ width:24.5%; float:left; text-align:center; padding:0; margin:.5em 0}
.listPic dt a{ color:#333}
.listPic dd{ padding:0 0 .5em 0; margin:0; text-indent:0; height:90px; vertical-align:middle}
.listPic dd img{ width:85px;height:85px; padding:2px; border:1px solid #eee;}

.listPic1 dl{ width:33%; float:left; text-align:center; padding:0; margin:.5em 0}
.listPic1 dt a{ color:#333}
.listPic1 dd{ padding:0 0 .5em 0; margin:0; text-indent:0; height:55px; vertical-align:middle}
.listPic1 dd img{ width:50px;height:50px; padding:2px; border:1px solid #eee;}
.listPic-albumn dd { height:105px;}
.listPic-albumn dd img { width:90px; height:90px; padding:4px 4px 8px; border:0; background:url(albumn-bg.gif)}

.moduleA{ margin:.2em; border:1px solid #A6CBE7; line-height:110%; border-bottom-color:#66A0CC; border-right-color:#66A0CC;}
.moduleA h3{ color: #0066FF;padding:.5em; margin:0;font-family:Tahoma;font-size:12px;cursor:move }
.tableA { table-layout:fixed}
.tableAtd{ border:1px solid #D4E8F7;height:50px;}
.editButton{ float:right; font:12px/120% Tahoma; color:#CCC; text-decoration:none ; padding-left:0.5em; background:url($imgpath/button_edit.gif) no-repeat 0 .1em}
.editButton:hover{ background-position:.1em .2em}
.editBox{ background:#FFFFCF; margin:0 .2em .2em ; padding:.2em }
.editArea {border:1px solid #eee; width:96%; margin:auto;padding:.2em; background:#fff}
.menu1{position:absolute;border:1px solid #CCCCCC;background:#FFFFFF;z-index:1000;width:200px;height:255px;overflow-Y:auto}
.menu1 h3{background:$headcolor;text-align:left;color:$headfontone;padding:5px 7px 3px 7px;cursor:move}
.menu1 div{padding:5px 10px;}
.checkon{border:1px solid #0A9800;background:#CAFFC0;cursor:move}
.move{position:absolute;}

#colorbox{width:91px;height:78px;padding:3px 0 0 3px;overflow:hidden;}
#colorbox div{cursor:pointer;width:8px;height:8px;float:left;margin:0 3px 3px 0;border:1px #000 solid;font:0/8px arial}

.smile{ height:23px;padding:7px 0 0 8px;text-align:left;background:#E0F0F9 url(th1.png);cursor:move}
.smile div{ width:56px;height:18px;text-align:center;padding:5px 0 0;cursor:pointer;}
.smile div.lian{ background:#ffffff url(tag.jpg) no-repeat;cursor:auto;}

.user-info{ position:absolute;line-height:160%; margin-left:-1.5em; margin-top:-1em}
.user-infoWrap{background:#FFF; border:1px solid #004C7D; border-top:1px #A6CBE7 solid; border-left:1px solid #A6CBE7; padding:.5em 1em; margin-left:20px;display:block;}
.user-info .co{position:absolute; width:10px;height:20px; margin-left:-1.8em; margin-top:2em; background:url(user-info-co.png)}

/*menu_sm*/
.menu_sm{ position:absolute;background:#fffcd9;border-bottom:1px solid #e7d62b; width:100%;}
.menu_sm a{padding:5px 15px 5px 15px;  color:#f79305;}
.menu_sm a:hover{text-decoration:none;color:#fff;}

@media screen and (min-width:0px){
.goods-list li a:hover img{ margin:-20px -20px 0 0}
}