<!--<?php
# 文件名称
require_once template('head'); 
$title7=$lang_Column7;
echo <<<EOT
-->
<div id="web">
<div class="left">
	    <h3 class="title"><span>{$class_list[$classnow][name]}</span></h3>
<div class="webcontent">
<!--
EOT;
include templatemember($mfname);
echo <<<EOT
-->
</div>
</div>
<div class="right">
	    <h3 class="title"><span>{$class_list[$classnow][name]}</span></h3>
		 <div class="webnav">
   <!--
EOT;
$met_mermber_metinfo_news_left_class='';
$mermber_metinfo_news_left=membernavlist();
echo <<<EOT
-->
$mermber_metinfo_news_left
		 </div>
			    <h3 class="title line"><span>{$title7}</span></h3>
				<div class="bg-top"><div></div></div>
				<div class="content">
                        <div>
						{$otherinfo[info10]}
						{$metonline}
						</div>
				</div>
				<div class="bg-bottom"><div></div></div>
</div>

<div style="clear:both;"></div>
</div>

<!--
EOT;
require_once template('foot'); 
?>