<!--<?php
require_once template('head'); 
$metjob=methtml_showjob();
$met_next=methtml_prenextinfo();
echo <<<EOT
-->
<div id="web">
<div class="left">
	    <h3 class="title"><span>{$class_list[$classnow][name]}</span></h3>
<div class="webcontent">
<h1 class="title">{$lang_Position}：$job[position]</h1>
<div class="job_list_detail">
$metjob
</div>
<div class="editor"><b>{$lang_JobDescription}</b>：<br />$job[content]</div>
<div class="page">$met_next</div>
</div>
</div>
<!--
EOT;
require_once template('webright'); 
echo <<<EOT
-->

<div style="clear:both;"></div>


</div>
<!--
EOT;
require_once template('foot'); 
?>