{template 'header'}
{if $MOD[page_irec]}
<div class="m o_h">
	<div class="head-txt"><span>{loop $maincat $k $v}{if $k<10}{if $k} &nbsp;|&nbsp; {/if}<a href="{$MOD[linkurl]}{$v[linkurl]}">{$v[catname]}</a>{/if}{/loop}</span><strong>推荐{$MOD[name]}</strong></div>
	<div class="list-img list0"><!--{tag("moduleid=$moduleid&condition=status=3 and thumb<>'' and level>0&areaid=$cityid&order=".$MOD[order]."&width=180&height=135&lazy=$lazy&pagesize=".$MOD[page_irec]."&template=list-thumb")}--></div>
</div>
{/if}
<div class="m m3">
	<div class="m3l">		
		{if $MOD[page_icat]}
		<table cellpadding="0" cellspacing="0" width="100%">
		{loop $maincat $i $c}
		{if $i%2==0}<tr>{/if}
		<td valign="top" width="420">
			<div class="head-txt"><span><a href="{$MOD[linkurl]}{$c[linkurl]}">更多<i>&gt;</i></a></span><strong>{$c[catname]}</strong></div>
			<div class="down-list"><!--{tag("moduleid=$moduleid&condition=status=3&catid=".$c[catid]."&areaid=$cityid&order=".$MOD[order]."&pagesize=".$MOD[page_icat]."&datetype=2&template=list-down")}--></div>
		</td>
		{if $i%2==0}<td>&nbsp;</td>{/if}
		{if $i%2==1}</tr>{/if}
		{/loop}
		</table>
		{/if}
	</div>
	<div class="m3r">
		<div class="head-sub"><strong>总下载排行</strong></div>
		<div class="list-rank"><!--{tag("moduleid=$moduleid&condition=status=3&areaid=$cityid&order=download desc&key=download&pagesize=9&template=list-rank")}--></div>
		<div class="head-sub"><strong>月下载排行</strong></div>
		<div class="list-rank"><!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=download desc&key=download&pagesize=9&template=list-rank")}--></div>
	</div>
	<div class="c_b"></div>
</div>
{template 'footer'}