<style> 
   *{margin:0px; padding:0px;}
   body{ font:14px Arial, Helvetica, sans-serif; text-align:center; }
   ul{ list-style-type:decimal; margin:10px 0px; }
   li{ line-height:25px;}
   b{ color:#FF0000;}
  .info_content  strong{ margin:10px 0px;}
   .info_content{ text-align:left; width:90%; margin-left:15px;}
   .info_content ul{ margin-left:35px;}
   .info_content p{ font-weight:bold; margin-bottom:10px;}
   p.banquan{color:#666666;
font-family:Arial;
border-top:1px dashed #CCC;
line-height:18px;
padding:5px 0;
text-align:center;}
   p.banquan a{color:#0099FF;}
</style>
<body>
<div class="info_content">
<p><strong>配置说明（必看）：</strong><br />
<ul>
  <li style="color:#FF0000;">图片详细配置说明（如果图片不能正常显示，可以到模版文件中找到<b>Description.png</b>并预览它）：</li>
  <li style="list-style:none;">
      <a href="../../templates/{$met_skin_user}/Description.png" target="_blank">
	     <img src="../../templates/{$met_skin_user}/Description.png" style="border:4px solid #cccccc;" alt="点击查看原图" title="点击查看原图" />
      </a>
  </li>
  <li>"栏目标识"修改方法：网站后台：栏目配置 》对应栏目右端”编辑“ 》栏目标识（注意：栏目标识具有唯一性）。</li>
</ul>
<p><span>模板介绍：</span><br /></p>
<ul>
  <li>CSS+xhtml布局，遵循web2.0标准，兼容IE6、IE7、IE8、火狐、谷歌、TT、360度、遨游等主流浏览器；</li>
  <li>标题H1、图片ALT、超链接Title、页头页尾关键词等全方位SEO源码优化；</li>
  </ul>
</p>
<p><strong>安装方法：</strong><br />
<ul>
  <li>在网站管理后台:界面风格 > 模版管理 中 通过上传的方式添加新的模版。</li>
  <li>模版上传完之后在网站管理后台:界面风格 > 网站模板及风格 选中新添加的模版并提交。</li>
  <li>添加完毕后，请到网站管理后台 界面风格 > 模版配置导航 中查阅 模版相关配置信息。</li>
  <li>有问题可到官方技术论坛发帖或查阅系统使用手册http://www.metinfo.cn/ebook/</li>
</ul>
<p class='banquan'>本模板为metinfo企业网站管理系统专用配套模板，请先安装metinfo企业网站管理系统，下载地址：<a href="http://www.metinfo.cn">http://www.metinfo.cn</a><br />
</p>
</div>
</body>