body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif !important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body span,
body p,
body a,
body small {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif !important;
}
body .mega-menu-submenu > li > h3 {
  font-weight: bold !important;
}
.rows {
  line-height: 32px;
  padding-left: 15px;
}
.with-padding {
  margin-bottom: 10px;
}
a:hover,
a {
  text-decoration: none !important;
}
.top-menu {
  margin-left: 40px;
}
.top-menu .dropdown-menu {
  box-shadow: 5px 5px rgba(19, 19, 19, 0.1);
  border: 1px solid #E0E0E0;
  min-height: 40px;
}
.top-menu ul {
  list-style-type: none;
}
.top-menu ul h3 {
  font-size: 15px;
  color: #666;
  font-weight: bold;
}
.top-menu ul .mega-menu-content {
  padding: 0 15px 15px;
  margin: 0;
}
.top-menu ul .mega-menu-content .mega-menu-submenu {
  margin: 0;
  padding: 0;
}
.top-menu ul .mega-menu-content .mega-menu-submenu li a {
  color: #6F6F6F;
  display: block;
  padding: 5px;
}
.top-menu ul .mega-menu-content .mega-menu-submenu li a:hover {
  background-color: #E0E0E0;
}
.main-footer {
  padding: 0;
}
.pager {
  text-align: left;
}
.pager li.active,
.pager li > a.active {
  background: #E7E7E7;
}
/**Start----plugins css reset**/
/**start-select2 plugins reset**/
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #3c8dbc!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3C8DBC!important;
  border: 1px solid #3C8DBC!important;
  border-radius: 4px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #FFF!important;
}
/**end-select2 plugins reset**/
/**End----plugins css reset**/
.content-header {
  background-color: #fff!important;
}
.content {
  background-color: #fff!important;
}
.content-wrapper {
  background-color: #fff!important;
}
.new-index-ul {
  width: 250px;
  display: inline-block;
  font-size: 16px;
}
.new-index-ul a {
  font-weight: normal!important;
  border-radius: 5px!important;
  font-size: 16px!important;
}
#market {
  margin-top: 50px!important;
  margin-left: -15px;
}
.channel-ul .color-chose {
  margin-top: 3px!important;
  margin-left: 20px;
}
.btn-box-tool {
  font-size: 16px;
}
.btn-danger,
.btn-success,
.btn-info,
.btn-warning {
  color: #fff!important;
}
.skin-blue .main-header .navbar {
  background-color: #1abc9c!important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #1abc9c;
}
.skin-blue .main-header .logo {
  background-color: #1abc9c!important ;
}
.checkbox,
.form-horizontal .checkbox {
  padding: 0 0 0 20px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #1abc9c;
  border-top-color: #16a88b;
}
.page-sidebar-menu > .nav-item > .sub-menu .heading h4 {
  padding: 10px 8px;
  color: #708096;
  margin: 0;
  font-size: 14px;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu > li > a {
  padding-left: 27px;
}
@media (min-width: 992px) {
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: 155px;
  }
  .main-sidebar,
  .left-side {
    width: 155px;
  }
  .main-header .logo {
    width: auto;
    padding-left: 4px;
    padding-right: 35px;
  }
  .main-header > .navbar {
    margin-left: 155px;
  }
}
.sidebar-menu .treeview-menu > li {
  color: #8aa4af;
}
.sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li > .treeview-menu {
  z-index: 1000;
}
.sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li > .treeview-menu .heading {
  color: #8aa4af;
}
.sidebar-toggle:before {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif !important;
}
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
  .sidebar-mini .main-sidebar {
    z-index: 1001!important;
  }
  .sidebar-mini:not(.sidebar-collapse) .content-wrapper,
  .sidebar-mini:not(.sidebar-collapse) .right-side,
  .sidebar-mini:not(.sidebar-collapse) .main-footer {
    margin-left: 155px !important;
    z-index: 840;
  }
  .sidebar-mini:not(.sidebar-collapse) .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 155px !important;
    z-index: 850;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li {
    position: relative;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li > a {
    margin-right: 0;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li > a > span {
    border-top-right-radius: 4px;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 155px;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }
  .sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
  .sidebar-mini:not(.sidebar-collapse) .main-header .logo {
    width: 155px;
  }
  .sidebar-mini:not(.sidebar-collapse) .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .sidebar-mini:not(.sidebar-collapse) .main-header .logo > .logo-lg {
    display: none;
  }
  .sidebar-mini:not(.sidebar-collapse) .main-header .navbar {
    margin-left: 155px;
  }
}
.adminlte-os-table {
  padding: 5px 0;
}
.adminlte-os-table table.table-bordered {
  border: 1px solid #ddd;
}
.adminlte-os-table table.table-bordered th,
.adminlte-os-table table.table-bordered td {
  border: 1px solid #ddd;
}
.adminlte-os-table table.table-hover tr:hover {
  background-color: #E4E4E4;
}
.adminlte-os-table table thead {
  background: #E4E4E4;
}
.pd0 {
  padding: 0px;
}
