@import "./adminlte/reset";
@import "./adminlte/sidebar";

.adminlte-os-table{
  padding: 5px 0;
  table.table-bordered{
    border: 1px solid #ddd;
    th,td{
      border: 1px solid #ddd;
    }
  }
  table.table-hover{
    tr:hover{
      background-color: #E4E4E4;
    }
  }
  table{
    thead{
      background: #E4E4E4;
    }
  }
}
.pd0{
  padding: 0px;
}