.small-img{
  width: 25px;
  height: 25px;
  border-radius: 100%!important;
}
.name-card {
  width: 280px;
  border-radius: 0 0 3px 3px !important;
  border: 1px solid #eee !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, .175) !important;
  position: absolute;
  padding: 0 !important;
   &:before{
     border: none!important;
   }
  &:after{
    border: none!important;
  }
  .head-box {
    height: 170px;
    background-color: #1abc9c;
    width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
    img {
      width: 90px;
      height: 90px;
      border: 3px solid rgba(255, 255, 255, 0.2);
      border-radius: 100%!important;
    }
    p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 17px;
      margin-top: 10px;
      text-align: center;
      margin-bottom: 0;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      small {
        display: block;
        font-size: 12px;
      }
    }
  }
}
.btn-box{
  padding: 10px;
  background-color: #f9f9f9;
   .btn{
     border: 1px solid #ddd!important;
     color: #666;
      &:hover{
        border-color: #adadad!important;
        background-color: #e7e7e7;
      }
   }
}
