.plugin-list .card-content {
  height: 70px;
}
.btn {
  border-radius: 0;
}
.module-list {
  padding-left: 0;
}
.module-list li {
  border: 1px solid #eee;
  background: #fbfbfb;
  margin-right: 25px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px;
  width: 475px;
  list-style: none;
}
.module-list li .cover-wrapper {
  width: 120px;
  margin-right: 15px;
  float: left;
}
.module-list li .cover-wrapper .cover {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}
.module-list li .cover-wrapper .cover-icon {
  width: 120px;
  height: 120px;
  text-align: center;
  background: #999;
  border-radius: 6px;
  display: inline-block;
}
.module-list li .cover-wrapper .cover-icon i {
  font-size: 64px;
  line-height: 120px;
  color: white;
}
.module-list li .content-wrapper {
  width: 318px;
  float: left;
  margin-left: 0!important;
}
.module-list li .content-wrapper .title {
  margin-bottom: 6px;
}
.module-list li .content-wrapper .title a {
  font-size: 16px;
  color: #333;
}
.module-list li .content-wrapper .bottom-btns {
  margin-top: 10px;
}
body {
  font-family: "Microsoft Yahei", "宋体";
}
.admin-bar {
  border-radius: 0;
}
.pager span {
  padding: 5px 12px;
  display: inline-block;
}
.form-input-width {
  width: 400px;
}
.form-text-area-size {
  width: 400px;
  height: 400px;
}
.form-select-size {
  width: auto;
}
.panel-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100px;
  bottom: 0;
  overflow: auto;
  background: #e7e8e9;
  z-index: 13;
  border-right: 1px solid #cccccc;
}
.panel-menu .nav-primary > li.active > a,
.panel-menu .nav-primary > li.active > a:hover,
.panel-menu .nav-primary > li.active > a:focus {
  background: #4f8ad0;
}
.panel-menu .nav-stacked.nav-primary > li:last-child > a {
  border-radius: 0;
}
.panel-menu .nav-stacked.nav-primary > li,
.panel-menu .nav-stacked.nav-primary > li > a {
  border-radius: 0;
}
.panel-menu .nav-primary > li.active > a,
.panel-menu .nav-primary > li.active > a:hover,
.panel-menu .nav-primary > li.active > a:focus {
  border: none;
}
.panel-menu .nav-primary > li > a {
  border-right: none;
}
.panel-menu i {
  font-size: 28px;
}
#cloud-market {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #e7e8e9;
  width: 100px;
}
#cloud-market i {
  font-size: 28px;
}
.panel-main {
  position: absolute;
  top: 50px;
  left: 100px;
  bottom: 0;
  right: 0;
  z-index: 12;
  overflow: hidden;
}
.panel-main .nav-parent > a {
  font-size: 17px;
}
.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 14;
  min-width: 1024px;
  border-bottom: 1px solid #618fc2;
  background: #4f8ad0;
}
.panel-header .navbar-header {
  line-height: 50px;
}
.panel-header .navbar-inverse {
  background: #4f8ad0;
  border-bottom: 1px solid #618fc2;
  height: 50px;
}
.panel-header .navbar-nav > li > a {
  padding-top: 14px;
  padding-bottom: 14px;
}
.panel-header .navbar-inverse .navbar-nav > .active > a,
.panel-header .navbar-inverse .navbar-nav > .active > a:hover,
.panel-header .navbar-inverse .navbar-nav > .active > a:focus,
.panel-header .navbar-inverse .navbar-nav > li > a:hover,
.panel-header .navbar-inverse .navbar-nav > li > a:focus {
  background: #5799e6;
}
.panel-header .navbar-brand {
  margin-top: 5px;
  color: white;
}
.panel-header .logo {
  width: 32px;
  float: left;
  margin-top: -10px;
  margin-left: 0;
  margin-right: 10px;
}
.panel-header .admin-title {
  color: white;
  margin-left: 10px;
  font-size: 16px;
}
.panel-header .admin-title a {
  color: white;
  text-decoration: none;
}
.sub_menu_wrapper {
  border-right: 1px solid #dddddd;
}
.sub_menu_wrapper .menu > .nav > li:first-child > a,
.sub_menu_wrapper .menu > .nav > li:first-child.nav-heading {
  border-top: none;
}
.sub_menu_wrapper .menu > .nav > li.show > a,
.sub_menu_wrapper .menu > .nav > li.show > a:hover,
.sub_menu_wrapper .menu > .nav > li.show > a:focus,
.sub_menu_wrapper .menu > .nav > li:first-child > a,
.sub_menu_wrapper .menu > .nav > li:first-child.nav-heading,
.sub_menu_wrapper .nav-primary > li > a,
.sub_menu_wrapper .menu > .nav > li:last-child > a {
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.sub_menu_wrapper .menu > .nav > li.show:last-child > .nav > li:last-child > a {
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li > a {
  border-right: none;
  border-left: none;
}
.sub_menu_wrapper .menu > .nav > li > .nav {
  background: white;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a,
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a:hover,
.sub_menu_wrapper .menu > .nav > li > .nav > li.active > a:focus {
  background: #f1f2f3;
  color: #333;
}
.sub_menu_wrapper .menu > .nav > li > .nav > li > a {
  border: none;
}
.sub_menu_wrapper nav {
  border-bottom: 1px solid #dddddd;
}
.count > div > a {
  background: #6fa7ce;
  display: block;
  color: white;
}
.count a,
.count i {
  font-size: 32px;
  text-decoration: none;
}
.node-list label[class=checkbox] {
  padding-top: 0;
  display: inline-block;
}
.node-list input[type=checkbox] {
  margin-top: 8px;
}
label {
  font-weight: normal;
}
.item-label {
  font-weight: bold;
}
.upload-img-box .upload-pre-item img {
  width: 150px;
}
.upload-img-box .upload-pre-item .del_btn {
  width: 150px;
  position: absolute;
  color: #fff;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.upload-img-box .upload-pre-item .opacity {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background: #000;
  opacity: 0.5;
}
.multiImage .upload-img-box .upload-pre-item .each {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.multiImage .upload-img-box .upload-pre-item img {
  width: 150px;
  height: 150px;
}
.multiImage .upload-img-box .upload-pre-item .del_btn {
  width: 150px;
  position: absolute;
  color: #fff;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.multiImage .upload-img-box .upload-pre-item .opacity {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background: #000;
  opacity: 0.5;
}
.report_feedback {
  cursor: pointer;
}
.report_feedback .report_icon {
  background: url("../../images/report_icon.png");
  width: 100px;
  height: 100px;
  position: absolute;
  right: 35px;
  bottom: 35px;
  z-index: 998;
}
.report_feedback .report_point {
  position: absolute;
  right: 45px;
  bottom: 120px;
  z-index: 999;
}
/*后台导航修改*/
.channel-ul .target_input {
  display: none;
}
.channel-ul > li {
  background: #fff;
}
.channel-ul li {
  border-left: 1px #ccc dashed;
  border-bottom: 1px #ccc dashed;
  padding: 10px 30px;
  list-style: none;
}
.channel-ul li.dragging {
  background-color: #fff4e5;
  opacity: 0.35;
}
.channel-ul li select,
.channel-ul li input {
  display: inline-block;
}
.channel-ul .new-blank {
  margin-top: 7px;
  margin-left: 10px;
}
.channel-ul .i-list {
  margin-top: 7px;
}
.channel-ul .i-list a {
  margin-left: 10px;
}
.channel-ul .icon-chose {
  margin-left: 20px;
}
.channel-ul .band-text {
  margin-left: 20px;
}
.channel-ul .color-chose {
  margin-top: 10px;
  margin-left: 20px;
}
.oneselect {
  display: inline-block;
  margin-left: 10px;
}
.oneselect .title {
  float: left;
  line-height: 32px;
}
.oneselect .select_box {
  float: left;
  line-height: 32px;
}
.oneselect .select_box select {
  min-width: 200px;
}
.sub_menu {
  width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.sub_menu .treeview-menu {
  list-style: none;
  margin: 0;
  padding: 20px;
}
.sub_menu .treeview-menu li a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sub_menu > li > .treeview-menu {
  margin: 0 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #8aa4af!important;
}
#navigation,
#navigation li ul {
  list-style-type: none;
}
#navigation {
  margin: -22px 0 0 -18px;
}
#navigation ul {
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 3px rgba(242, 242, 242, 0.5);
  background-color: #fff;
  z-index: 999999;
  border-radius: 4px!important;
}
#navigation ul li a {
  margin-left: -33px;
  padding: 0 20px;
}
#navigation ul li a:hover {
  background-color: transparent!important;
  color: #19bca1!important;
}
.page li a {
  border-radius: 100%!important;
  padding: 0 5px;
}
.page li a:hover {
  background-color: transparent!important;
}
#navigation > li {
  margin-top: -12px;
  float: left;
  text-align: center;
  position: relative;
}
#navigation li a:link,
#navigation li a:visited {
  display: block;
  text-decoration: none;
  color: #000;
  height: 40px;
  line-height: 40px;
  border: none;
}
#navigation li a:hover {
  color: #2786e4;
  background: #efefef;
}
#navigation li ul {
  display: none;
  position: absolute;
  top: 40px;
  left: -18px;
  width: auto;
}
.pager > li > a:hover,
.pager > li > span:hover,
.pager > li > a:focus,
.pager > li > span:focus {
  background-color: transparent;
}
.with-padding-lg {
  padding: 24px 10px ;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.module-list > li > .content-wrapper {
  min-height: 0!important;
  float: none;
  background-color: inherit;
}
.module-list > li > .content-wrapper p {
  margin: 7px 0;
}
/**
 * 分类管理页面css Start
 **/
.category {
  margin: 10px 0;
  border-bottom-width: 0;
  background-color: #fff;
  padding: 10px 10px 20px;
}
.category .hd {
  border-bottom: 1px solid #d4d4d4;
  background-color: white;
}
.category .cate-item dt {
  border-bottom: 1px solid #E7E7E7;
}
.category dl,
.category dd,
.category input {
  margin: 0;
}
.category .check,
.category .fold,
.category .order,
.category .name {
  float: left;
  height: 35px;
  line-height: 35px;
}
.category .opt {
  float: right;
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.opt-btn {
  float: right;
  margin: 5px 10px 0 0;
}
.category .check {
  width: 40px;
  text-align: center;
}
.category .fold {
  width: 50px;
  text-align: center;
}
.category .fold i {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
}
.category .fold .icon-fold,
.category .fold .icon-unfold {
  cursor: pointer;
  background: url(../images/bg_icon.png) no-repeat;
}
.category .fold .icon-fold {
  background-position: -100px -25px;
}
.category .fold .icon-unfold {
  background-position: -125px -25px;
}
.category .order,
.category .order input {
  text-align: center;
}
.category .order {
  width: 90px;
}
.category .order input {
  margin-bottom: 2px;
  width: 40px;
}
.category .name input {
  margin-bottom: 2px;
}
.category .add-sub-cate {
  margin-left: 10px;
}
.category .add-sub-cate:hover {
  text-decoration: none;
  border-bottom: 0 none;
}
.category .btn-mod {
  margin-left: 15px;
}
.category .root {
  font-weight: bold;
}
.category .tab-sign {
  display: inline-block;
  margin-left: 15px;
  height: 21px;
  vertical-align: middle;
  background-image: url(../images/tab_sign.png);
  background-repeat: no-repeat;
}
.category .name .msg {
  vertical-align: top;
  font-weight: normal;
}
.category .name .error {
  color: #B94A48;
}
.category .name .success {
  color: #468847;
}
/* 顶级分类 */
.category > dl > dt .tab-sign {
  display: none;
}
/* 二级分类 */
.category > dl > dd > dl > dt .tab-sign {
  width: 55px;
  background-position: 0 0;
}
.category > dl > dd > dl:last-child > dt .tab-sign {
  background-position: -55px 0;
}
/* 三级分类 */
.category > dl > dd > dl > dd > dl > dt .tab-sign {
  width: 110px;
  background-position: 0 -30px;
}
.category > dl > dd > dl > dd > dl:last-child > dt .tab-sign {
  background-position: 0 -60px;
}
.category > dl > dd > dl:last-child > dd > dl > dt .tab-sign {
  background-position: 0 -90px;
}
.category > dl > dd > dl:last-child > dd > dl:last-child > dt .tab-sign {
  background-position: 0 -120px;
}
.category > dl > dd > dl:last-child > dd > dl:last-child > dt .add-sub-cate {
  display: none;
}
.category input {
  height: 36px;
}
.cate-item dt {
  padding: 4px;
}
.add-on {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 7px;
  right: 25px;
}
.sort_bottom {
  margin-top: 105px;
}
.sort_option select {
  height: 250px;
  width: 220px;
}
.sort_top {
  margin-bottom: 10px;
}
.sort_top input {
  height: 24px;
  line-height: 26px;
  margin-right: 30px;
  border: 1px solid #ccc;
  padding-left: 5px;
}
.sort_btn button {
  display: block;
  margin-bottom: 15px;
}
.sort_option {
  float: left;
  margin-right: 16px;
}
.sort_confirm {
  float: left;
}
.plugin-list .card-content {
  height: 70px;
}
.plugin-list img {
  max-width: 100%;
}
.cards {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: -10px;
  margin-left: -10px;
}
.cards:before,
.cards:after {
  /* 1 */
  display: table;
  content: " ";
  /* 2 */
}
.cards:after {
  clear: both;
}
.cards:before,
.cards:after {
  /* 1 */
  display: table;
  content: " ";
  /* 2 */
}
.cards:after {
  clear: both;
}
.card {
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card > img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: alpha(opacity=100);
  opacity: 1;
}
.card > .media-wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #f1f1f1;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card > .media-wrapper > img {
  max-width: 100%;
  vertical-align: middle;
}
.card .card-heading {
  display: block;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .card-content,
.card .card-actions {
  padding: 0 10px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.175);
}
.card:hover > img,
.card:hover > .media-wrapper {
  background-color: #e5e5e5;
  filter: alpha(opacity=90);
  opacity: .9;
}
.card:hover > .card-reveal {
  top: 0;
}
.cards-borderless .card {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cards-borderless .card > .card-heading,
.cards-borderless .card > .card-actions,
.cards-borderless .card > .card-content {
  padding-right: 0;
  padding-left: 0;
}
.card > .caption {
  position: absolute;
  top: -100%;
  left: 0;
  display: block;
  width: 100%;
  padding: 5px 10px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.7);
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card:hover > .caption {
  top: 0;
  filter: alpha(opacity=100);
  opacity: 1;
}
.cards-condensed {
  padding: 0;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
}
.cards-condensed > [class^="col-"],
.cards-condensed > [class*=" col-"] {
  padding: 0;
}
.cards-condensed .card {
  padding: 10px;
  margin: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.015);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.015);
}
.card > .card-reveal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.card > .card-reveal > .card-heading {
  padding: 20px 10px;
}
.card:hover > .card-reveal {
  top: 0;
}
/**
 * 描    述: oneThink后台主体样式
 * 作用范围：后台独有
 */
/* 头部Logo,主导航
--------------------------------------*/
html {
  height: 100%;
  overflow-y: auto;
}
/* 主导航 */
.main-nav {
  float: left;
  overflow: hidden;
}
.main-nav li {
  float: left;
}
.main-nav li a {
  padding-left: 10px ;
  padding-right: 10px;
}
.main-nav a {
  display: block;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
}
.main-nav a:hover {
  text-decoration: none;
  background-color: #656565;
}
.main-nav .current {
  background-color: #656565;
}
.main-nav .current a {
  background-color: #86db00;
}
/* 用户 */
.header .user-bar {
  position: relative;
  float: right;
  margin-right: 20px;
}
.header .user-bar .user-entrance {
  display: block;
  margin-top: 15px;
  padding-bottom: 15px;
  width: 20px;
  height: 20px;
  background: url(../../images/bg_icon.png) no-repeat -150px 0;
}
.header .user-bar .user-entrance:hover {
  border-bottom: 0 none;
  text-decoration: none;
}
.header .user-menu {
  position: absolute;
  top: 50px;
  right: -8px;
  width: 140px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.header .user-menu li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
}
.header .user-menu a {
  padding: 0 15px;
}
.header .user-menu a:hover {
  color: #424242;
  background-color: #f5f5f5;
}
.header .user-menu .manager {
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 边栏导航样式
------------------------------------------ */
.subnav {
  padding-left: 15px;
}
/* 子导航标题栏 */
.subnav h3 {
  margin-right: 15px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
.subnav h3 a {
  color: #fff;
  text-decoration: none;
}
.subnav h3 a:hover {
  text-decoration: none;
}
.subnav h3 .icon,
.subnav h3 .icon-fold,
.subnav h3 .recycle {
  float: left;
  margin: 10px 6px 0 0;
  width: 16px;
  height: 16px;
}
.subnav h3 .icon {
  background: url(../../images/bg_icon.png) no-repeat -100px 0;
}
.subnav h3 .icon-fold {
  background-position: -75px 0;
}
.recycle {
  background: url(../../images/bg_icon.png) no-repeat -125px 0;
}
/* 子导航 */
.side-sub-menu {
  margin: 5px 0;
}
.side-sub-menu > li {
  position: relative;
  margin: 2px -1px 2px 0;
}
.side-sub-menu > li > .item {
  padding: 6px 0;
  line-height: 20px;
  padding-left: 26px;
  display: block;
  color: #f1f1f1;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.side-sub-menu > li > .item:hover,
.side-sub-menu > li.hover > .item {
  color: #ffffff;
  text-decoration: none;
  background: #7c7c7c;
  margin-right: 1px;
}
.side-sub-menu > .current > .item {
  color: #414141;
  text-decoration: none;
}
.side-sub-menu > .current > .item,
.side-sub-menu > .current > .item:hover,
.side-sub-menu > .current.hover > .item {
  color: #414141;
  background: url(../../images/subnav_current.png) no-repeat 165px 12px #f6f6f6;
}
/* 子菜单 */
.side-sub-menu li .subitem {
  display: none;
  position: absolute;
  top: 0;
  left: 185px;
  z-index: 9;
  width: 150px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.side-sub-menu .hover > .subitem {
  display: block;
}
.side-sub-menu .subitem .subitem {
  margin-top: -1px;
  left: 150px;
}
.side-sub-menu .subitem .item {
  display: block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
}
.side-sub-menu .subitem .item:hover {
  text-decoration: none;
  border-bottom: 0 none;
  background: url(../../images/subnav_current.png) no-repeat 130px 12px #f5f5f5;
}
.side-sub-menu .subitem > .item {
  border-radius: 0;
  border: 0 none;
  width: auto;
}
/* 内容模块边栏子菜单 */
.subnav-off {
  display: none;
}
/* 后台首页
------------------------------------------------- */
.index-body {
  padding-left: 0;
  background-color: #f6f6f6;
}
.index-main {
  margin: 0 20px;
  padding-top: 60px;
}
/* 首页数据 */
.top-columns {
  margin: 0 0 5px;
  text-align: center;
}
.show-num-mod {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 15px 15px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
}
.show-num-mod dt,
.show-num-mod dd {
  float: left;
  padding: 5px;
}
.show-num-mod dt {
  width: 65px;
  height: 56px;
  line-height: 56px;
}
.show-num-mod dd {
  width: 100px;
  border-left: 1px solid #cdcdcd;
}
.show-num-mod dd strong {
  margin-bottom: 5px;
  height: 30px;
  line-height: 30px;
}
.show-num-mod dd span {
  font-size: 12px;
  letter-spacing: .15em;
}
.show-num-mod dd strong {
  display: block;
  font-size: 20px;
  overflow: hidden;
}
.count-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  background: url(../../images/count_icon.png) no-repeat;
}
.user-count-icon {
  background-position: 0 0;
}
.user-action-icon {
  background-position: 0 -50px;
}
.doc-count-icon {
  background-position: 0 -100px;
}
.doc-modal-icon {
  background-position: 0 -150px;
}
.category-count-icon {
  background-position: 0 -200px;
}
/* 首页插件模块 */
.columns-mod {
  border: 1px solid #cdcdcd;
}
.columns-mod .hd {
  margin-bottom: 1px;
  padding: 0 10px 0 15px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #cdcdcd;
  background-color: #eee;
}
.columns-mod .hd h5 {
  float: left;
  font-size: 14px;
}
.columns-mod .hd a {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #656565;
  text-align: center;
  border: 1px solid transparent;
  *margin-top: 7px;
}
.columns-mod .hd a:hover {
  color: #656565;
  text-decoration: none;
  border-color: #ccc;
}
.mod-down,
.mod-up {
  display: inline-block;
  margin-top: 8px;
  width: 10px;
  height: 5px;
  vertical-align: top;
  background: url(../../images/bg_icon.png) no-repeat;
}
.mod-down {
  background-position: -50px -25px;
}
.mod-up {
  background-position: -75px -25px;
}
.reload {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../../images/bg_icon.png) no-repeat -175px 0;
  *margin-top: 3px;
  *cursor: pointer;
}
.columns-mod .hd .title-opt {
  float: right;
}
.columns-mod .bd {
  height: 310px;
  overflow-y: auto;
  background-color: #fafafa;
  *overflow-x: hidden;
}
/* 系统信息列表 */
.sys-info {
  padding: 15px;
  *padding-right: 30px;
}
.sys-info table {
  width: 100%;
}
.sys-info th,
.sys-info td {
  padding: 8px 0;
  height: 20px;
  line-height: 20px;
  border-bottom: 1px solid #e9e9e9;
}
.sys-info th {
  font-weight: normal;
  width: 30%;
  text-align: left;
}
/* 后台内页模块样式
------------------------------------------------- */
.main {
  padding: 20px;
  background-color: #f6f6f6;
}
.main-title {
  *zoom: 1;
}
.main-title:before,
.main-title:after {
  display: table;
  content: "";
}
.main-title:after {
  clear: both;
}
.main-title h2 {
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #445566;
  border-bottom: 1px solid #ccc;
  padding-top: 0;
  margin-top: 0;
}
.main-title .tools {
  float: right;
  margin-top: 5px;
}
.main-title .ca {
  display: inline-block;
  margin: 0 10px;
  width: 5px;
  height: 10px;
  background: url(../../images/subnav_current.png) no-repeat center center;
}
/* 消息栏 */
.tips-bar {
  margin: 10px 18px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 0 rgba(0, 0, 255, 0.05);
}
.tips-bar .i-tips {
  float: left;
  width: 27px;
  height: 25px;
  background: url(../images/i_tips.png) no-repeat;
}
.tips-bar .tips-cnt {
  float: left;
  margin-left: 5px;
  font-size: 12px;
}
.tips-bar .close {
  float: right;
  margin-right: 10px;
  font-size: 20px;
  color: #d5d5d5;
  text-shadow: 0 1px 0 #FFF;
}
.tips-bar .close:hover {
  color: #000;
  opacity: .4;
  filter: alpha(opacity=40);
}
.member-form {
  display: none;
  width: 360px;
  padding: 12px 60px;
}
.member-form i {
  color: red;
}
.admin-form .item {
  margin: 12px 0;
  line-height: 30px;
}
.admin-form .item .text {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  color: #555;
  padding: 10px 4px;
  border: 1px solid #ccc;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.admin-form .item .text:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.8);
}
.admin-form label {
  color: #666;
  padding-right: 6px;
}
/* 插件配置表单 */
.config-form fieldset {
  margin-bottom: 20px;
}
/* 授权表单 */
.auth-form {
  padding: 15px;
  min-width: 100px;
}
/* 插件钩子弹出层 */
.hooktpl {
  padding: 10px;
  width: 500px;
}
.hooktpl .textarea {
  max-width: 500px;
}
.add-pop-form {
  width: 500px;
}
/* 插件管理-返回顶部配置表单 */
#style_list a:hover {
  border-bottom: 0 none;
  text-decoration: none;
}
/* 插件管理表单 */
.has_config,
.has_adminlist {
  display: block!important;
  margin-left: 0!important;
  margin-bottom: 10px;
}
.has_config.hidden,
.has_adminlist.hidden {
  display: none!important;
}
/* 授权编辑页 */
.checkmod {
  margin: 20px 0;
  border: 1px solid #ebebeb;
}
.checkmod dt {
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  border-bottom: 1px solid #ebebeb;
  background-color: #ECECEC;
}
.checkmod dd {
  padding-left: 30px;
  line-height: 30px;
}
.checkmod dd .checkbox {
  margin: 0 10px 0 0;
}
.checkmod dd .divsion {
  margin-right: 20px;
}
/* 拖动排序列表 */
.edit_sort {
  display: inline-block;
  border: 1px solid #cdcdcd;
  color: #404040;
  line-height: 35px;
  width: 20%;
  height: 376px;
}
.edit_sort span {
  background: #EEEEEE;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  text-indent: 10px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 5px;
}
.edit_sort ul {
  padding: 0 5px;
  overflow-y: scroll;
  height: 334px;
}
.edit_sort_l {
  float: left;
  margin-right: 20px;
}
.tab2 p {
  margin-bottom: 10px;
  font-weight: bold;
  text-indent: 15px;
}
.dragsort li {
  margin-bottom: 5px;
  padding: 0 6px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
}
.dragsort li em {
  font-style: normal;
}
.dragsort li b {
  display: none;
  float: right;
  padding: 0 6px;
  font-weight: bold;
  color: #000;
}
.dragsort li:hover b {
  display: block;
}
.dragsort .draging-place {
  border-style: dashed;
  border-color: #ccc;
}
/* 版权信息 */
.cont-ft {
  padding: 0 15px;
  background-color: #f6f6f6;
}
.copyright {
  height: 39px;
  line-height: 39px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.copyright a {
  margin: 0 4px;
}
#sortable_portlets .portlet-sortable {
  overflow-y: auto ;
  overflow-x: hidden ;
}
#sortable_portlets .add {
  border: 2px dashed #eee;
  text-align: center;
  font-size: 34px;
  line-height: 64px;
  height: 64px;
  display: block;
}
#sortable_portlets .add:hover {
  border-color: #999;
}
#sortable_portlets .add:hover i {
  color: #999;
}
#sortable_portlets .add i {
  color: #eee;
}
#portlets > div {
  display: none;
  width: 50%;
}
#portlet_list > div {
  margin-bottom: 10px;
}
.portlet-add-list .btn {
  margin-bottom: 15px;
}
.portlet-add-list li a {
  /*   display: block;
        line-height: 64px;
        height:64px;
        background: #999;
        color: white;*/
}
.consumption .checkbox_block {
  line-height: 55px;
  margin-left: 20px;
}
.consumption .checkbox_block label {
  margin-left: 5px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 5px!important;
}
.consumption .checkbox_block label squre {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  display: inline-block;
}
.consumption .checkbox_block label squre.total_fee {
  background: #3b8bba;
}
.consumption .checkbox_block label squre.user_num {
  background: #BBB;
}
.remain .checkbox_block {
  float: left;
  line-height: 30px;
}
.remain .checkbox_block label {
  margin-left: 5px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 5px!important;
  color: #fff;
}
.remain .checkbox_block .day1_label {
  background-color: #c3c3c3;
}
.remain .checkbox_block .day2_label {
  background-color: #7e7dc3;
}
.remain .checkbox_block .day3_label {
  background-color: #c37d7a;
}
.remain .checkbox_block .day4_label {
  background-color: #65c356;
}
.remain .checkbox_block .day5_label {
  background-color: #8a5ec3;
}
.remain .checkbox_block .day6_label {
  background-color: #c33c38;
}
.remain .checkbox_block .day7_label {
  background-color: #13c356;
}
.remain .checkbox_block .day8_label {
  background-color: #c324c2;
}
.remain .remain-table {
  width: 100%;
  text-align: center;
}
.remain .remain-table th {
  text-align: center;
}
.remain .remain-table tbody tr {
  line-height: 50px;
  border-bottom: 1px solid #FAFAFA;
}
.remain .remain-table tbody tr td ul {
  list-style-type: none;
}
.remain .remain-table tbody tr td ul li {
  float: left;
  padding: 5px;
  color: #fff;
  line-height: 25px;
}
.remain .remain-table tbody tr td ul .day1 {
  background-color: #c3c3c3;
}
.remain .remain-table tbody tr td ul .day2 {
  background-color: #7e7dc3;
}
.remain .remain-table tbody tr td ul .day3 {
  background-color: #c37d7a;
}
.remain .remain-table tbody tr td ul .day4 {
  background-color: #65c356;
}
.remain .remain-table tbody tr td ul .day5 {
  background-color: #8a5ec3;
}
.remain .remain-table tbody tr td ul .day6 {
  background-color: #c33c38;
}
.remain .remain-table tbody tr td ul .day7 {
  background-color: #13c356;
}
.remain .remain-table tbody tr td ul .day8 {
  background-color: #c324c2;
}
.remain .example-table th:first-child {
  background: #909090;
}
.remain .example-table th:nth-child(2) {
  background: #FFA61A;
}
.remain .example-table th:last-child {
  background: #FC2419;
}
.remain .example-table tr td:first-child {
  background: #DFDFDF;
}
.remain .example-table tr td:nth-child(2) {
  background: #FDE3BA;
}
.remain .example-table tr td:last-child {
  background: #FFD5D3;
}
.remain .example-table tr:nth-child(2n) td:first-child {
  background: #A5A1A1;
}
.remain .example-table tr:nth-child(2n) td:nth-child(2) {
  background: #FFC262;
}
.remain .example-table tr:nth-child(2n) td:last-child {
  background: #FF766F;
}
