.live-tile .tile-setting{  display: none;  }
.live-tile:hover .tile-setting{  display:block;  }
.live-tile .tile-del{  display: none;  }
.live-tile:hover .tile-del{  display:block;  }

.icon-chose {
  a {
    text-align: center;
    border: 1px dashed #ccc;
    display: inline-block;
    color: #666;
    width: 30px;
    height: 30px;
    line-height: 35px;
    background: #fafafa;
  }

  a:hover {
    background: #fefefe;
  }

  i {
    font-size: 20px;
    display: inline-block;
  }
}

.tiles {
  .tile-title {
    padding: 5px 10px;
  }

  .tile-box {
    text-align: center;
    position: relative;

    .icon-user {
      margin-top: 48px;
      font-size: 48px;
    }

    #icon_set {
      margin-top: 48px;
      font-size: 48px;
    }

    .tile-setting {
      position: absolute;
      right: 5px;
      top:5px;
    }

    .tile-del {
      position: absolute;
      right: 5px;
      top: 30px;
    }
  }
}

#tile_setting {
  .modal-content {
    margin-top: 198px;
  }
}

#icon_selector {
  .modal-content {
    margin-top: 98px;

    .icons-list {
      .item-box {
        text-align: center;
      }

      .item {
        span {
          display: inline-block;
          font-family: Simple-Line-Icons !important;
          padding: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
}