body
{
	margin: auto;
	text-align:center;
	padding: 0;
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	color: #333;
	background-color: #f1f2f3;
}
a
{
	font-size: 12px;
	text-decoration: underline;
	font-weight: bold;
	color: #330099;
	background-color: transparent;
}
a:visited
{
	color: #330099;
	background-color: transparent;
}
a:active
{
	color: #ccc;
	background-color: transparent;
}
a:hover
{
	color: #000;
	text-decoration: none;
	background-color: transparent;
}
#content
{
	background: #fff;
	width: 760px;
	margin: 25px auto;
	text-align:left;
	border: 1px solid #eee;
}
#innercontent
{
	margin: 20px;
}
#pageheader
{
	background: #fff;
	border-bottom: 1px solid #8e8e8e;
	height:80px;
}
#logo
{
	float:left;
	padding: 25px 10px;
	padding-left: 15px;
	position: relative;
	width: 500px;
}
#version
{
	float:right;
}
.solidLine
{
	border-top: #999 1px solid;
}
.rightheader
{
	background-color: transparent;
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	font-weight:	bold;
	color:	#fff;
	padding:	22px;
}
.error
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 15px;
	margin-bottom: 8px;
	font-weight: bold;
	color: #990000;
	border-bottom: 1px solid #990000;
}
.shade
{
	padding: 0 0 10px 22px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: #eee 1px solid;
}
.stephead
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	color: #999;
	letter-spacing: 2px;
	margin:	0;
	background-color: transparent;
}
.settingHead
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	color: #990000;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
}
.h1,
h1
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	color: #0096E5;
	margin-top: 15px;
	margin-bottom: 16px;
	background-color: transparent;
	border-bottom: 2px solid #0096E5;
}

.h1 {
  position: absolute;
  top: 18px;
  left: 140px;
  border: none;
  color: #555;
}

h2
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 14px;
	color: #000;
	letter-spacing: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: transparent;
}
h3
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 18px;
	color: #000;
	letter-spacing: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: #7B81A9 1px dashed;
	background-color: transparent;
}
h4
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	color: #000;
	margin-top: 5px;
	margin-bottom: 14px;
	background-color: transparent;
}
h5
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	color: #333;
	margin-top: 16px;
	margin-bottom: 0;
	background-color: transparent;
}
.p,
p
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	color: #999;
	margin-top: 4px;
	margin-bottom: 8px;
	background-color: transparent;
}
.botBorder
{
	margin-bottom: 8px;
	border-bottom: #eee 1px dashed;
	background-color: transparent;
	padding:10px 0px;
}
li
{
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	margin-bottom: 4px;
	color: #000;
	margin-left: 10px;
}
.pad
{
	padding: 1px 0 4px 0;
}
.center
{
	text-align: center;
}
strong
{
	font-weight: bold;
}
i
{
	font-style: italic;
}
.red
{
	color: red;
}
.blue
{
	color: #0096E5;
}
.copyright
{
	text-align: center;
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 9px;
	color: #999999;
	line-height: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 20px;
}
.border
{
	border-bottom: #7B81A9 1px dashed;
}
form
{
	margin: 0;
	padding: 0;
	border: 0;
}
.hidden
{
	margin: 0;
	padding: 0;
	border: 0;
}
.input
{
	border: 1px solid #ddd;
	color: #666;
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	margin:	0;
	height:35px;
	outline: none;
}
.textarea
{
  color: #666;
  font-family: Microsoft Yahei, "微软雅黑";
  font-size: 12px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 280px;
  outline: none;
  padding: 10px;
  border: 1px solid #eee;
}
.select
{
	background-color: #fff;
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	letter-spacing: .1em;
	color: #333;
	margin-top: 2px;
	margin-bottom: 2px;
}
.multiselect
{
	border-top: 2px solid #979AC2;
	border-left: 2px solid #979AC2;
	border-bottom: 1px solid #979AC2;
	border-right: 1px solid #979AC2;
	background-color: #fff;
	color: #333;
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 12px;
	margin-top: 2px;
	margin-top: 2px;
}
.radio
{
	color: transparent;
	background-color: transparent;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0;
	border: 0;
}
.checkbox
{
	background-color: transparent;
	color:	transparent;
	padding: 0;
	border: 0;
}
.submit
{
	background-color: #fff;
	font-family: Microsoft Yahei, "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	border:none;
	letter-spacing: .1em;
	padding: 12px;
	background-color: #0096E5;
	color: #fff;
	cursor: pointer;
	margin-top: 20px;
} 