
td,a,a:link,a:visited {
	color:#000000;text-decoration:none;font-size:9pt
}

a:hover{
	color:#000000;
	font-size:9pt;
	text-decoration:underline;
}

input,select {
	font-size:9pt;
	color:#000000;
}

body {
	color:#000000;
	font-size:9pt;
	scrollbar-track-color:#eeeeee;
	scrollbar-shadow-color:buttonface;
	scrollbar-highlight-color:buttonface;
	scrollbar-3dlight-color:buttonhighlight;
	scrollbar-darkshadow-color:buttonshadow
}

.input {
	font-size:9pt;
	border-top:#cdcdcd 1px solid;
	border-left:#cdcdcd 1px solid;
	border-right:#eeeeee 1px solid;
	border-bottom:#eeeeee 1px solid;
	height:18px;color:#000000;
	padding-top:1px;
	letter-spacing:0px;
	padding-right:0px;
	padding-left:0px;
	width:90%;
}

.admintb td{ padding-right:6px; }

.btn {
	font-size:9pt;
	border-top:#cdcdcd 1px solid;
	border-left:#cdcdcd 1px solid;
	border-right:#737373 1px solid;
	border-bottom:#737373 1px solid;
	height:18px;
	color:#000000;
	padding-top:1px;
	letter-spacing:0px;
	padding-right:0px;
	padding-left:0px;
}

.textarea {
	font-size:9pt;
	border-top:#cdcdcd 1px solid;
	border-left:#cdcdcd 1px solid;
	border-right:#eeeeee 1px solid;
	border-bottom:#eeeeee 1px solid;
	color:#000000;
	padding-top:1px;
	letter-spacing:0px;
	padding-right:0px;
	padding-left:0px;
	width:90%;
}