{template "install_header.html", "admin"}
<div class="section">
	<div class="main cc">
		<pre class="pact" readonly="readonly">
<b>FineCMS公益软件使用说明</b>

FineCMS（简称免费版、企业版、公益版）是一款基于PHP+MySql+CI框架开发的高效简洁的中小型内容管理系统，面向多终端包括Pc端网页和移动端网页，支持自定义内容模型和会员模型，并且可以自定义字段，可面向中小型站点提供重量级网站建设解决方案，适用于小型站点、企业级网站、新闻内容网站等，个人站长及中小企业的首选建站系统。

免费开源无任何商业限制

FineCMS系统免费并开放源代码，推荐开发者或公司在此基础上进行二次开发或者发行，支持修改程序版权并发行新的程序（如改成xiaocms、dacms、haocms、huaicms都行），我们一直提倡免费开源，希望在此基础上开发的开发者也能保持免费开源，为本土的开源事业做一点贡献。
<br>
			<p style="text-align: right">成都天睿信息技术有限公司</p>
		</pre>
	</div>
	<div class="bottom tac">
		<a href="{dr_url('install/index', array('step' => $step+1))}" class="btn">安 装</a>
	</div>
</div>

{template "install_footer.html", "admin"}