{template 'header'}
<div class="m m1">
	<div class="m1l">
		{if $action == 'view'}
		<br/><br/><br/>
		<center>
		{if $ad_moduleid}
			{ad($ad_moduleid,$ad_catid,$ad_kw,$typeid)}
		{elseif $pid}
			{ad($pid)}
		{/if}
		</center>
		<br/><br/><br/>
		<br/><br/><br/>
		<center class="f_gray">以上为广告效果预览，如未看到任何内容，表明此广告为空或不可预览</center>
		<br/><br/><br/>
		{else}
		<table cellpadding="16" cellspacing="0" class="tb">
		<tr>
		<th width="60">编号</th>
		{if !$typeid}<th>广告类型</th>{/if}
		<th>广告位名称</th>
		<th>规格(px)</th>
		<th width="60">价格</th>
		<th width="80">示意图</th>
		{if $MOD[ad_buy]}<th width="60">预定</th>{/if}
		</tr>
		{loop $lists $k $v}
		<tr align="center" title="{$v[introduce]}">
		<td id="a_{$v[pid]}">A{$v[pid]}</td>
		{if !$typeid}<td><a href="{$url}{list_url($v[typeid])}">{$v[typename]}</a></td>{/if}
		<td class="px14"><a href="{$url}{show_url($v[pid])}" title="效果预览">{$v[name]}</a></td>
		<td class="f_gray">{$v[width]} x {$v[height]}</td>
		<td class="f_orange">{if $v[price]}{$v[price]}{$unit}/月{else}面议{/if}</td>
		<td{if $v[thumb]} onmouseover="show_tip(Dd('a_{$v[pid]}'),'{$v[thumb]}');" onmouseout="show_tip(0,0);" onclick="View('{$v[thumb]}');" title="点击查看大图"{/if} class="{if $v[thumb]}f_dblue c_p{else}f_gray{/if}">{if $v[thumb]}查看{else}暂无{/if}</td>
		{if $MOD[ad_buy]}
		<td><a href="{$MODULE[2][linkurl]}ad.php?action=add&pid={$v[pid]}" class="b">预定</a></td>
		{/if}
		</tr>
		{/loop}
		</table>
		{if $pages}<div class="pages">{$pages}</div>{/if}
		{/if}
	</div>
	<div class="m1r side">
		<ul>
		<li class="side_li" id="type_0"><a href="{$url}">广告中心</a></li>
		<li class="side_li" id="type_my"><a href="{$MODULE[2][linkurl]}ad.php">我的广告</a></li>
		{loop $TYPE $k $v}
		{if $k}<li class="side_li" id="type_{$k}"><a href="{$url}{list_url($k)}">{$v}</a></li>{/if}
		{/loop}
		</ul>
		<form action="index.php"><input type="search" name="kw" value="{$kw}" ondblclick="if(this.value){Go('./');}" placeholder="搜索" title="输入关键词，按回车搜索"/></form>
	</div>
	<div class="c_b"></div>
</div>
<div class="img_tip" id="show_tip" style="display:none;">&nbsp;</div>
<script type="text/javascript">
function show_tip(o, i) {
	if(i) {
		var aTag = o; var leftpos = toppos = 0;
		do {aTag = aTag.offsetParent; leftpos	+= aTag.offsetLeft; toppos += aTag.offsetTop;
		} while(aTag.offsetParent != null);
		var X = o.offsetLeft + leftpos;
		var Y = o.offsetTop + toppos + 30;
		Dd('show_tip').style.left = X + 'px';
		Dd('show_tip').style.top = Y + 'px';
		Ds('show_tip');
		Inner('show_tip', '<img src="'+i+'" onload="if(this.width>772){this.width=772;}Dd(\'show_tip\').style.width=this.width+\'px\';"/>');
	} else {
		Dh('show_tip');
	}
}
$(function(){$('#type_{$typeid}').attr('class', 'side_on');});
</script>
{template 'footer'}