.flash6{ position:relative; font-size:0px;}
.flash6 .bx-pager{ position:absolute;bottom:10px;right:10px;z-index:999;}
.flash6 .bx-pager .pager-link{float:left;width:15px;height:15px; line-height:15px; text-align:center;margin:0 0 0 10px; background:#FC0; color:#930;}
.flash6 .bx-pager .pager-link:hover{ text-decoration:none;}
.flash6 .bx-pager .pager-active{ background:#0C3; color:#fff;}