*{font-family:'Microsoft YaHei',Verdana,Arial;}
html {height:100%;}
body {margin:0px;height:100%;font-size:14px;color:#000000;background:#EFEFF4;}
input,select,textarea {font-size:14px;}
img {border:none;}
label {color:#ACA899;font-size:12px;}
li {list-style-type:none;}
ul,form {margin:0px;padding:0px;}
fieldset {line-height:180%;border:#CCCCC 1px solid;}
a:link,a:visited,a:active {color:#007AFF;text-decoration:none;}
a:hover {color:#FF6600;}
.out {width:800px;}
.in {background:#FFFFFF;}
.head {background:#0078D7;}
.head div {height:90px;padding:16px 32px;line-height:44px;color:#FFFFFF;}
.head strong {font-size:18px;}

.body {height:320px;overflow:hidden;}
.body div {padding:24px;}
.body p {margin:24px 32px;line-height:32px;}
.body em {font-style:normal;color:#666666;}

.foot {border-top:#DDDDDD 1px solid;padding:12px 24px;}
.foot input {border:#CCCCCC 1px solid;background:#DDDDDD;height:30px;line-height:30px;padding:0 12px;margin-left:12px;font-size:14px;}
.foot input:hover {background:#CCCCCC;}
.progress {width:200px;height:6px;padding:1px;font-size:1px;background:#F1F1F1;}
.progress div {height:6px;background:#0078D7;}