html,body{ font-size:12px; font-family:Arial; text-align:center; color:#595959;}
a:link, a:visited, a:active { color:#595959; text-decoration:none; }
a:hover{color:#0078ff; text-decoration:underline; }
.editor ul,.editor ol{ list-style-type:inherit !important;}
.editor ul li,.editor ol li{ list-style-type:inherit !important;}
#content,.ding{ text-align:left; width:1001px; margin:0px auto;}
.bg-top{ background:url(../blue/yjbg.gif) no-repeat right top; height:10px; overflow:hidden;}	
.bg-top div{background:url(../blue/yjbg.gif) no-repeat left top; height:10px; width:20px; overflow:hidden;}
.bg-bottom{ background:url(../blue/yjbg.gif) no-repeat right bottom; height:10px; overflow:hidden;}
.bg-bottom div{background:url(../blue/yjbg.gif) no-repeat left -10px; height:10px; width:20px; overflow:hidden;}
/*------------------------head-------------------*/
#sidebar{ height:27px; line-height:27px; padding:0px 6px; text-align:left; background:url(../blue/ding.gif) repeat-x left bottom;}
#sidebar div.seo{ float:right;}
#sidebar dl{ float:right; height:18px; line-height:18px; padding-top:2px; padding-left:10px;}
* html #sidebar dl{ padding-top:3px;} /*ie6*/
*+html #sidebar dl{ padding-top:3px;} /*ie7*/
#sidebar dd{ padding:0px 5px; width:100px;  border:1px solid #ccc; position:relative; background:#fefefe url(../blue/lang.png) no-repeat right center;}
#sidebar dd ul{ background:#fefefe; border:1px solid #ccc; width:110px; position:absolute; top:18px; left:-1px; padding:3px 0px;}
#sidebar dd li{ padding:2px 5px; height:16px; line-height:16px;}
#sidebar ul a{ display:block; text-decoration:none;}
#sidebar h1,#sidebar h2{ font-size:12px; font-weight:normal;}
#sidebar .log1_name,#sidebar .log4_name{ padding:0px 5px;}
#sidebar .login{ padding-top:3px; line-height:20px; }
#sidebar span.log1 input,#sidebar span.log4 input{ width:60px; height:14px; padding:1px; background:#fefefe; border:1px solid #ccc; }
#sidebar span.log3 input{ background:#5e9f33; border:none; font-weight:bold; color:#fefefe; cursor:pointer; padding:0px 8px; margin:0px 5px; height:18px; position:relative; top:1px;}
* html #sidebar span.log3 input{ top:0px;}/*ie6*/
*+html #sidebar span.log3 input{ top:0px;}/*ie7*/
#sidebar span.log3 a{ text-decoration:underline; color:#086ffb; margin-left:5px;}
.login_okmember2{ padding:0px 6px;}

#top{ padding:5px 0px;}
#top ul{ float:right; text-align:right; line-height:26px; padding:5px;}
#top li{ float:left; padding:0px 6px; overflow:hidden;}
#top li a{ display:block; float:left; height:20px; padding-top:32px;}

#top li.add a{ background:url(../blue/add.gif) no-repeat center top;}
#top li.set a{ background:url(../blue/set.gif) no-repeat center top;}
#top li.webmp a{ background:url(../blue/webmp.gif) no-repeat center top;}
#top li.cont a{ background:url(../blue/cont.gif) no-repeat center top;}

#nav{ clear:both; height:65px; background:url(../blue/nav/menu_bg.gif) repeat-x left top; overflow:hidden;}
#nav dl{ height:65px; background:url(../blue/nav/menu_left.gif) no-repeat left top; padding-left:4px;}
#nav dd.nav{ float:left; width:807px; height:35px; line-height:35px; overflow:hidden; padding-left:15px; }
#nav dd.nav a{ float:left; display:inline; height:35px; line-height:35px; background:url(../blue/nav/menu_on_left.gif) no-repeat; text-decoration:none; padding-left:6px; }
#nav dd.nav .navline{ width:8px; padding:0px; background:url(../blue/nav/menu_line.gif) no-repeat center top; overflow:hidden;}
#nav dd.nav a span{ cursor:pointer; font-weight:bold; float:left; font-size:13px; line-height:14px; padding:11px 13px 10px 9px; background:url(../blue/nav/menu_on_right.gif) no-repeat; color:#fff;}
* html #nav dd.nav a span{ padding-top:14px;}/*ie6*/
*+html #nav dd.nav a span{ padding-top:12px;}/*ie7*/
.navdn{ background-position:left -36px !important;}
.navdn span{ background-position:right -36px !important; padding:14px 13px 7px 9px !important;  color:#595959 !important; }
* html .navdn span{ padding-top:16px !important;}/*ie6*/
#nav dt{ float:right; width:170px; height:29px; padding-top:6px; background:url(../blue/nav/menu_right.gif) no-repeat right top; padding-right:4px;}
#nav form{ background:url(../blue/search.gif) no-repeat left 1px; width:157px; height:25px;  } 
#nav input.text{ width:126px; border:none; background:none; margin-left:1px; padding-left:1px; position:relative; top:-5px\9; }
* html #nav input.text{ top:-3px;}/*ie6*/
*+html #nav input.text{ top:-3px;}/*ie7*/
#nav input.submit{  height:23px; width:23px; cursor:pointer; border:none; background:none; position:relative; top:2px; right:2px;  } 
#nav dd.nav2{ clear:both; background:url(../blue/nav/menu_right.gif) no-repeat right -35px; padding-right:4px; padding-left:10px; height:30px; line-height:30px; overflow:hidden;}
#nav dd.nav2 a{ float:left; padding:0px 10px;}
#nav dd.nav2 .nav2line{ background:url(../blue/nav/menu_line2.gif) no-repeat center; width:15px; overflow:hidden; padding:0px;}
#flash{ clear:both; margin-top:5px; clear:both; }

/*------------------------------index----------------------------------*/
#main{ clear:both; margin-top:10px; }
.left{ float:left; width:715px; overflow:hidden;}
h3.title{ background:#d8d8d8; font-size:12px; }
h3.title span{ background:#fefefe; display:block; width:130px; text-align:center; height:22px; line-height:22px; border-left:20px solid #0078ff;}
.left .content{ padding:10px; line-height:22px;}

.news-left{ float:left; width:343px; }
.news-right{ float:right; width:343px;}
.index-list{ padding:5px 0px; padding-bottom:25px;}
.index-list li{ border-bottom:dotted 1px #dfdfdf; background:url(../blue/arrow.gif) no-repeat 3px 14px; margin-left:8px; padding:7px 10px;}
.index-list li span{ float:right; padding-right:5px;}

.left .line{ clear:both; margin-bottom:10px; }
.left .index-img{ width:712px; margin:0px auto;}

.left .bg-center{ border-left:solid 1px #D8D8D8; border-right:solid 1px #D8D8D8; width:713px; }

.left .left-arr{ float:left; display:inline; cursor:pointer; background:url(../blue/cp_10.jpg) no-repeat center center; width:13px;margin-right:7px; margin-left:5px; overflow:hidden;}
.left .picdiv{ float:left; display:inline; width:660px; overflow:hidden; position:relative;}
.left .right-arr{ float:right; display:inline; cursor:pointer; background:url(../blue/cp_11.jpg) no-repeat center center; width:13px; margin-left:7px; margin-right:5px; overflow:hidden; }
#trigger4{ display:none;}
.left .piccont{ position:absolute; width:2010em;}
.left .picdiv .cont{ float:left; display:inline; font-size:0px; padding:0px 5px; }

.left .links{clear:both; padding-top:20px;}
.left .links_list{ padding:8px;}
.left .links_list img{ width:88px; height:31px; }
.left .links_list ul{ margin-top:5px; }
.left .links_list ul li{ display:inline; padding:0px 5px;}


.right{ float:right; width:270px; overflow:hidden; }	
.right .case_list{ background:url(../blue/3_03.jpg) no-repeat 0px bottom; padding:6px 5px; padding-top:10px; }
.right .case_list dt{ float:left;}
.right .case_list dd{ float:left; overflow:hidden; padding-left:10px;}
.right .case_list h3{ display:block; padding:3px 0px; font-size:12px;}
.right .case_list h4{ color:#666; font-weight:normal; font-size:12px; }
	
.right .line{ margin-top:25px; margin-bottom:10px;}
.right .content{ border-left:solid 1px #D8D8D8; border-right:solid 1px #D8D8D8; width:238px; padding:5px 15px; line-height:22px;}
	
/*-----------------------foot---------------------------*/
.foot{ clear:both;  text-align:center; }
.footnav{ text-align:center; color:#ccc; height:20px; font-weight:normal; border-bottom:2px solid #BDBDBD; padding-bottom:3px; margin-top:5px;}
.footnav span{ padding:0px 5px;}
.foottext{ padding:5px 0px; line-height:18px;}

/*--------web--------------------webright.html-----------------------------------------*/
#web{ margin-bottom:10px; margin-top:10px; }
.webcontent{ margin:10px auto; width:98%; line-height:22px; }
.webnav{ margin-top:10px;}

.webnav li{ background:#F4F4F4; width:100%; margin-bottom:2px; margin-top:2px; padding:4px 0px; padding-left:30px !important;}
.webnav li.li_class2{ background:#F4F4F4;}
.webnav li.classnow{ background:#e0e0e0;}

span.span_class3 li.li_class3,span.span_class3 li.classnow3{ margin-left:25px; background:url(../blue/nav_submenu_bg.gif) no-repeat 10px 4px !important;}
span.span_class3 li.classnow3 a{ color:#f00!important;}

.web_bottom{ height:30px; line-height:30px; text-align:center; color:#666666; width:712px;}
h1.title{ font-size:16px; text-align:center; margin:8px 0px;}
.hits{ border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; text-align:center; background:#f4f4f4; height:28px; line-height:28px; margin-bottom:10px;}
.page{ padding:8px 5px;}

.met_online{display:none;}
.met_onlinelist{ padding:5px 0px;}
.met_onlinelist span{ padding:0px 5px;}
span.met_onlinename{ display:block; font-weight:bold; padding:0px; font-size:13px; height:22px; line-height:22px; margin-bottom:5px; overflow:hidden; border-bottom:1px dotted #ccc;}

/*------新闻模块--------news.html|shownews.html-------------------------------------------------------------*/
#news_list li{ height:30px; line-height:30px; overflow:hidden; padding-left:15px; border-bottom:1px dashed #CCC; background:url(../blue/arrow.gif) no-repeat 5px 14px; }
#news_list li span{ float:right; padding-right:5px;}

/*--------产品模块-------------------------product.html|showproduct.html------------------*/
#product-list li{ margin:10px 0px; padding:10px; border-bottom:1px dotted #CCC; }
#product-list span{ display:block; }
#product-list .info_img{ float:left; padding-right:15px; }
#product-list .info_title{ text-align:left; height:30px; font-weight:bold; font-size:14px; line-height:30px; overflow:hidden; }
#product-list .info_para1,#product-list .info_para2,#product-list .info_para3,#product-list .info_para4{ line-height:25px; }
#product-list .info_detail{ float:right; padding-right:10px;}
#product-list .info_detail a{ padding:3px 10px; background:#5e9f33;}
#product-list .info_detail a:link,#product-list .info_detail a:active,#product-list .info_detail a:visited{ color:#fff; font-weight:bold;}

.product_list{ text-align:center;}
.smallimg{ margin-top:10px;}
span.spic{ margin:5px 1px !important;}
span.spic img{ border:1px solid #fff;}

.product_list ul{ text-align:left;} 
.product_list .info_para1{ margin-top:10px;}
.product_list .info_feedback{ text-align:left; display:block; padding:5px;}
.product_list .info_feedback a{ padding:3px 10px; background:#5e9f33; color:#fff !important; font-weight:bold;}

/*____________下载模块________________download.html|showdownload.html________________________________________*/
dl.download_list{ margin:10px 0px;}
dl.download_list dt{ background:#f3f3f3 url(../blue/arrow.gif) no-repeat 5px 12px; padding-left:15px; height:28px; line-height:28px;}
dl.download_list dt a:link,dl.download_list dt a:visited,dl.download_list dt a:active{ font-weight:bold;}
dl.download_list dd{ border-top:1px dotted #ccc; padding-left:5px; height:28px; line-height:28px; color:#666;}
dl.download_list dd span{ float:right; padding-right:10px;}

.info_download{ text-align:left; display:block; padding:5px;}
.info_download a{ padding:3px 10px; background:#5e9f33; color:#fff !important; font-weight:bold;}

/*____________图片模块________________img.html|showimg.html________________________________________*/
#img_list li{ float:left; padding:5px 8px; text-align:center;}
#img_list span.info_title{ display:block; height:22px; line-height:22px; font-weight:bold; overflow:hidden;}

/*____________招聘中心_________________job.html|showjob.html___________________________________________*/
dl.job-list{ line-height:20px; border:1px solid #ccc; border-right:2px solid #ccc; margin-bottom:20px;}
dl.job-list dt{ height:30px; line-height:30px; padding-left:10px; border-bottom:1px solid #ccc; overflow:hidden; }
dl.job-list dd{ padding-left:10px; height:30px; line-height:30px; border-bottom:1px solid #ccc; overflow:hidden; color:#666; font-weight:bold;}
dl.job-list dt span,dl.job-list dd span{ float:right; width:100px; font-weight:normal; text-align:center; overflow:hidden; border-left:1px solid #ccc;}
dl.job-list dd a{text-decoration:underline;}

.info_cv{ text-align:left; display:block; padding:5px;}
.info_cv a{ padding:3px 10px; background:#5e9f33; color:#fff !important; font-weight:bold;}

table.cv_table{ background:none;}
table.cv_table td{ height:30px; line-height:30px; }
table.cv_table td.cv_td1{ padding-right:3px; }
table.cv_table td.cv_select,table.cv_table td.cv_input{ padding-left:3px;}
table.cv_table td.cv_select select{ padding:1px; }
table.cv_table td.cv_select option{ padding:1px; }
table.cv_table td.cv_input input{ padding:2px; background:none;  border:1px solid #ccc;}
table.cv_table td.cv_input textarea{ margin:3px 0px; background:none; border:1px solid #ccc; }
table.cv_table td.cv_submit{ padding:5px 0px;}
table.cv_table td.cv_submit input{ background:#5e9f33; border:none; font-weight:bold; height:20px; padding:2px 6px; color:#fbfbfb; cursor:pointer;}

/*_____________反馈模块_______________feedback.html_____________________________________________*/
table.feedback_table{ background:none;}
table.feedback_table td{ height:30px; line-height:30px; }
table.feedback_table td.feedback_td1{ padding-right:3px; }
table.feedback_table td.feedback_input{ padding-left:3px;}
table.feedback_table td.feedback_input input{ padding:2px; border:1px solid #ccc;}
table.feedback_table td.feedback_input select{ padding:1px; }
table.feedback_table td.feedback_input select option{  padding:1px; }
table.feedback_table td.feedback_input textarea{ margin:3px 0px; background:none; border:1px solid #ccc; }
table.feedback_table td.feedback_input input.checboxcss{ border:none !important; position:relative; top:2px; margin-right:3px;}
table.feedback_table td.feedback_submit{ padding:5px 0px;}
table.feedback_table td.feedback_submit input{ background:#5e9f33; border:none; font-weight:bold; height:20px; padding:2px 6px; color:#fbfbfb; cursor:pointer;}

/*_________搜索模块__search.html________________________________________________*/
.advsearch_search input{ padding:3px 10px; background:#5e9f33; color:#fff; border:none; cursor:pointer; font-weight:bold;}
.search-main ul li{ border-bottom:1px dotted #ccc; padding:5px 5px; margin:8px 0px;color:#666;}


.search_title{ display:block;}
.search_title a:link,.search_title a:visited,.search_title a:active{ font-size:14px; color:#5e9f34; font-weight:bold;}
.search-main ul span.search_detail{  display:block; }
.search-main ul span.search_detail a{ padding:0px 3px;}
.search_updatetime{ display:block;}
/*_________友情链接模块_____link.html__________________________________________________________________*/
dl.link_main dt{ font-weight:bold; font-size:14px; height:30px; line-height:30px;}
dl.link_main dd li{ display:inline; padding:0px 10px;}
dl.link_main a:link,dl.link_main a:visited,dl.link_main a:active{ text-decoration:underline;}

table.addlink_table{ width:100%; background:none; }
table.addlink_table td.addlink_title{ text-align:center; font-size:15px; }
table.addlink_table td{ height:30px; line-height:30px; }
table.addlink_table td.addlink_td1{ padding-right:3px; }
table.addlink_table td.addlink_input,table.addlink_table td.addlink_td2{ padding-left:3px;}
table.addlink_table td.addlink_input input{ padding:2px; border:1px solid #ccc; background:none; }
table.addlink_table td.addlink_input textarea{ margin:3px 0px;  border:1px solid #ccc; background:none; }
table.addlink_table td.addlink_submit{ padding:5px 0px;}
table.addlink_table td.addlink_submit input{ background:#5e9f33; border:none; font-weight:bold; height:20px; padding:2px 6px; color:#fbfbfb; cursor:pointer;}

/*_________在线留言模块_______message.html__________________________________________________________*/
.message_line a{ padding:2px 16px; background:#5e9f33; color:#fff !important; font-weight:bold;}
.message_line a:hover{ text-decoration:none;}
.message-main{ padding:10px;  margin-bottom:15px;}       
.message_list_line{ border:1px solid #ccc; height:25px; line-height:25px; background:#f3f3f3; padding-left:3px; }
.message_list_info{ border-left:1px solid #ccc; border-right:1px solid #ccc;}
.message_list_info span{ padding:5px; display:block;}
.message_list_reinfo{ border:1px solid #ccc; border-top:none; margin-bottom:15px; color:#ef0e00; padding:3px; }

table.message_table{ margin:10px 0px;  background:none;}
table.message_table td{ height:30px; line-height:30px; }
table.message_table td.message_td1{ padding-right:3px; }
table.message_table td.message_input,table.message_table td.message_text{ padding-left:3px;}
table.message_table td.message_input input{ padding:2px; border:1px solid #ccc; background:none; margin-right:5px;}
table.message_table td.message_text textarea{ margin:3px 0px;  border:1px solid #ccc; background:none; }
table.message_table td.message_submint{ padding:5px 0px;}
table.message_table td.message_submint input{ background:#5e9f33; border:none; font-weight:bold; height:20px; padding:2px 6px; color:#fefefe; cursor:pointer;}

/*_______网站地图_______sitemap.html_______*/
.sitemapclass{ padding:5px 0px;}
.sitemapclass1{font-weight:bold; display:block; height:22px; line-height:22px; border-bottom:1px solid #ccc; padding-left:15px;}
.sitemapclass1 a{ padding:2px 10px; background:#e6e6e6;}
.sitemapclass2{ padding-left:15px; padding-top:3px;}
.sitemapclass2 h3{ background:url(../bit_07.gif) no-repeat left center; padding-left:10px;}
.sitemapclass2 h3 a{ color:#333 !important;}
.sitemapclass2 h4{ display:inline; padding:0px 6px;}
.sitemapclass2 h4 a{ text-decoration:underline;}