{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="{DT_MOB}api/about.php?item={$_item}" data-direction="reverse"><img src="{DT_MOB}static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">{$title}</div>
</div>
<div class="head-bar-fix"></div>
</div>
<div class="main">
	<div class="content">
	{if $islink}
	<a href="{$linkurl}" rel="external" class="b">{$linkurl}</a><br/>
	{else}
	{$content}
	{/if}
	</div>
</div>
{template 'footer'}