/* CSS Document */
*{margin:0; padding:0}
body{font-size:12px;background:#EEF7FE;}
ul,ul li{list-style:none}
a{color:#000000; text-decoration:none}
a:hover{color:#FF0000}
.clear{clear:both}
.btn{height:25px; line-height:25px; text-align:center}
.btn .inp{border:1px solid #999999;  margin:0 5px;margin-top:10px; background:#CCCCCC; padding:2px 5px; margin-bottom:30px;}
.inpt{border:1px soli #999; width:150px;margin-top:2px;}
.top{height:60px; background:#8DC4F2}
.head{width:760px; margin:0 auto;}
.head .head_logo{width:200px; height:60px; float:left;}
.head_info{float:right; width:300px; text-align:right; padding-top:30px;}
.head_info a{padding:0 8px;}
.contain{width:760px; margin:0 auto; margin-top:8px;}
.body{padding:1px; border:1px solid #C6E4F8; background:#FFFFFF}
.lcs{width:730px; margin:10px auto}
.body .title{height:25px; line-height:25px; background:#8DC4F2; color:#FFFFFF; font-weight:bold; font-size:14px; padding-left:15px;}
.body .ck_ul{margin:5px;}
.body .ck_ul li{display:block; height:25px; padding:0 20px; line-height:25px; border-bottom:1px dashed #ccc; clear:both}
.body .ck_ul li span{display:block; height:25px; line-height:25px;}
.body .ck_ul li span.lf{float:left; width:400px;}
.body .ck_ul li span.lr{float:left; width:300px;}

