<div class="common_block_border" style="margin-top: 0">
    <div class="common_block_title">{$title}</div>
    <ul class="userList clearfix">
        <volist name="user" id="u">
            <li style="text-align: center">
                <a href="{$u.user.space_url}"><img ucard="{$u.id}" class="avatar-img " style="width: 64px;height: 64px" src="{$u.user.avatar64}"/></a>
                <br/><a href="{$u.user.space_url}" title="{$u.user.nickname|op_t}" class="text-more" style="width: 100%">{$u.user.nickname|op_t}</a>
            </li>
        </volist>
    </ul>
</div>
