@charset "utf-8";
/* CSS Document */

body { font:12px Arial, Verdana, Helvetica, sans-serif; text-align:center; color:#333; font-family: "微软雅黑";}
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, blockquote, h1, h2, h3, h4, h5, h6 { padding:0; margin:0 }
table, td, tr, th { font-size:12px }
input, select { vertical-align: middle; }
table { margin:0 auto; }
img { border:none }
ol, ul, li{ list-style:none }
em { color:#999; font-family: Tahoma, Verdana, helvetica; font-size: 10px; font-style: normal; white-space: nowrap; }

/* 连接 */
a {text-decoration:none }


.fl{float:left;}


/*左侧导航*/
.leftMenu{background: #2A2D33;height:100%;}
.leftMenu a.title{display:block;background:#2E4C8C;width:160px;height:50px;line-height:50px;font-size:24px;color:#fff;padding:5px 0px 5px 40px;}
ul.Menulist{background: #2A2D33;}
ul.submenu li{height:45px;line-height:45px;font-size:16px;}
ul.submenu li:hover{background:#656C7E;}
ul.submenu li a{padding-left:40px;color:#9E9E9E;display:block;}
ul.submenu li a:hover{color:#fff;}
ul.submenu li a.on{background:#656C7E;color:#fff;}

/*右侧顶部导航*/
.main-nav{height:60px;background:#fff;border-bottom: 1px solid #F3F3F3;webkit-box-shadow: 1px 1px 1px #F3F3F3,; -moz-box-shadow: 1px 1px 1px #F3F3F3; box-shadow: 1px 1px 1px #F3F3F3;overflow: hidden;position:relative;}
.main-nav .nav{padding-left:30px;float:left;}
.main-nav .nav a{display:inline-block;height:30px;line-height:30px;padding:15px 10px;font-size:16px;color:#000;}
.main-nav .nav a:hover{color:#3589F1;}
.main-nav .nav a.on{color:#3589F1;}
.main-nav .nav-sub{float:right;}
.main-nav .nav-sub a{display:inline-block;height:30px;line-height:30px;padding:15px 10px;font-size:16px;color:#000;}
.main-nav .nav-sub a:hover{color:#3589F1;}
.main-nav .nav-sub img{vertical-align: middle;border-radius: 50%;margin-top: -5px;padding:15px 10px; width: 30px;height: 30px;}

/*内容iframe*/
.main{width:100%;height:100%;background:#F7F7F7;}
.main-content{padding:30px;}