<table cellpadding="0" cellspacing="0" width="700" align="center">
<tr>
<td><a href="{DT_PATH}" target="_blank"><img src="{if $DT[logo]}{$DT[logo]}{else}{DT_SKIN}image/logo.gif{/if}" style="margin:10px 0;border:none;" alt="{$DT[sitename]} LOGO" title="{$DT[sitename]}"/></a></td>
</tr>
<tr>
<td style="border-top:solid 1px #DDDDDD;border-bottom:solid 1px #DDDDDD;padding:10px 0;line-height:200%;font-family:'Microsoft YaHei',Verdana,Arial;font-size:14px;color:#333333;">
尊敬的会员：<br/>
来自{$DT[sitename]}的会员<a href="{userurl($_username)}" target="_blank" style="color:#005590;">{$_username}</a> 向您提问：<br/><strong>{$question}</strong><br/>
<a href="{DT_PATH}api/redirect.php?mid={$mid}&itemid={$itemid}" target="_blank" style="color:#005590;">请点这里查看问题或解答，谢谢</a>
</td>
</tr>
<tr>
<td style="line-height:22px;padding:10px 0;font-family:'Microsoft YaHei',Verdana,Arial;font-size:12px;color:#666666;">
请注意：此邮件系 <a href="{DT_PATH}" target="_blank" style="color:#005590;">{$DT[sitename]}</a> 自动发送，请勿直接回复
</td>
</tr>
</table>