.cart-foot {height:48px;line-height:48px;color:#666666;margin-top:20px;padding-left:20px;}
.cart-foot p {height:48px;text-align:right;margin:0 20px 0 0;}
.cart-foot input {width:96px;height:48px;line-height:48px;border:none;background:#FF6600;color:#FFFFFF;font-size:20px;text-align:center;padding:0;letter-spacing:2px;cursor:pointer;}
.cart-foot input:hover {background:#F22D00;}

.cart-msg {border-top:#DDDDDD 1px solid;padding:96px;text-align:center;font-size:16px;}
.cart-promo {line-height:22px;background:#FFDEDF;text-align:center;color:#DF3033;border-left:#DF3033 1px dotted;border-right:#DF3033 1px dotted;border-top:#DF3033 1px solid;border-bottom:#DF3033 1px solid;}
.cart-promo:hover {background:#FFFFFF;}

#cart_tip {width:350px;z-index:1000;position:absolute;margin:-40px 0 0 -15px;background:#FFFFFF;border:#A0BCCA 1px solid;padding:0 0 15px 0;}
#cart_tip p {margin:0;background:#D2EDFF;padding:6px 4px 4px 6px;font-size:13px;font-weight:bold;}
#cart_tip div {background:url('image/okay.gif') no-repeat 15px 10px;padding:15px 20px 10px 50px;font-size:13px;}
#cart_tip span {color:#FF6600;font-weight:bold;}
#cart_tip img {float:right;cursor:pointer;}