<!--<?php
require_once template('head'); 
$met_product=methtml_showproduct('all');
$met_productnext=methtml_prenextinfo();
$methits=methtml_hits('product');
echo <<<EOT
-->
<div id="web">
<div class="right">
   <h3 class="title"><span>{$class_list[$classnow][name]}</span></h3>
<div class="webcontent">
<h1 class="title">$product[title]</h1>
<div class="product_list">{$met_product} fawefwe</div>
<div class="pcontent">$product[content]</div>
<div class="page">$met_productnext</div>
<div class="hits">$methits</div>
</div>
       <div class="main_bottom_bgb"><div></div></div>
</div>
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div style="clear:both;"></div>

</div>
<!--
EOT;
require_once template('foot'); 
?>