<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
		<h3 class="hy_rtt">我的收藏</h3>
		<div class="hy_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="bg_f8" width="70">商品图片</td>
				<td class="bg_f8">商品名称</td>
				<td class="bg_f8" width="80">商品价格</td>
				<td class="bg_f8" width="100">收藏日期</td>
				<td class="bg_f8" width="60">操作</td>
			</tr>
			<!--{foreach($info_list as $v):}-->
			<tr>
				<td class="hotimg"><img src="{pe_thumb($v['product_logo'], 60, 60)}" /></td>
				<td class="aleft">
					<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank" class="cblue">{$v['product_name']}</a>
				</td>
				<td class="num cred font14">¥{$v['product_smoney']}</td>
				<td>{pe_date($v['collect_atime'])}</td>
				<td><a class="cblue" href="index.php?mod=user&act=collectdel&id={$v['collect_id']}&product_id={$v['product_id']}" onclick="return pe_cfone(this, '删除该收藏')">删除</a></td>
			</tr>
			<!--{endforeach;}-->
			</table>
			<div class="hy_pay">
				<div class="fenye">{$db->page->html}</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->