@CHARSET "UTF-8";

.ui-draggable-dragging{}
.pop .s-txt, .pop .s-txt-focus{vertical-align:middle}
.wrap-layer{color:#535353;position: absolute;-webkit-box-shadow:0 0 15px #888888;-moz-box-shadow:0 0 15px #888888;-khtml-box-shadow:0 0 15px #888888;-ms-box-shadow:0 0 15px #888888;box-shadow:0 0 15px #888888;z-index:997; background:#fff;}
.wrap-layer .content-layer{position:relative;background:#fff;margin:0 auto;border:1px solid #bbb;}
.wrap-layer .content-layer .hd{background:#f1f1f1;font-weight:700;font-size:14px;color:#535353;padding:9px 15px;cursor:move;text-align:left;}
.wrap-layer .content-layer .hd a.ico-close{position:absolute;right:10px;top:10px;width:18px;height:18px}
.wrap-layer .content-layer .hd a.ico-close:hover{background-position:0 -50px}


.wrap-layer .content-layer .pop .form-tt{width:60px;display:block;float:left;text-align:right;}
.wrap-layer .content-layer .pop .form-row{margin:0 0 0 60px;_float:left;_margin:0}
.wrap-layer .content-layer .pop .pad-no{padding:0;}
.wrap-layer .content-layer .pop dd{padding:0 0 10px;*zoom:1}

.wrap-layer .content-layer .pop dd:after{clear: both;content: ".";display: block;height: 0;visibility: hidden}
.wrap-layer .content-layer .pop .double{margin-top:10px;_margin-left:43px}
.wrap-layer .content-layer .pop .ico-add{margin:0 5px}

.layer-content{text-align:left}
.layer-content .btn-cancel{width:90px;height:34px;line-height:34px;font-size:18px;}


.wrap-layer .content-layer .layer-letter .form-tt{width:60px;display:block;float:left}
.wrap-layer .content-layer .layer-letter .form-row{margin:0 0 0 60px}
.layer-letter textarea{width:394px;height:60px;_width:390px}
.layer-letter .s-txt{width:392px;}
.layer-letter .btn-green{margin-left:60px}

.layer-content .forward-content{background:#FAFAFA;padding:6px 10px;margin:0 0 5px;line-height:18px;font-size:12px;}
.layer-content .forward-content em{vertical-align:top}
.layer-content .forward-content a.name{padding:0 0 10px;display:block}
.layer-content .feed-repeat{line-height:18px;}
.layer-content .feed-repeat .action .faces{float:left;background:url(icon.png) no-repeat 0 0;display:inline-block;width:16px;height:16px;margin:0 10px 0 0;cursor:pointer}
.layer-content .feed-repeat .choose-user{float:none;}
.layer-content .feed-repeat .input {position: relative}
/*.layer-content .feed-repeat .input .action{margin:10px 0 0;*zoom:1}*/
.layer-content .feed-repeat .input .commoned_list{float:left}
.layer-content .feed-repeat textarea{width:440px;height:60px;margin:0;outline:none;border:1px solid #ddd;box-shadow:1px 1px 3px #dcdcdc inset;-moz-box-shadow:1px 1px 3px #dcdcdc inset;-webkit-box-shadow:1px 1px 3px #dcdcdc inset;}
.layer-content .feed-repeat .num {float: right;margin-top: -5px;text-align: right;}

.ico-close, .ico-close:hover{background:url(del.png) no-repeat 0 0;width:9px;height:9px;display:inline-block;overflow:hidden }
.ico-close:hover{background-position:0 -26px}

.layer-forward{width:500px;padding:15px}
.layer-forward .forward-content{background:#FAFAFA;padding:6px 10px;margin:0 0 5px}
.layer-forward .feed-repeat{line-height:20px}
.layer-forward .feed-repeat .action .faces{float:left;background:url(images/icon.png) no-repeat 0 0;display:inline-block;width:16px;height:16px;margin:0 10px 0 0;cursor:pointer}
.layer-forward .feed-repeat .input {position: relative}
.layer-forward .feed-repeat .input .action{margin:10px 0 0;*zoom:1}
.layer-forward .feed-repeat .input .commoned_list{float:left}
.layer-forward .s-textarea,.layer-forward .s-textarea-focus{width:455px;height:60px;margin:10px 0 0}
.layer-forward .feed-repeat .num {color: #B8B7B7;float: right;margin-top: -5px;position: relative;text-align: right}
.layer-forward .feed-repeat .num span {font-family: Constantia,Georgia;font-size: 22px;font-weight: 700;margin: 0 5px}

/*举报弹窗*/
.pop-report .report-content{background:#FAFAFA;padding:10px;margin:0 0 10px}
.pop-report .report-content .face{float:left;width:20px;margin:0 10px 0 0}
.pop-report .report-content .face img{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.pop-report .report-content .info{margin:0 0 0 30px;font-size: 12px;}
.pop-report .report-hd{padding:0 0 10px;}
.pop-report .report-hd p{line-height:18px;}
.pop-report .report-hd h4{min-height:18px;line-height:18px;padding:4px 0;margin:0 0 10px; border-bottom:#EEE solid 1px}
.pop-report .report-btn{text-align:center}
.pop-report .report-btn .btn-green{width:70px}
.pop-report .report-confirm textarea{width:390px;height:60px;margin:10px 0;overflow-y:auto}

/*消息弹窗*/
.wrap-layer .content-layer .pop-message .form-tt{width:50px;padding:3px 0}
.wrap-layer .content-layer .pop-message .form-row{margin:0;float:left}
.pop-message{width:480px;padding:15px;position:relative;}
.pop-message .s-textarea, .pop-message .s-textarea-focus{width:400px;height:60px}
.pop-message .s-txt, .pop-message .s-txt-focus{width:400px;margin:0}
.pop-message .choose-user .mod-at-wrap{width:340px;left:66px\9;top:45px\9}
.pop-message dd{zoom:1}
.pop-message .choose-user{width:410px}
.wrap-layer .content-layer .pop-message a.ico-close{top:6px}

/*邀请弹窗*/
.pop-invite{padding:15px;width:400px;position: relative;}
.pop-invite .box-ver{padding:5px 0 0;}
.pop-invite .box-ver span{color:#DD4B39}
.pop-invite .ico-ok{position:absolute;top:30px;left:270px}
.pop-invite .pop .s-txt, .pop-invite .pop .s-txt-focus{width:330px;*width:320px}
.pop-invite .mod-at-wrap{margin:-11px 0 0;width:260px;left:0;top:40px}
.pop-invite .s-txt, .pop-invite .s-txt-focus{width:102px;vertical-align:middle}
.pop-invite textarea{width:330px;height:60px;_width:320px}
.pop-invite ul{*zoom:1}
.pop-invite li{padding:0 0 10px;position: relative;*zoom:1}
.pop-invite .actionBtn{height:40px}
/*.layer-content .send_weibo .action{background:none;border:0;padding:0;}*/
.layer-content .send_weibo{margin:0;width:500px;padding:15px;*position:relative;*width:505px;}
.layer-content .send_weibo .synchro{vertical-align:top;line-height:16px;*line-height:30px;}
/*分享弹窗*/
.pop-share{width:450px;padding:15px}
.pop-share .choose-user .s-txt, .pop-share .choose-user .s-txt-focus{width:438px;margin:0;height:16px;line-height:16px; border:#ddd 1px solid;padding:5px;}
#post_message .choose-user .s-txt ,#post_message .choose-user .s-txt-focus{width:398px;margin:0;height:16px;line-height:16px; border:#ddd 1px solid;padding:5px;}
.pop-share .tab-menu-app ul li{position:static}
.pop-share .fold{cursor:pointer}
/*举报弹窗*/
.pop-report{padding:15px;width:400px}

/*部门选择弹窗*/
.pop-department{padding:15px;min-width:400px}
.pop-department select{margin:0 5px 0 0;border:1px solid #B5B5B5;height:200px}
.pop-department option{cursor:pointer;height:14px;line-height:14px;padding:5px;color:#3366CC;width:150px;border-bottom:#FAFAFA solid 1px}
.pop-department option:hover{background-color:#ECF2FF}

/*任务*/
.wrap-layer .content-layer .pop-task .form-tt{width:70px;display:block;float:left;}
.wrap-layer .content-layer .pop-task .form-row{margin:0 0 0 70px;_float:left;_margin:0}
.pop-task{width:400px;padding:15px}
.pop-task .info{line-height:18px;height:100px;overflow: auto}
.pop-task .s-textarea{width:310px;height:60px;overflow-y:auto;*width:300px}
.pop-task .s-txt, .pop-task .s-txt-focus{width:310px;margin:0;*width:300px;}
.pop-task-share{width:400px;padding:15px}
.pop-task-share .s-txt, .pop-task-share .s-txt-focus{width:390px;margin:10px 0 0}
.wrap-layer .content-layer .pop-task a.ico-close{_position:static ;_float:right}

/*地区选择*/
.pop-select-city{width:400px;padding:15px;text-align:left;overflow:hidden;*zoom:1}
.pop-select-city dt,.pop-select-city dd{padding:0 0 10px;margin:0 0 10px}
.pop-select-city .ullist{list-style-type:none;white-space:nowrap;overflow:hidden;*zoom:1}
.pop-select-city dd .ullist{list-style-type:none;white-space: nowrap;overflow:hidden;*zoom:1}
.pop-select-city .ullist li{margin:5px 5px 5px 0;float:left;white-space:nowrap}
.pop-select-city .ullist li a{padding:0 3px;}
.pop-select-city .ullist .on a{border-radius:3px;background-color:#999;padding:0 3px;color:#fff}

/*邀请回答*/
.layer-ask{width:594px;padding:15px;}
.layer-ask .feed-repeat{line-height:20px}
.layer-ask .feed-repeat .action .faces{float:left;background:url(../image/icon.png) no-repeat 0 0;display:inline-block;width:16px;height:16px;margin:0 10px 0 0;cursor:pointer}
.layer-ask .feed-repeat .input {position: relative}
.layer-ask .feed-repeat .input .action{margin:10px 0 0;*zoom:1}
.layer-ask .feed-repeat .input .commoned_list{float:left}
.layer-ask .feed-repeat textarea{width:455px;height:60px;margin:10px 0 0}
.layer-ask .feed-repeat .num {color: #B8B7B7;float: right;margin-top: -5px;position: relative;text-align: right}
.layer-ask .feed-repeat .num span {font-family: Constantia,Georgia;font-size: 22px;font-weight: 700;margin: 0 5px}
.layer-ask .feed-repeat .input-invite{width:265px;}

/*表格*/
.table-pop{/*table-layout:fixed;*/width:100%;_width:99%;}
.table-pop td{vertical-align:top;padding: 0 0 10px;line-height:28px;}
.table-pop td .btn-cancel{line-height:22px}
.table-pop .textT{text-align:right;line-height:16px;}
.table-task td{padding:0;}
.table-task .info{line-height:18px;height:100px;overflow: auto;padding:0 0 10px;}



/*weight*/
.pop-weight{width:685px}
.pop-weight .btn{padding:0 15px 15px;}
.weight-list{padding:0 0 15px;overflow:hidden;zoom:1}
.weight-list dd{float:left;border:#d7d7d7 solid 1px;box-shadow:0 0 5px #ccc;padding:10px;background:#fff;margin:15px 0 0 15px;height:32px;position:relative;overflow:hidden;zoom:1}
.weight-list dd .face{width:32px;height:32px;float:left}
.weight-list dd .content{margin:0 0 0 42px;width:88px}
.weight-list dd .content p{line-height:16px;}
.weight-list .mask{display:none}
.weight-list .top{display:none}
.weight-list .selected .mask{display:block;text-align:center;position:absolute;left:0;top:0;width:100%;height:52px;border:#9EC97F solid 1px;background:#9EC97F;opacity: 0.8;
-moz-opacity: 0.8;
fil80er:alpha(opacity=80);}
.weight-list .selected .top{display:block;position:absolute;left:0;top:0;width:100%;height:52px;z-index:9;text-align: center;}
.weight-list .selected .top .ico-ok-big{margin:7px 0 0}

.wrap-layer .content-layer .choose-user a.ico-close{_position:static;}

/*微吧发帖弹窗*/
.pop-area{padding:15px;}

/*后台添加管理员*/
.manager{width:321px;margin:0 20px;overflow:hidden;zoom:1;}