<switch name="type">
    <case value="today">
        <div class="check_rank ">
            <if condition="empty($rank)">
                <div class="default text-center" style="padding: 10px 0;">{:L('_NOBODY_CHECKED_')}</div>
                <else/>
                <ul class="check_rank_list">
                    <volist name="rank" id="v">
                        <li class="row" style="margin-bottom: 10px;">
                            <div class="paiming col-xs-1" style="line-height: 32px">
                                {$i}
                            </div>
                            <div class="list col-xs-7">
                                <img class="avatar-img" style="width: 48px" src="{$v.user.avatar64}">
                                <a ucard="{$v.uid}" class="text-more " style="width: 50%;vertical-align: middle"
                                   href="{$v.user.space_url}">
                                    {$v.user.nickname}</a>
                            </div>
                            <div class="col-xs-4 check_date" style="line-height: 32px">
                                {:date('H:i:s',$v['create_time'])}
                            </div>
                        </li>
                    </volist>
                </ul>
            </if>
            <div class="col-xs-12"  style="text-align:center;line-height:28px;border-top: 1px rgb(240, 240, 240) dashed;">
                <a href="{:addons_url('CheckIn://CheckIn/ranking')}" style="padding: 0;color:rgb(51, 51, 51);">
                    <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;{:L('_CHECK_RANK_')}</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </case>
    <default/>

    <div class="check_rank ">
        <if condition="empty($rank)">
            <div class="default text-center" style="padding: 10px 0;"> {:L('_NOBODY_CHECKED_')}</div>
            <else/>
            <ul class="check_rank_list">
                <volist name="rank" id="v">
                    <li class="row" style="margin-bottom: 10px;">


                        <div class="col-xs-3">
                            <a ucard="{$v.uid}" href="{$v.user.space_url}">
                                <img class="avatar-img" style="width: 48px;" src="{$v.user.avatar64}">
                            </a>
                        </div>

                        <div class="col-xs-5 ">
                            <div class="pull-left" style="width: 100%">
                                <div style="width: 40%;float: left">
                                    Top{$i}
                                </div>
                                <a ucard="{$v.uid}" class="text-more" style="width: 60%;float: left"
                                   href="{$v.user.space_url}">
                                    {$v.user.nickname}
                                </a>
                            </div>

                            <div class="pull-left">
                                {$type_ch}{$type=='con'?$v['con_check']:$v['total_check']}{:L('_DAY_')}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            {:W('Common/Follow/follow',array('follow_who'=>$v['uid']))}
                        </div>

                    </li>
                </volist>
            </ul>
        </if>
        <div class="col-xs-12" style="text-align:center;line-height: 28px;border-top: 1px rgb(240, 240, 240) dashed;">
            <a href="{:addons_url('CheckIn://CheckIn/ranking')}" style="padding: 0;color:rgb(51, 51, 51);">
                <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;{:L('_CHECK_RANK_')}</a>
        </div>
        <div class="clearfix"></div>
    </div>

</switch>