{loop $tags $k $t}
<div class="list" id="item_{$t[itemid]}">
	<table>
	<tr align="center">
		<td width="100"><div><a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb])}" width="80" height="80" alt="{$t[alt]}"/></a></div></td>
		<td width="10"> </td>
		<td align="left">
			<ul>
			<li><a href="{$t[linkurl]}" target="_blank"><strong class="px14">{$t[title]}</strong></a></li>
			<li class="f_gray">{$t[introduce]}</li>
			<li>
			<span class="f_r">{timetodate($t[edittime], $datetype)}&nbsp;&nbsp;</span>
			{if $t[vip]}<img src="{DT_SKIN}image/vip_{$t[vip]}.gif" alt="{VIP}" title="{VIP}:{$t[vip]}级" align="absmiddle"/> {/if}<a href="{userurl($t[username])}" target="_blank">{$t[company]}</a>&nbsp;
			<span class="f_gray">
			{if $t[validated]}[已核实]{else}[未核实]{/if}
			{if !$t[username]} [未注册]{/if}
			</span>
			</li>
			</ul>
		</td>
		<td width="10"> </td>
		<td width="100" class="f_gray">[{area_pos($t[areaid], '', 1)}]</td>
	</tr>
	</table>
</div>
{/loop}		
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}