{loop $tags $k $t}
<div class="list" id="item_{$t[itemid]}">
	<table>
	<tr>
		<td width="100"><div><a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb])}" width="80" height="80" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/></a></div></td>
		<td align="left">
			<ul>
			<li>{if $t[vip]}<span class="f_r"><img src="{DT_SKIN}image/vip_{$t[vip]}.gif" alt="{VIP}" title="{VIP}:{$t[vip]}级"/></span>{/if}<a href="{$t[linkurl]}" target="_blank"><strong class="px14">{$t[title]}</strong></a></li>
			<li class="f_gray">{$t[introduce]}</li>
			<li><span class="f_r">{timetodate($t[edittime], $datetype)}&nbsp;&nbsp;</span>
			<span class="f_gray">&nbsp;&nbsp;{if !$t[username]} [未注册]{/if}</span>
			</li>
			</ul>
		</td>
		<td width="100" class="f_gray" align="center">[{area_pos($t[areaid], '', 1)}]</td>
	</tr>
	</table>
</div>
{/loop}		
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}