@charset "utf-8";
html,body{ font:12px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; color:#333; background:#d5d5d7; -webkit-text-size-adjust:none;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#1C57C4; text-decoration:none;}
/*头部*/
.inner{ width:980px; margin:0 auto; position:relative;}
header{ background:#013d97; zoom:1}
#web_logo{ margin-left:10px; font-size:0px; position:relative; z-index:999;}
.top-nav{ color:#fff; position:absolute; right:5px; top:8px; height:77px; z-index:1; text-align:right; width:100%;}
.top-nav a{ color:#fff;}
.top-nav a:hover{ color:#fff;}
.top-nav li.b{ position:absolute; bottom:0px; right:0px;}
.top-nav li.t span{ padding:0px 5px; font-size:10px; color:#bbb;}
.top-logo{ min-height:90px; _height:90px;}
nav{ height:40px; overflow:hidden;}
nav ul li{ float:left; text-align:center; height:40px; line-height:40px; overflow:hidden; background:#007ac7 url(../dt-3.gif) repeat-x; }
nav ul li a{ color:#fff; font-size:14px;}
nav ul li a:hover{ color:#fff;}
nav ul li.line{ width:0px; height:40px; padding:0px; border-left:1px solid #0073bc; border-right:1px solid #0389de;}
nav ul li.hover,nav ul li.navdown{ background:url(../dt-4.gif) repeat-x;}
nav ul li.hover a,nav ul li.navdown a{ color:#444;}
nav ul li.hover a:hover,nav ul li.navdown a:hover{ color:#444;}
.met_flash{ margin-top:10px; font-size:0px; overflow:hidden;} 
.met_flash ul{ margin:0px; padding:0px;} 

/*首页*/
.aboutus{ float:left; width:675px; margin-top:10px;}
.case{ float:right; width:290px; margin-top:10px; overflow:hidden;}
.style-1 h3.title span{ float:left; background:url(../dt-5.gif) repeat-x; height:32px; line-height:32px; padding:0px 25px; color:#fff; font-weight:normal; font-size:14px;}
.style-1 h3.title  a.more{ float:right; width:39px; height:11px; line-height:1000px; overflow:hidden; background:url(../more.gif); margin:10px 10px 0px 0px;}
.style-1 .active{ background:#fff; padding:10px;}
.style-2 h3.title { background:url(../dt-6.gif) repeat-x; height:32px; line-height:32px; padding-left:15px; color:#fff; font-weight:normal; font-size:14px; position:relative;}
.style-2 h3.title a.more{ position:absolute; right:10px; top:0px; color:#fff; font-size:12px;}
.style-2 .active{ background:#fff; padding:10px;}
.style-2 dl.ind{ clear:both; zoom:1}
.style-2 dl.ind dt{ float:left; display:inline; border-bottom:1px dotted #ccc; padding:10px 0px 10px 0px; zoom:1}
.style-2 dl.ind dt a{ margin-left:5px;}
.style-2 dl.ind dd{ float:right; display:inline; border-bottom:1px dotted #ccc; padding:10px 0px 10px 0px; overflow:hidden;}
.style-2 dl.ind dd h4{ margin-left:10px;}
.style-2 dl.ind dd p.desc{ margin-left:10px; font-style: italic; color:#666;}
.index-news{ float:left; width:330px; margin-right:15px; margin-top:15px;}
.listel li{ margin:0px 5px; height:30px; line-height:30px; overflow:hidden; padding-left:13px; background:url(../dt-1.gif) no-repeat left 12px; }
.listel li a{ margin-right:5px; zoom:1;}
.listel li span{ float:right; color:#666;}
.index-conts{ float:right; width:290px; margin-top:15px;}
.index-product{ padding-top:15px; *margin-top:15px; *padding-top:0px;}
.index-product .profld{ margin:0px; position:relative; overflow:hidden;}
.index-product h3 span{ float:left; }
.index-product ol{ position: absolute; width: 2012em; }
.index-product ol li{ float:left; text-align:center; }
.index-product ol li a.img{ display:block; text-align:center; font-size:0px;}
.index-product ol li a.img img{ margin:auto; border:1px solid #d6d6d6;}
.index-product ol li h3{ font-weight:normal; margin-top:5px; height:20px; line-height:20px; overflow:hidden;}
.index-product .flip{ height:20px; overflow:hidden; margin:8px 15px 0px; float:left; }
* html .index-product .flip{ width:300px;}
*+html .index-product .flip{ width:300px;}
.index-product .next,.index-product .prev{ width:18px; height:18px; overflow:hidden; display:block; float:left; background:url(../neu.gif) no-repeat;}
.index-product .next{ background-position:-17px 0px; }
.index-product .next:hover{ background-position:-57px 0px; }
.index-product .prev{ background-position:-40px 0px; }
.index-product .prev:hover{ background-position:0px 0px; }
#trigger{ float:left; margin-right:5px; margin-top:0px; position:relative; bottom:8px; *bottom:0px; *top:5px; zoom:1;}
#trigger a{ background:url(../neu.gif) no-repeat -78px -10px; width:8px; height:8px; font-size:0px; display:inline-block; overflow:hidden; margin-right:5px;}
#trigger a.current{ background-position:-78px 0px;}

#tabs-nav{ float:left;text-align: center; margin-left:15px;}
#tabs-nav li {margin: 0 4px; display: inline-block; zoom: 1; *display:inline; position:relative; *top:12px;}
#tabs-nav li a {width: 8px; height: 8px; display: block; overflow:hidden; background:#9df0f5; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;}
#tabs-nav li a:hover { background:#fff; }
#tabs-nav li a.flex-active{ background:#fff; cursor: default; }
.index-links{ background:#fff; padding:5px 15px 10px; margin-top:15px; position:relative;}
.index-links h3{ height:32px; line-height:32px; padding-left:20px; background:url(../dt-2.gif) no-repeat left center; font-weight:normal; font-size:14px; position:relative; border-bottom:1px dotted #ccc; margin-bottom:10px;}
.index-links h3 a.more{ position:absolute; right:10px; top:0px; color:#666; font-size:12px;}
.index-links ul{ margin:0px; padding:0px;}
.index-links .img{ margin-bottom:3px;}
.index-links .img li{ list-style:none; display:inline; padding-right:5px;}
.index-links .img img{ width:88px; height:31px;}
.index-links .txt{ zoom:1;}
.index-links .txt li{ list-style:none; float:left; width:88px; height:20px; line-height:20px; margin-right:5px; overflow:hidden;}

/*底部*/
.foot-nav{ text-align:center; margin-top:10px; height:25px; line-height:25px;}
.foot-nav span{ font-size:10px; margin:0px 8px; color:#888;}
.foot-text{ text-align:center; padding:0px 0px 5px; }

/*内页侧栏*/
.sidebar{ margin-top:15px;}
.sidebar .sb_nav{ float:left; width:210px;}
.sidebar .sb_nav h3.title{ text-align:left; background:url(../dt-6.gif) repeat-x; padding:0px 15px; height:33px; line-height:33px; border-bottom:1px solid #cecece; font-size:14px; color:#fff;}
.sidebar .sb_nav h3.line{ margin-top:15px; }
.sidebar .sb_nav .active{ padding:10px 15px; background:#fff;}
#sidebar dl{ margin-left:5px;}
#sidebar dl dt{ padding:4px 0px 5px 15px; margin-top:5px; background:url(../dt-11.gif) no-repeat 2px 11px;}
#sidebar dl dd{ padding:0px 0px 0px 15px;}
#sidebar dl dd h4{ font-weight:normal; padding:5px 0px 5px 10px; background:url(../dt-0.gif) no-repeat left center;}
#sidebar dl dt.on a{ font-weight:bold; color:#1C57C4; }
#sidebar dl h4.on a{ font-weight:bold;}
.sidebar .sb_box{ float:right; width:755px; background:#fff; overflow:hidden; }
.sidebar .sb_box h3.title{ border-bottom:1px solid #ddd; background:#f8f8f8; height:35px; line-height:35px; position:relative;}
.sidebar .sb_box h3.title span{ position:absolute; left:0px; top:-1px; font-size:14px; border-bottom:2px solid #ff6633; padding:0px 15px;}
.sidebar .sb_box h3.title div.position{ float:right; font-weight:normal; position:relative; top:3px; right:15px;}
.sidebar .sb_box h3.title div.position a{ color:#1C57C4;}
/*绿色*/
html,body{ background:#D5D5D7; }
a:hover{ color:#05a300;}
header{ background:#000 url(../green/bg2.gif);}
nav ul li{ background:#ed1407 url(../green/dt-3.gif) repeat-x;}
nav ul li.line{ border-left:1px solid #166d14; border-right:1px solid #1c8a19;}
.style-1 h3.title span{ background:url(../green/dt-5.gif) repeat-x; }
.style-1 h3.title  a.more{ background:url(../green/more.gif);}
.style-2 h3.title{ background:url(../green/dt-6.gif) repeat-x;}
.index-product .next,.index-product .prev{ background:url(../green/neu.gif) no-repeat;}
.index-product .next{ background-position:-17px 0px; }
#trigger a{ background:url(../green/neu.gif) no-repeat -78px -10px;}
.sidebar .sb_nav h3.title{ background:url(../green/dt-6.gif) repeat-x;} 
#sidebar dl dt{ background:url(../green/dt-11.gif) no-repeat 2px 11px;}
#sidebar dl dt.on a{ color:#05a300;}
.sidebar .sb_box h3.title div.position a{ color:#05a300;}
.met_page a{ color:#05a300;}