{#include file="header.htm"#}
<p class="action_nav">BlueCMS管理中心 - {#$current_act#}&nbsp;&nbsp;<a href="arc_cat.php?act=add">添加栏目</a></p>
  <table width="100%" cellpadding="3" cellspacing="1">
  <tr>
      <td class="datalist_title">分类名称</td>
      <td class="datalist_title">管理</td>
      <td class="datalist_title" align="center">操作</td>
  </tr>
  {#if $parentid != 0#}<tr class="datalist" onmousemove="javascript:this.bgColor='#F7FBFE';"onmouseout="javascript:this.bgColor='#FFFFFF';"><td colspan="4"><a href="arc_cat.php?pid={#$dparentid#}">返回上级</a></td></tr>{#/if#}
    {#section name=cat loop=$cat_list#}
	<tr class="datalist" onmousemove="javascript:this.bgColor='#F7FBFE';"onmouseout="javascript:this.bgColor='#FFFFFF';">
      <td>{#$cat_list[cat].cat_name#}</td>
      <td>{#if $cat_list[cat].is_havechild == 1 #}<a href="arc_cat.php?pid={#$cat_list[cat].cat_id#}">进入下级</a>{#else#}没有下级分类了{#/if#}</td>
      <td align="center"><a href="arc_cat.php?act=edit&cid={#$cat_list[cat].cat_id#}">编辑</a>&nbsp;|&nbsp;<a href="arc_cat.php?act=del&cid={#$cat_list[cat].cat_id#}">删除</a></td>
    </tr>
    {#sectionelse#}
  <tr>
    <td class="datalist" colspan="4">没有找到任何记录</td>
  </tr>
    {#/section#}
  </table>
  <br/>
{#include file="footer.htm"#}