{#include file="header.htm"#}
<p class="action_nav">BlueCMS管理中心 - {#$current_act#}&nbsp;&nbsp;<a href="area.php?act=add">添加地区分类</a></p>
  <table width="100%" cellpadding="3" cellspacing="1">
  <tr>
      <td class="datalist_title">地区名称</td>
      <td class="datalist_title">管理</td>
	  <td class="datalist_title">顺序</td>
      <td class="datalist_title" align="center">操作</td>
  </tr>
  {#if $parentid != 0#}<tr class="datalist" onmousemove="javascript:this.bgColor='#F7FBFE';"onmouseout="javascript:this.bgColor='#FFFFFF';"><td colspan="4"><a href="area.php?pid={#$dparentid#}">返回上级</a></td></tr>{#/if#}
    {#section name=area loop=$area_list#}
	<tr class="datalist" onmousemove="javascript:this.bgColor='#F7FBFE';"onmouseout="javascript:this.bgColor='#FFFFFF';">
      <td>{#$area_list[area].area_name#}</td>
      <td>{#if $area_list[area].ishavechild == 1 #}<a href="area.php?pid={#$area_list[area].area_id#}">进入下级</a>{#else#}没有下级分类了{#/if#}</td>
	  <td>{#$area_list[area].show_order#}</td>
      <td align="center"><a href="area.php?act=edit&aid={#$area_list[area].area_id#}">编辑</a>&nbsp;|&nbsp;<a href="area.php?act=del&aid={#$area_list[area].area_id#}">删除</a></td>
    </tr>
    {#sectionelse#}
  <tr>
    <td class="datalist" colspan="4">没有找到任何记录</td>
  </tr>
    {#/section#}
  </table>
  <br/>
{#include file="footer.htm"#}