{#include file="header.htm"#}
<p class="action_nav">BlueCMS管理中心 - {#$current_act#}&nbsp;&nbsp;<a href="attachment.php?act=add">添加附加属性</a></p>
  <table width="100%" cellpadding="3" cellspacing="1">
  <tr>
      <td class="datalist_title">附加属性名称</td>
      <td class="datalist_title">类型</td>
      <td class="datalist_title">单位/属性值</td>
      <td class="datalist_title">所属模型</td>
      <td class="datalist_title">顺序</td>
      <td class="datalist_title" align="center">操作</td>
  </tr>
    {#section name=att loop=$att_list#}
	<tr class="datalist" onmousemove="javascript:this.bgColor='#F7FBFE';"onmouseout="javascript:this.bgColor='#FFFFFF';">
      <td>{#$att_list[att].att_name#}</td>
      <td>{#if $att_list[att].att_type == 0 #}单行文本表单{#elseif $att_list[att].att_type == 1 #}单行数字表单{#elseif $att_list[att].att_type == 2 #}下拉列表型附加信息{#elseif $att_list[att].att_type == 3 #}单选型附加信息{#else#}多选型附加信息{#/if#}</td>
      <td>{#if $att_list[att].unit == '' && $att_list[att].att_val == '' #}无{#elseif $att_list[att].unit != ''#}{#$att_list[att].unit#}{#else#}{#$att_list[att].att_val|mb_substr:0:8#}{#/if#}</td>
      <td>{#$att_list[att].model_name#}</td>
      <td>{#$att_list[att].show_order#}</td>
      <td align="center"><a href="attachment.php?act=edit&att_id={#$att_list[att].att_id#}">编辑</a>&nbsp;|&nbsp;<a href="attachment.php?act=del&att_id={#$att_list[att].att_id#}">删除</a></td>
    </tr>
    {#sectionelse#}
  <tr>
    <td class="datalist" colspan="5">没有找到任何记录</td>
  </tr>
    {#/section#}
  </table>
  <div class="page">{#$page#}</div>
  <br/>
{#include file="footer.htm"#}