<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>BlueCMS管理中心</title>
<link href="css/top.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="topnav">
	<div class="sitenav">
		<div class="welcome">你好：<span class="username">{#$admin_name#}</span>，欢迎使用BlueCMS</div>
		<div class="sitelink">
			<a href="../" target="_blank">网站主页</a> |
			<a href="./" target="_top">管理主页</a> |
			<a href="login.php?act=logout" target="_top">安全退出</a>
		</div>
	</div>
</div>
</body>
</html>