@charset "utf-8";
html {background-color: #fff;color: #535353}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0;padding: 0}
fieldset, img {border: 0 none}
address, caption, cite, code, dfn, em, strong, th, var, b, i, s {font-style: normal;font-weight: normal}
li{list-style-type:none}
body, button, select, textarea, input {font:12px/1.125 Arial,Helvetica,sans-serif}
body {word-wrap: break-word; word-wrap:break-word}
a:link{color:#36c;text-decoration:none}  a:visited{color:#36c;text-decoration:none}  a:hover{text-decoration:underline}
.vline{font-style:normal;margin:0 5px}  .textR{text-align:right}
.ml10{margin-left:10px}  .mr10{margin-right:10px}  .mt10{margin-top:10px}  .mb10{margin-bottom:10px}

.btn-blue-big{border-radius: 2px 2px 2px 2px;cursor: pointer;overflow: visible;display:inline-block;vertical-align: middle;white-space: nowrap}
.btn-blue-big:link, .btn-blue-big:visited{color:#fff}
.btn-blue-big span{display: inline-block;color:#fff;height: 16px;line-height: 16px;padding: 10px 8px;margin-top:2px\0;/*for Ie8*/_margin:0/*for Ie6*/} *+html .btn-blue-big span{margin:2px 0 0}/*for Ie7*/
.btn-blue-big{height:36px;font-size:14px;min-width:100px;text-align:center;background: #9EC97F;border-color: #3079ED;border-style: solid;border-width: 1px;color: #fff;	background-color: #4D90FE;background-image: -moz-linear-gradient(top, #4D90FE, #4787ED);background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4D90FE), to(#4787ED));background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);background-image: -o-linear-gradient(top, #4D90FE, #4787ED);background-image: linear-gradient(top, #4D90FE, #4787ED);	background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#4787ED', GradientType=0);border-color: #3079ED #3079ED #3079ED;filter: progid:dximagetransform.microsoft.gradient(enabled=false)}
.btn-blue-big:hover{background-color: #357AE8;background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);background-image: -ms-linear-gradient(top, #4D90FE, #357AE8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4D90FE), to(#357AE8));background-image: -webkit-linear-gradient(top, #4D90FE, #357AE8);background-image: -o-linear-gradient(top, #4D90FE, #357AE8);background-image: linear-gradient(top, #4D90FE, #357AE8);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#357AE8', GradientType=0);border: 1px solid #2F5BB7;text-decoration:none}
.btn-blue-big:active{height:36px;font-size:14px;min-width:100px;text-align:center;background: #9EC97F;border-color: #3079ED;border-style: solid;border-width: 1px;color: #fff;
	background-color: #4D90FE;background-image: -moz-linear-gradient(top, #4787ED, #4D90FE);background-image: -ms-linear-gradient(top, #4787ED, #4D90FE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4787ED), to(#4D90FE));background-image: -webkit-linear-gradient(top, #4787ED, #4D90FE);
	background-image: -o-linear-gradient(top, #4787ED, #4D90FE);background-image: linear-gradient(top, #4787ED, #4D90FE);background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4787ED', endColorstr='#4D90FE', GradientType=0);border-color: #3079ED #3079ED #3079ED;
	filter: progid:dximagetransform.microsoft.gradient(enabled=false)}

.wrap-mail{width:540px;padding:10px 30px 30px;background:#2D2D2D;margin:0 auto}
.wrap-mail .header-wrap{color:#bbb;background:#2d2d2d;padding:10px 0;overflow:hidden;*zoom:1}
.header-wrap .date{float:right;height:15px;line-height:15px;padding:10px 0}
.header-wrap .logo, .header-wrap .logo:hover{float:left;width:140px;height:35px;background:url(../image/logo-update.png) no-repeat 0 0;overflow:hidden;position:relative}

.wrap-mail .bd{background:#fff;padding:20px;min-height:300px;position:relative}
.wrap-mail .footer-wrap{background:#fff;}
.footer-wrap .footer{border-top:#ddd solid 1px;height:18px;line-height:18px;padding:11px 0;text-align:center}
.footer-wrap .remark{text-align:right;height:18px;line-height:18px;color:#999;padding:6px 0}

.mod-welcome{font-size:14px;}
.mod-welcome p{padding:0 0 20px}
.mod-welcome .box-link{background:#EEE;padding:10px;line-height:22px}
.mod-welcome .box-link span{display:block}