@charset "utf-8";

/* CSS Document 
 * Design By niuwentao
 * Ver: Sociax Team
 */

/*tab菜单*/
.tab-menu,.tab-menu-box{height:46px;position:relative;_border:none 0;_background:url(../image/tab-menu-line.gif) repeat-x left bottom;margin-bottom:20px;}
.tab-menu ul,.tab-menu-box ul{height:46px;line-height:46px;border-left:none 0;}
.tab-menu ul li{padding:0 20px ;font-size:14px; }
#invite .tab-menu .current a{ color:#0096e6;}
.tab-menu ul li,.tab-menu-box ul li{float:left;margin:0;}
.tab-menu ul li a:link,.tab-menu ul li a:visited,.tab-menu-box ul li a:link,.tab-menu-box ul li a:visited{display:block;float:left;text-align:center;}
.tab-menu ul li a:hover,.tab-menu-box ul li a:hover{text-decoration:none;}
.tab-menu .ico-more,.tab-menu-box .ico-more{border-color: #535353 transparent transparent;}
.tab-menu .line-b,.tab-menu-box .line-b{background:#0096e6;position:absolute;width:58px;height:2px;left:0;bottom:0;padding:0 20px;}
.line-b-animate {position:relative; background:#fff;}
.tab-menu ul .current a{ /*border:#e5e6e7 1px solid; border-bottom:none; */background:#fff;color:#0096e6;}


/*tab菜单*/
.mod-tab-menu{height: 28px;padding:0 0 10px 0;}
.tab-menu-app{height:28px;border:#E4E4E4 solid 1px;border-left:none 0;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.tab-menu-app ul{float:left;height:28px}
.tab-menu-app ul li{float:left;position:relative}
.tab-menu-app ul li a:link, .tab-menu-app ul li a:visited{float:left;display:block;height:28px;line-height:28px;padding:0 10px;padding:0 10px\9;background:#f7f7f7;color:#535353;border-left:#E4E4E4 solid 1px; font-family:"微软雅黑";}
.tab-menu-app ul li a:hover{text-decoration:none;}
.tab-menu-app ul li.current a:link, .tab-menu-app ul li.current a:visited{padding:0 10px ; display:inline-block;line-height:28px;background:#0096e6;color:#fff;}
.tab-menu-app .ico-new-task{font-size:10px;position:absolute;right:0;top:-8px;text-align:center;line-height:16px;color:#fff;width:19px}
.menu-app-mg{margin:0 20px 15px}
.mod-tab-menu span.left{height:16px;line-height:16px;padding:7px 10px 3px;display:block}
.tab-position{margin:0 20px 10px}
.tab-menu .btn-blue{float:right;height:22px;padding:0;min-width:0;}
.tab-menu .btn-blue span{padding:3px 10px;}

.tab-menu .arrange{float: right;padding:5px 0 0;}

/*tab菜单*/
.tab-menu-profile{border:0;overflow:hidden;*zoom:1;}
.tab-menu-profile li{float:left;margin:0 10px 0 0;background:#f3f5f1;width:80px;height:30px;line-height:30px;text-align:center;}
.tab-menu-profile li a:link,.tab-menu-profile li a:visited{display:inline-block;font-size:14px;color:#333;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
/*.tab-menu-profile .current{background:#39B5EE;font-weight:bold;}*/
.tab-menu-profile .current a:link,.tab-menu-profile .current a:visited{color:#fff;}

