@charset "utf-8";

/* CSS Document 
 * Design By niuwentao
 * Ver: Sociax Team
 */

/* qqshop focus */
.mb-content{padding:35px 0 0;}

.scrollContent{width:960px!important;margin:0 auto;position: relative;z-index:999;}
.scrollContent ul{margin:-594px 0 0}

/*图片轮播weight*/
.mb-inner .scrollImg{height:594px !important;}
.mb-inner .btn{display:none;}
.mb-inner .move{width:960px!important;margin:0 auto;position: relative;z-index:99;}
.mb-inner .inner-btn{width:960px!important;margin:0 auto;position: relative;z-index:999;}
.mb-inner .btns-dl{position:absolute;bottom:150px;left:416px;}
.btns-dl .btn-dl{background:url(../image/btn-mobile.png) no-repeat 0 -72px; cursor:pointer;display:inline-block;width:152px;height:42px;margin: 0 10px 0 0;position: relative;overflow: hidden;}
.btns-dl .btn-iphone:hover .ico-mb, .btns-dl .btn-android:hover .ico-mb{transform:translate(0px, 0px);-moz-transform:translate(0px, 0px);-o-transform:translate(0px, 0px);-webkit-transform:translate(0px, 0px);}
.btns-dl .btn-iphone:hover .ico-iphone, .btns-dl .btn-android:hover .ico-android{transform:translate(0px, 36px);-moz-transform:translate(0px, 36px);-o-transform:translate(0px, 36px);-webkit-transform:translate(0px, 36px);}
.btns-dl .ico-iphone, .btns-dl .ico-android, .btns-dl .ico-mb{background:url(../image/btn-mobile.png) no-repeat 0 -186px; cursor:pointer;display:inline-block;width:32px;height:32px;}
.btns-dl .ico-iphone{background-position:7px -181px;}
.btns-dl .ico-android{background-position:-27px -181px;}
.btns-dl .ico-mb{position:absolute;left:0;top:0;background-position:-62px -179px;transform:translate(0px, -36px);-moz-transform:translate(0px, -36px);-o-transform:translate(0px, -36px);-webkit-transform:translate(0px, -36px);}
.btns-dl .ico-iphone, .btns-dl .ico-android{transform:translate(0px, 0px);-moz-transform:translate(0px, 0px);-o-transform:translate(0px, 0px);-webkit-transform:translate(0px, 0px);}
.btns-dl .icon-box{height:32px;left:6px;overflow:hidden;position:absolute;top:5px;width:32px;}
.btns-dl .im{transition:all 0.2s ease-in 0s;-moz-transition:all 0.2s ease-in 0s;-o-transition:all 0.2s ease-in 0s;-webkit-transition:all 0.2s ease-in 0s;}
.btns-dl .btn-txt{transition: all 0.3s ease-out 0.1s;-moz-transition: all 0.3s ease-out 0.1s;-o-transition: all 0.3s ease-out 0.1s;-webkit-transition: all 0.3s ease-out 0.1s;font: 0px/9999px arial;height: 39px;overflow: hidden;position: absolute;right: 18px;top: 2px;visibility: visible;    width: 90px;z-index: 2}
.btn-iphone .btn-txt{background:url(../image/btn-mobile.png) no-repeat 0 -129px; cursor:pointer;display:inline-block;width:90px;height:39px;}
.btn-android .btn-txt{background:url(../image/btn-mobile.png) no-repeat -105px -129px; cursor:pointer;display:inline-block;width:90px;height:39px;}
.btns-dl .btn-dl:hover .btn-txt{transform:scale(2.5);-moz-transform:scale(2.5);-o-transform:scale(2.5);-webkit-transform:scale(2.5);opacity: 0;-moz-opacity: 0;filter:alpha(opacity=0);}

.scrollImg {overflow:hidden; position:relative;}
.scrollImg .move{width:960px;margin:0 auto;position:relative;z-index:9999;}
.scrollImg ul {height:380px; position:absolute;}
.scrollImg ul li {float:left;overflow:hidden; position:relative}
.scrollImg ul li div {position:absolute; overflow:hidden;}
.scrollImg .btnBg {position:absolute; height:20px; left:0; bottom:0; background:#000;}
.scrollImg .btn {position:absolute;height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
.scrollImg .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
.scrollImg .btn span.on {background:#fff;}
.scrollImg .preNext {width:60px; height:60px; position:absolute;  background:url(../image/btn-mobile.png) no-repeat 0 0; cursor:pointer;}
.scrollImg .pre {left:0;}
.scrollImg .next {right:0; background-position:-61px top;}