<!--<?php
echo <<<EOT
-->
<footer>
	<div class="inner">
		<div class="foot-nav">{$met_foot_nav}</div>
		<div class="foot-text">
			{$met_foot_txt}
<!--以下是版权信息，购买商业授权之后方可去除！-->
			<div class="powered_by_metinfo">
				Powered&nbsp;by&nbsp;<a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info1}">MetInfo&nbsp;{$metcms_v}</a>
				&copy;2008-{$m_now_year}&nbsp;
				<a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info3}">www.metinfo.cn</a>
			</div>
<!--版权信息结束-->
		</div>
	</div>
</footer>
<script src="{$img_url}js/fun.inc.js" type="text/javascript"></script>
{$metonline}
</body>
</html>
<!--
EOT;
?>-->