<tr>
<td colspan="2" style="background:#AACCEE;">
&nbsp;&nbsp;
<strong>非会员补充信息：</strong>
&nbsp;&nbsp;
建议 <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="f_b t">立即登录</a> 或 <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="f_b t">注册会员</a> 以便系统长久保存您的联系方式
</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 公司名称</td>
<td class="tr"><input name="post[company]" type="text" id="company" size="50" value="{$company}" /> 个人请填姓名 例如：张三<br/><span id="dcompany" class="f_red"></span> </td>
</tr>
{if $module != 'info'}
<tr>
<td class="tl"><span class="f_red">*</span> 所在地区</td>
<td class="tr">{ajax_area_select('post[areaid]', '请选择', $areaid)} <span id="dareaid" class="f_red"></span></td>
</tr>
{/if}
<tr>
<td class="tl"><span class="f_red">*</span> 联系人</td>
<td class="tr"><input name="post[truename]" type="text" id="truename" size="20" value="{$truename}" /> <br/><span id="dtruename" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 联系手机</td>
<td class="tr"><input name="post[mobile]" id="mobile" type="text" size="30" value="{$mobile}"/> <span id="dmobile" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">电子邮件</td>
<td class="tr"><input name="post[email]" id="email" type="text" size="30" value="{$email}" /> <span id="demail" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">联系电话</td>
<td class="tr"><input name="post[telephone]" id="telephone" type="text" size="30" value="{$telephone}"/> <span id="dtelephone" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">联系地址</td>
<td class="tr"><input name="post[address]" id="address" type="text" size="60" value="{$address}"/></td>
</tr>
{if $DT[im_qq]}
<tr>
<td class="tl">QQ</td>
<td class="tr"><input name="post[qq]" id="qq" type="text" size="30" value="{$qq}"/></td>
</tr>
{/if}
{if $DT[im_wx]}
<tr>
<td class="tl">微信</td>
<td class="tr"><input name="post[wx]" id="wx" type="text" size="30" value="{$wx}"/></td>
</tr>
{/if}
{if $DT[im_ali]}
<tr>
<td class="tl">阿里旺旺</td>
<td class="tr"><input name="post[ali]" id="ali" type="text" size="30" value="{$ali}"/></td>
</tr>
{/if}
{if $DT[im_skype]}
<tr>
<td class="tl">Skype</td>
<td class="tr"><input name="post[skype]" id="skype" type="text" size="30" value="{$skype}"/></td>
</tr>
{/if}
<tr class="dsn">
<td class="tl"></td>
<td class="tr"><script type="text/javascript" src="{DT_STATIC}file/script/guest.js"></script></td>
</tr>
