<input name="password" type="password" size="30" class="inp" id="password" autocomplete="new-password"{if isset($password)} value="{$password}"{/if}/>&nbsp;
<script type="text/javascript" src="{DT_STATIC}file/script/keyboard.js"></script>
<img src="{DT_STATIC}file/image/keyboard.gif" title="密码键盘" alt="" class="c_p" onclick="kb_s('password', 'kb');"/>
<div id="kb" style="display:none;"></div>
{if $DT[md5_pass] && ($action != 'login' || ($action == 'login' && !$MOD[passport]))}
<script type="text/javascript" src="{DT_STATIC}file/script/md5.js"></script>
<script type="text/javascript">$(function(){init_md5();});</script>
{/if}