#content>div{
    top: 0;
}
#wechat_bar{
    display: block;
    background-color: rgb(48,52,53);
    width: 100%;
    height: 60px;
    color: rgb(210,210,210);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 799;
    font-size: 30px;
}
#wechat_bar .fa{
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
}