.topics ul {
  list-style-type: none;
}
.public-width {
  width: 1000px;
  margin: 0 auto;
}
.public-indentation {
  text-indent: 8mm;
}
.public-left {
  float: left;
}
.public-right {
  float: right;
}
.public-clear {
  clear: both;
}
.public-center {
  text-align: center;
}
.public-display-n {
  display: none;
}
.public-display-b {
  display: block;
}
.public-cursor {
  cursor: pointer;
}
.public-position-a {
  position: absolute;
  top: 0;
  left: 0;
}
.public-position-r {
  position: relative;
}
.common-btn {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-right: 10px;
}
/*以上是公共的样式*/
.topics {
  width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}
.topics .row {
  margin: 0;
}
.topics .topic-head-info {
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  float: left;
  height: 150px;
  width: 680px;
}
.topics .topic-head-info .cover-wrap {
  width: 128px;
  height: 128px;
  overflow: hidden;
}
.topics .topic-head-info .cover-wrap img {
  border-radius: 3px;
}
.topics .topic-head-info .info-wrap {
  height: 128px;
  padding: 0 20px;
  width: 510px;
}
.topics .topic-head-info .info-wrap p {
  max-width: 470px;
  display: block;
}
.topics .topic-head-info .info-wrap .t-name {
  font-size: 24px;
  font-weight: 600;
}
.topics .topic-head-info .info-wrap .t-intro {
  font-size: 14px;
  color: #888;
}
.topics .topic-head-info .info-wrap .send-topic-wb {
  background-color: #19bca1;
  color: #ffffff;
}
.topics .topic-head-info .info-wrap .send-topic-wb i {
  margin-right: 5px;
}
.topics .topic-head-info .info-wrap .send-topic-wb:hover {
  background-color: #17ae95;
}
.topics .topic-holder {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  float: left;
  height: 150px;
  width: 300px;
  padding: 10px 0;
}
.topics .topic-holder .h-title {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 20px 10px;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.topics .topic-holder .no-holder {
  padding-top: 10px;
  text-align: center;
  color: #888;
}
.topics .topic-holder .no-holder i {
  font-size: 40px;
}
.topics .topic-holder .have-holder {
  padding: 10px;
}
.topics .topic-holder .have-holder .h-avatar {
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.topics .topic-holder .have-holder .h-info {
  padding-left: 10px;
}
.topics .topic-holder .have-holder .h-info p {
  margin-bottom: 5px;
}
.topics .topic-holder .have-holder .h-info .named {
  font-weight: 700;
  font-size: 14px;
}
.topics .topic-holder .have-holder .h-info .named:hover {
  color: #19bca1;
}
.topics .topic-holder .have-holder .h-info .intro-self {
  color: #888;
  font-size: 12px;
  max-width: 195px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
.topics .topic-holder .have-holder .h-info .topic-btn {
  padding: 2px 15px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #333;
  font-size: 12px;
}
.topics .t-content {
  width: 100%;
}
.topics .t-content .left-wb {
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  float: left;
  height: 150px;
  width: 680px;
  padding: 10px 0;
  height: auto;
  background-color: transparent;
  border: none;
}
.topics .t-content .right-card {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  float: left;
  height: 150px;
  width: 300px;
  padding: 10px 0;
  height: auto;
  background-color: transparent;
  border: none;
}
.topics .t-content .right-card .border {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.topics .t-content .right-card .line2 {
  height: 60px;
}
.topics .t-content .right-card .line2 .line2-lefd {
  height: 40px;
  margin: 10px 0;
  text-align: center;
  line-height: 40px;
}
.topics .t-content .right-card .line2 .line2-lefd .numder {
  height: 28px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.topics .t-content .right-card .line2 .line2-lefd .beizu {
  height: 12px;
  color: gray;
  font-size: 14px;
  line-height: 14px;
}
.topics .t-content .right-card .line2 .line2-border {
  border: 1px solid #e6e6e6;
  border-top: none;
  border-bottom: none;
}
#topic {
  width: 1080px;
  margin: 0 auto;
}
#topic .top-jg {
  height: 220px;
}
#topic .top {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
  min-height: 151px;
}
#topic .top .data {
  padding: 13px 20px;
  height: 65px;
}
#topic .top .data .fudg {
  float: left;
  height: 65px;
  min-width: 184px;
  margin-right: 22px;
  position: relative;
}
#topic .top .data .fudg .portrait {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  overflow: hidden;
}
#topic .top .data .fudg .huati {
  font-size: 22px;
  color: #333333;
  height: 25px;
  line-height: 25px;
}
#topic .top .data .fudg .gzfx {
  height: 35px;
  line-height: 35px;
}
#topic .top .data .fudg .gzfx .hjgfb {
  height: 35px;
  line-height: 35px;
  float: left;
  margin-right: 15px;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  width: 80px;
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  color: #333333;
}
#topic .top .data .fudg .gzfx .hjgfb1 {
  text-align: center;
  width: 80px;
  background-position: 0 9px;
}
/*以上是头部的样式*/
#topic .content {
  margin-top: 20px;
  min-height: 500px;
}
#topic .content .conhjg {
  width: 390px;
}
#topic .content .conhjg .line2 {
  height: 60px;
}
#topic .content .conhjg .line2 .line2-lefd {
  height: 40px;
  margin: 10px 0;
  text-align: center;
  line-height: 40px;
}
#topic .content .conhjg .line2 .line2-lefd .numder {
  height: 28px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
#topic .content .conhjg .line2 .line2-lefd .beizu {
  height: 12px;
  color: gray;
  font-size: 14px;
  line-height: 14px;
}
#topic .content .conhjg .line2 .line2-border {
  border: 1px solid #e6e6e6;
  border-top: none;
  border-bottom: none;
}
#topic .content .conhjg .border {
  border: 1px solid #d6dadd;
  border-radius: 2px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
#topic .content .conhjg .border .recommended {
  padding: 15px;
}
#topic .content .conhjg .border .recommended .name {
  font-size: 14px;
  font-weight: 700;
}
#topic .content .conhjg .border .recommended .original {
  height: 80px;
  margin: 5px 0;
  position: relative;
}
#topic .content .conhjg .border .recommended .original img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
#topic .content .conhjg .border .recommended .original .jshgv {
  height: 80px;
  width: 260px;
  top: 0;
  right: 0;
  position: absolute;
}
#topic .content .conhjg .border .recommended .original .jshgv .named {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
}
#topic .content .conhjg .border .recommended .original .jshgv .named img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 2px;
}
#topic .content .conhjg .border .recommended .original .jshgv .shumin {
  color: #333333;
  font-size: 12px;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
}
#topic .content .conhjg .border .recommended .original .jshgv .guanzu {
  margin-top: 2px;
  background-color: #f2f2f2;
  width: 80px;
  margin-left: 180px;
  border: 1px solid #D9D9D9;
  line-height: 30px;
  background-position: 0px -42px;
  padding-left: 25px;
}
#topic .content .conhjg .border .recommended .statement {
  border: 1px solid #E6E6E6;
  background-color: #f2f2f2;
  position: relative;
  top: -1px;
  padding: 2px 10px;
  color: gray;
  font-size: 12px;
  line-height: 25px;
}
#topic .content .conhjg .border .recommended .arrow {
  width: 14px;
  height: 7px;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  margin-left: 30px;
}
#topic .content .conhjg .border .recommended .arrow em {
  color: #E6E6E6;
  position: absolute;
  left: 0;
  top: -5px;
}
#topic .content .conhjg .border .recommended .arrow span {
  color: #f2f2f2;
  position: absolute;
  left: 1px;
  top: -4px;
  z-index: 9;
  font-size: 12px;
}
.web_uploader_picture_list img {
  width: 180px;
  height: 180px;
  margin-top: 10px;
}
#web_uploader_picture_list_qrcode img {
  width: 220px;
  height: 220px;
}
/*以上是左边的样式*/
#topic .content .coghgf {
  width: 670px;
}
#topic .content .coghgf .batem {
  background-image: url(../images/background.png);
  padding: 20px 15px;
  color: #ffffff;
  font-size: 15px;
}
