@charset "utf-8";
/* CSS Document */

.account-grid .main-left{width:150px;}
.account-grid .main-right{margin:0 0 0 150px}

/*个人设置*/
.set-section .item-set{margin:15px 20px 0}
.item-set{color:#999;border:#F2F2F2 solid 1px}
.item-set .set-fold{cursor:pointer;color:#535353;background:#fbfbfb;height:18px;line-height:18px;padding:15px 20px}
.item-set .set-fold h3{float:left;height:18px;line-height:18px}
.item-set .set-fold .arrow-set-t{float:right;margin:5px 0 0}
.item-black .set-item-info{padding:20px}
.item-domain {border:none 0;text-align:left}
.item-domain h3{font-size:14px;font-weight:bold;color:#333;}
.item-domain p{padding:10px 0 0}
.item-set-border{width:300px;border:1px solid #ddd;padding:10px;}
.item-domain .s-txt, .item-domain .s-txt-focus{margin:0 5px;width:300px}
.blacklist{padding:30px 0 20px}
.blacklist h4{font-weight:bold;padding:0 0 10px 0;border-bottom:1px solid #ddd;}
.blacklist ul li{border-bottom:1px dotted #DFDFDF;line-height:32px;height:32px;padding:6px 0}
.blacklist a.name{width:70%;display:block;float:left;height:32px;line-height:32px;overflow:hidden;white-space:nowrap}
.blacklist span.date{float:right;width:100px;padding:0 10px}
.blacklists .btn-grey-white span{font-size:12px;}


/*帐号绑定*/
.ico-sina-big,.ico-qq-big,.ico-qzone-big,.ico-renren-big,.ico-douban-big,.ico-baidu-big,.ico-taobao-big,.ico-weixin-big{background:url(image/ico-account.png) no-repeat;width:36px;height:36px;display:inline-block;}
.ico-sina-big{background-position:-46px -564px;}
.ico-qzone-big{background-position:-184px -564px;}
.ico-qq-big{background-position:-138px -564px;}
.ico-renren-big{background-position:-230px -564px;}
.ico-douban-big{background-position:-276px -564px;}
.ico-baidu-big{background-position:-322px -564px;}
.ico-taobao-big{background-position:-322px -564px;}
.ico-weixin-big{background-position:-322px -564px;}
.bind-content{border:1px solid #eee;font-size:14px;}
.bind-content li{height:66px;border-bottom:1px solid #eee;overflow:hidden;zoom:1;}
.bind-content li .w1,.bind-content li .w2,.bind-content li .w3,.bind-content li .w4,.bind-content li .w5{float:left;text-align:center;}
.bind-content li .w1{width:60px;border-right:1px dotted #eee;padding:15px 0; height:36px;}
.bind-content li .w2{width:100px;border-right:1px dotted #eee;line-height:66px;}
.bind-content li .w3{width:220px;border-right:1px dotted #eee;padding:13px 0;height:40px;line-height:40px;}
.bind-content li .w4{width:160px;border-right:1px dotted #eee;line-height:66px;}
.bind-content li .w5{width:130px;line-height:66px;}
.bind-content li .w3 p{line-height:20px;}
.bind-content li .w5 .btn-grey-white{ font-size:14px;}
.bind-content li.no-margin{border-bottom:0;}
.bind-content li.current{background:#fcfcfc;}