@charset "utf-8";

/* CSS Document 
 * Design By niuwentao
 * Ver: Sociax Team
 */
html {
zoom: expression(function(ele){
	ele.style.zoom = "1";
	document.execCommand("BackgroundImageCache", false, true);
}(this));
}
.st-app-main{min-height:768px;margin-right:0;padding:20px;border-right:#EBEBEB solid 1px;border-bottom:#EBEBEB solid 1px;border-left:#EBEBEB solid 1px;*zoom:1}
.st-section-app{margin:0}

.app-tit{padding-bottom:5px;overflow:hidden}
.app-tit h3{font-weight:700;font-size:14px;display:inline-block}
.app-border{border-bottom:#eee solid 2px}
.app-border-db{background:url(image/line-bt-double.gif) repeat-x left bottom}

/*tab菜单*/
.mod-menu-app{height:28px;padding:10px 0}

/*app-list*/
.app-list{border-bottom:#d7d7d7 dashed 1px;padding:0 0 10px;margin:0 0 10px;overflow:hidden;}
.app-list dt{float:left;border:#e3e3e3 solid 1px;width:134px;height:134px;line-height:134px;overflow:hidden;text-align:center;border-radius:3px;}
.app-list dt:hover{background:#fff;cursor:pointer;}
.app-list dt img{width:64px;height:64px;vertical-align:middle;}
.app-list dt span{display:none;}
.app-list dd {line-height:20px}
.app-list dd p.title{font-size:14px;font-weight:700;padding:0 0 10px;font-family: tahoma,Arial,Helvetica,sans-serif}
.app-list dd strong.num{font-weight:700;color:#f60}

.apps-lists{padding:20px 0 0;}
.apps-list{border-bottom:#d7d7d7 dashed 1px;padding:0 0 20px;margin:0 0 20px;overflow:hidden;}
.apps-list dt{float:left;border:#e3e3e3 solid 1px;width:134px;height:134px;line-height:134px;overflow:hidden;text-align:center;border-radius:3px;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(center top , #fdfdfd, #eee);
	background-image: -ms-linear-gradient(top, #fdfdfd, #eee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#eee));
	background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
	background-image: -o-linear-gradient(top, #fdfdfd, #eee);
	background-image: linear-gradient(top, #fdfdfd, #eee);
	background-repeat: repeat-x;}
.apps-list dt:hover{background:#fff;cursor:pointer;}
.apps-list dt img{width:64px;height:64px;vertical-align:middle;}
.apps-list dt span{display:none;}
.apps-list dd {margin:0 0 0 154px;line-height:20px}
.apps-list dd p.title{padding:0 0 5px;font-family: tahoma,Arial,Helvetica,sans-serif;font-size:12px;font-weight:300;}
.apps-list dd p.title span.name{font-size:14px;font-weight:700;}
.apps-list dd p.title span.from{float:right;color:#36c;}
.apps-list dd p.title em{color:#999;}
.apps-list dd strong.num{font-weight:700;color:#f60}

/*add-app*/
.layer-add-app .app-info{overflow:hidden;zoom:1;background: none repeat scroll 0 0 #FAFAFA;margin: 0 0 5px;padding: 6px 10px;}
.layer-add-app .app-info li{float:left;width:50%;line-height:20px}
.layer-add-app .app-info li span{float:left;display:block;width:70px;text-align:right}
