.item-set{color:#999;border:#F2F2F2 solid 1px}
.item-invite {border:none 0;text-align:left}
.item-invite h3{font-size:14px;font-weight:bold;color:#333;}
.item-invite p{padding:10px 0 0}
.item-set-border{width:300px;border:1px solid #ddd;padding:10px;}
.item-invite .s-txt, .item-invite .s-txt-focus{width:300px}