@charset "utf-8";
/* CSS Document */

html,body{height:100%;width:100%;font: 14px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;color:#111;}
body{ background:#f1f2f3;}
body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, b, s, u, i, strong, ico-close, em, tt, var, img, q, dl, dt, dd, ol, ul, li, blockquote, pre, fieldset, abbr, address, code, form, input,textarea, label, legend, table, tbody, tfoot, thead, tr, th, td {border:0 none;margin: 0;padding: 0;}
form{margin:0;padding:0}
a:link{text-decoration:none;outline:none;}
a:visited{text-decoration:none;outline:none;}
a:hover{text-decoration:none;outline:none;}
a:active{text-decoration:none;outline:none;}
li{list-style-type:none}
/* CSS Document */
.mb20{margin-bottom:20px;}
.mt20{margin-top:20px;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.clearfix{ zoom:1;}
/*form*/

.ok{background:url(image/ico.png) no-repeat 0 0;width:24px;height:24px;display:inline-block;vertical-align:middle}
.ok{background-position:-2px -2px;margin:0 10px 0 0}
.right{float:right}

#header .head, #page-wrap .content, #footer .foot, #page-wrap .reg-wrap{width:960px;margin:0 auto}
/*s-header*/
#header .head .reg{float:right;padding:10px 0;height:15px;line-height:15px}
#header .head .reg a:link,#header .head .reg a:visited{color:#fff}
#header .head .reg a:hover{text-decoration:underline}
#header .head .reg .vline{font-style:normal;margin:0 5px}
#wrap-hd{width:820px;top:40%;position:absolute;margin:-140px 0 0 -370px;left:50%;height:350px;_width:830px;}
#wrap-hd .logo{height:42px;margin-bottom:30px;}


.s-btn-enter, .s-btn-enter span{color:#fff;background:url(image/btn.png) 0 -128px;display:inline-block;height:26px;line-height:26px;padding:0 0 0 2px;cursor:pointer}
			 
/*s-body*/
/***登录***/
#page-wrap .login-main{width:auto; position: absolute; top: 50%; margin: -281px 0px 0px 200px; left: 50%;}
.login-banner{ width:645px;height:442px; border:#8e8e8e 1px solid;overflow:hidden;float:left;margin-top:56px;}
.login-banner img{ width:100%; }
.login-board{width:280px;height:490px;padding:35px; border:#8e8e8e 1px solid; float:right; background:#fff;}
.login-board h3{ text-align:center; font: 20px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;height:20px;line-height:20px;}
.login-info{ width:100%; padding-top:35px;min-height:450px; position:relative;}
.login-info .input-outer{height:46px; border:#858585 2px solid;margin-bottom:20px; position:relative;}
.l-login{ position:absolute; z-index:1;left:50px;top:0;height:46px;font: 14px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei";line-height:46px;color:#bfbfbf;}
.login-info .input-outer .text{width:225px;height:46px;display:inline-block;font:14px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei";color:#888;margin-left:45px;border:none; background:none; line-height:46px;}
.ui-user,.ui-loginPwd{width:25px;height:25px;width:25px;height:25px; display:block;background:url(image/login/login_ico.png); position:absolute;margin:12px 13px;}
.ui-user{ background-position:-125px 0;}
.ui-loginPwd{ background-position:-125px -35px;}
.login-rm{ color:#888; float:left;}
.login-rm .check,.login-rm .check-ok{background:url(image/login/login_ico.png); vertical-align:middle;}
.login-rm .check{width:18px;height:18px;background:#fff;border: 1px solid #e5e6e7;margin:0 5px 0 0; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; display:inline-block;}
.login-rm .check-ok{background-position:-128px -70px;width:18px;height:18px;display:inline-block;border: 1px solid #e5e6e7;margin:0 5px 0 0;border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}
.login-fgetpwd{ float:right;}
.hasno-account{ margin-top:80px;border-top:#858585 1px solid; position:relative;}
.hasno-account p{ position:absolute; padding:0px 5px; text-align:center;font-size:16px;height:16px;line-height:16px; top:-8px;background:#fff;left:94px;}
.hasno-account .other-but{margin-top:40px;}
.white-but{ display:inline-block;padding:10px 30px;font-size:20px;line-height:20px; border:#858585 1px solid; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}
.arow-left,.arow-right{width:12px;height:20px;display:inline-block;background:url(image/login/login_ico.png); vertical-align:middle;}
.arow-left{ background-position:-130px -101px;margin-right:5px;}
.arow-right{ background-position:-130px -133px;margin-left:5px;}
/***注册***/
#page-wrap .reg-wrap{ width:1000px; margin:0 auto;}
#page-wrap .reg-wrap .reg-bg{ width:100%;}
.reg-tab-menu{ width:100%;height:48px; position:relative;}
.reg-tab-menu ul{ position:absolute;}
.reg-tab-menu li{ float:left;height:48px; line-height:48px;font-size:20px;}
.reg-tab-menu li a{ display:block;height:48px;padding:0 50px;}
.reg-tab-menu li .cur{ color:#0096e6; border:#e5e6e7 1px solid; border-bottom:none;background:#FFF; }
.reg-main{padding:30px 40px; border:#e5e6e7 1px solid; background:#FFF;}
.reg-main .step-main{ width:100%;height:30px;}
.reg-main .step-main li{ float:left; display:block;height:30px; line-height:30px;}
.reg-main .step-main .on span{ color:#0096e6;font-size:18px;}
.reg-main .step-main li span{ display:block;height:30px;line-height:30px;float:left;padding-left:10px;color:#888;font-size:18px;}
/**/
.reg-main .account-links .face_img{border:1px solid #ccc; padding:2px;}
.reg-main .account-links dd{ padding-left:20px;}
.reg-main .account-links h4{ font-size:20px; padding-bottom:8px;}
.reg-main .form-tt{ width:90px;}
.reg-main .form-row{ margin-left:90px;}
.reg-main .item dd{ padding-bottom:20px}
.reg-main .form-row .s-txt,.reg-main .form-row .s-txt-focus{ float:left; padding:6px;}
.reg-main .form-row select{ height:32px; float:left; margin-right:10px;}
.reg-main .form-row .psw-state-poor,.reg-main .form-row .psw-state-empty,.reg-main .form-row .psw-state-normal,.reg-main .form-row .psw-state-strong{ display:none !important;}
.reg-main .form-row .box-ver,.reg-main .form-row .ico-ok{ float:left;}
.reg-main .form-row .btn-register{ background:#0096e6; font-family:inherit; cursor:pointer; font-size:15px;}

.step1,.step2,.step3,.step4,.step1-on,.step2-on,.step3-on,.step4-on{width:30px; height:30px; display:block;background:url(image/login/login_ico.png); float:left;}
.step1-on{ background-position:0 0 ;}
.step2-on{ background-position:0 -40px ;}
.step3-on{ background-position:0 -80px ;}
.step4-on{ background-position:0 -120px ;}
.step1{ background-position:-40px 0 ;}
.step2{ background-position:-40px -40px ;}
.step3{ background-position:-40px -80px ;}
.step4{ background-position:-40px -120px ;}
.step-lineOn{width:80px;height:2px; background:#0096e6; float:left;margin:14px 15px;}
.step-line{width:80px;height:2px;background:#e5e6e7;float:left;margin:14px 15px;}
.base-info{margin-top:40px;}
.base-info .info-list{margin-bottom:20px; position:relative;}
.base-info .info-list .input-outer{border:1px solid #858585; border-right:none;width:50px;height:48px; display:inline-block;float:left;}
.base-info .info-list .text,#base-info-email .s-txt,#base-info-email .s-txt-focus,#base-info-phone .s-txt,#base-info-phone .s-txt-focus{float:left;border:1px solid #858585; border-left:none;height:48px;line-height:48px;width:450px;color:#888;font:16px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif; background:none;outline:none;}
#base-info-email .box-ver,#base-info-email .ico-ok,#base-info-phone .box-ver,#base-info-phone .ico-ok{ float:left;margin:15px 0 0 10px;}
.form-row .box-ver,.form-row .ico-ok{ float:left;margin:5px 0 0 10px;}
.ui-mail,.ui-nickname,.ui-password,.ui-regCode{width:25px;height:25px; display:inline-block;background:url(image/login/login_ico.png); position:absolute;margin:12px 11px;}
.ui-mail{ background-position: -85px 0;}
.ui-nickname{background-position:-85px -35px;}
.ui-password{background-position:-85px -68px}
.ui-regCode{ background-position:-85px -155px;}
.ui-phone{width:25px;height:31px; display:block;background:url(image/login/login_ico.png); position:absolute; background-position:-85px -108px;margin:8px 11px;}
/***/
.input-tips{ width:100%; float:left;line-height:24px; line-height:24px; font-size:16px;}
/*上传头像*/
.portrait-area{width:600px; margin:40px auto;}
.port-upload-area{ padding:20px;min-height:300px;border:#858585 1px solid;margin-bottom:40px;}
.port-upload{/* margin:30px 0 40px 0;border:#e5e6e7 1px solid;*/position:relative;}
.port-upload .port-bg{width:200px;height:200px; overflow:hidden; background:url(image/login/no-person.png);}
.port-upload .port-bg img{ width:100%;}
.port-upload .upload{ width:100%; height:40px; display:block;line-height:40px; text-align:center; font-size:20px; background:rgba(0,0,0,0.2); position:absolute; bottom:0;}
.port-upload .upload-file{width:100%; height:40px; display:block;position:absolute; bottom:0; opacity:0;}
.port-upload-area progress {width:600px;height:4px;border:none;color:green;}
/*********/
.sex-area input{cursor: pointer;}
.rectangle{width:100%;}
.from-area{padding:20px 0 30px 0;}
.select-list{float:left;margin-right:20px; position:relative;}
.selfdescription {  border: #858585 1px solid;  outline: none;  height: 100px; width: 608px; padding: 5px;}
.from-area select{min-width:200px;height:30px;line-height:30px;border:#858585 1px solid;font: 14px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif; color:#888; cursor:pointer;}
.select-opt{border:#858585 1px solid; border-top:0; display:none; position:absolute; top:48px; background:#f1f2f3;}
.select-opt li a{ display:block;padding:13px 15px;width:170px;height:20px;line-height:20px;font-size:20px; color:#888;}
.city_input{width:100%;font-size:18px; float:left;}
.city_input .text{padding:5px;height:40px;line-height:40px;margin-top:20px; border:#858585 1px  solid;width:500px;}
.arow-down{width:15px; height:20px; display:inline-block;background:url(image/login/login_ico.png); background-position:-130px -178px; float:right;}
.choosed-info{margin-bottom:30px;margin-top:30px;min-height:450px;}
.choosed-info h2{font: 20px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;height:20px;line-height:20px;}
.hobbies li{padding:10px 11px; border:#858585 2px solid;font-size:18px; height:18px;line-height:18px; float:left;margin:0 15px 15px 0;}
#user_category_list dt {font-size: 16px;width: 80px;text-align: left;}
#user_category_list dd {	margin-left:0;}
#user_category_list .tag-bg {	font-size:14px;	line-height:normal;}
.profession-type>dl{margin-bottom: 10px; display: table;}
.sex-area {	padding:20px 0 30px 0;}
.sex-area label {	height:30px;	line-height:30px;	font-size:18px;	margin-right:20px;}
/******/
.rect{width:100%;border-top:#e5e6e7 1px solid;margin-top:35px; position:relative;}
.rect h4{padding-right:15px;font:16px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif; height:16px; line-height:16px;background:#fff; position:absolute; top:-8px;left:0;}
.rect .refresh{width:50px;height:24px;padding-left:10px; background:#fff; position:absolute; top:-10px; right:0;}
/*.rect .refresh a{ display:inline-block;width:24px; height:24px; background:url(image/login/login_ico.png); background-position:-125px -212px;}*/
.rect .refresh a{ width:50px; height:24px; }


.rect-circle,.rect-person{padding-top:30px;}
.rect-circle li{ float:left;height:100px;}
.rect-circle .circle-pic{ float:left;width:100px;height:100px; overflow:hidden;margin-right:15px;}
.rect-circle .circle-pic img,.rect-person .person-pic{ width:100%;}
.rect-circle .circle-info{ float:left;width:120px;margin-right:19px;}
.rect-circle .circle-info h{font-size:16px;height:16px; line-height:16px;margin-bottom:6px; display:block;}
.rect-circle .circle-info p{font-size:12px; height:36px;line-height:18px;color:#888;width:100%; overflow:hidden;}
.rect-person li{width:80px;height:auto; float:left;margin-right:22px;position:relative;}
.rect-person .person-pic{ width:80px;height:80px; overflow:hidden;margin-bottom:15px;margin-top: 15px;}
.rect-person .person-pic img{border-radius: 50%;}
.rect-person .checkbox-area{ position:absolute; right:0; top:77px;}
.rect-person .checkbox-area .checkbox{ display:none;}
.rect-person .checkbox-area .checkbox + label {cursor:pointer;background:#fff;border: 1px solid #858585;padding: 8px;display: inline-block;position: relative;float:left;} 
.rect-person .checkbox-area .checkbox:checked + label:after { content:"";width:20px; height:20px;font-size: 14px;position: absolute;bottom: -4px;left: 0px;color: #99a1a7; background:url(image/login/login_ico.png); background-position:-130px -156px;} 
.rect-person .person-nickname{ width:80px;height:16px;display:block; overflow:hidden;line-height:16px; font-size:14px;white-space:nowrap;text-align: center;}
.rect-person .company-type{ height:24px; line-height:24px;font-size:14px; margin-top:10px;}
.checkAllbox{height:20px;line-height:20px;font-size:14px; position:absolute; top:-10px; right:60px; background:#fff; padding:0 0 0 10px;}
.checkAllbox .checkAll{ display:none;}
.checkAllbox .checkAll+ label {background:#fff;border: 1px solid #858585;width:16px;height:16px;display: inline-block;position: relative;float:left;margin-right:5px;} 
.checkAllbox .checkAll:checked + label:after { content:"";width:18px; height:18px;position: absolute;bottom: -2px;left: 0px;color: #99a1a7; background:url(image/login/login_ico.png); background-position:-130px -156px;} 

/*按钮*/
.next{height:20px;line-height:20px; display:inline-block;font-size:20px;color:#fff;padding:15px 70px; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; background:#0096e6;}
.act-but{height:20px;line-height:20px; text-align:center;font-size:20px;color:#fff;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; background:#0096e6;}
.submit{padding:15px;margin-top:20px;display:block;}
.disable{padding:15px 30px;height:20px;line-height:20px; display:inline-block;font-size:20px; color:#888; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;background:#f1f2f3;}
.disable:hover{ background:#0096e6; color:#fff;}
.gray{padding:15px 30px;height:20px;line-height:20px; display:inline-block;font-size:20px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; background:#e5e6e7;}
.tojoin{padding:8px 25px;display:inline-block;height:14px;line-height:14px; text-align:center;font-size:14px;color:#fff;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; background:#0096e6;margin-top:12px;}

/*找回密码*/
.form-tt{width:60px; float:left; text-align:right; padding-right:10px;line-height:36px;}
.form-row{ margin-left:70px;}
#reg_msg{padding:7px 10px 8px 10px; margin-left:5px;background:#f1f2f3; border:#e5e6e7 1px solid; border-radius:2px;+html-border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; display:inline-block;}
.form-row .psw-state-poor,.form-row .psw-state-empty,.form-row .psw-state-normal{ float:left; margin:5px 0 0 10px;}
.error-box{ text-align:center;width:100%;height:40px;line-height:40px;background:#f1f2f3; position:absolute; top:330px;}
#show_box .s-txt{padding:5px; border:#858585 1px solid;height:24px; float:left;margin-right:5px;}