/*个人资料*/
#main-wrap{background: #fff;border: 1px solid #e5e6e7;}
.profile-border{border-top:#0096e6 4px solid;border-left:#0096e6 4px solid;width:100px;height:50px;position: absolute;}
.profile-data{background: #fff;margin-top: 10px;}
.profile-data .head{width:100%;text-align: center;padding:20px 0px 15px 0px;}
.profile-data .head img{border-radius: 50%;width:60px;}
.profile-data .head p{font-size: 12px;color: #888;margin-top:10px;}
.profile-data .data{width:63%;margin: 15px auto 0 auto;}
.profile-datalist{color:#333;font-size:14px;}
.profile-datalist .title span{font-size:20px;background: #fff;padding-right:10px;}
.profile-datalist .title span.edit{float:right;line-height:30px;font-size:12px;background: #fff;padding-left:10px;}
.profile-datalist .title hr{margin-top:-14px;color:#F3F3F3;border:none;border-top:1px solid #F3F3F3;}
.profile-datalist ul{padding:15px 0 15px 0;font-size:12px;}
.profile-datalist li{padding:0 0 10px 0;overflow:hidden;*zoom:1;}
.profile-datalist li .info-l{text-align:right;margin:0 5px 0 0;padding:3px 0 0 0;}
.profile-datalist li .info-r{width:530px;line-height:22px;color:#888;}