.M_star{_height:800px;min-height:800px;}
/*广场焦点图*/
.img_switch_square{padding-bottom:20px;overflow:hidden;*zoom:1}
.img_switch_square img{display:block}

/*广场首页今日看点*/
.Hotspot_box{background:url(../images/search_square_bg_t.png) no-repeat right top #EEF6F9;height:128px;border:#DEECF2 solid 1px;overflow:hidden}
.hotspot_tit{line-height:35px;padding:0 10px;border-bottom:#DEECF2 solid 1px}
.hotspot_tit span{float:right}

/*广场首页搜索区*/
.laSOSO{ padding:0;overflow:hidden;background:url(../images/search_square_bg_b.png) no-repeat left top #EEF4F8;height:70px;border-left:#DEECF2 solid 1px;border-right:#DEECF2 solid 1px;border-bottom:#DEECF2 solid 1px;border-top:#fff solid 1px;margin-bottom:20px}
.laSOSO strong { line-height:24px}
.laSOSO p.sosuo{}
.laSOSO p.reci{ padding:5px 0 0 0;}
.sosobox{padding:10px 0 0 0;margin-left:120px}

/*名人堂列表*/
.list_square{overflow:hidden;margin:0 10px;border-top:#fff solid 1px;*zoom:1;}
.list_square li{float:left;padding:10px 0 0;text-align:center;line-height:25px;margin:0 9px;width:54px;_height:70px;_margin:0 5px;_overflow:hidden}
.list_square .ckbox{position:absolute;left:1px;bottom:1px;_bottom:-2px;_left:-2px}
.list_square .relative{position:relative;}
.list_square .userPic{float:none;height:50px;width:50px;}
.list_square .title{width:52px;overflow:hidden;height:21px;line-height:21px;_zoom:1;}
.list_square .userPic img{width:48px;height:48px;border:solid 1px #fff;padding:0}

/*邀请方式*/
.boxInvite{padding:0 20px}
.inviteMode{background-color: #F5F5F5;border: 1px solid #ECECEC;padding:10px;margin:0 0 10px 0;overflow:hidden;width:600px}
.inviteMode h4{font-size:12px;line-height:25px;font-weight:bold;margin:0 0 10px 0}
.inviteMode h5{font-size:12px;line-height:20px}
.inviteMode textarea{width:96%;height:150px;margin:10px 0;padding:10px}
.inviteMode dl{margin:0}
.inviteMode dl dt{padding:0;margin:0 0 10px 0}
.inviteMode dl dd{}
.inviteMode dl dd input{margin:-3px 5px 0 0;vertical-align:middle}
.inviteMode dl .lineD_btm{padding:0 0 10px 0 ;margin:0 0 10px 0}
.inviteMode dl .btn_share_style{height:40px}

.btn_demo_16,.btn_demo_32,.ico_demo_16,.ico_demo_32{background: url(images/btn_demo.gif) no-repeat 0 0;display:inline-block}
.btn_demo_16{background-position:0 -38px;width:16px;height:16px}
.btn_demo_32{background-position:0 0;width:32px;height:32px}
.ico_demo_16{background-position:-42px -38px;width:106px;height:24px}
.ico_demo_32{background-position:-42px 0;width:142px;height:32px}

/*风云榜样式*/
.squareStar{padding:0;overflow:hidden;*zoom:1}
/*.squareTop{padding:0 20px 0 0}*/
.squareTop .lt_toplist{width:313px;float:left;}
.squareTop .rt_toplist{margin-left:250px;}
.box_rankShow{width:270px;height:500px;float:left;border-radius:3px 3px 3px 3px;background-color:#eee;padding:15px;margin-top:20px;}
.box_rankShow_rt{width:580px;}
.box_rankShow .col_cate{border-top:#fff solid 1px;border-bottom:dashed #ddd 1px;height:30px;line-height:30px;color:#999}
.box_rankShow .col_cate span{display:inline-block;float:left}
.box_rankShow .col_cate .tit_cate,.box_rankShow .col_cate .tit_cate_rt{width:35px}
.box_rankShow .col_cate .topic_cate{width:117px}
.box_rankShow .col_cate .topic_cate_rt{width:260px}
.box_rankShow .col_cate .time_cate{float:right}
.box_rankShow .col_cate .hot_cate_rt{float:right;width:176px}
.squareTop .tit_rank{border-bottom:#ddd solid 1px;line-height:30px;font-size:14px;color:#666}
.squareTop .tit_rank .time_rt{float:right;font-size:12px}
.top_topic_list dt{height:30px;line-height:30px;padding:5px 0;border-bottom:dashed #ddd 1px}
.top_topic_list dd{line-height:30px;padding:5px 0;border-bottom:dashed #ddd 1px;overflow:hidden;*zoom:1}
.top_topic_list .time_list{float:right;color:#999}
.top_topic_list .time_list_rt{width:50px;color:#999}
.top_topic_list .topic_list{margin:0 0 0 30px;display:block;height:30px;position:relative; white-space:nowrap;padding:0;overflow:hidden; text-overflow:ellipsis;width:140px;}
.top_topic_list .topic_list_rt{width:116px;float:left;display:block;overflow:hidden;height:30px;}
.top_topic_list .percent_rt{  background: url("../images/bg_process.png") no-repeat scroll 0 -20px transparent;display: inline-block;float: right;height: 16px;margin-top: 3px;width: 176px}
.top_topic_list .percent_rt em {background: url("../images/bg_process.png") no-repeat scroll 0 0 transparent;display: block;height: 16px}
.top_topic_list dt .percent_rt{margin-top:10px}
.top_topic_list .topic_list_rt {display: inline-block;float: left;overflow: hidden;width: 250px;padding-right:10px;white-space:nowrap;text-overflow:ellipsis}
.top_topic_list .face{display:inline-block;padding:1px;border:#ddd solid 1px;margin:0 10px 0 0; vertical-align:middle}
.top_topic_list .topic_list .username{ display: inline-block;height: 16px;line-height:16px;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;white-space: nowrap;width: 96px;word-wrap: break-word;}
.top_topic_list .photo_list{width:24px;height:24px;vertical-align:top}
.top_topic_list .cardshow_list .card_layer{display:none}
.top_topic_list .cardshow_list:hover .card_layer{display:block}


.flashNews {position:relative;margin-bottom:12px;overflow:hidden;border:1px solid #B6CAE3;text-align:left}
.firstNews {position:relative;float:right;width:434px;margin-bottom:12px;overflow:hidden;border:1px solid #B6CAE3;}
.flashNews .bg {position:absolute;left:0;bottom:0;width:304px;height:73px;background:#000000;filter:alpha(opacity=39);-moz-opacity:0.39;opacity:0.39;}
.flashNews h3 {position:absolute;left:10px;top:200px;width:284px;height:35px;line-height:35px;z-index:2;}
.flashNews h3 a {font-size:20px;font-family:"黑体";font-weight:normal;color:#FFFFFF;}
.flashNews h3 a:hover {color:#F20000;}
.flashNews p a {color:#FFFFFF;}
.flashNews ul li {float:left;width:15px;height:18px;line-height:18px;text-align:center;margin-left:1px;background:#000000;}
.flashNews ul li a {display:block;width:15px;height:18px;font-size:10px;font-family:Tahoma;font-weight:bold;color:#FFFFFF;}
.firstNews h3 {width:432px;height:27px;line-height:27px;text-indent:14px;font-size:12px;border:1px solid #FFFFFF;background:#F2F6FB;}
.firstNews p {position:absolute;top:5px;right:5px;}
.firstNews p a {font-size:12px;}
.firstNews h4 {width:410px;height:25px;margin:0 auto;overflow:hidden;padding-top:12px;line-height:25px;font-weight:normal;font-size:18px;font-family:"黑体";}
.firstNews ul {width:410px;height:auto;overflow:hidden;_zoom:1;margin:0 0 0 12px;}
.firstNews ul li {position:relative;width:410px;height:22px;line-height:22px;overflow:hidden;text-indent:10px;font-size:14px;background:url(../img/pic.gif) -298px -141px no-repeat;}
/*广场下名人推荐*/
.star_list{height:100px;padding:20px 0 0 0}
.star_list dd{width:16%;text-align:center;float:left;overflow:hidden;*zoom:1}
.star_list h4{padding:5px 0 0}

/*名人推荐*/
.mod-star{overflow:hidden}