.topic_list{background: #fff;padding:25px;}
.topic_list h4{font-size: 24px; color: #111;font-family: "微软雅黑";height: 45px;vertical-align: top;}
.topic_list ul{margin-bottom: 30px;}
.topic_list ul li{font-size: 12px;height:40px;line-height:40px;padding:10px 0px;border-bottom: 1px solid #F3F3F3;color:#999;}
.topic_list ul a{font-size: 16px;height:40px;line-height:40px;}
.topic_list ul a:hover{color:#0096e6;}
.topic_list ul li:first-child{border-top: 1px solid #F3F3F3;}