body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif !important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body span,
body p,
body a,
body small {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif !important;
}
body .mega-menu-submenu > li > h3 {
  font-weight: bold !important;
}
.rows {
  line-height: 32px;
  padding-left: 15px;
}
.with-padding {
  margin-bottom: 10px;
}
a:hover,
a {
  text-decoration: none !important;
}
.top-menu {
  margin-left: 40px;
}
.top-menu .dropdown-menu {
  box-shadow: 5px 5px rgba(19, 19, 19, 0.1);
  border: 1px solid #E0E0E0;
  min-height: 40px;
}
.top-menu ul {
  list-style-type: none;
}
.top-menu ul h3 {
  font-size: 15px;
  color: #666;
  font-weight: bold;
}
.top-menu ul .mega-menu-content {
  padding: 0 15px 15px;
  margin: 0;
}
.top-menu ul .mega-menu-content .mega-menu-submenu {
  margin: 0;
  padding: 0;
}
.top-menu ul .mega-menu-content .mega-menu-submenu li a {
  color: #6F6F6F;
  display: block;
  padding: 5px;
}
.top-menu ul .mega-menu-content .mega-menu-submenu li a:hover {
  background-color: #E0E0E0;
}
.main-footer {
  padding: 0;
}
.pager {
  text-align: left;
}
.pager li.active,
.pager li > a.active {
  background: #E7E7E7;
}
/**Start----plugins css reset**/
/**start-select2 plugins reset**/
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #3c8dbc!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3C8DBC!important;
  border: 1px solid #3C8DBC!important;
  border-radius: 4px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #FFF!important;
}
/**end-select2 plugins reset**/
/**End----plugins css reset**/
.content-header {
  background-color: #fff!important;
}
.content {
  background-color: #fff!important;
}
.content-wrapper {
  background-color: #fff!important;
}
.new-index-ul {
  width: 250px;
  display: inline-block;
  font-size: 16px;
}
.new-index-ul a {
  font-weight: normal!important;
  border-radius: 5px!important;
  font-size: 16px!important;
}
#market {
  margin-top: 50px!important;
  margin-left: -15px;
}
.channel-ul .color-chose {
  margin-top: 3px!important;
  margin-left: 20px;
}
.btn-box-tool {
  font-size: 16px;
}
.btn-danger,
.btn-success,
.btn-info,
.btn-warning {
  color: #fff!important;
}
.skin-blue .main-header .navbar {
  background-color: #1abc9c!important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #1abc9c;
}
.skin-blue .main-header .logo {
  background-color: #1abc9c!important ;
}
.checkbox,
.form-horizontal .checkbox {
  padding: 0 0 0 20px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #1abc9c;
  border-top-color: #16a88b;
}
