.footer{ padding:15px 0px; font-size:11px; overflow:hidden; text-align:center; color:#777;}				 
.footer b{ font-weight:normal; color:#777;}
.footer a{ color:#777!important; font-weight:normal!important; text-decoration:none;}
.mbcontent_list{ padding:0px; margin:0px;}
.mbcontent_list li{ float:left; width:94px; list-style:none; text-align:center; margin-bottom:15px;}
.mbcontent_list li p a{ font-size:12px; text-decoration:none;}
.clear{ clear:both; font-size:0px; height:0px; overflow:hidden;}
h1.title{ margin:0px; padding:0px;}

.table td.text{ width:20%; text-align:right; white-space:nowrap; padding:5px 0px;}
.returnover{ margin:5px 0px 5px; padding:5px; border:1px solid #9ae796; background:#dbfdd9; font-size:14px; font-weight:bold;}
.logininfo{ padding-top:8px;}